[2020-01-29 15:56] goutammyneni commented on #5437
Hello @uipo78 @VijayRajagopalan-STW \

you have to pass log_analytics_workspace_id as in this format "/subscriptions/<SubscriptionId>/resourceGroups/<ResourceGroupName>/providers/Microsoft.OperationalInsights/workspaces/<WorkspaceName>".

[2020-01-29 16:25] ToniCipriani commented on #5525
This looks like the same issue: https://github.com/terraform-providers/terraform-provider-azurerm/issues/4983

[2020-01-29 16:39] VijayRajagopalan-STW commented on #5437
Thanks @goutammyneni

[2020-01-29 16:43] predatorian3 commented on #4413
I'm not familiar with the code base, but would it be possible to make the `ports` section into a `slice` of `map[string]string` to store the Port and Protocol information?

I also didn't understand how to use the methods in the referenced Issue and PR in the initial post. If they do work, they're not reflected in the documentation either in a manner that I seemed to understand.

[2020-01-29 17:03] ToxicGLaDOS opened #5552 "azurerm_monitor_diagnostic_setting attempts to use a private preview feature on storage accounts"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-29 17:16] noam-shapira opened #5553 "Support for kusto EventGrid"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-29 17:26] vinodhbasavani commented on #4642
I am also facing the issues with this.

[2020-01-29 17:27] Chams91 opened #5554 "upgrading provider version to 1.42 causes replacing the AKS cluster"
Community Note
Please vote on this issue by adding a 👍 reaction to the original issue to help the community and maintainers prioritize this request
Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
If you are interested in working on this issue or have submitted a pull request, please leave a comment
Terraform (and A

[2020-01-29 18:53] brandonh-msft opened #5555 "App Service Plan hosting platform can't be changed in-place; TF tries to"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-29 19:39] RavulaChetan commented on #4185
Do we Terraform support to create database ComputeModel Serverless yet?

[2020-01-29 20:28] #3577 closed

[2020-01-29 20:30] #5088 closed

[2020-01-29 20:47] nezoic commented on #1691
I'm also looking for this functionality. Any ETA on when it will be available? For now I think my solution will need to switch to a function app with the equivalent connection strings.

[2020-01-29 21:25] mattduguid commented on #1560
We are on,
_Terraform v0.12.20
+ provider.azurerm v1.32.1_

For our app service plan we have a premium level set,
_sku {
    tier = "Premium"
    size = "P1v2"
  }_

For our app service site config we are using the following,
  _site_config {
    linux_fx_version = "DOTNETCORE|3.1"
    remote_debugging_enabled = true
    remote_debugging_version = "VS2017"
  }_

The original error in this ticket r

[2020-01-30 00:57] techbunny opened #5556 "Private Link Endpoint resource doesn't accept DNS Alias"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-30 01:16] WodansSon commented on #5538
![image](https://user-images.githubusercontent.com/20408400/73411684-17924180-42bb-11ea-8b5e-a6ab1a42d34f.png)

[2020-01-30 01:44] jstevans commented on #5541
Just checked -- the issue also occurs in `azurerm_provider == 1.40`.

[2020-01-30 02:36] iljoong opened #5557 "Terraform crashes if "system assigned identity" is enabled in App Service/Azure Function"
I'm trying to run terraform inside __Azure Function Powershell__ since Azure Function support to run any exe file.

Since Terraform does not support MSI for App Service/Azure Function, I enabled (for a workaround) __system assigned identity__ to access SP secret in Key Vault using KV reference like this [document](https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references)

[2020-01-30 02:44] iljoong opened #5558 "Support for MSI authentication in App Service/Azure Function"
Currently MSI authentication supports only VM and not __App Service/Azure Function__.

App Service/Azure Function has different [MSI endpoint](https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet#obtaining-tokens-for-azure-resources) and terraform should be able to use right MSI endpoint.

For a workaround for this, I tried to authenticate using SP secret in Key

[2020-01-30 06:27] haodeon opened #5559 "App Service Linux container does not start until first http request"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-30 08:27] PPACI commented on #3203
Just for information. I've forked the provider on my side, and I've managed to used openapi3 json **and yaml**.
I think I will not do a PR since I don't have time to properly check inetgration test and if I didn't break something in the process, but here it what I've done :
1. I've updated the dependency of the resource to 2019-01-01 release of azure go sdk
https://github.com/terraform-providers/t

[2020-01-30 11:13] skalragg commented on #3279
Hi tombuildsstuff,
Any feedback from the network team in relation to when this may be resolved.  Many thanks

[2020-01-30 12:36] arestarh opened #5561 "Migrating to a renamed resource"
Hi.

Recently several resource types related to Azure Backup were renamed and marked as deprecated - see https://github.com/terraform-providers/terraform-provider-azurerm/pull/5170.

According to suggestions in documentation https://www.terraform.io/docs/providers/azurerm/r/recovery_services_protected_vm.html I've used instructions from https://www.terraform.io/docs/providers/azurerm/guides/migrat

[2020-01-30 12:43] dduleep commented on #5040
Is there is any road map for adding azurerm_postgresql_hyperscale_server resource?

[2020-01-30 12:48] tombuildsstuff commented on #5040
@dduleep this issue is tracking support for it

[2020-01-30 13:22] frankvdbh commented on #5208
Similar situation for us where we create private endpoints to storage accounts. We can create the privatelink private dns zones but the A records are not automatically created and we would need the private endpoint assigned IP for that..

[2020-01-30 13:57] tombuildsstuff commented on #2528
hi @mlcooper

Thanks for opening this issue - apologies for the delayed response here!

Taking a look into this issue it appears that the Resource ID being provided for the Network Interface is different to what Azure's expecting here - where the string `Microsoft.Network` returned from the Azure API is being returned as `microsoft.network`.

The Azure API specification states that Resource ID's /

[2020-01-30 13:57] #2528 closed

[2020-01-30 14:10] cananac commented on #4846
Hi,

Any updates on this issue?

[2020-01-30 14:18] Chams91 commented on #5460
adding the ignore changes block fixes the problem (y) not only with 1.37 but with all trailing versions (up to 1.42). Many thanks for the contribution  @tombuildsstuff

[2020-01-30 14:23] Chams91 commented on #5554
adding the ignore changes block as mentioned in the issue #5460 by @tombuildsstuff fixes the problem.
 `resource "azurerm_kubernetes_cluster" "test" {
   # ...

   agent_pool_profile { ... }

   lifecycle {
    ignore_changes = [
      "default_node_pool"
    ]
  }
}`

[2020-01-30 14:23] #5554 closed

[2020-01-30 14:55] aksakalli opened #5564 "azurerm_role_assignment is not working as expected"
Persisting problem, reopen for #4642

[2020-01-30 15:34] tombuildsstuff commented on #4642
@aksakalli looks like @WodansSon is waiting for you to [reply to this comment](https://github.com/terraform-providers/terraform-provider-azurerm/issues/4642#issuecomment-544782151)?

[2020-01-30 15:34] tombuildsstuff commented on #5564
Reopened #4642

[2020-01-30 15:34] #5564 closed

[2020-01-30 15:42] aksakalli commented on #4642
It does not work despite `skip_service_principal_aad_check = true`, it is still not working for

[code]

but the `az` CLI works:

[code]

[2020-01-30 16:03] tombuildsstuff commented on #5290
hi @NilsBusche

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scale_set_

[2020-01-30 16:03] tombuildsstuff commented on #4920
hi @gcormier

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scale_set_ex

[2020-01-30 16:04] tombuildsstuff commented on #603
hi @hmarcelodn

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scale_set_

[2020-01-30 16:05] tombuildsstuff commented on #1013
hi @adubnik @matt-FFFFFF

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_

[2020-01-30 16:06] tombuildsstuff commented on #956
hi @jnancel-claranet

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scal

[2020-01-30 16:08] tombuildsstuff commented on #148
hi @bsilverthorn @romlinch @josmo @r7vme @brodriguesneto @calvix @holderbaum @warrenackerman @svetozar02 @zepptron

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linu

[2020-01-30 16:09] tombuildsstuff commented on #1433
hi @mbrancato

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scale_set_e

[2020-01-30 16:09] tombuildsstuff commented on #2298
hi @mbrancato

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scale_set_e

[2020-01-30 16:10] tombuildsstuff commented on #1670
hi @bfleming-ciena

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scale_

[2020-01-30 16:11] tombuildsstuff commented on #3592
hi @evoio

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scale_set_exten

[2020-01-30 16:11] tombuildsstuff commented on #1170
hi @oded-dd

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scale_set_ext

[2020-01-30 16:12] tombuildsstuff commented on #4750
hi @fl-max

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scale_set_exte

[2020-01-30 16:12] tombuildsstuff commented on #5447
hi @r0bnet

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scale_set_exte

[2020-01-30 16:14] tombuildsstuff commented on #4749
hi @tadasv @daklik

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scale_

[2020-01-30 16:23] tombuildsstuff commented on #1279
hi @dweomer

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scale_set_ext

[2020-01-30 16:50] phekmat opened #5566 "Scaling azurerm_sql_elasticpool does not scale the pool size"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-30 16:58] tombuildsstuff commented on #486
👋

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scale_set_extension`
*

[2020-01-30 17:04] tombuildsstuff commented on #184
hi @cehoffman

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scale_set_e

[2020-01-30 17:14] chetanchatrath opened #5567 "Has anyone used Terraform to promote secondary region in case of Disaster recover in Azure"
Has anyone used Terraform to promote secondary region in case of Disaster recover in Azure. I see there was a question related to this raised earlier Issue #971. So wanted to check if anyone has used Terraform for ASR
---

If you have a support request or question please submit them to one of these resources:

* [HashiCorp Community Forums](https://discuss.hashicorp.com/c/terraform-providers)
* [H

[2020-01-30 17:21] tombuildsstuff commented on #5567
hi @chetanchatrath

Thanks for opening this issue.

This forum is intended to be used for feature enhancements and bugs in the Azure Provider - so that we can keep this forum focused on that we instead ask that broader questions are raised [using one of the Community Resources](https://www.terraform.io/community.html). As such I'm going to close this issue for the moment, but I believe you should

[2020-01-30 17:21] #5567 closed

[2020-01-30 19:40] oleksiypavlenko opened #5569 "Adding target_region block to azurerm_shared_image_version causes replacement"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-30 21:39] wmdave commented on #5115
I ran in to the same problem and believe it can be resolved with just a slight change.   I forked and modified the certificates resource definition and tested and this seems to work.  Happy to PR if desired.

https://github.com/wmdave/terraform-provider-azurerm/blob/master/azurerm/internal/services/web/resource_arm_app_service_certificate.go

Tested with TF file like
[code]

[2020-01-31 00:49] bbkane commented on #5547
It turns out the Azure DNS REST API *can* also create long TXT records -see https://github.com/Azure/azure-rest-api-specs/issues/8249#issuecomment-580529258 . It looks like the terraform code only considers the first "chunk". in the list of returned values

[2020-01-31 01:25] bbkane commented on #5547
I think this is the line that needs to be changed to fix this: https://github.com/terraform-providers/terraform-provider-azurerm/blob/adb682d68a55b7ac172e34b7fffbef8bd409d09f/azurerm/internal/services/dns/resource_arm_dns_txt_record.go#L197

It should probably be: `value := strings.Join((*v), "")`

[2020-01-31 01:45] #584 closed

[2020-01-31 02:12] #5538 closed

[2020-01-31 02:54] aqche commented on #5504
Got access to Azure HPC Cache in my subscription and finished getting the PR ready  👍

[2020-01-31 08:37] EDasilvaCorreia commented on #2474
Hi @brianpcurran nd @hbuckle. I encountered the same issue yesterday when applying terraform (using v0.12.6 and azurerm provider 1.39.0), did you find out why or was there a solution for it? thanks!

[2020-01-31 08:53] bytejunkie commented on #4321
looks like this has worked for me too. thanks for posting.

[2020-01-31 09:40] jleloup commented on #5551
One thing worth mentioning also: I have tried to use the `ignore_changes` statement to exclude either the `agent_profile_node` or the `default_node_profile` though it didn't made any difference.

Also removing either of this sections from the Terraform state manually (pulling, update then pushing) is not helping either: as soon as I do a Terraform refresh or any command that triggers a refresh: I

[2020-01-31 14:14] jrjohnson87 opened #5573 "Missing required minimum_tls_version parameter support in Azure Frontdoor HTTP Config using AzureRM 1.42"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-31 15:00] colin-lyman commented on #5233
Same issue when re-running a plan/apply when a VM has been "deleted" via the console. cannot rerun which should re-add the VM.

[2020-01-31 15:06] DaRosenberg commented on #4185
29 upvotes for this request, and this Azure service has now been in GA for 3 months. Any chance the folks from Terraform could provide some advice on where this currently is in the planning?

[2020-01-31 15:55] ryanewk opened #5577 "azurerm_marketplace_agreement does not check accepted status"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-31 16:36] a8ree commented on #4931
I've also got a similar issue where a ML workspace is being created and thus creating a share in a storage account. In order that I can setup the file share backup, I need to know the name of the share.

ML workspace creates a share with a random guid
e.g.
azureml-filestore-60119c34-fd89-4a57-bb0c-2adbe07d682a

[2020-01-31 18:12] jluk opened #5583 "Support for AKS outboundType"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-31 18:51] jluk commented on #5583
FYI @grayzu / @tombuildsstuff

We're releasing this capability within the next week and half in preview, with GA around the corner. Our public docs will be up next week for deeper detail and I'll share here, but this is an early heads up.

[2020-01-31 19:24] mhaarbrink commented on #5434
I've encountered a similar problem and issue #3156 provided help.  In my case I deployed a storage account via TF with 2 subnets from 1 vnet and 1 subnet from another vnet.  Issue 3156 suggested the issue was with multiple subnets in the same vnet.  I manually deleted one of the subnets in the first vnet (leaving 1 subnet in each vnet in the rules) and re-ran the destroy and it succeeded.

I belie

[2020-01-31 19:38] KrisPetkov commented on #5434
Hi @mhaarbrink

That's right. This is the exact problem. I have made a fix for this bug and I made a  PR which is still waiting for approval. And I hope to be approved but for now no one reviewed it.
This is the PR: https://github.com/terraform-providers/terraform-provider-azurerm/pull/5565
You can see a full description of the problem there.

[2020-01-31 20:02] brandonh-msft opened #5584 "Better parameters for app_service_plan platform specification"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-31 21:41] amasover opened #5585 "Support for secret volumes in azurerm_container_group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-31 22:43] #4392 closed

[2020-01-31 23:08] jstevans commented on #5541
A `git bisect v1.39.0..v1.40.0` points to 87de8aec2f9eb9c23ff080bbcd6d68abc6fe82ea as the cause of issue. The code changes in that commit seem unrelated, so I'd guess it has to do with the `azure-sdk` `container-service` version bump.

[2020-02-01 00:13] #5577 closed

[2020-02-01 01:00] jstevans commented on #5541
I'm having trouble finding canon on what changed between azure-sdk/container-service `20190601` and `20191001`, so I checked [what `az cli` does][az-cli-nodepool-upgrade] on an `az aks nodepool upgrade`. Looks like `OrchestratorVersion` is settable when updating agent pools, so that's probably the fix.

If I were to guess, [multiple agent pools][aks-multi-pools] is a new feature in AKS, so that pr

[2020-02-01 01:04] jstevans commented on #5541
@tombuildsstuff I'd like to contribute the PR, but would appreciate some guidance.

* Would we rather
  * keep the old behavior for now, of coupling the agent pool k8s version to the cluster k8s version; or
  * support configuring the `OrchestratorVersion` field on agent pools individually?

* Does `terraform-provider-azurerm v1.x` supports multiple agent pools for AKS?

[2020-02-01 02:20] hashibot[bot] opened #5588 "[azurerm] Get Availability Zone information for VMs"
_This issue was originally opened by @Dilergore as hashicorp/terraform#23990. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi,

### Request:
"Data Source: azurerm_virtual_machine" should be providing the information regarding which Availability Zone the VM was

[2020-02-01 05:04] mbrancato opened #5589 "Generating azurerm_key_vault_certificate with non-integrated CA fails"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-01 22:59] robertlagrant commented on #5209
@xuzhang3 - is this likely to be fixed soon? I'm hitting the problem as well. I'm happy to help test.

[2020-02-02 11:12] mcalster commented on #3203
@tombuildsstuff the Azure go sdk has been updated, do you have a timeline on when the Provider will be updated? Just wanting to know if we should pursue the steps @PPACI outlined above or wait for the official fix.
Thx for the great work so far :-)

[2020-02-02 11:49] timja commented on #3203
It isn't from what I can tell?
https://github.com/Azure/azure-sdk-for-go/tree/master/services/apimanagement/mgmt

changes were in 2019-12-01-preview:
https://github.com/vfedonkin/azure-rest-api-specs/blob/87c99392a06f3fbfde0507d9c802c17aac48414a/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/apimapis.json

[2020-02-02 12:22] archmangler opened #5591 "azurerm_network_interface - multiple IP Configurations fail with ASG associations"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-02 14:36] markti commented on #4938
bump...would really appreciate this feature!

[2020-02-02 14:38] markti commented on #5032
@brunhil I don't think so. APIM has an import feature as well as backend resources. #4938 is about importing a function. this one is about actually having the backend resources support azure functions.

[2020-02-02 16:42] davemurphysf commented on #1460
FYI: `virtual_network_name` is listed under `azurerm_function_app` resource, however it does not work for me (no network is attached to the function app).  I am using a Function App in an App Service Plan on Linux.

[2020-02-03 00:27] katbyte commented on #5177
fixed by #5586

[2020-02-03 03:38] jamesbannan opened #5592 "Support for Azure Container Group SKU"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-03 07:35] tombuildsstuff commented on #5541
@jstevans

Yeah this is likely a change in behaviour between the different versions of the Container Service API

👍 we support multiple node pools [via the `azurerm_kubernetes_cluster_node_pool` resource](https://www.terraform.io/docs/providers/azurerm/r/kubernetes_cluster_node_pool.html) - however there's a default node pool defined within the `azurerm_kubernetes_cluster` resource. As such I'm wo

[2020-02-03 10:15] jackofallops commented on #2534
Closing this issue as it can be addressed using the fixes in https://github.com/terraform-providers/terraform-provider-azurerm/pull/5579.

We're currently working on version 2.0 of the Azure Provider which we previously announced in https://github.com/terraform-providers/terraform-provider-azurerm/issues/2807.
As a part of this we're introducing five new resources which will supersede the existing

[2020-02-03 10:15] #2534 closed

[2020-02-03 10:17] jackofallops commented on #1668
Closing this issue as we're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing azurerm_virtual_machine and azurerm_virtual_machine_scale_set resources:

azurerm_linux_virtual_machine
azurerm_linux_virtual_machine_scale_set
azurerm_virtual_machine_scale_set_extension

[2020-02-03 10:17] #1668 closed

[2020-02-03 10:24] jackofallops commented on #1593
Closing this as we're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.
As a part of this we're introducing five new resources which will supersede the existing azurerm_virtual_machine and azurerm_virtual_machine_scale_set resources:

azurerm_linux_virtual_machine
azurerm_linux_virtual_machine_scale_set
azurerm_virtual_machine_scale_set_extension
azurer

[2020-02-03 10:24] #1593 closed

[2020-02-03 12:23] bisi1 commented on #4610
Hello,

@pschulz1
We are still facing this issue. Is there any change request raised with the vault team?

Thanks
Biju

[2020-02-03 13:07] eliasvakkuri commented on #4681
Added some more information. Looks like locks on Storage Accounts / Data Lake Storage Gen 2's do not always work as expected with Microsoft tools either. As there are differences between tools despite doing the same operation, I would assume that there is some difference in the underlying API's that are being used. Maybe different API versions? Anyway, would be great if the correct behavior (alway

[2020-02-03 14:26] tombuildsstuff commented on #4681
@eliasvakkuri this is due to the authentication method (SharedKey) and API's (Data Plane) being used:

The Storage API's also support authenticating using AzureAD (which allows using the Resource Manager API's (rather than the Data Plane API's, which allow both AzureAD and SharedKey auth). Whilst we looked to use this previously there's a significant downside to this which is that the roles requir

[2020-02-03 14:41] jjlauterbach commented on #5519
Thanks - Looks like you are correct and there's a permissions issue as I'm getting the same error through `az cosmosdb sql databaes create`

[2020-02-03 14:41] #5519 closed

[2020-02-03 14:45] aksakalli commented on #4642
Finally, I figured out the problem. I am using [this module](https://github.com/richeney/terraform-module-aks/tree/master/service_principal) to create my service principle and it creates a resource like:

[code]

In the role assignment, if I use `object_id` (`id` the same), it works but it does not work if I use `application_id` which is the same as my clusters `servicePrincipalProfile.clientId`.

[2020-02-03 14:51] t3mi opened #5594 "location should be validated in azurerm_resource_group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-03 16:57] eliasvakkuri commented on #4681
@tombuildsstuff thanks for the great explanation! I'll need to give the prevent_destroy a look.

[2020-02-03 17:09] jluk commented on #5541
The ruleset between control plane and agent pools are defined in this public document. There is a window of config drift you are allowed to have between the control plane and each agent pool.
https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#upgrade-a-cluster-control-plane-with-multiple-node-pools

Rules for valid versions to upgrade node pools:

The node pool version must have th

[2020-02-03 17:31] rudolphjacksonm commented on #1460
@davemurphysf I'm seeing the same behavior on my end. Terraform seems to happily create my function and the VNet/dedicated subnet but it doesn't attach the Function to it. No errors or anything in the output.

[2020-02-03 17:37] #148 closed

[2020-02-03 17:37] #184 closed

[2020-02-03 17:37] #486 closed

[2020-02-03 17:37] #603 closed

[2020-02-03 17:37] #956 closed

[2020-02-03 17:37] #1013 closed

[2020-02-03 17:37] #1170 closed

[2020-02-03 17:37] #1279 closed

[2020-02-03 17:37] #1433 closed

[2020-02-03 17:37] #1670 closed

[2020-02-03 17:37] #2298 closed

[2020-02-03 17:37] #3592 closed

[2020-02-03 17:37] #4749 closed

[2020-02-03 17:37] #4750 closed

[2020-02-03 17:37] #5068 closed

[2020-02-03 17:37] #5447 closed

[2020-02-03 18:05] #5177 closed

[2020-02-03 19:49] adeshreddy opened #5599 "Can we data refer to Eventhub instances from Eventhub namespaces"
Can we data refer to Eventhub instances through Eventhub namespaces in Terraform?
Right now I am data referring to Eventhub namespace but I am unable to get the instances in the output!
I want to data refer the Eventhub's under the Eventhub namespace's and use them for creating IoT hub routes

Right now there is data refer block for [eventhub namespaces] with attribute refrences(https://www.terraf

[2020-02-03 20:33] uipo78 commented on #5437
@VijayRajagopalan-STW did it work for you? I wasn't able to get it working with either of these:

`/subscriptions/${var.subscription_id}/resourceGroups/${var.resource_group_name}/providers/Microsoft.OperationalInsights/workspaces/${azurerm_log_analytics_workspace.workspace.id}`

`/subscriptions/${var.subscription_id}/resourceGroups/${var.resource_group_name}/providers/Microsoft.OperationalInsights

[2020-02-03 20:34] vholubek commented on #5462
Same problem here. It seems like when the policy assignment parameter is referencing a resource from another subscription, the metadata object of the policy properties object needs additional argument **parameterScopes**. Terraform is not creating this argument.

Example of a 'healthy' policy assignment that references a Log Analytics Workspace from another subscription as a policy assignment para

[2020-02-03 21:33] dubuc commented on #5510
Hi @andyzhangx, do you know of a workaround for this? Have you received customer complaints about the current Terraform azurerm provider integration with the Azure China Cloud?

[2020-02-03 21:52] EppO opened #5600 "Add resource_group_name to azurerm_virtual_network datasource attributes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-03 22:20] hashibot[bot] opened #5601 "Need to run the Terraform script twice to have the Azure Netapp Files volume export policy setup correctly"
_This issue was originally opened by @nightcat27 as hashicorp/terraform#24015. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Customer uses terrafrom task to create volume for Azure netapp Files and they need to run the script twice then it works. After the first

[2020-02-04 00:34] jstevans commented on #5541
Great, thanks @jluk :) @tombuildsstuff:

* So that I can unblock my team's upgrade to `terraform-provider-azurerm@1.42.0` while we continue this discussion, can I follow your first option to have `default_node_pool.OrchestratorVersion := kubernetes_cluster.KubernetesVersion`?

* For the longer-term, what if `kubernetes_cluster.default_node_pool` and `kubernetes_cluster_node_pool` both have an opti

[2020-02-04 02:33] andyzhangx commented on #5510
@dubuc I don't have the answer since I don't work on terraform, per the error msg, ACI is not supported on Azure China, so is there any way to remove that addon `aciConnectorLinux` explicitly, you may specify addon field in your config

[2020-02-04 07:01] tombuildsstuff commented on #5600
hi @EppO

Thanks for opening this issue :)

In Terraform all input arguments to a Data Source/Resource/Module are also available as output attributes - as such you should be able to access this on the `azurerm_virtual_network` data source since this is present as an Input e.g.

[code]

Would you be able to take a look and see if that works for you?

Thanks!

[2020-02-04 09:36] ampc opened #5605 "Support for SSH key format errors"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-04 11:11] mwalton-esendex opened #5606 "Service Bus authorization rules are lost when a queue is recreated"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-04 11:20] tombuildsstuff commented on #2807
hey @AdamCoulterOz

Firstly - apologies it's taken so long to reply to this, I saw this shortly after you posted it but didn't have a chance to reply; and it's been hidden in the "more comments" section until recently.

To go through each of your points in turn:

Early versions of this Provider focused on matching the Azure API's exactly - the result of this being that many users ended up with unc

[2020-02-04 12:08] tombuildsstuff opened #5608 "Announcement: Opt-In Beta for the new functionality coming in 2.0"
👋🏻

Over the past few months we've been working on the functionality coming in version 2.0 of the Azure Provider (outlined in #2807). We've just released version 1.43 of the Azure Provider which allows you to opt-in to the Beta of these upcoming features, including:

* The new Virtual Machine and Virtual Machine Scale Set resources:
  * `azurerm_linux_virtual_machine`
  * `azurerm_linux_virtual_ma

[2020-02-04 12:09] tombuildsstuff commented on #2807
👋

Over the past few months we've been working on the functionality coming in version 2.0 of the Azure Provider (outlined above).

We've just released version 1.43 of the Azure Provider which allows you to opt-in to the Beta of these upcoming features, rather than detailing this in multiple issues - more information [can be found in this Github issue](https://github.com/terraform-providers/terrafo

[2020-02-04 12:11] tobiasschueler opened #5609 "[azurerm_iothub] IoTHub provisioning not possible with version 1.42.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-04 12:12] tombuildsstuff commented on #171
👋🏼

Over the past few months we’ve been working on the functionality coming in version 2.0 of the Azure Provider (outlined in #2807). We've just released version 1.43 of the Azure Provider which allows you to opt-in to the Beta of these upcoming features, including the ability to set Custom Timeouts on Resources.

More details on [how to opt-into the Beta can be found in the Beta guide](https://re

[2020-02-04 12:12] tombuildsstuff commented on #5068
hey @CoRfr @jomeier

As mentioned above over the past few months we’ve been working on the functionality coming in version 2.0 of the Azure Provider (outlined in #2807). We've just released version 1.43 of the Azure Provider which allows you to opt-in to the Beta of these upcoming features, including the new Virtual Machine and Virtual Machine Scale Set resources.

More details on [how to opt-into

[2020-02-04 13:18] VijayRajagopalan-STW commented on #5437
@uipo78. Yes, it worked for me in my case.

I used data source to query the log analytics workspace resource and used the id attribute

`data.azurerm_log_analytics_workspace.log_analytics_workspace.id`

[2020-02-04 13:51] Lidestyle opened #5611 "Azure API Management sku update"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-04 13:57] loopfish opened #5612 "Changing SKU of existing azurerm_api_management has no effect"
Althought Terraform PLAN and APPLY both indicate they are altering the configuration of the APIM, the SKU is not updated.

![image](https://user-images.githubusercontent.com/39245344/73750731-953fcc80-4755-11ea-92ed-37d1ff7b0996.png)

I have left the operation 2+ hours to see if it is just delayed, but still no change.

There is an entry in the activity log for the APIM, but does not specifically

[2020-02-04 14:12] tombuildsstuff commented on #5611
hey @Lidestyle

Thanks for opening this issue.

Whilst both you and @loopfish have opened the same issue - since that issue contains a little more information, so that we can keep this tracked in a single place I hope you don't mind but I'm going to close this issue in favour of #5612 which is tracking the same thing - would you mind subscribing to that issue for updates?

Thanks!

[2020-02-04 14:12] #5611 closed

[2020-02-04 14:50] tombuildsstuff commented on #2264
hey @danielsollondon

Apologies for the delayed update here!

Over the past few months we've been working on the functionality coming in version 2.0 of the Azure Provider (outlined in #2807). We've just released version 1.43 of the Azure Provider which allows you to opt-in to the Beta of these upcoming features, including the new `azurerm_linux_virtual_machine` resource which supports configuring

[2020-02-04 14:50] #2264 closed

[2020-02-04 15:02] tombuildsstuff commented on #4920
hey @gcormier

As mentioned above support for this is available in the new [`azurerm_linux_virtual_machine`](https://www.terraform.io/docs/providers/azurerm/r/linux_virtual_machine.html) and [`azurerm_windows_virtual_machine`](https://www.terraform.io/docs/providers/azurerm/r/windows_virtual_machine.html) resources which are available in version 1.43 of the Azure Provider by [opting into the Beta]

[2020-02-04 15:02] #4920 closed

[2020-02-04 15:08] loopfish commented on #5611
@tombuildsstuff FYI, I have just discovered that using the deprecated 'sku' block (with 'name' and 'capacity' parameters) does still work, and does result in a tier SKU change...
![image](https://user-images.githubusercontent.com/39245344/73756713-f2408000-475f-11ea-9cfe-621c2e39527a.png)

![image](https://user-images.githubusercontent.com/39245344/73756861-2e73e080-4760-11ea-8395-f7fdfa1bfe27.png

[2020-02-04 15:13] loopfish commented on #5612
@tombuildsstuff FYI, I have just discovered that using the deprecated 'sku' block (with 'name' and 'capacity' parameters) does still work, and does result in a tier SKU change...
![image](https://user-images.githubusercontent.com/39245344/73756713-f2408000-475f-11ea-9cfe-621c2e39527a.png)

![image](https://user-images.githubusercontent.com/39245344/73756861-2e73e080-4760-11ea-8395-f7fdfa1bfe27.png

[2020-02-04 16:42] parmarsumit commented on #4938
Stuck at this point , have a function endpoint working but cannot create an api to call the same using terraform . only possibly via console

[2020-02-04 17:47] adamalex opened #5613 "Support for hubVirtualNetworkConnections"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-04 18:29] tombuildsstuff commented on #5290
hey @NilsBusche

As mentioned above support for this is available in the new [`azurerm_linux_virtual_machine`](https://www.terraform.io/docs/providers/azurerm/r/linux_virtual_machine.html), [`azurerm_windows_virtual_machine`](https://www.terraform.io/docs/providers/azurerm/r/windows_virtual_machine.html), [`azurerm_linux_virtual_machine_scale_set`](https://www.terraform.io/docs/providers/azurerm/r

[2020-02-04 18:29] #5290 closed

[2020-02-04 18:43] Aaron-ML opened #5615 "Support for Azure Key Vault Key creation with activation/expiration date"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-04 18:53] tombuildsstuff commented on #5418
hey @dgsd-consulting

Thanks for opening this issue.

We're superseding for the existing `azurerm_virtual_machine` resource in 2.0 (more details can be found in #2807) since the existing resources no longer adequately represent the Azure API's (and can't easily be brought up to date without breaking existing users).

Version 1.43 of the Azure Provider introduces an opt-in Beta for these new resour

[2020-02-04 18:53] #5418 closed

[2020-02-04 20:59] gcormier opened #5616 "source_image_id parse error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request

### Terraform (and A

[2020-02-04 21:25] EtienneDeneuve opened #5617 "Support for azurerm_network_security_rule"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-04 23:05] aqche commented on #5615
As you mentioned, looks like it would be a similar implementation to the PR I made for `azurerm_key_vault_secret`. I'll take a look into getting a PR up for this.

[2020-02-05 02:35] ranokarno commented on #2849
@frugecn  is correct, we can just modify "requested_service_objective_name" to spin up VCORE database.
[code]

can refer to this link here to find out more
https://docs.microsoft.com/en-us/rest/api/sql/databases/createorupdate#database
```az sql db list-editions -l <location> -o table```

[2020-02-05 09:35] EtienneDeneuve commented on #5617
@tombuildsstuff here it is ;)

[2020-02-05 11:00] boillodmanuel commented on #727
Asked on azure feedback site : https://feedback.azure.com/forums/217313-networking/suggestions/39634519-allow-creation-of-an-empty-application-gateway
If people following this issue could vote on it, it will be great 👍

[2020-02-05 11:09] boillodmanuel commented on #727
Asked also for related feature request: https://feedback.azure.com/forums/217313-networking/suggestions/39634588-add-rest-apis-and-sdk-to-manage-application-gatewa
If people following this issue could vote on it, it will be great 👍

[2020-02-05 11:10] boillodmanuel commented on #5225
Asked on azure feedback site: https://feedback.azure.com/forums/217313-networking/suggestions/39634588-add-rest-apis-and-sdk-to-manage-application-gatewa
If people following this issue could vote on it, it will be great 👍

[2020-02-05 15:48] mamoit commented on #1013
`azurerm_linux_virtual_machine` worked perfectly for me. This will reduce the amount of manual taints and the chance for error by a very large amount.

[2020-02-05 15:53] jeffddix opened #5622 "Expose Private IP Address as exported attribute in azurerm_private_endpoint"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-05 17:30] tehyatt commented on #5238
Hello @tombuildsstuff, I upgraded to 1.43.0 this morning and attempted to use the new azurerm_advanced_threat_protection resource, but got the following error. Seems the new resource only supports the storage account, not mysql server.

The documentation for #4848 seems to be specific to storage accounts as well.

Should this issue be reopened, or am I missing something?

Thanks!

Snippet of log b

[2020-02-05 17:32] tehyatt commented on #5238
In addition, the new provider only supports enabling it. The ability to specify an email address and to enable or disable the option to "Also send email notification to admins and subscription owners" is not available in the new provider.

[2020-02-05 18:35] #5605 closed

[2020-02-05 19:39] adamday2 opened #5623 "Unable to refresh storage account state - advanced threat protection"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-06 01:14] rk-tbrigley commented on #4035
@tombuildsstuff edgenode was added in https://github.com/terraform-providers/terraform-provider-azurerm/pull/4550 so this could be a dupe but!! could we see this edgenode functionality added to the other azurerm_hdinsight_* resources not just azurerm_hdinsight_hadoop_cluster?

[2020-02-06 03:54] WodansSon commented on #5321
Sorry @tombuildsstuff, this one has been fixed and shipped in the last release. Sorry for the confusion.

[2020-02-06 03:54] #5321 closed

[2020-02-06 03:58] WodansSon commented on #4669
This is already supported by the Front Door resource... see resource [documentation](https://www.terraform.io/docs/providers/azurerm/r/front_door.html#redirect_configuration)

[2020-02-06 03:58] #4669 closed

[2020-02-06 04:02] WodansSon commented on #4434
The support for this feature shipped in the v1.43 release, see resource [documentation](https://www.terraform.io/docs/providers/azurerm/r/front_door.html#minimum_tls_version)

[2020-02-06 04:02] #4434 closed

[2020-02-06 09:54] jackofallops commented on #345
We recently released v1.43 of the provider which includes an opt-in Beta for the new Virtual Machine and Virtual Machine Scale Set resources coming in 2.0 which supersede the `azurerm_virtual_machine` resource and instead handle attaching Data Disks via the  `azurerm_virtual_machine_managed_disk_attachment` resource.  Changes to data disk size using this mechanism support the necessary VM operatio

[2020-02-06 09:54] #345 closed

[2020-02-06 10:12] Reddy1990 commented on #4401
I believe this is for data lake storage account right? I'm still getting invalid XML error.

[2020-02-06 13:01] Anas2612 opened #5628 "azurerm_monitor_metric_alert for Appinsight custom metric is not working"
[code]
[code]

i m not sure what is the issue here

[2020-02-06 13:27] tombuildsstuff commented on #5628
hi @Anas2612

Thanks for opening this issue.

This forum is intended to be used for feature enhancements and bugs in the Azure Provider - so that we can keep this forum focused on that we instead ask that broader questions are raised [using one of the Community Resources](https://www.terraform.io/community.html). As such I'm going to close this issue for the moment, but I believe you should be abl

[2020-02-06 13:27] #5628 closed

[2020-02-06 14:42] evertonmc commented on #5426
this works if you escape the sub-quotes to use `&quot;`
`      <set-variable name="abc" value="@(context.Request.Headers.GetValueOrDefault(&quot;X-Header-Name&quot;, &quot;&quot;))" />`

[2020-02-06 14:49] #1206 closed

[2020-02-06 15:42] cwiederspan commented on #4401
I'm not sure this has anything to do with Data Lake storage... I think it has to do with how often storage pushes monitoring metrics to Azure Monitor, but honestly not 100% sure. But, to your question, I used these settings to setup a plain-old general storage v2 account - nothing to do with Data Lake.

[2020-02-06 16:01] vindupuri commented on #5070
I'm also facing the same issue while using the azure APIM docs provided in terraform.io. Is there any resolution to it.

[2020-02-06 16:57] EppO commented on #5600
That indeed works, my bad! I didn't put resource_group_name in the object type specification of my variable, so it was not filtering it. Thanks for your help, really appreciated!

[2020-02-06 16:57] #5600 closed

[2020-02-06 18:15] tehyatt opened #5629 "Manage Advanced Threat Protection for MySQL"
Reopening  issue #5238 which was closed because a new resource was released in 1.40.0. But that resource doesn't work for servers, as shown below.

I upgraded to 1.43.0 this morning and attempted to use the new azurerm_advanced_threat_protection resource, but got the following error. Seems the new resource only supports the storage account, not mysql server.

The documentation for #4848 seems to b

[2020-02-06 18:55] mark-greene opened #5630 "Problem with azurerm_iothub_dps_shared_access_policy always applying"
Using provider "azurerm" (hashicorp/azurerm) 1.43.0

I have the following Terraform code:
[code]
When I apply it works as expected but when I do a plan enrollment_read, registration_write and registration_read are detected as false thus causing a change.  If I change them to false the plan will not detect changes but a subsequent apply generates the following error.  Correcting the error puts me i

[2020-02-06 22:11] mark-greene opened #5632 "Support for linking an IoT Hub to an existing DPS"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-06 22:15] Bessonov opened #5633 "azurerm_public_ip doesn't set domain_name_label"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-06 23:51] hassant commented on #5609
failing back to working version **azurerm 1.40.0** for iothub

[2020-02-07 04:02] bfleming-ciena opened #5637 "Application Gateway constantly rebuilds if you define backend and http settings"

[2020-02-07 04:02] #5637 closed

[2020-02-07 09:39] arodriguezdlc opened #5638 "Destroy kubernetes_node_pool: Error waiting for the deletion. Operation was overriden and canceled by later operation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-07 09:54] ElvenSpellmaker opened #5639 "Support for Azure Service Bus Naming Conventions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-07 12:08] archmangler commented on #5591
Additionally, we could re-produce this erro when attempting to use az cli to configure a secondary IP address on a VM  and NIC already deployed with terraform, then trying to destroy the VM:

1) Deploy A VM, including the NIC defined using the terraform code  above
2) configure a secondary IP address on the primary NIC of the VM *using azure cli, not terraform* :

[code]

4) attempt to terraform d

[2020-02-07 12:18] tombuildsstuff commented on #5638
hi @arodriguezdlc

Thanks for opening this issue.

So that we can take a look into this issue would you be able to provide the Terraform Configuration being used?

Thanks!

[2020-02-07 12:21] arodriguezdlc commented on #5638
Hi @tombuildsstuff thank you for your respone. Here you are the Terraform Configuration 😄

[code]

[2020-02-07 12:48] withinboredom commented on #1307
@tombuildsstuff on #4684 you mentioned sending certain app settings. The bug is that even if these are specified correctly in Terraform, you still get this error.

[2020-02-07 13:52] abhidhar82 commented on #4185
I was able to create a serverless SQL DB using edition as "GeneralPurpose" and requested_service_objective_name with value like "GP_S_Gen5_2" i.e. Gen5 and vcpu =2.

Sample:
resource "azurerm_sql_database" "testdb" {
  name                = "testdb"
  resource_group_name = "testrg"
  location            =  ####
  server_name         = #####
  create_mode         = "Default"
  edition             =

[2020-02-07 13:59] Imed-Eden opened #5641 "Unable to deploy .NET Core Azure Web Apps"
**Community Note**
Please vote on this issue by adding a 👍 reaction to the original issue to help the community and maintainers prioritize this request
Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
If you are interested in working on this issue or have submitted a pull request, please leave a comment

**Descripti

[2020-02-07 14:04] tombuildsstuff commented on #5641
hi @Imed-Eden

Thanks for opening this issue :)

Taking a look through this appears to be a duplicate of #5350 - rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one; would you mind subscribing to #5350 for updates?

Thanks!

[2020-02-07 14:04] #5641 closed

[2020-02-07 14:07] Imed-Eden commented on #5350
Hello Everyone,

First of all thank you for your efforts! Do you have any idea when will this feature be added please?

[2020-02-07 14:08] Imed-Eden commented on #5641
Sure Thank you Tom! I'll be waiting for new updates hopefully.

[2020-02-07 18:48] katbyte commented on #5434
closed by #5565

[2020-02-07 18:48] #5434 closed

[2020-02-07 18:48] katbyte commented on #5530
closed by #5565

[2020-02-07 18:48] #5530 closed

[2020-02-07 20:39] mkozioro opened #5646 "Support for new managed cluster load balancer profile settings in kubernetes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-07 22:04] #5615 closed

[2020-02-08 09:18] aqche commented on #1903
Opened a PR to update the schema 👍

[2020-02-08 22:43] DaRosenberg commented on #4185
@abhidhar82 that is definitely helpful! One question though - the vCore number you use, does that get used as the minimum or the maximum? With SQL Serverless, a range between min and max number of vCores can be specified, so just wondering which would be referred to here, and how to set the other one?

[2020-02-09 13:02] Bessonov commented on #4116
Still valid for:
[code]

[2020-02-09 13:11] Bessonov commented on #699
Gathered from different sources would like to post our workaround:

[code]

The `depends_on` is important at least for linux functions (was not needed for windows functions). This isn't very portable, but much simpler than ARM-based workaround.

[2020-02-09 13:20] Bessonov opened #5650 "Add documentation on how to create an "functionapp,linux" azure function"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-09 19:50] DanielFrei64 commented on #3951
Looking forward to getting this feature. Converting my resources one by one to Terraform and was on to working alerting today but alas, scheduled query rules do not exist. Thank you mcdafydd for all your work on this.

[2020-02-09 20:20] arifsundrani commented on #5032
@brunhil and @markti, my understanding is that they go hand-in-hand. The import publishes the function as a backend service for the api management to link to. This is currently a manual process for my team as well. I have tried using the azure rest API with no luck on appropriately linking the two.

[2020-02-09 20:46] markti commented on #5032
@arifsundrani the import resources are not required to use if you are manually constructing the backend... I am using a [work around](https://skycliffs.com/2020/02/09/using-terraform-to-provision-microservices-with-azure-api-management-backed-by-azure-functions/) to configure Functions with APIM...works quite well...

[2020-02-09 22:07] johnwildes opened #5651 "Support for Trial SKU in azurerm_databricks_workspace"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-09 22:10] johnwildes commented on #5651
I'd actually update this code to include the `trial` value, but I'm unfamiliar with the building and testing with GO.  Not that the required change is huge (atleast I don't think it's huge).

[2020-02-09 22:18] arifsundrani commented on #5032
Thanks for the insights @markti, I will dive into that further. Do you create the policy with backend-id or a base url with func key?

Back to the topic of the issue, adding the func app as a backend as you suggest would streamline setting up the functions.

[2020-02-10 00:13] markti commented on #5032
I create a Backend w/ Credentials Header with the "x-functions-key" and the key that gets output from the resource_group_deployment. Then I reference the backend using an API-operation-policy on the inbound... <set-backend-service id="tf-generated-policy" backend-id="{my_backend}" />

I ended up with this solution by reverse engineering what the Azure Portal does when you "Import from an Azure Fun

[2020-02-10 04:26] KimShepherdVibrato commented on #4304
This functionality was released in v1.33.0.

https://github.com/terraform-providers/terraform-provider-azurerm/pull/3987

[2020-02-10 05:53] SumanGitHub commented on #592
I was facing the same issue
[code]

I tried this and got solved.

[code]
  If you are already using create_option   = "Attach", try this create_option    = "Empty" under storage_data_disk section

[2020-02-10 06:07] tombuildsstuff commented on #4304
@KimShepherdVibrato thanks for the heads-up 👍

[2020-02-10 06:07] #4304 closed

[2020-02-10 06:31] #3651 closed

[2020-02-10 07:02] #5616 closed

[2020-02-10 09:46] tobiasschueler commented on #5609
Fallback **to azurerm 1.41.0** did not work as well, same error.

[2020-02-10 10:03] hassant commented on #5609
I tested with 1.40.0 and later 1.41.0 both worked deploying against existing iothub as well as creating new...

[2020-02-10 13:09] tobiasschueler commented on #5609
Okay, get it working too with **1.41.0**. But it should be fixed in a future version as well.

[2020-02-10 14:18] AliAllomani opened #5659 "key vault soft-delete causing failure when updating secrets or certificates"
key vault soft-delete causing failure when updating secrets and certificates

instead of creating a new version of the secret of the certificate, terraform apply fails

[code]

[code]

[code]

[2020-02-10 15:26] DanielFrei64 opened #5660 "Terraform can't manage imported log analytics solutions. Wants to place under incorrect ARM Provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-10 15:27] alastairtree commented on #5083
This also affects app_serivce and the site_credential.password property.

This issue is causing us to leak app service deployment credentials into our deployment logs (we use Octopus Deploy) which are not considered safe storage for secrets by our infosec team. I know Octopus Deploy had to publish a CVE when they had  similar bug last year.

As an important security issue please fix this ASAP.

[2020-02-10 17:50] michaelschmit commented on #4834
I'm running into this same issue as well. I would perhaps rename the title of this issue to be more generic. For instance, "Destroying Route Table Fails when Using azurerm_subnet_route_table_association" because it is not related to AzureFirewallSubnet specifically and it doesn't fail on add.

It is also worth noting to anyone else looking at this issue that terraform warns that using the old rout

[2020-02-10 18:11] jstevans commented on #5541
@tombuildsstuff I'm going to work on this tomorrow per my previous comment, please shout if that's the wrong thing to do 🙂

[2020-02-10 18:37] cmendible commented on #5125
Hi @katbyte I just fixed this in e4a0e56  on a branch based on tag v1.38.0. Since the master branch has changed so much should I make a PR based on that tag?

[2020-02-10 18:40] keiransteele commented on #4834
I haven't encountered issues with destroying route tables when using azurerm_subnet_route_table_association. I have been doing a number of destroys lately for testing too.

It is possibly more to do with the separate route resource but I haven't done any more testing to confirm. Do you have failing examples?

Although apparently deprecated, using route_table_id on the subnet is still pretty much a

[2020-02-10 19:18] michaelschmit commented on #4834
I always get an error saying that the route is in use.  I'm using a default route (0.0.0.0/0), so azure monitor etc. is likely using the route. However, from the portal I can always delete the route without an issue and then destroy the rest of the resources.

It is worse than that. If you do a re-apply, it deletes the association altogether which is another bug.

[2020-02-10 19:33] brandonh-msft opened #5663 "azurerm_function_app doesn't handle 'identity' property as modify/destroy-create when principal ID outputted"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-10 20:12] michaelschmit commented on #4834
Also, your error above indicates you have ran into the same thing I commented on above:

`Error: Error deleting Route Table "rt-myryman-network-syd-firewall" (Resource Group "rg-myryman-network-syd-firewall"): network.RouteTablesClient#Delete: Failure sending request: StatusCode=400 -- Original Error: Code="InUseRouteTableCannotBeDeleted" Message="Route table rt-myryman-network-syd-firewall is in

[2020-02-10 20:12] nezoic opened #5665 "APIM Virtual Network Support"
It looks like this has been requested several times already but constantly gets closed from some other bugs that are closed but not resolved? Some from May of last year.

Any way we can get this implemented?
[PR 2582](https://github.com/terraform-providers/terraform-provider-azurerm/pull/2582)
[Issue 3667](https://github.com/terraform-providers/terraform-provider-azurerm/issues/3667)

[2020-02-10 21:26] ennui93 commented on #3411
Initial iteration of the code to add `container_image_names` can be found at [the add_batch_container_image_names branch in my fork](https://github.com/terraform-providers/terraform-provider-azurerm/compare/master...ennui93:add_batch_container_image_names). However, it is failing unit tests with a runtime exception at present. I'll investigate further as I have time.

[2020-02-11 04:04] markti commented on #5032
Here is my github repo with the modules I'm using...

https://github.com/markti/terraform-azfn-microservices

[2020-02-11 05:33] #5651 closed

[2020-02-11 07:12] timja commented on #3203
It has now been updated, released in 39.1.0 of the azure sdk for go https://github.com/Azure/azure-sdk-for-go/pull/7317

[2020-02-11 07:38] shankarsundaram opened #5672 "Support for zoneRedundant property of azurerm_sql_database through terraform"
Support for  zoneRedundant property  of  azurerm_sql_server  / azurerm_sql_database through terraform.

Currently mssql elastic pool only supports zoneRedundant property. I'm looking for **zoneRedundant** property in azurerm_sql_server / azurerm_sql_database . microsoft azure sql database support this option when when we choose edition as **Business critical**.

Through azure portal, it supports.

[2020-02-11 10:00] Tommy-Ten opened #5673 "Terraform wants to change azurerm_monitor_diagnostic_setting log category settings"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-11 10:11] Variour commented on #4594
The resource provider operations page does not list any of the operations you have posted, which means they do not exist, which is why you can not use them in your template.

[2020-02-11 10:16] tombuildsstuff commented on #4594
hey @shankarsundaram

As @Variour has mentioned this appears to be down to the roles being requested which don't exist - from what I can tell it appears you're probably looking for `Microsoft.Compute/virtualMachines/read`? There may be roles in the pipeline for Dedicated Hosts but they're not listed on that page yet - but presumably when they become available they'll be in the format `Microsoft.Co

[2020-02-11 10:16] #4594 closed

[2020-02-11 10:17] tobiasschueler opened #5674 "[azurerm_key_vault_secret] Writing a connection string into a key vault secret value, fails."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-11 10:19] tombuildsstuff commented on #5541
@jstevans

That sounds fine for now, however the field doesn't want exposing to users currently and instead wants to be an internal behaviour, until..

Adding properties for `kubernetes_version` or similar to each node pool seems fine - however we may need to add locks into the `azurerm_kubernetes_cluster` and `azurerm_kubernetes_cluster_node_pool` resources to account for this (we'd need to test

[2020-02-11 10:32] Variour commented on #4247
The scope seems to be generally insignificant for the end user. It is not necessary or shown when using [PowerShell ](https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles-powershell)of the [CLI](https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles-cli).
The REST API How-to advises that when [creating a custom role](https://docs.microsoft.com/en-us/

[2020-02-11 10:45] shankarsundaram commented on #4594
These roles archived were already it seems. i found the correct one . Thanks for your comments @Variour @tombuildsstuff.

[2020-02-11 10:53] #4878 closed

[2020-02-11 11:10] andrewCluey opened #5675 "Error: Invalid index. The given key does not identify an element in this collection value."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-11 11:35] juanjojulian opened #5677 "azurerm_policy_assignment error - Calling wrong API version?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-11 11:35] tombuildsstuff commented on #5675
hi @andrewCluey

Thanks for opening this issue.

Taking a look into this it appears that this bug is due to the field `principal_id` not being returned from the Azure API - which is why this field is unset.

Whilst traditionally we'd look into fixing this so that the `principal_id` was populated with an empty value - the `azurerm_virtual_machine` (and `azurerm_virtual_machine_scale_set`) resources

[2020-02-11 11:57] BadgerCode commented on #5499
We are still experiencing this issue.
Applying the same front door plan repeatedly results in changes to the `backend_pool_health_probe` and `backend_pool_load_balancing` rules every time.

[2020-02-11 13:06] nightcat27 commented on #5601
hello, any update on this issue?

[2020-02-11 13:33] #4607 closed

[2020-02-11 13:47] ryanps1 commented on #5520
I'm also experiencing this issue as of AzureRM 1.38, prior versions work fine.

[2020-02-11 14:35] tombuildsstuff commented on #5520
hi @jmyers82 @ryanps1

Thanks for opening this issue.

Since this access token's being generated from Vault it appears this token isn't fully provisioned before being returned - as such this appears to be something that Vault is doing prior to returning the token.

Due to this unfortunately this bug would need to be fixed within Vault rather than the Azure Provider - and as such I'm going to close

[2020-02-11 14:35] #5520 closed

[2020-02-11 14:37] ryanps1 commented on #5520
Hi Tom,

I'm actually not using Vault for these at all, I'm logging in with a service principal through environment variables. Admittedly these values are being populated from an Azure KeyVault as part of an Azure DevOps pipeline, but it doesn't seem as though it's specific to just Hashicorp Vault.

Cheers

[2020-02-11 14:38] tombuildsstuff commented on #5663
hey @brandonh-msft

Thanks for opening this issue.

Taking a look into this I believe this has been fixed via #5676 which will ship as a part of v1.44 of the Azure Provider - as such I'm going to tag this with that Milestone so that @hashibot will comment when that's released - however since I believe this issue's been resolved by #5676 I'm going to close this issue for the moment.

Thanks!

[2020-02-11 14:38] #5663 closed

[2020-02-11 15:16] #3106 closed

[2020-02-11 15:37] nejoyer commented on #4874
I'm also interested.

[2020-02-11 16:01] andrewCluey commented on #5675
Thanks Tom, although I've just tested this and I'm getting the same error.

I've created a VM using the new resource (azurerm_windows_virtual_machine). Resource I used to create the VMs is below.

+ Terraform v0.12.20
+ provider.azurerm v1.43.0

### Initial resource to create 2 VMs.
[code]

### I then added the identity block to the VM resource
[code]
### And also a 'role_assignment' resource.
[co

[2020-02-11 16:02] sonata82 commented on #2325
I don't see the resourceGuid being mapped in [data_source_virtual_network.go](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/internal/services/network/data_source_virtual_network.go )?

[2020-02-11 16:20] hashibot[bot] opened #5682 "for resource name "azurerm_eventgrid_event_subscription" retry policy should be less that or equal to 1440 minutes"
_This issue was originally opened by @focode as hashicorp/terraform#24075. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

For this terraform code:
[code]

I am getting this error:

Which is in minutes, on azure portal I can see that it provides value till 7 days,

[2020-02-11 17:24] gwyss commented on #2677
Is there any update on this new ressource ?

[2020-02-11 17:46] tscully49 opened #5685 "[azurerm_kubernetes_cluster] load balancer profile outbound ips validation errors"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-11 18:03] thomas-riccardi opened #5686 "[azurerm_resource_group] missing id attribute in data source documentation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-11 18:24] tombuildsstuff commented on #2677
@gwyss unfortunately we still have no means of testing this - so we're still blocked https://github.com/terraform-providers/terraform-provider-azurerm/issues/2677#issuecomment-491769902

[2020-02-11 18:37] tombuildsstuff commented on #757
👋

Versioned documentation is now available [on the Terraform Registry](https://registry.terraform.io/providers/hashicorp/azurerm/1.43.0/docs) as such I believe this issue's resolved :)

[2020-02-11 18:37] #757 closed

[2020-02-11 18:41] tombuildsstuff commented on #1734
Fixed via #3721 - thanks @r0bnet :)

[2020-02-11 18:41] #1734 closed

[2020-02-11 18:53] gwyss commented on #2677
@tombuildsstuff Let me know if i can help with testing on my side. I am able to provision consumption budget.

[2020-02-11 18:57] tombuildsstuff commented on #1932
hi @hbuckle

Apologies for the delayed reply to this.

Azure Scheduler is deprecated we're removing support for these resources in version 2.0 of the Azure Provider (more information can be found in #2807) - since this resource is being removed unfortunately this isn't something we're likely to fix in the Scheduler resource and as such I'm going to close this issue for the moment, however my under

[2020-02-11 18:57] #1932 closed

[2020-02-11 18:59] tombuildsstuff commented on #2329
👋

Support for this is available within the `azurerm_app_service` resource [using the `backup` block](https://www.terraform.io/docs/providers/azurerm/r/app_service.html) which can be set at the top level f the resource - and as such I'm going to close this issue for the moment :)

Thanks!

[2020-02-11 18:59] #2329 closed

[2020-02-11 19:00] tombuildsstuff commented on #2569
👋

Support for App Service Backups is available via [the `backup` block within the `azurerm_app_service` resource](https://www.terraform.io/docs/providers/azurerm/r/app_service.html) - as such I'm going to close this issue for the moment.

Thanks!

[2020-02-11 19:00] #2569 closed

[2020-02-11 19:04] tombuildsstuff commented on #5365
hey @bcline760

Thanks for opening this issue - apologies for the delayed reply here!

Taking a look into this this appears to be an oversight in the documentation - the `backup` block is available at the top-level of the `azurerm_app_service` resource - I've opened #5687 to add this back to the documentation.

Thanks!

[2020-02-11 19:06] tombuildsstuff commented on #2677
@gwyss thanks for the offer, but we need to be able to run these tests nightly/on-demand - as such unfortunately it's something that needs Microsoft to assist us with; I've reached out to our contact there about this for an update.

[2020-02-11 19:15] tombuildsstuff commented on #3022
Fixed via #3158

[2020-02-11 19:15] #3022 closed

[2020-02-11 19:17] tombuildsstuff commented on #3011
Fixed via #3012

[2020-02-11 19:17] #3011 closed

[2020-02-11 19:20] tombuildsstuff commented on #2434
Closing since this appears to be resolved 👍

[2020-02-11 19:20] #2434 closed

[2020-02-11 20:15] aregier commented on #1697
I'm also seeing that it is easy to use the `az` CLI to create container instances with private IP addresses, but no VNet. Terraform does not allow this, however. (at least as of 0.12.9)

[2020-02-11 20:39] rk-tbrigley commented on #4677
This looks like the azurerm storage account vnet/subnet network_rule issue is still happening and this is another use case hitting it.

https://github.com/terraform-providers/terraform-provider-azurerm/issues/3156

[2020-02-11 21:15] edwinsummers commented on #5302
@asetiawan This has been fixed by the Azure Cloudshell team according to my support case. My test cases are now working.

[2020-02-11 22:01] midacts commented on #2569
Thanks for all you and your team's hard work.

[2020-02-11 22:06] asetiawan commented on #5302
Thanks @edwinsummers . My test cases and other templates are working now.

[2020-02-12 00:39] MarkKharitonov opened #5690 "Removing identity block from azurerm_app_service does not remove the respective managed identity."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-12 01:08] BHoggs opened #5691 "Support for data sources to get resources by ID"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-12 03:18] johnwildes opened #5694 "Error obtaining Authorization Token from the Azure CLI"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-12 05:37] MarkKharitonov commented on #4532
I have a similar issue with trying to create Key Vault access policy for the System Managed Identity.

[2020-02-12 06:13] #5365 closed

[2020-02-12 07:13] elsesiy commented on #2489
Same issue exists in `1.43.0`, only works with the proposed workaround of forcing the sequential creation of the respective resources.

[2020-02-12 07:41] #3542 closed

[2020-02-12 10:39] ctrombet opened #5697 "Support for multiple frontends and backends in Azure Application Gateway"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-12 11:37] tombuildsstuff commented on #5697
hi @ctrombet

Thanks for opening this issue.

It's possible to define multiple frontend/backend etc blocks within the `azurerm_application_gateway` resource - for example:

[code]

As such I believe this should be possible today - or are you more looking for this to be split out into multiple resources ala the Load Balancer resources?

Thanks!

[2020-02-12 13:54] bhummerstone opened #5699 "Support for flexible Policy enforcement during assignment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-12 14:29] ssrirama-aka opened #5700 "Support for [additional dedicated host SKUs - DSv3-Type2 and ESv3-Type2]"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-12 14:29] mariojacobo commented on #5685
Most likely what's happening is that your public IP has a "basic" SKU. I was getting the same error until I deployed with a "Standard" SKU.

[2020-02-12 14:45] dcfsc opened #5701 "Cannot import azurerm_storage_container created from Azure static website"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-12 14:59] dcfsc commented on #5701
Also, the name `$web` or `$$web` is not allowed. Not sure how I missed that.

[code]

[2020-02-12 15:00] ctrombet commented on #5697
Hi @tombuildsstuff  thanks a lot for your answer.
I was not aware of this syntax which is nice, but I am also considering/facing some issues due to the fact that I would like to be able to generate those dynamically based on several properties (for example based on number of vms to address or other parameters , number of environments to balance, etc.)

For example I want to be able to address via

[2020-02-12 15:04] maxkochubey commented on #5638
Hello! We encountered the same issue.
Terraform version: v0.12.19
AzureRM provider version: 1.43.0

Restarting of the destroying process runs without errors.

[2020-02-12 15:10] tombuildsstuff commented on #5701
hi @dcfsc

Thanks for opening this issue.

The character `$` is a control character in Bash and thus needs to be escaped - in this instance since the ID's being passed in you can quote the ID, for example:

[code]

Terraform itself allows the use of `$web` as a string (since it's not a control character here) and thus this shouldn't need encoding so this should work:

[code]

Would you be able to

[2020-02-12 15:10] #5701 closed

[2020-02-12 15:15] CraigGEwers commented on #5058
Not sure if the documentation has changed since you posted, but it goes on to say:-

     application_id = "abfa0a7c-a6b6-4736-8310-5855508787cd"
}

What you are specifying as object_id for the permissions, is actually the application_id. You have to retrieve the object id for that application id in your directory and use that reference instead.

One thing to be aware of as a bit of a gotcha (I ex

[2020-02-12 15:20] baboune commented on #5583
This capability is now available.  See https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/createorupdate#outboundtype.

We also need this.

[2020-02-12 15:23] dcfsc commented on #5701
[code]
still fails
[code]

Interestingly, it also fails if I try to add the "$fred" storage container in the portal.

[2020-02-12 15:32] tombuildsstuff commented on #5701
@dcfsc there's validation that matches `$root` or `$web` (or `0-9a-z-`) since these are the only possible values - as such `$fred` isn't supported unfortunately (and why this doesn't work in the Portal either).

Presumably (I'm unsure) the `$[name]` prefix is reserved for Azure specific functionality - to ensure that existing Containers don't conflict?

[2020-02-12 15:55] tombuildsstuff commented on #5697
@ctrombet

You can achieve this using the `for_each` operator - for example:

[code]

Since this is a usage question rather than a bug in the Azure Provider (which is what we use these issues for) I'm going to close this issue for the moment - however I believe that should solve your problem but more information on `for_each` can be found [in the launch blogpost for 0.12](https://www.hashicorp.com

[2020-02-12 15:55] #5697 closed

[2020-02-12 15:57] sean-nixon commented on #4532
Is this potentially a Terraform core issue? It seems like it's not properly waiting to resolve that reference until after the resource it depends on has updated.

[2020-02-12 15:58] arifsundrani commented on #5032
Thanks for sharing @markti! That is align in my thinking. I am trying to improve how api ops are managed, which your modules help with. One thing I found that I had to do was add a

`
<backend>
      <forward-request timeout="60" />
    </backend>
`

to the policy. Otherwise, the request would return a 200, but not actually call the function app.

[2020-02-12 16:11] markti commented on #5032
@arifsundrani agreed. I also had to put a forward-request tag in there. I put it into the root policy but there may be cases where you wouldn't want to it there (i.e. if you want some APIs to be mocked or something).

My favorite module that I wrote is the apim-op-crud. With that one, I can bust out a 5 REST operation CRUD for an entity. Then I handle edge cases (i.e. search/query, one-off actions

[2020-02-12 16:17] jluk commented on #5583
@tombuildsstuff our public doc explaining this should be out by end of week. we can chat a bit more on this feature to clarify if needed.

[2020-02-12 16:20] pearcec opened #5702 "Azure CLI azuread and azurerm conmingled authentication overlapping"
# Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interested

[2020-02-12 16:26] pearcec commented on #5702
When I run
[code]
it starts working.

[2020-02-12 16:32] arodriguezdlc opened #5703 "Error creating Managed Kubernetes Cluster: ServicePrincipalNotFound"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request

### Terraform (and A

[2020-02-12 16:41] d4md1n commented on #2898
Any way to get .cer format of the certificate

[2020-02-12 16:49] pearcec commented on #5702
Running that command doesn't always work.

[2020-02-12 17:12] RavulaChetan opened #5704 "Module azurerm_monitor_autoscale_setting not working for multiple scale conditions"
I am trying to use module "azurerm_monitor_autoscale_setting" to create multiple scale conditions like cpuPercentage and memoryPercentage. I am getting error when i call module "azurerm_monitor_autoscale_setting" multiple times to add conditions. wont let me create multiple profiles within the same module.

Is there a way to use module "azurerm_monitor_autoscale_setting" to add multiple scale cond

[2020-02-12 17:20] #5704 closed

[2020-02-12 17:33] tscully49 commented on #5685
Thanks for the response!  I double-checked and am seeing that the public IP prefix and the public IP address I created from the prefix both have the "standard" SKU.  For what it's worth I receive the same error when I tried to use the public IP prefix option for the cluster as well with a prefix containing the "standard" SKU as well.

[2020-02-12 17:40] brandonh-msft opened #5706 "Output string value doesn't match what was specified in ARM template deploy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-12 18:19] patrickbsf commented on #5646
Please make sure all the new options are exposed.  You showed it in your example, but neglected to mention needing to set the equivalent of the CLI option (--load-balancer-outbound-ips).
Just to be safe, the new options in the CLI needing mapped are:
--load-balancer-idle-timeout
--load-balancer-managed-outbound-ip-count
--load-balancer-outbound-ports

[2020-02-12 18:59] tscully49 commented on #5685
I think I found my problem.  I wasn't using the correct id for the public IP address.  I was able to make it work gathering the IP address id via the az CLI.  I also found my problem with the prefix was I already had allocated IP addresses in the prefix, which the outbound load balancer for AKS does not like.  I will go ahead and close the issue.  Thanks!

[2020-02-12 18:59] #5685 closed

[2020-02-12 19:08] tombuildsstuff commented on #171
👋

Custom Timeouts have been enabled by default in #5705 which will ship in version 2.0 of the Azure Provider - as such I'm going to close this issue for the moment. If you're looking to use this in the interim you should be able to use the Beta link above to opt-into the Custom Timeouts Beta.

Thanks!

[2020-02-12 19:08] #171 closed

[2020-02-12 19:36] patrickbsf opened #5713 "Support for enabling encryption in azurerm_kusto_cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-12 19:49] arkiaconsulting opened #5714 "azurerm_signalr_service fails with 'ID was missing the `signalR` element'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-12 19:54] oleksiypavlenko opened #5715 "Upgrade to provider v1.44.0 breaks SignalR ID"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-12 21:36] brandonh-msft commented on #5663
Nope, still exists. Please reopen @tombuildsstuff

<details>
<summary> Updated HCL </summary>

[code]

</details

Run initial `tf init` and `tf apply`:

[code]

<details>
<summary> Then update the HCL to use the `identity` pieces ... </summary>

[code]
</details>

And now re-run `terraform apply`:

[code]

[code]

[2020-02-12 21:49] johnwildes commented on #5694
Today I reset the Ubuntu WSL installation on my machine.  It re-installed Ubuntu, and setup a new user.  I ran the following.

1. `sudo apt-get update` to get updates
2. `sudo apt-get dist-upgrade` to install all packages to bring the system up to date
3. downloaded and installed terraform 0.12.20, verified installed correctly
4. cloned repo in question, to new directory
5. ran `terraform plan` an

[2020-02-13 04:20] hashibot[bot] opened #5720 "Azurerm provider not recognizing environment parameter"
_This issue was originally opened by @LHGDevOps as hashicorp/terraform#24089. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

In the tf file:
provider "azurerm" {
  version     = "=1.43.0"
  environment = **"usgovernment"**
}

From Debug log:
2020/02/12 17:16:50 [

[2020-02-13 06:11] stazz commented on #1747
Hi,

I've noticed that #5399 got "Blocked" milestone assigned to it. Any information about what is exactly is blocking it, or any kind of other progress information? Eagerly waiting on this one. :)

[2020-02-13 06:16] nightcat27 commented on #5601
@tombuildsstuff I saw you labeled this issue with bug tag, do we have any ETA for the fix?

[2020-02-13 07:34] tombuildsstuff commented on #5720
hi @LHGDevOps

From what I can see it appears you're using the AzureRM Backend to store state - and as such [the `environment` parameter](https://www.terraform.io/docs/backends/types/azurerm.html#environment) needs to be specified within the Backend block too (which is why the `ARM_ENVIRONMENT` parameter works) - for example:

[code]

Would you be able to take a look and see if that works for you?

[2020-02-13 07:34] #5720 closed

[2020-02-13 07:39] mithunvikram opened #5723 "How to create azure machine learning service using terrafom. Is there any direct module from azurerm provider?"
To create azure machine learning serivce using terraform, I don't find any modules in azurerm provider docs.What is the possible way to achieve?

[2020-02-13 07:55] tombuildsstuff commented on #5723
hi @mithunvikram

Support for provisioning Machine Learning Services is being tracked in #3729 - rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one - as such would you mind subscribing to #3729 for updates?

Thanks!

[2020-02-13 07:55] #5723 closed

[2020-02-13 07:56] tombuildsstuff commented on #5714
hi @arkiaconsulting

Thanks for opening this issue.

Taking a look through this appears to be a duplicate of #5715 - rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one; would you mind subscribing to #5715 for updates?

Thanks!

[2020-02-13 07:56] #5714 closed

[2020-02-13 08:50] hasanertenli commented on #5685
[code]

Hi. I created new public IP and use this public IP's id for kubernetes cluster. I'm getting the same error. Can you tell me where i made a mistake? Thanks!

[2020-02-13 09:12] mariojacobo commented on #5685
@hasanertenli - I believe it's the same thing, the IP needs to be Standard sku. Add the "sku" field to the public IP resource definition:

resource "azurerm_public_ip" "public_ip" {
  name                = "${var.cluster_name}publicIP"
  resource_group_name = var.rg_name
  location            = var.location
  allocation_method   = "Static"
  sku                           = "Standard"
}

network_pr

[2020-02-13 09:38] NickMetz commented on #3621
Released in 1.44.0

[2020-02-13 09:38] #3621 closed

[2020-02-13 09:38] mariojacobo commented on #5703
that's something we have been hitting since the very beginning.  your workaround is exactly what I'm using, but I have it at 60 seconds sleep :(  . it's not elegant, but it works

[2020-02-13 09:45] #2614 closed

[2020-02-13 09:52] t3mi opened #5726 "azurerm_automation_schedule is not usable for subsequent terraform runs without updating its start_time to a future time"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-13 11:31] hasanertenli commented on #5685
@mariojacobo it worked. Thank you.

[2020-02-13 11:34] arodriguezdlc commented on #5703
I think this workaround CAN NOT be a solution. It's ok to survive until the solution, but not acceptable for an official terraform provider for a first class cloud.

[2020-02-13 12:08] rdbartram opened #5727 "Support for WAF Policy Managed Rule definitions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-13 13:57] LeBen2016 commented on #4308
Any updates on this one? Would be awesome to have this.

[2020-02-13 14:50] shybbko opened #5729 "Backup Policy resources' tags are reported as added, but in fact are not"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-13 15:06] subesokun opened #5730 "Resource "azurerm_kubernetes_cluster" is leaking sensitive data"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-13 15:29] SimonTheLeg opened #5731 "Support for login without an assigned subscription"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-13 15:31] jmcshane commented on #1747
Is this targeted for the v2 release or should this be expected to be delayed into later March? Im making plans for a project using a sql managed instance and would like to know if I should look elsewhere

[2020-02-13 16:20] hashibot[bot] opened #5732 "Can't associate an ipv6 address with a NIC on Azure"
_This issue was originally opened by @gpei as hashicorp/terraform#24086. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

### Crash Output

### Expected Behavior

### Actual

[2020-02-13 16:57] tombuildsstuff commented on #3680
👋

Since this issue needs to be fixed in the Terraform Plugin SDK rather than tracking this issue in multiple places I'm going to close this issue in favour of the upstream issue. Once that's been fixed we'll update the version of the Plugin SDK being used and this should get resolved - as such [please subscribe to the upstream issue for updates](https://github.com/hashicorp/terraform-plugin-sdk/i

[2020-02-13 16:57] #3680 closed

[2020-02-13 16:57] tombuildsstuff commented on #5083
👋

Since this issue needs to be fixed in the Terraform Plugin SDK rather than tracking this issue in multiple places I'm going to close this issue in favour of the upstream issue. Once that's been fixed we'll update the version of the Plugin SDK being used and this should get resolved - as such [please subscribe to the upstream issue for updates](https://github.com/hashicorp/terraform-plugin-sdk/i

[2020-02-13 16:57] #5083 closed

[2020-02-13 16:59] tombuildsstuff commented on #5730
👋

Thanks for opening this issue.

This issue needs to be fixed in the Terraform Plugin SDK, as such rather than tracking this issue in multiple places I'm going to close this issue in favour of the upstream issue. Once that's been fixed we'll update the version of the Plugin SDK being used and this should get resolved - as such [please subscribe to the upstream issue for updates](https://github.c

[2020-02-13 16:59] #5730 closed

[2020-02-13 18:13] lubars opened #5734 "plan fails without Azure CLI login"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-13 18:52] alexodle opened #5736 "Error parsing VMID for disk attachment when disk is attached to Scale Set VM"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-13 20:09] johnwildes commented on #5694
I tried again, completely uninstalled ubuntu from the system and set up with a new account.

Within the user profile directory (on windows) there was a folder `.Azure`.  Deleted this folder, authenticated with `az login` followed the same steps above.  `terraform plan` completed successfully.

[2020-02-13 20:10] johnwildes commented on #5694
Closing

[2020-02-13 20:10] #5694 closed

[2020-02-13 20:15] jpveritone opened #5738 "azurerm_virtual_machine_scale_set need ability to override default scale-in policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-13 21:58] MarkKharitonov commented on #2069
Hit this issue today with the latest plugin version.

Are there any plans to address it?

[2020-02-14 07:54] #5715 closed

[2020-02-14 08:05] tombuildsstuff commented on #5734
hi @lubars

Thanks for opening this issue.

From memory Alpine Linux contains a subset of the necessary Certificate Authorities required to validate other SSL Certificates - which is why you're seeing the `x509: certificate signed by unknown authority` since the Azure Certificate cannot be verified). It's possible the Azure CLI is aware of Alpine Linux and handles this (I'm unsure) however unfortu

[2020-02-14 08:05] #5734 closed

[2020-02-14 10:12] #19 closed

[2020-02-14 10:31] OffColour opened #5749 "Tag support in DSC Configurations"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-14 10:32] abelal83 opened #5750 "azurerm_cdn_endpoint origin is not optional"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-14 12:12] tomasaschan commented on #19
🎉

[2020-02-14 12:20] AntonChernysh opened #5755 "Property is not omitted when "null" returned from lookup()"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-14 12:50] baboune commented on #5583
OK I made some changes to the provider to fix this issue.  Since this requires a change of the go module dependencies, before I make a PR, how to handle all  the vendor changes triggered by the new github.com/Azure/azure-sdk-for-go v39.1.0+incompatible packge?

[2020-02-14 12:57] #1920 closed

[2020-02-14 13:01] #4465 closed

[2020-02-14 14:02] tombuildsstuff commented on #5583
@baboune thanks for the PR - for the moment I'd suggest holding off vendoring the updated SDK - we'll look to upgrade to version 39.1 of the Azure SDK once we've finished removing the older resources (which we're working through at the moment, since removing these resources also removes the associated packages from the vendor directory) - I'll comment in #5757 once that's done 👍

[2020-02-14 14:28] rosenkranzt opened #5758 "Changing account_kind of azurerm_storage_account to StorageV2 causes destroy and create of storage account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-14 14:35] Peter-Sternberger commented on #5758
👍

[2020-02-14 15:34] lubars commented on #5734
@tombuildsstuff Adding ca-certificates did the trick!  Thank you -

[2020-02-14 15:42] patrickbsf opened #5760 "Using azurerm_kusto_database_principal to add 'App' as user to database fails in provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-14 16:04] MarkKharitonov opened #5762 "The resource azurerm_role_assignment is not state aware"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request

I am just reopening

[2020-02-14 16:29] mb139h commented on #2929
when is this going to be fixed? workaround is great but the automation fails until this is fixed.

[2020-02-14 17:20] hashibot[bot] opened #5763 "Make azurerm_kubernetes_cluster use environment variables for service_principal block if available"
_This issue was originally opened by @flobeier as hashicorp/terraform#24116. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Current Terraform Version

[code]

### Use-cases

I already set the credentials for the service principal via environment variables (`A

[2020-02-14 17:29] arifsundrani commented on #5032
@markti that is a cool module

One thing I have discussed with my team that we may try out over the next few weeks is to incorporate the function app specific terraform infrastructure within the same repository as the function app C# code.

The pros:
- Segmenting the terraform state for the items that are changing the most
- C# developers have more ownership of their function apps, i.e. can update

[2020-02-14 18:25] mike-brown-chr commented on #3691
I arrived here thinking this is a documentation bug.  Setting the value to "0" instead of "-1" worked to meet the expected behavior for me.

[2020-02-14 18:32] cashman04 commented on #5556
Same issue/same terraform version.

    resource "azurerm_private_endpoint" "prod-snowflake" {
      name                = "pve-eastus2-prod-snowflake-0"
      location            = "eastus2"
      resource_group_name = azurerm_resource_group.prodinfra.name
      subnet_id           = azurerm_subnet.prod-snowflake.id

      private_service_connection {
        name = "psc-eastus2-prod-snowflake-0"

[2020-02-14 18:34] kosinsky commented on #5230
Support for other databases as a metastore is interesting feature.
A few questions it creates:
1. What else is available in hive-site/hive-env?
2. How will people use these extra settings? Could it cause confusion, if some hive-site properties can't be controlled via ARM, but Terraform syntax will allow these properties?
3. What about core-site/mapred-site/yarn-site etc.? Sounds like scope creep f

[2020-02-14 19:45] RavulaChetan commented on #4358
Hi
I am trying to implement azurerm_app_service_custom_hostname_binding with SSL
data "azurerm_key_vault_secret" "secret" {
  name                = "secrets"
  #vault_uri           = "${name}"
  key_vault_id        = "${data.azurerm_key_vault.kv.id}"
}

my SP running the code and the KeyVault are in same subscription but i am getting that the KeyVault URI does not exist.

Error: KeyVault Secret "s

[2020-02-14 20:03] kvaes opened #5766 "Remove deprecated alert rule variants"
These have been deprecated on Azure side and not working anymore ;

- https://www.terraform.io/docs/providers/azurerm/r/monitor_metric_alertrule.html
- https://www.terraform.io/docs/providers/azurerm/r/metric_alertrule.html

This one is the sole correct one ;

- https://www.terraform.io/docs/providers/azurerm/r/monitor_metric_alert.html

Would be awesome to reflect this in the docs to avoid confus

[2020-02-14 20:47] rbarna1 opened #5767 "Does azurerm_windows_virtual_machine support creation from image with managed data disks"
Reviewing the docs on the new azurerm_windows_virtual_machine resource, I dont see any reason why this **shouldnt** work.
We use terraform to create Windows Server images that have managed data disks.
In v0.11 with the Azure provider, when we subsequently make VMs from those images no mention of the managed disk snapshots is required....they simply come w/ the image.  In v0.12 we get the following

[2020-02-14 21:13] dubuc commented on #5510
@andyzhangx Thanks, we did try specifying it and leaving it empty, but the ARM request was including it as a request. I guess a discrepancy in apiversions. have a good weekend!

[2020-02-14 22:08] geekzter commented on #5208
@frankvdbh Your scenarios is exactly as demoed in this [Azure Friday video](https://www.youtube.com/watch?v=AZ0iFcyPDkc) now Private Link is GA.

[2020-02-15 10:59] neil-yechenwei opened #5770 "Support for azurerm_data_box_job"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-15 12:11] Tenseiga opened #5771 "Calling module with data source embedded reports error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-15 12:46] Tenseiga commented on #5771
It seems the error has been fixed already but seems to happen again with latest providers and tf .
https://www.bountysource.com/issues/77404614-azurerm_monitor_diagnostic_setting-dynamic-log-metric-blocks-produces-inconsistent-plan

[2020-02-15 16:23] JohnDelisle commented on #3935
I'm very interested in this functionality too.  Proper KV integration is important for centralized certificate lifecycle management.

If you need a tester, let me know.

[2020-02-15 20:29] markti commented on #699
@Bessonov when I use that CLI command I get "{}" as the return. I suspect that's because I haven't deployed any code packages to my Azure Function and that the eventgrid extension is automatically loaded whenever a code deployment with an EventGridTrigger is loaded there...

[2020-02-15 21:16] mcdafydd commented on #3951
We're getting close now, @DanielFrei64.  Now that we have complete Action Groups, after Scheduled Query Rules I think a good next step would be [Action Rules](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-action-rules).

[2020-02-16 01:16] JohnDelisle commented on #555
@tombuildsstuff I just tried to update managed OS disks on VMs that are powered down (stopped/ deallocated via portal) and they still fail.

plan:
          ~ managed_disk_type         = "Standard_LRS" -> "StandardSSD_LRS"

error:

Error: compute.VirtualMachinesClient#CreateOrUpdate: Failure sending request: StatusCode=0 -- Original Error: autorest/azure: Service returned an error. Status=<nil> Co

[2020-02-16 07:29] #5700 closed

[2020-02-16 07:58] tombuildsstuff commented on #5770
hi @neil-yechenwei

Thanks for opening this issue.

Taking a look at Azure DataBox unfortunately it appears this isn't a service which makes sense in the Azure Provider. There's a couple of reasons for this:

1. This type of data migration is likely performed as one-off manual job by operators as required - rather than something likely to be provisioned repeatedly in an automated fashion
2. Since

[2020-02-16 07:58] #5770 closed

[2020-02-16 14:23] gilbert-hsu commented on #5675
same problem  with

`azurerm_virtual_machine`
`azurerm_virtual_machine_extension`

[code]
[code]

[2020-02-16 20:24] RJPearson94 commented on #4338
Hi @r0bnet,

It appears the Azure SDK was enhanced to allow the QnA Runtime Endpoint to be supplied in V25, so this issue is now unblocked.
I have opened a PR #5778 to add support for setting this within the azurerm_cognitive_account resource. Is it possible for you to take a look and provide any feedback?

[2020-02-16 23:23] berney commented on #2807
It sounds like more pressure needs to be applied on Azure to make their API and SDK better.

[2020-02-17 01:57] yupwei68 commented on #2315
I'm working on this.

[2020-02-17 05:08] LaurentLesle commented on #3279
@tombuildsstuff are you saying it is broken with the version 2019-11-01 of the networking sdk?

[2020-02-17 05:34] tombuildsstuff commented on #555
@JohnDelisle the `azurerm_virtual_machine` resource is being superseded in version 2.0 by the [`azurerm_linux_virtual_machine`](https://www.terraform.io/docs/providers/azurerm/r/linux_virtual_machine.html) and [`azurerm_windows_virtual_machine`](https://www.terraform.io/docs/providers/azurerm/r/windows_virtual_machine.html) resources which support these delta updates - these are [available as an o

[2020-02-17 06:11] njuCZ commented on #5282
I am working on this issue

[2020-02-17 06:15] #1903 closed

[2020-02-17 08:10] tombuildsstuff commented on #3279
@LaurentLesle last time we took a look at this (November/December) the API (2019-09-01) was broken so this ended up having to be reverted. The [original work can be found in this commit](https://github.com/terraform-providers/terraform-provider-azurerm/commit/6b498367ecda8edeee6fd7222d128469a1c07811) (this is intentionally split-out rather than in-lined) but unfortunately we've not tested 2019-11-

[2020-02-17 08:42] ArcturusZhang commented on #2205
Hi guys, I am currently working on the resources of blueprint, including `blueprint_definition`, `blueprint_artifact` and `blueprint_assignment`.

[2020-02-17 09:26] ma3u commented on #2819
How is the status of this Terraform feature? Our partner and customer need to build-up a PostgreSQL cluster

As I understood the Terraform Azure provider is built on Azure CLI. Create and manage read replicas from the Azure CLI, REST API is available already:

https://docs.microsoft.com/en-us/azure/postgresql/howto-read-replicas-cli

az postgres server configuration set
--resource-group myresource

[2020-02-17 10:27] Blankf commented on #5499
I am having the same experience, it looks like its just shifting order.
in other words, it checks the order and presence of the items, instead of just the presence of the items.

 i am using Terraform v0.12.20 and azurerm 1.44 btw.

[2020-02-17 10:46] ryanps1 opened #5780 "AzureRM Authentication with Service Principal"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-17 11:03] tombuildsstuff commented on #5780
hi @ryanps1

Thanks for opening this issue.

Upon startup the Azure Provider retrieves various information needed (e.g. an access token, the object id being used) from the Azure API's - what you're seeing here (and the change introduced in version 1.38) is the Azure Provider being unable to retrieve the Object ID for the current user which we now cache on launch, rather than retrieving during an a

[2020-02-17 11:03] #5780 closed

[2020-02-17 11:04] vijayraje23 opened #5782 "How to change VM state start/restart/deallocate"
Issues on GitHub are intended to be related to bugs or feature requests with provider codebase,
so we recommend using our other community resources instead of asking here 👍.

[root@localhost terraform]# terraform -v
Terraform v0.12.20
+ provider.azurerm v1.44.0

---

If you have a support request or question please submit them to one of these resources:

* [HashiCorp Community Forums](https://disc

[2020-02-17 11:11] tombuildsstuff commented on #5782
hi @vijayraje23

Thanks for opening this issue.

This forum is intended to be used for feature enhancements and bugs in the Azure Provider - so that we can keep this forum focused on that we instead ask that broader questions are raised [using one of the Community Resources](https://www.terraform.io/community.html).

The Azure Provider itself intentionally doesn't expose the Stop/Start/Deallocate

[2020-02-17 11:11] #5782 closed

[2020-02-17 11:19] timdeluxe commented on #4055
For others stumbling over this and searching for solutions:
Documentation here https://www.terraform.io/docs/providers/azurerm/d/key_vault_secret.html says this:

[2020-02-17 11:23] papagalu opened #5783 "azurerm_sql_elasticpool vcores support"
does anyone plan to introduce the vcore configuration in the azurerm_sql_elasticpool resource?

i already saw an opened issue: [#1745](https://github.com/terraform-providers/terraform-provider-azurerm/issues/1745) with a merged PR [2071](https://github.com/terraform-providers/terraform-provider-azurerm/pull/2071).

but if i search the codebase now, i can't find those changes, nor available documen

[2020-02-17 11:38] schuettecarsten commented on #5352
Any news on this, as it is not fixed in 1.44.0

[2020-02-17 11:40] gek0 opened #5785 "Backend configuration with Service Principal (client secret)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-17 11:53] tombuildsstuff commented on #5352
hi @schuettecarsten

Thanks for opening this issue.

Upon startup the Azure Provider retrieves various information needed (e.g. an access token, the object id being used) from the Azure API's - what you're seeing here (and the change introduced in version 1.38) is the Azure Provider being unable to retrieve the Object ID for the current user which we now cache on launch, rather than retrieving dur

[2020-02-17 11:53] #5352 closed

[2020-02-17 11:55] tombuildsstuff commented on #5783
hi @papagalu

Thanks for opening this issue.

Support for [the vCores pricing model for Elastic Pool can be found in this resource](https://www.terraform.io/docs/providers/azurerm/r/mssql_elasticpool.html) - can you take a look and see if that works for you? Since this is a question rather than a bug in the Azure Provider I'm going to close this issue for the moment but please let us know if that

[2020-02-17 11:55] #5783 closed

[2020-02-17 11:57] tombuildsstuff commented on #5785
hi @gek0

Thanks for opening this issue.

Taking a look into this this appears to be an issue with Terraform Core not automatically loading variables from `*.tf.auto` files - as such this would need to be fixed in that repository. So that you can keep subscribed to that issue would you mind re-opening this issue on [the Terraform Core repository](https://github.com/hashicorp/terraform/issues) so t

[2020-02-17 11:57] #5785 closed

[2020-02-17 12:02] schuettecarsten commented on #5352
@tombuildsstuff Just as an explanation: We access the subscriptions using the "delegated administation" feature from Microsofts CSP program. So, the user should be able to access the graph API for the affected directory as it is a kind of global administrator. Granting the Graph API permission is not as easy as we cannot modify the user rights of delegated administration users (Admin Agents). So,

[2020-02-17 12:22] #5543 closed

[2020-02-17 13:42] a8ree commented on #4420
Was a solution for this found - I have the same issue :(

[2020-02-17 13:46] Pmeholm opened #5787 "import azurerm_app_service_plan error when copying url from azure website"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-17 14:18] idokaplan commented on #5233
Hi,

Same issue when re-running a plan/apply when a VM has been "deleted" via the console. cannot rerun which should re-add the VM.

Is there a workaround for this issue? ETA for fix?

Please advise.
Thanks,
Ido

[2020-02-17 14:21] tombuildsstuff commented on #5787
hi @Pmeholm

Thanks for opening this issue.

As you've mentioned this is due to the Resource ID for this App Service Plan containing `serverFarms` rather than `serverfarms` (which is what we're expecting/the Azure API defines) - as such you should be able to fix this by updating the segment in the URL from `serverFarms` to `serverfarms`. Whilst in some cases some of the Azure API's treat Resource

[2020-02-17 14:21] #5787 closed

[2020-02-17 14:21] r0bnet commented on #4338
Hey @RJPearson94,

for me that looks fine but unfortunately i'm not responsible for merge or something like that. I think that @tombuildsstuff or @katbyte can help here. :)

[2020-02-17 15:30] AlessandroLascu opened #5789 "Custom image + plan block for VMSS (and VM)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-17 15:57] mikebranstein commented on #4135
@katbyte Please reconsider opening this, as v1.33.0 did not address the issue.

As of the 1.33.0 release of DevTest Labs Schedules, a schedule can only be applied to a DevTest Lab via the lab_name property. Azure also uses these schedules to perform automated VM shutdowns for VMs outside of DevTest Labs.

For example, the ARM JSON for such a shutdown schedule is:

[code]

As you can see, the targe

[2020-02-17 16:27] richeney commented on #2205
Will the definition / artifact  be able to pull in a repo containing a collection of JSON files to define the blueprints?

[2020-02-17 16:36] benbelow commented on #5400
Hi @tombuildsstuff, I've just run into some confusion regarding this syntax myself, and thankfully this issue proved helpful in accessing the connection_string property. I'm aware you'd rather not re-open this particular issue, but would it be possible to update the documentation to make this usage a little clearer as it currently stands? https://www.terraform.io/docs/providers/azurerm/r/app_confi

[2020-02-17 16:36] ms1111 commented on #5352
I'm not using a service provider account, and I am not able to `terraform refresh` on 1.44.0, whereas I can on 1.36.1. I'm using an Azure account following the instructions in https://www.terraform.io/docs/providers/azurerm/guides/azure_cli.html

[code]

I'm able to sign into the Graph Explorer, so lack of permissions to the Graph API doesn't seem to be my problem. https://developer.microsoft.com/

[2020-02-17 16:41] ms1111 commented on #5352
This is what I see with `TF_LOG=TRACE` for 1.44.0:
[code]

This is what I see in 1.36.1:
[code]

[2020-02-17 16:49] schuettecarsten commented on #5352
Looks like the Graph API request does not use the correct tenant name/ID...

[2020-02-17 16:52] ms1111 commented on #5352
I see auth_method_azure_cli_token.go is using `az ad signed-in-user show`  which is not supported in azure-cli 2.0.43. Upgrading to azure-cli 2.0.81 fixed it for me.

[2020-02-17 16:53] schuettecarsten commented on #5352
I am also using azure-cli 2.0.81 and it does not work

[2020-02-17 16:57] schuettecarsten commented on #5352
I run the following commands to log into customers subscription:
[code]

After that, `az ad signed-in-user show` fails:
`Resource '00000000-0000-0000-0000-000000000000' does not exist or one of its queried reference-property objects are not present.`

[2020-02-17 17:11] pearcec commented on #5702
I think what is happening here is I was using target to specify a single module which built a group.  I need to build the group first since terraform couldn't figure it out during the run. So it recommended I target it.  Reading through the azurerm provider code looks like it only sets endpoints when needed.  Unfortunately the Bearer token is set with only the endpoint.  Seems like there should be

[2020-02-17 17:26] tombuildsstuff commented on #5702
@pearcec it's worth noting when running inside CloudShell we use MSI rather than the Azure CLI for authentication - so I'm not sure the CLI command will be directly reflective unless that's using MSI for authentication too?

Based on the information above it's entirely possible this is a bug in our code - however this sounds like it could be an issue requesting concurrent access tokens from the MS

[2020-02-17 18:30] pearcec commented on #5702
Uh, I believe I am using MSI.  I don't actually log in with az login.  I just run CloudShell and it authenticates.  I tried creating some quick dummy tests and have not been able to reproduce it.  My dummy tests are not using modules.  Where my actually failure is with modules in use.  I will keep trying to create a reproducible error with an example script.

[2020-02-17 22:20] hashibot[bot] opened #5798 "Dependency not recognized when updating azurerm_key_vault_secret value"
_This issue was originally opened by @jefim as hashicorp/terraform#24135. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files
[code]

### Expected Behavior

When updating secret value then it should trig

[2020-02-17 23:06] conork123 commented on #2217
Hi Guys I can see auditing is available in the azurerm_sql_database resource, but not in the azurerm_sql_serrver resource still. Will this be implemented?

Once applied at the server level it's inherited by any future DB's created. While we can enforce auditing through a DB terraform module, it would be nice to just set this once at the SQL server level.

[2020-02-18 02:30] JohnDelisle commented on #3935
@egorchabala Did you happen to find a way to retrieve the public key required for App Gateway's authentication_certificate?  For App Gateway v2, we also need to add the root certificate's public key.  If you happen to have a working approach for this I'd love to see it!

[2020-02-18 03:23] njuCZ commented on #5282
for now, there is no rest api for databricks clusters
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/databricks.json

[2020-02-18 04:35] ArcturusZhang commented on #2205
Well, the `parameters` and `resource_groups` will be implemented in JSON string similar with the resource `azurerm_template_deployment` aka ARM template, which should supports to import a file from external source. But I am not quite sure whether this approach will support source files from github repo.

[2020-02-18 04:37] StefanSchoof commented on #5798
This sounds like #3129

[2020-02-18 06:14] jefim commented on #5798
It is exactly the same thing I believe. I think that this can be closed as duplicate then.

[2020-02-18 11:47] BadgerCode commented on #3452
Is there anyone that could take a look at this?
These features are incredibly useful.

We've had to make do with ARM templates for the past 7 months.

[2020-02-18 12:45] celloist opened #5802 "https://github.com/terraform-providers/terraform-provider-azurerm/issues/5266 still having the same behavior in 1.44.0"
The ticket  https://github.com/terraform-providers/terraform-provider-azurerm/issues/5266 was closed but i had move to azurerm 1.36.1 to test locally. Version 1.44.0 still gives the same error.
To reproduce test locally with terraform plan.
[code]

[2020-02-18 13:11] tombuildsstuff commented on #5802
hi @celloist

Thanks for opening this issue.

Upon startup the Azure Provider retrieves various information needed (e.g. an access token, the object id being used) from the Azure API's - what you're seeing here (and the change introduced in version 1.38) is the Azure Provider being unable to retrieve the Object ID for the current user which we now cache on launch, rather than retrieving during an

[2020-02-18 13:11] #5802 closed

[2020-02-18 13:49] #3298 closed

[2020-02-18 13:49] #2234 closed

[2020-02-18 14:11] egorchabala commented on #3935
@JohnDelisle what's the need of adding root certificate's public key? For backend SSL encryption? If yes, this is naively supported in Terrafrom resource

[2020-02-18 15:01] skalragg commented on #3279
@tombuildsstuff any timeline for retesting / or is there any way to use the previous commit
Thanks

[2020-02-18 15:30] BClev commented on #5767
Same issue here. Getting identical error as #5616
 (obfuscated personal info)
Error is:
Can not parse "source_image_id" as a resource id: ID contained more segments than required: "/subscriptions/*/resourceGroups/*/providers/Microsoft.Compute/galleries/*/images/image-name-here"

[2020-02-18 16:20] Marcus-James-Adams opened #5804 "azurerm_linux_virtual_machine - Blocks of type "certificate" are not expected here"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request

### Terraform (and A

[2020-02-18 16:50] tombuildsstuff commented on #5804
hey @Marcus-James-Adams

Thanks for opening this issue.

The `certificate` block for the `azurerm_linux_virtual_machine` (and `azurerm_windows_virtual_machine`) resources is nested within a parent `secret` block - as such you should be able to update this like so:

[code]

Would you be able to take a look and see if that works for you? Since this is a question rather than a bug in the Azure Provid

[2020-02-18 16:50] #5804 closed

[2020-02-18 18:44] nexxai commented on #4240
Hey @tombuildsstuff

Any chance this could be integrated into the provider?

[2020-02-18 18:49] #3302 closed

[2020-02-18 18:49] #3749 closed

[2020-02-18 18:49] #4818 closed

[2020-02-18 21:03] cholm321 commented on #5780
I experience the same message in an Enterprise company exercising principles of least privileged access. On the other hand I can run the exact same workload on my own private Azure Subscription (without strict security in place).

In the Enterprise, the Service Principal has API permission Directory.Read.All (Application) on the Azure AD Graph API.
But that is apparently not enough.

Could you add

[2020-02-18 21:58] jaredtrog opened #5809 "Support for Custom Routes on an Azure Virtual Network Gateway Point to Site VPN"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-18 22:20] ghost opened #5810 "azurerm_monitor_autoscale_setting - end date in recurrence?"
_This issue was originally opened by @ukhan262 as hashicorp/terraform#24152. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

It seems like that end date is not allowed in recurrence. By default, the value in hours just adds the start time .. does this feature even

[2020-02-19 07:19] #5010 closed

[2020-02-19 08:20] MartinKosicky opened #5813 "azurerm_kubernetes_cluster data source doesn't return the vlan when created automatically"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-19 08:53] ArcturusZhang commented on #5738
I have already implemented this feature in this [PR](https://github.com/terraform-providers/terraform-provider-azurerm/pull/5391).
But this feature only updates the 2.0 vmss resources, `azurerm_linux_virtual_machine_scale_set` and `azurerm_windows_virtual_machine_scale_set`, the legacy vmss resource `azurerm_virtual_machine_scale_set` will not receive any further features.

[2020-02-19 08:57] #5672 closed

[2020-02-19 09:08] rmihael commented on #4460
Is it anywhere on the roadmap? This is a major limiting factor for CosmosDB provisioning through Terraform.

[2020-02-19 09:09] ArcturusZhang commented on #5677
Hi @juanjojulian as far as I know, the valid scope of a policy assignment can only be one of the following:
1. management group (format: `/providers/Microsoft.Management/managementGroups/{managementGroup}`
1. subscription (format:
`/subscriptions/{subscriptionId}`
1. resource group (format: `/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}`
1. resource (format: `/subscriptions/{s

[2020-02-19 09:39] juanjojulian commented on #5677
Hi @ArcturusZhang  thanks for your reply. "/providers/Microsoft.Management/managementgroups/MyGroup/Spoke" is a Management Group which ID is "Spoke".
Take into account that management groups can be nested in the following form: /providers/Microsoft.Management/managementGroups/{managementGroup}/{managementGroup}. In my case "Spoke" management group is a child of "MyGroup" management group.

Hope I

[2020-02-19 09:48] ArcturusZhang commented on #5677
I see. So is the mgmt group `MyGroup` is the parent of `Spoke` if I understand this right? I am going to try if I can reproduce your issue, and then may figure out a way to fix this.

[2020-02-19 09:58] juanjojulian commented on #5677
Yes, that's correct. Thanks, I really appreciate it :-)

[2020-02-19 10:21] #5612 closed

[2020-02-19 11:24] tombuildsstuff commented on #5767
@BClev FYI that's been fixed via #5640 which will ship in 2.0

[2020-02-19 12:32] mcalster commented on #3203
Any progress on this?

[2020-02-19 12:41] ecottd commented on #3951
Also looking forward to getting this feature as well as the action rules to tie everything together. Thanks for working on this.

[2020-02-19 13:47] celloist commented on #5802
Thanks for clarification Tom!

[2020-02-19 13:48] devedse commented on #4868
@fabiotito @tracypholmes , I'm running into the same issue:

[code]

[2020-02-19 13:50] sdhibit opened #5818 "azurerm_recovery_services_vault - subscription could not be found in Azure Government"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-19 14:21] sylr opened #5819 "NSG security_rule diff are too big when optional properties are not defined"
### Terraform (and AzureRM Provider) Version

[code]

### Affected Resource(s)

* `azurerm_network_security_group`

### Terraform Configuration Files

[code]

### Expected Behavior

A change in a security_rule of a NSG should display a diff explaining that only the modified security_rule will be modified

### Actual Behavior

The security_rule sets are composed of mutually exclusive properties:

[2020-02-19 14:39] rbarna1 commented on #5767
The commit looks like it required significant change to shared as well as azurerm_linux_virtual_machine.

Will azurerm_**windows**_virtual_machine really work as a result of that commit to 2.0?

[2020-02-19 14:45] devedse commented on #4868
I saw that my comment was marked as off-topic.

Was I wrong in assuming that the issue I'm running into is the same issue as the one in this topic? (If so, could you maybe point me to the place where I can get more information on solving my problem)?

[2020-02-19 15:10] tombuildsstuff commented on #4868
@devedse we minimize comments which are "+1's" / "I'm also running into this issue" as per the "Community Note" (above) since these mirror the contents of the issue. Since there's a lot of folks subscribed to this repo - we ask instead that folks use the 👍 button to show they're having the same issue too, since this shows the same thing without sending each person a notification

But to your point

[2020-02-19 15:14] rbarna1 commented on #5767
Ok, so no traction here.
@tombuildsstuff I see you marked this as an enhancement.  Does that mean you think this ought to work but that it appears not to?  Or should I post this another way to get some visibility.

[2020-02-19 18:05] dwizzle204 opened #5820 "OnlyOneGroupIdPermitted Private link service connection"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-19 18:12] brenak commented on #3696
You can fix this from resource explorer:

https://resources.azure.com/

Head into "Subscriptions, resourceGroups, PICK_RESOURCE_GROUP, providers, Microsoft.Web, sites, YOUR_APP_SERVICE, config, web

Once there select "Read/Write" at teh top by your account/name.

Click on Edit

Find:  scmType

Change it from "Github" to "None"

Hit "Patch".

Now when you go back to the app service in Azure Portal,

[2020-02-19 21:12] chris-redekop opened #5822 "Support for Bot Framework's Direct Line Channel"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-20 09:05] tombuildsstuff commented on #5525
Fixed via #5801

[2020-02-20 09:05] #5525 closed

[2020-02-20 09:06] tombuildsstuff commented on #4983
Fixed via #5801

[2020-02-20 09:06] #4983 closed

[2020-02-20 09:22] magodo commented on #5819
@sylr
Thank you for openning this issue.

I think this is because of the schema definition of `security_rule`, which is of type `schema.TypeSet`. So if the `security_rule` is not changed at all, its index in the set is fixed. However, once terraform resolves there is a diff, then during it is generating the execution plan, it will form the target state of NSG, whose index for `security_rule` in se

[2020-02-20 09:31] tombuildsstuff commented on #5055
hi @dcfsc

Thanks for opening this issue / apologies for the delayed response here!

The DNS Servers for a Network Interface can be set either at the Virtual Network/Subnet level and/or on the Network Interface, in which case they'll override this. In order to be able to model this in Terraform the field needs to be `Computed` which means that if no value's specified we'll use the value provided b

[2020-02-20 09:31] #5055 closed

[2020-02-20 09:48] tombuildsstuff commented on #5819
@magodo unfortunately that won't work since this response is intentionally unordered in the Azure API

[2020-02-20 09:56] #5591 closed

[2020-02-20 10:04] magodo commented on #5819
@tombuildsstuff
If it is unordered in API response, then `list` doesn't fit here. So I wonder why does the un-modified rules be replaced? Does it mean the default `SchemaSetFunction` is not deterministic?

[2020-02-20 10:28] sylr commented on #5819
According to me there are two problems:

- Properties returned empty by Azure vs. Undeclared optional properties in tf files that are considered `nil`.
- Terraform Set items that are not ordered and do not have uniq keys.

@tombuildsstuff I tried to do this:

https://github.com/sylr/terraform-provider-azurerm/blob/5337d59ae923711f8434222943870cb1c837c1d3/azurerm/internal/services/network/data_sour

[2020-02-20 10:31] sylr commented on #5819
I also tried to order the security_rules based on the uniqness of `direction` & `priority`

https://github.com/sylr/terraform-provider-azurerm/blob/5337d59ae923711f8434222943870cb1c837c1d3/azurerm/internal/services/network/resource_arm_network_security_group.go#L497-L535

It does not reflect in the plan output.

[2020-02-20 10:45] #1871 closed

[2020-02-20 10:59] abhijithkumar123 commented on #3203
When I set content_format as "swagger-link-json" and try to import an openapi v3 spec file, I get the following error:

StatusCode=404 -- Original Error: autorest/azure: error response cannot be parsed: "" error: EOF

Is there a workaround for this?

[2020-02-20 11:42] magodo commented on #5819
I also tried to define the Set function. It turns out this function doesn't only compute the index of item in set, but also used to tell whether the element has been changed. So if you hash by "direction", then you have to modify "direction" so that terraform can pick up the diff.

Another clue is that terraform support nil value in root level propert, but doesn't for nested property. So if, for i

[2020-02-20 12:43] RJPearson94 commented on #4338
Thanks @r0bnet.

@tombuildsstuff & @katbyte are you able to take a look at the PR? As it would be great if it could go out as part of the 2.0.0 release.

[2020-02-20 12:57] vijayraje23 opened #5828 "Getting Error: Cycle while creating azure VM and NIC using existing resources"
Issues on GitHub are intended to be related to bugs or feature requests with provider codebase,
so we recommend using our other community resources instead of asking here 👍.

---
I have existing resources like Resource group, NSG,Storage account, subnet and vnet, while creating azure VM and NIC getting below error or validate and plan.

[root@terraformvm terraform]# terraform validate
Error: Cycle

[2020-02-20 13:07] tombuildsstuff commented on #5828
hi @vijayraje23

Thanks for opening this issue.

This forum is intended to be used for feature enhancements and bugs in the Azure Provider - so that we can keep this forum focused on that we instead ask that broader questions are raised [using one of the Community Resources](https://www.terraform.io/community.html). As such I'm going to close this issue for the moment, but I believe you should be

[2020-02-20 13:07] #5828 closed

[2020-02-20 13:26] sylr commented on #5819
Absolutely, I think the schema really needs something like a `SetItemKey` property accepting a function so that the plan can do diffs inside Set items.

[2020-02-20 13:42] slime-uk commented on #1990
Good info here but looks like we need to wait until AzureRm provider 2.0 for this.

[2020-02-20 15:13] mathcantin opened #5829 "Error retrieving the AuthSettings for App Service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request

### Terraform (and A

[2020-02-20 18:11] jrjohnson87 commented on #5573
Can see this was reported and fixed 1.43 👍

[2020-02-20 18:11] #5573 closed

[2020-02-20 18:21] JohnDelisle commented on #3935
@egorchabala  yes, that's correct, if I understand the requirement correctly this is needed for root CA and the certificate on the backend pool too.  I've since discovered that because my backend pool certs are issued by a well-known CA that I did not need to include either for App Gw to work.. it was happy without this.

If I wasn't using a well-known CA, I imagine I could have put the root CA (a

[2020-02-20 18:33] ctooley21 commented on #4431
any update? this feature would be very helpful on our terraform setup. currently creating automation account manually as we require a RunAsAccount for some of our runbooks.

[2020-02-20 18:51] brandonh-msft commented on #5663
ping @tombuildsstuff

[2020-02-20 19:47] egorchabala commented on #3935
@JohnDelisle Unfortunately, I'm not aware about this. In general, you either have two different certificates (trusted SSL cert for external publishing and self-signed SSL cert for backend pool) or have no need to specify certificate at all (in case backend SSL use trusted SSL cert)

[2020-02-20 20:30] joedoss opened #5830 "Support for trafficAnalyticsInterval in azurerm_network_watcher_flow_log"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-20 20:48] prasadker commented on #4868
@grayzu Do we have any update on this issue?

[2020-02-20 23:39] crumbling commented on #3696
Hi, I think I have a problem related to this issue. I think due to the changes on the repo_url its no longer accessible. When attempting to apply terraform complains that .repo_url doesn't exist even though when I inspect the state file it does. The other issue is the url that is given doesn't have the resource.git file appended to its path

 ${azurerm_app_service.this.source_control.repo_url} giv

[2020-02-21 04:46] juanjojulian opened #5836 "azurerm_storage_account default account_kind should be StorageV2 instead of Storage"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-21 04:51] StefanSchoof commented on #5836
The az cli had changed recently with the 2.1 version: https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md#storage

[2020-02-21 07:29] #5686 closed

[2020-02-21 07:41] njuCZ commented on #5547
@bbkane I have fixed this issue, please wait for the PR being merged

[2020-02-21 08:34] magodo commented on #5819
Hi @sylr

You are right, but only for `TypeString`.

When generating the plan, terraform will ultimately call [diffString](https://github.com/hashicorp/terraform-plugin-sdk/blob/master/helper/schema/schema.go#L1302) to resolve the attribute diff for string fields of `security_rule`. The old value represents the one in state, which because of nested block will be "auto" fill nil fields as its zero

[2020-02-21 10:17] rdbartram commented on #5464
I know this bug...really annoying but easily worked around with this.

[code]

[2020-02-21 11:27] iandvt commented on #2217
+1 - This is included in the CIS benchmarks and is available on the database resource but no the server. This is preventing my company from implementing proper IAC for CIS benchmarks.

[2020-02-21 13:53] #5818 closed

[2020-02-21 14:01] jeromewaibel opened #5840 "Support for managing keys and values in app configuration"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-21 14:23] #1812 closed

[2020-02-21 14:31] #3355 closed

[2020-02-21 14:42] #5750 closed

[2020-02-21 16:25] SadokLadhari commented on #3930
Any news about this ! can any one give me a status please ?

[2020-02-21 17:46] #1329 closed

[2020-02-21 18:05] #4868 closed

[2020-02-21 20:39] #5464 closed

[2020-02-21 21:24] danrb1978 commented on #5780
Hi @cholm321 , @tombuildsstuff , @ryanps1,

Thanks for this information,

While researching this, I learned a condition that can cause this which was unexpected.

I am using the ARM_CLIENT_ID to set my service principle ID. Previous versions of azurerm allowed this to be a "friendly name", however now must be set to the appId/GUID for the service principal.

This misconfiguration causes the Graph

[2020-02-21 23:02] roshanp85 opened #5843 "Using Azure Vnet Peerings across subscriptions - Terraform"
I am using the below code to peer my created vnet with an existing Vnet in a separate subscription.

provider "azurerm" {
alias = "core"
subscription_id = "REMOTESUBID"
tenant_id = "CurrentTenantID"
client_id = "ClientIDConstant"
client_secret = "ClientIDConstant"
}

data "azurerm_virtual_network" "remotevnet" {
provider = "azurerm.core"
name = "co-np-eastus-core1-vnet"
resource_group_name = "co-n

[2020-02-22 11:31] geekzter opened #5845 "azurerm_network_watcher_flow_log resource is no longer destroyed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-22 21:31] aristosvo opened #5846 "Support for changes in load balancer profile AKS after creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-22 21:55] aristosvo commented on #5813
I want to pick this up

[2020-02-23 00:22] roshanp85 commented on #5843
Current state is I'm able to see the resourceGroup and VirtualNetwork Details in the terraform state file which is correct. But while interpolating as "data.azurerm_resource_group.rgname.name", in azurerm_virtual_network_peering resource, it always gives me the error as :

azurerm_virtual_network_peering.coretovnet: network.VirtualNetworkPeeringsClient#CreateOrUpdate: Failure sending request: Stat

[2020-02-23 08:52] tombuildsstuff commented on #5843
hi @roshanp85

Thanks for opening this issue.

This forum is intended to be used for feature enhancements and bugs in the Azure Provider - so that we can keep this forum focused on that we instead ask that broader questions are raised [using one of the Community Resources](https://www.terraform.io/community.html). As such I'm going to close this issue for the moment, but I believe you should be ab

[2020-02-23 08:52] #5843 closed

[2020-02-23 13:35] rohrerb opened #5849 "Logic App support outgoing ip addresses in the resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-23 14:41] aristosvo commented on #5763
See https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#additional-considerations. Although it's appealing, it would be against Microsoft's advice:

[2020-02-23 17:46] #438 closed

[2020-02-23 21:17] #5766 closed

[2020-02-24 01:27] magodo commented on #5849
I'll look into this.

[2020-02-24 02:02] magodo commented on #5849
@rohrerb

Those two properties are not supported in current go sdk, I have submitted another [issue](https://github.com/Azure/azure-sdk-for-go/issues/7499) in azure go sdk repo to ask for a version update. After which, we can come back to implement what you need.

[2020-02-24 02:19] njuCZ commented on #5840
kv operations in app configuration is a data-plane api, currently there is no go sdk for it currently

[2020-02-24 02:57] lsongcoles commented on #5601
@tombuildsstuff just would like to know is there any update for this?

[2020-02-24 03:08] conork123 commented on #4482
@kraihn any idea when this will be?

There should also be the ability to create a subscription without the product_id, as in the portal you can create it against a 'scope' which can be the ID of a single API, rather than a product which would be a collection of APIs

[2020-02-24 03:52] njuCZ commented on #5633
hello @Bessonov, I can reproduce this bug. I tested using the snippet, dns name was set correctly and dns resolution is correct. Could you give more details about how to reproduce it ?

[2020-02-24 04:02] enorlando commented on #1083
Do we have an update of when route filters will be available please?

[2020-02-24 04:07] ArcturusZhang commented on #5677
Well, first I am trying to create a management group with an ID of the format you are using, but I failed on that. My management group can only be in form of `/providers/Microsoft.Management/managementGroups/TestChild` even when it is a child of other management groups.
And I have some investigation on the api-versions listed in the error message. It is a super-set of all supported api-versions fo

[2020-02-24 05:50] #5836 closed

[2020-02-24 06:48] aqche commented on #5713
I can take a look into getting a PR up for this!

[2020-02-24 06:54] #658 closed

[2020-02-24 06:54] #3820 closed

[2020-02-24 08:33] juanjojulian commented on #5677
Ok, your are completely right.
I'm completely nuts and embarrassed :-(
And the error response from Azure API makes no sense.

As you said, I was using the wrong ID for the child management group, correct one is:

[code]
Instead of
[code]

Thanks for your help and sorry for the inconvenience, I will close this issue now.

[2020-02-24 08:33] #5677 closed

[2020-02-24 08:49] robinmanuelthiel opened #5856 "Support for azurerm_redis_cache - Primary connection string attribute"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-24 09:06] #4627 closed

[2020-02-24 09:09] tombuildsstuff commented on #5608
👋🏻

Thanks to everybody who tried the beta resources - as we'll be releasing version 2.0 of the Azure Provider later today, I'm going to close this issue for the moment.

Thanks!

[2020-02-24 09:09] #5608 closed

[2020-02-24 09:14] jnancel opened #5857 "Support for setting API Management capacity per region"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-24 09:32] njuCZ commented on #5713
@aqche I am sorry it seems I have made a duplicate work...... I will close my PR. And would you mind to add more fields support in your PR: such as `enable_streaming_ingest`

[2020-02-24 09:41] tombuildsstuff commented on #2807
👋

Thanks for all of the input here - we've finished up the major changes needed for version 2.0 of the Azure Provider - and as such I'm going to close this meta issue for the moment. As this meta issue is assigned to the 2.0 Github milestone - @hashibot will comment when the 2.0 release of the Azure Provider is available.

Thanks!

[2020-02-24 09:41] #2807 closed

[2020-02-24 10:03] dlm69 opened #5859 "Support for Azure Media Services Configuration Options"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-24 10:06] archmangler commented on #5591
Thanks!

[2020-02-24 11:12] hbuckle opened #5860 "azurerm_virtual_machine_scale_set_extension not running"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request

### Terraform (and A

[2020-02-24 11:47] RyanLWilliams opened #5861 "Change Provision VM Agent default to true"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-24 12:08] hbuckle commented on #5860
I think I figured this out - because the extension is added to the scale set after it is created Azure does not run the extension on existing instances. If you add a new instance to the scale set then the extension is run, or Upgrade the existing instances to the latest model.
I believe setting upgrade_mode to Automatic would achieve this, but that requires a health probe to be configured as well.

[2020-02-24 13:15] baboune commented on #5583
We need this urgently.   Could the associated PR be moved forward?

[2020-02-24 15:51] frankvdbh commented on #5208
We have taken the workaround from here: https://github.com/terraform-providers/terraform-provider-azurerm/issues/5622

[2020-02-24 16:13] gk-fschubert commented on #875
Hey, the problem still exist. Is there a plan to fix this? Best Regards

[2020-02-24 16:26] mikebranstein opened #5863 "Feature Request: DevTest Lab Schedules support for ComputeVmShutdownTask task type"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-24 16:58] akamalov opened #5864 "Error 400 on Creating CosmosDB with Private Link"
Greetings,

*Environment:*
[code]

Trying to deploy CosmosDB on Azure with Private Link. Followed Microsoft guidelines on disabling network policies for private link -  https://docs.microsoft.com/en-us/azure/private-link/disable-private-endpoint-network-policy. Getting an error 400, which is very generic in nature.

*Code:*

**File: main.tf**
[code]

*Error:*

[code]

This error ```400``` is happe

[2020-02-24 17:13] PSanetra opened #5865 "azurerm_postgresql_server fails on update if auto_grow was triggered"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-24 17:23] jogleasonjr commented on #1126
Zone redundancy has been added to version 2.0 of the provider:

https://www.terraform.io/docs/providers/azurerm/r/sql_database.html#zone_redundant

[2020-02-24 18:21] AntonChernysh commented on #2579
Looks like it's fixed now in https://github.com/terraform-providers/terraform-provider-azurerm/releases/tag/v2.0.0
I'll give it a try Tomorrow.

[2020-02-24 18:46] alastairtree opened #5866 "Features being required in V2 breaks V1 usage with unpinned providers"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-24 19:09] drdamour commented on #5866
i just came here to report this same breakage.  But i think the ticket doesn't complain enough.  In the docs

https://www.terraform.io/docs/configuration/terraform.html#specifying-required-provider-versions says

we tf init and tf validate our reusable modules during their CD pipeline, and they all just broke today because features is now required. We pessimistic locked them to work around this, b

[2020-02-24 19:49] sai-ns opened #5867 ""features": required field is not set error for Storage account resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-24 19:51] kensykora commented on #5499
We are experiencing this same issue as well.

[2020-02-24 20:23] alastairtree commented on #5867
Looks like a dupe of #5866 - you need to pin to version 1 of the azurerm provider.

[code]

[2020-02-24 20:25] DSakura207 commented on #5867
You have to define `features` block with 2.0 provider.
Everything in it is optional, but you need it.
See https://www.terraform.io/docs/providers/azurerm/index.html#argument-reference.
[code]

[2020-02-24 20:31] Tasilv opened #5868 "Azure Terraform provider should have a way to get a data block with the list of zones for a region"
**Azure Global Feedback Owner:** Muazma Zahid
**ADO Feedback 19444**
**Exit Criteria / Customer Goal State**
Terraform provider requires you to specify a list of zones to use when creating a resource and fails if that region does not have those zones. there should be a way to get the list of supported zones in a region through the Terraform CLI.
**Description / Customer Scenario**
I want to write

[2020-02-24 20:35] alastairtree commented on #5867
@DSakura207 yes thats correct, sorry, should have made clear the 1.X pinning is only require if you dont want to upgrade yet.

[2020-02-24 20:46] sai-ns commented on #5867
@DSakura207 thank you. It worked!!
Been waiting for this update for a while to support blob_properties and static_website. But running into issues enabling static_website. Will try to do more digging on it

Error: Error updating Azure Storage Account `static_website` "storageaccountnamedemo": azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request tohttps://storageaccount

[2020-02-24 21:00] DSakura207 opened #5869 "Permission Error while getting blob service properties"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-24 21:15] DSakura207 commented on #5867
@sai-ns That is ... fun. My error is 403, and I have not tried running it twice. I filed a bug report, but maybe it also had something to do with Microsoft.
Anyway, I'll try again with 2.0 again. Hopefully it works.

[2020-02-24 21:48] DSakura207 commented on #5866
I think the document should be revised.
According to https://www.terraform.io/docs/extend/best-practices/versioning.html, providers are recommended to adopt semantic versioning. Therefore, a re-usable module should lock major versions of its dependencies, to protect user from upstream breaking changes.

[2020-02-24 22:47] jknash opened #5871 "azurerm_netapp_volume does not allow smb volumes to be created"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-25 00:02] mfilotto opened #5872 "Support for iot hub message-enrichment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-25 00:23] Bungleboy opened #5873 "frontendPortRangeEnd does not appear to be being parsed correctly in Azure Batch Pools"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-25 00:59] markti opened #5874 "Invalid parameter: Either encodedCertificate or keyVaultId should be provided to retrieve the custom SSL certificate for type: Proxy and hostname : {my_custom_hostname}"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-25 01:02] WodansSon commented on #4642
@aksakalli Sorry for the late reply, I've been head down in other areas. I'm glad you found a resolution for the issue, in your opinion do you feel there is anything else to be done here? Do you feel the name of the attribute is confusing? Do you feel if we renamed the attribute from `principal_id` to `principal_object_id` it would be more intuitive as to the expected value here? The [documentatio

[2020-02-25 01:26] aqche commented on #5713
Sorry @njuCZ, I didn't mean to end up duplicating work. I'll pull your commits into my PR to make sure the effort you put in will be included!

[2020-02-25 02:42] WodansSon commented on #5622
@jeffddix , Thank you for opening this issue however this is a duplicate of #5208 so if you don't mind I am going to go ahead and close this issue in favor of the other one as it was opened first. That will make keeping track of this request easier to maintain. Thanks again... cheers!

[2020-02-25 02:42] #5622 closed

[2020-02-25 03:31] lindaburns commented on #5867
I tried creating a Simple test Resource group, but kept getting the error specified in 'Actual Behavior'.  I had to use version 1.44, and it worked nicely and created the resource group.  2.0 did not work for me.

[2020-02-25 04:14] njuCZ commented on #5280
@jdamata now the Azure Cache for Redis service does not support multiple zones, so there is such restriction in terraform. If multi zones feature is supported, we will get ride of this limitation

[2020-02-25 05:15] johnnyhuy commented on #3951
`2.0.0` just released, will this be included soon?

[2020-02-25 06:29] jdamata commented on #5280
It appears that multiple zones are supported
looking at https://docs.microsoft.com/en-us/azure/templates/microsoft.cache/2018-03-01/redis and https://docs.microsoft.com/en-us/cli/azure/redis?view=azure-cli-latest#az-redis-create

[2020-02-25 07:27] njuCZ commented on #5280
@jdamata in the rest api, this field is actually an array, but currently it only supports one element: 1, 2 or 3. The service does not support multi-zones for now. you can try the az cli, it can only support one zone too

[2020-02-25 08:43] squasta opened #5880 "Documentation is not clear about azurerm provider definition for version 2.0.0 and features"
Hi, I spend few hours try to understand why a so simple code like the following was not working with the lastest azurerm provider :

[code]

If I run `terraform plan` and then type the values of AzureRegion and ResourceGroupName, I get the following error message : **Error: "features": required field is not set**

Fixing the azurerm provider to a 1.x version using the following code, solve the iss

[2020-02-25 08:44] martinbjorgan commented on #875
@gk-fschubert Azure requires the subnet associated with the virtual network gateway to be named 'GatewaySubnet'.
Same as for the azure firewall for example, this subnet needs to be named 'AzureFirewallSubnet'

[2020-02-25 09:01] squasta commented on #5867
Like sai-ns already wrote : add the following code to your terraform code

[code]
I spend few hours yesterday on a simple Azure Pipeline (that was using a simple tf code to deploy a RG) because of that. Seems like now the provider block is mandantory (it was highly recommended before)

[2020-02-25 09:32] sunilmehta786 opened #5882 "Can not parse "key_vault_id" after updated provider "azurerm" { version = "~> 2.0.0" features {} }"
Error: Can not parse "key_vault_id" as a resource id: The number of path segments is not divisible by 2 in ""

after update azurerm provider =

provider "azurerm" {
    version = "~> 2.0.0"
   features {}
}

[2020-02-25 09:34] gk-fschubert commented on #875
@martinbjorgan, sorry for the misunderstanding. I thought it was a bug because you can "choose" the name

[2020-02-25 10:10] aaaaasam opened #5883 "Can not get data.azurerm_policy_definition id by using simplified Chinese Policy name"
### Run normally
[code]
## Run Error
[code]

### Debug Output

[code]

[code]

### Important Factoids

[code]

[2020-02-25 11:21] aksakalli commented on #4642
I was expecting identical behavior to `az role assignment create`. I should have noticed the docs, it is really clear.

[2020-02-25 11:21] #4642 closed

[2020-02-25 12:24] mjunker commented on #4482
Any update on this?

[2020-02-25 12:31] AntonChernysh commented on #5755
it works now in Azurerm provider 2.0.0 when changing variable type to list, like this:
[code]
module invocation is updated too:
[code]
and for_each updated as well:
`for_each = var.site_config`

**Terraform crashes on `plan` with exactly the same setup, so it doesn't work in 1.44.0:**
[code]

[2020-02-25 12:33] seb-brack commented on #5871
To accommodate potential future enhancements of ANF I suggest adding a List(String) instead of a simple String to the configuration:

`protocols = ["smb"]`

[2020-02-25 13:17] woeterman94 opened #5884 "Error creating/updating App Service Plan (Message="Property id '' at path 'properties.hostingEnvironmentProfile.id' is invalid)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-25 14:00] kendaleiv opened #5885 "Version 2.0.0 shows unexpected missing features error when provider alias is provided"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-25 14:24] HumanJoubert commented on #5354
Hi

Do we know if this issue has been fixed yet ?

[2020-02-25 14:24] woeterman94 commented on #5867
Do we need the
`feature{} `part? What does it do?

[2020-02-25 14:28] woeterman94 commented on #5884
Put
[code]
On top of my terraform file, app service plan steps keep failing

[code]

[2020-02-25 14:40] fajanssen commented on #5867
@woeterman94 yes it is required as of version 2.0.0.

You can find more information on this in the docs: https://www.terraform.io/docs/providers/azurerm/index.html#features-2

[2020-02-25 15:01] lukerosser opened #5886 "Invalid name length restriction on azurerm_windows_virtual_machine_scale_set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-25 15:11] akingscote commented on #3132
@tomasaschan
Dosent look like those WinRM settings work with the Win10 image im trying:
[code]

[2020-02-25 16:04] #5886 closed

[2020-02-25 16:06] lukerosser commented on #5886
Apparently the limit is 15 characters for Windows scale sets... must have missed that one!

[2020-02-25 16:10] ssrirama-aka commented on #5880
@squasta The requirement for features {} block was described in the 2.0.0 release notes.

https://github.com/terraform-providers/terraform-provider-azurerm/releases/tag/v2.0.0

But I agree with you, this and other requirements must be rolled into the provider documentation. I suggest that, in addition to the Azure Provider landing page update, the features {} should be called out in the Azure Prov

[2020-02-25 16:44] paulomarquesc commented on #5871
@sed-brack, yes, you're correct, this property is being exposed in the PR you just referenced.

[2020-02-25 16:47] GregoryFrance commented on #5884
Maybe this issue is only about azurem v 2.0.0
If you can stay on version 1.44, may be you can try to force version:

provider "azurerm" {
  version = "=1.44.0"
}

[2020-02-25 16:50] jknash commented on #5871
@paulomarquesc

PR 5485 looks like it references NFS though.  Can that same property be used to specify that it should be an SMB volume?

[2020-02-25 16:59] woeterman94 commented on #5884
See above. I did set the version to 1.44.

[2020-02-25 17:10] paulomarquesc commented on #5871
It is for all available protocols, CIFS, NFSv3 and NFSv4.1.

[2020-02-25 17:16] mslentz opened #5888 "After upgraded to azurerm 2.0.0 - The provider provider.azurerm does not support resource type "azurerm_subnet_network_security_group_assocation""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request

### Terraform (and A

[2020-02-25 18:20] hashibot[bot] opened #5889 "This object has no argument, nested block, or exported attribute named "private_ip"."
_This issue was originally opened by @endejoli as hashicorp/terraform#24189. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
[code]
### Terraform Configuration Files
[code]

### Expected Behavior
[code]
### Actual Behavior
[code]
### Steps to

[2020-02-25 18:20] hashibot[bot] opened #5890 "This object has no argument, nested block, or exported attribute named "private_ip"."
_This issue was originally opened by @endejoli as hashicorp/terraform#24189. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
[code]
### Terraform Configuration Files
[code]

### Expected Behavior
[code]
### Actual Behavior
[code]
### Steps to

[2020-02-25 18:20] hashibot[bot] opened #5891 "terraform always asks for login if AZURE_CONFIG_DIR is different from the default"
_This issue was originally opened by @rnsc as hashicorp/terraform#24193. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Crash Output

[code]

### Expected Behavior
Terraform should supp

[2020-02-25 18:20] hashibot[bot] opened #5892 "terraform always asks for login if AZURE_CONFIG_DIR is different from the default"
_This issue was originally opened by @rnsc as hashicorp/terraform#24193. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Crash Output

[code]

### Expected Behavior
Terraform should supp

[2020-02-25 18:20] hashibot[bot] opened #5893 "Error: "features": required field is not set"
_This issue was originally opened by @axelthimm as hashicorp/terraform#24200. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
Terraform v0.12.21
+ provider.azurerm v2.0.0

[code]

### Terraform Configuration Files
[code]

### Debug Output
[co

[2020-02-25 18:20] hashibot[bot] opened #5894 "Error: "features": required field is not set"
_This issue was originally opened by @axelthimm as hashicorp/terraform#24200. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
Terraform v0.12.21
+ provider.azurerm v2.0.0

[code]

### Terraform Configuration Files
[code]

### Debug Output
[co

[2020-02-25 18:20] hashibot[bot] opened #5895 "Error: Can not parse "key_vault_id" as a resource id: The number of path segments is not divisible by 2 in "" in provider "azurerm" { version = "=2.0.0" features {} }"
_This issue was originally opened by @sunilmehta786 as hashicorp/terraform#24207. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Error: Can not parse "key_vault_id" as a resource id: The number of path segments is not divisible by 2 in ""
provider "azurerm" {
  v

[2020-02-25 18:20] hashibot[bot] opened #5896 "Error: Can not parse "key_vault_id" as a resource id: The number of path segments is not divisible by 2 in "" in provider "azurerm" { version = "=2.0.0" features {} }"
_This issue was originally opened by @sunilmehta786 as hashicorp/terraform#24207. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Error: Can not parse "key_vault_id" as a resource id: The number of path segments is not divisible by 2 in ""
provider "azurerm" {
  v

[2020-02-25 18:20] hashibot[bot] opened #5897 "Using features {} with azurerm provisioner < v2.0 causes crash."
_This issue was originally opened by @azilber as hashicorp/terraform#24211. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
[code]

### Terraform Configuration Files
[code]

### Crash Output
<details>
  <summary>Crash Snippet</summary>
2020/0

[2020-02-25 18:20] hashibot[bot] opened #5898 "Using features {} with azurerm provisioner < v2.0 causes crash."
_This issue was originally opened by @azilber as hashicorp/terraform#24211. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
[code]

### Terraform Configuration Files
[code]

### Crash Output
<details>
  <summary>Crash Snippet</summary>
2020/0

[2020-02-25 18:20] hashibot[bot] opened #5899 "app_service_environment_id propertie of azurerm_app_service_plan looks required"
_This issue was originally opened by @GregoryFrance as hashicorp/terraform#24209. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

A new error append when I create a "azurerm_app_service_plan" with AzureRM 2.0.0

"app_service_environment_id" propertie looks require

[2020-02-25 18:20] hashibot[bot] opened #5900 "app_service_environment_id propertie of azurerm_app_service_plan looks required"
_This issue was originally opened by @GregoryFrance as hashicorp/terraform#24209. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

A new error append when I create a "azurerm_app_service_plan" with AzureRM 2.0.0

"app_service_environment_id" propertie looks require

[2020-02-25 18:27] mb139h commented on #5867
the error message could be a lot more precise so people that have tens of resources created in one script know what terraform block requires "feature"

[2020-02-25 18:41] DSakura207 commented on #5869
It seems my subscription has some issues, a support request is sent to Microsoft.
Close it for now.

[2020-02-25 18:41] #5869 closed

[2020-02-25 18:52] kendaleiv opened #5902 "Unexpected recreate of Application Insights application_type = "Web" -> "web" when upgrading to 2.0.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-25 21:14] #3691 closed

[2020-02-25 21:17] StefanSchoof commented on #5902
I think this is a intented change, see https://github.com/terraform-providers/terraform-provider-azurerm/commit/2bca57e3eaf85dfa95852f0a958759789a7b833e

[2020-02-25 21:51] kensykora opened #5903 "Support for Disabling Health Probes in FrontDoor"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-25 21:58] #5280 closed

[2020-02-25 22:30] sangeethaguhan opened #5904 "Create azure subscription using azurerm provider in terraform"
Hi,

Is it possible to create azure subscriptions using azurerm provider in terraform? I have an EA Azure account in place. I have done quite a bit of research on this, and found out that this feature is still in preview mode(Azure) - https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/programmatically-create-subscription?tabs=rest . Is there any alternate workaround for this?

[2020-02-25 22:45] krknopp commented on #3559
Is there an update on this?  Trying to import out Key Vault in to Terraform and we have pre-existing access polices with no storage permissions and no application IDs, as evidenced by using the azcli.  Seems like the documentation is correct and the CLI is wrong in this case.

[2020-02-25 23:05] brandonh-msft commented on #3581
What is the status on this? Per [Azure docs](https://docs.microsoft.com/en-us/azure/storage/common/storage-analytics):

Is this planned for an imminent release?

[2020-02-25 23:52] darrenk13 commented on #5354
I just checked with the azurerm provider 2.0.0 and I am still seeing the same error message when I try to create this waf policy.