[2019-09-11 06:14] #4292 closed

[2019-09-11 06:22] tombuildsstuff commented on #4289
hi @DevallaSubbu

Thanks for opening this issue.

Unfortunately the `label` used for the resource isn't dynamic and needs to be hard-coded - as such this isn't something that's possible today. That said - since this is only used as a reference within Terraform, it should be possible to set this to any value; instead the resource names within the resources can be dynamic, for example:

[code]

If y

[2019-09-11 06:22] #4289 closed

[2019-09-11 06:25] jungopro commented on #4283
hi @nexxai
The .pfx file holds both the cert and the key to open the cert
I need to read them both as part of a process we have in a project we run on Azure, so I need both

Thanks

[2019-09-11 06:32] suonto commented on #3780
@tombuildsstuff it's 1.33.1. You can see terreform init output in the log I posted.

[2019-09-11 07:18] tombuildsstuff commented on #3780
@suonto sorry, I'm wondering if this disappears/works for you if you switch to 1.33.0? :)

[2019-09-11 07:41] BzSpi commented on #1966
This trick behavior has been changed in Terraform 0.12 and is documented here
https://www.terraform.io/docs/configuration/resources.html#lifecycle-lifecycle-customizations

You have to create a fake value to avoid any creation/destroy change.

[code]

[2019-09-11 08:49] Moeser commented on #3780
@tombuildsstuff  The first report was before 1.33.1, but based on the comments here I think the locking change aggravated the issue for other users.  For now the best bet might be to roll back my locking changes.  I think long term, the real solution to this 'AnotherOperationInProgress' error is to get azure/go-autorest to treat these 409 errors as retryable (which might not be straightforward sin

[2019-09-11 08:57] suonto commented on #3780
@tombuildsstuff no it does not. I've been experiencing this for a long time and always used the latest provider on ephemeral ci executors. Just wanted to confirm this issue in hope of getting a proper solution at some point. I'm running 10 module tests in parallel each night. They all have their own tfstate but they share the VNET as a data object. Then I see every morning that at least one of the

[2019-09-11 09:11] tombuildsstuff commented on #160
@sushilkm in [the upcoming version 2.0 of the Azure Provider](https://github.com/terraform-providers/terraform-provider-azurerm/issues/2807) we're working to add replacements for the `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources. As such whilst this change won't be added to the `azurerm_virtual_machine_scale_set` resource, it'll be added to it's replacement which we'r

[2019-09-11 09:15] hbuckle commented on #3780
For my use case, which is just creating multiple `azurerm_subnet` resources, rolling back to 1.33.0 fixed the issue

[2019-09-11 09:54] mybayern1974 commented on #4196
Hi @stefan-rapp ,

I tried things locally and wanna share my findings. Hope it could help you and clarify the next follow ups to unblock you.

1.	There are two physical properties: ```read_scale``` and ```secondary_replica_count```. Distinguishing them is the basic for we to go on the following. For example, you mentioned “…If I set the read_scale back to 0 in the Azure Portal manually…”, while pl

[2019-09-11 10:46] tombuildsstuff commented on #4101
hi @rkrishashokkumar

Thanks for opening this issue.

Taking a quick look into this appears to be an issue running inside of Azure DevOps rather than something specific to Terraform; looking at the configuration above I believe this is due to the way that PowerShell's being invoked, where when running locally it's running within an interactive terminal (since there's a TTY attached to the parent `

[2019-09-11 10:46] #4101 closed

[2019-09-11 10:48] tombuildsstuff commented on #3319
upstream PR: https://github.com/tombuildsstuff/giovanni/issues/10

[2019-09-11 10:49] tombuildsstuff commented on #4244
hi @svangeti

Thanks for opening this issue :)

Taking a look through this appears to be a duplicate of #3319 - rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one; would you mind subscribing to #3319 for updates?

Thanks!

[2019-09-11 10:49] #4244 closed

[2019-09-11 11:22] jlact commented on #1167
For those using 0.12 the equivalent workaround is:
[code]

[2019-09-11 11:28] svangeti commented on #4244
Hello Tom,
I have subscribed to the other issue. By any chance, is it possible to let
me know when this feature be merged. I see a PR created with the change
implemented.

Thanks for your help.

On Wed, Sep 11, 2019, 06:49 Tom Harvey <notifications@github.com> wrote:

[2019-09-11 13:00] thecampagnards opened #4300 "azurerm_storage_account can't locate azurerm_resource_group"
### Terraform (and AzureRM Provider) Version

- Terraform 0.12.7
- AzureRM 1.33.1

### Affected Resource(s)

* `azurerm_storage_container`

### Terraform Configuration Files

main.tf:

[code]
_modules/storage/main.tf:

[code]

_modules/storage/variables.tf:

[code]

### Debug Output

[code]

### Expected Behavior

I expect for my container `example` to find my resource group

### Actual Behavior

[2019-09-11 15:18] tombuildsstuff commented on #4300
hey @thecampagnards

Thanks for opening this issue.

Taking a look at the configuration posted above it appears whilst there's a dependency between the Resource Group and the Storage Account there's no dependency between the Storage Account and the Storage Container - as such Terraform believes it can create them in parallel. To fix this you should be able to chain them using an Implicit Dependenc

[2019-09-11 15:18] #4300 closed

[2019-09-11 15:20] DevallaSubbu commented on #4289
Thank you for the response. I will work on your recommendations.

I have one more question, I have AMI (that includes multiple EBS volumes),
How can i  add the tags(terraform scripts. ) when i deployed new Ec2 node
with AMI using therefrom scripts.

*Thank you*

*Best Regards,*

*Subbu Devalla*

*425 615 9567*

On Tue, Sep 10, 2019 at 11:23 PM Tom Harvey <notifications@github.com>
wrote:

[2019-09-11 15:40] tombuildsstuff commented on #4289
@DevallaSubbu I'm unfamiliar with the AWS resources - but it appears you can configure that using the `tags` field: https://www.terraform.io/docs/providers/aws/r/instance.html :)

[2019-09-11 16:24] buec011 commented on #2566
Maybe one solution would be a design change, similar to the aws or openstack provider.
In both provider, the association is done in the public ip ressource
(e.g. https://www.terraform.io/docs/providers/aws/r/eip.html and https://www.terraform.io/docs/providers/openstack/r/networking_floatingip_v2.html via port_id)
.
Another solution is to add a public_ip_attachment resource (similar to disks attac

[2019-09-11 16:32] MartinKosicky commented on #3623
So is this ever going to be implemented?  The cosmos terraform provider is useless if i cannot specify throughput. I would have to create a separate script to configure this

[2019-09-11 17:01] andrudale commented on #417
I'm getting this same error.  I'm not using a service principal.  I ran az login --use-device-code and logged in.  My terraform init passes just fine.  Then when I run the terraform plan I get the error.  I've tried robocopying the .azure folder to $env:homeshare\.  Tried reinstalling azureCLI.  Tried setting an environment variable to the .azure folder.  Nothing seems to work.

[2019-09-11 17:05] andrudale opened #4301 "Error building AzureRM Client: Azure CLI Authorization Profile was not found. Please ensure the Azure CLI is installed and then log-in with `az login`."
I'm getting this error when running terraform plan in MS Visual Studio Code.  I'm not using a service principal.  I'm logging straight into Azure CLI with az login --use-device-code.  Then terraform init runs fine.  Terraform plan fails with the error.

I found a post about robocopying "$env:userprofile\.azure" to "$env:homeshare\.azure".  That didn't solve the problem.  I also tried setting an en

[2019-09-11 17:09] ronaldmiranda commented on #3623
Is just like i mentioned above, im using the azurerm template provider.

[2019-09-11 17:57] DevallaSubbu commented on #4289
Not that way.

*Thank you*

*Best Regards,*

*Subbu Devalla*

*425 615 9567*

On Wed, Sep 11, 2019 at 8:40 AM Tom Harvey <notifications@github.com> wrote:

[2019-09-12 07:16] r0bnet commented on #4295
MariaDB PR: https://github.com/terraform-providers/terraform-provider-azurerm/pull/4302

[2019-09-12 07:17] nicethomaslearngit commented on #3548
Hi All

I have created shared image gallery in tenant1 and I am able to create VMs using this image across all subscriptions in this tenant. Used CLI, powershell and Terraform and it worked fine

When I try to create a VM in Tenant-2 with Shared Image Galley available in Tenant-1, I am facing some issues. I am able to create the VM in tenant by using CLI and power shell, but when using Terraform i

[2019-09-12 07:32] tombuildsstuff commented on #3548
@nicethomaslearngit this functionality isn't yet supported (this issue's tracking support for it) - but it's being worked on in #4290

[2019-09-12 07:35] nicethomaslearngit commented on #3548
@tombuildsstuff   Thanks for your prompt response.. So you saying currently only CLI and powershell is the option and terraform is not supported yet?

[2019-09-12 10:00] lukerosser opened #4304 "Add support to azurerm_monitor_diagnostic_setting for resource specific destination table option"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-12 13:17] Bnjmn83 opened #4308 "Event Grid subscription with Service Bus Queue endpoint type"
At the moment there is no Endpoint type _Service Bus Queue_ for Event Grid subscriptions. Any plans to implement this in the near future? What is the alternative? Using _azurerm_template_deployment_ instead?

[2019-09-12 15:01] rgherta opened #4309 "CosmosDB Mongo API Throughput Management"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-12 15:13] #4309 closed, assigned to nobody

[2019-09-12 20:37] #2781 closed, assigned to tracypholmes

[2019-09-12 22:08] svangeti opened #4312 "Error: Unsupported block type, in resource "azurerm_function_app" : app_settings {"
## Terraform (and AzureRM Provider) Version

Terraform v0.12.8
+ provider.azurerm v1.33.1

### Affected Resource(s)

* `azurerm_function_app`

### Terraform Configuration Files

[code]

### Debug Output

### Panic Output

### Expected Behavior

azurerm_function_app resource should allow the app_settings block as per the documentation

### Actual Behavior

Error: Unsupported block type

  on functi

[2019-09-13 04:22] Leon99 opened #4316 "Support for startTime and timeZone in azurerm_logic_app_trigger_recurrence"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-13 08:07] StefanSchoof commented on #4312
And did you try to use a `=`?

[code]

[2019-09-13 08:33] tombuildsstuff commented on #4301
hi @andrudale

Thanks for opening this issue.

Taking a quick look at this I have a feeling this is an issue specific to Visual Studio Code's terminal - do you also see this issue when running `terraform` in a regular terminal window? In addition can you confirm you're using the latest version of the Azure Provider and Terraform Core?

If Terraform works in a terminal window I'd suggest opening an

[2019-09-13 08:33] #4301 closed

[2019-09-13 08:43] tombuildsstuff commented on #3548
Fixed via #4290

[2019-09-13 08:43] #3548 closed

[2019-09-13 08:43] tombuildsstuff commented on #3548
@nicethomaslearngit correct - it's been merged and will be available in v1.34.0 of the Azure Provider once it's released

[2019-09-13 09:10] #4236 closed

[2019-09-13 09:35] JamieMagee opened #4317 "New Resource: Service Fabric Applications & Services"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-13 10:31] constructdian opened #4318 "Support Specifying Java minor version for azurerm_app_service resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-13 10:37] lsmadja commented on #4045
hi,
i have the same request but i don't know if it's necessary to do something for its declaration ? Have you take this feature in your plans ?
If i put this secondary ip_configuration in azure plateforme, terraform script will not work after.
thanks

[2019-09-13 12:28] tommyJimmy87 opened #4319 "Cognitive Services: support for `Luis.Authoring`"
Would be cool to have the possibility to add the new Luis Authoring Cognitive Service and also the Web App Bot as possible resources.

[2019-09-13 12:36] Andreas-Lehmann commented on #1440
is there any update on this?
Would love to see a native implementation of sticky slot settings in the azure terraform provider.

could loo like
[code]

[2019-09-13 12:44] tombuildsstuff commented on #4317
hey @JamieMagee

Thanks for opening this issue.

Taking a quick look into this I just wanted to clarify that this is for Service Fabric Mesh (which is being tracked in #2486) - and not the (older) Service Fabric offering? Whilst the branding unfortunately is the same, looking at the API Version being used (`2019-03-01`) I believe this is Service Fabric Mesh as opposed to the older offering?

Thank

[2019-09-13 12:51] JamieMagee commented on #4317
@tombuildsstuff I believe this is for Service Fabric clusters. The ARM template types are different. This issue is about `Microsoft.ServiceFabric/clusters/applications`, while the (newer) Service Fabric Mesh hosts `Microsoft.ServiceFabricMesh/applications`

[2019-09-13 13:20] androidand opened #4321 "ignore_changes in Function app app_settings is ignored"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-13 13:42] svangeti commented on #4312
gosh, how couldn't I think. That worked. Thanks so much @StefanSchoof

[2019-09-13 13:42] #4312 closed

[2019-09-13 13:56] #3342 closed

[2019-09-13 13:57] landro opened #4322 "AKS: support setting cluster outbound IPs when using standard loadbalancer"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-13 14:27] stena-dev commented on #2613
@tombuildsstuff  i can see that the api response bug has been closed.  I wonder that the consumption has available in the terraform ?

[2019-09-13 14:30] tombuildsstuff commented on #4319
hi @tommyJimmy87

Thanks for opening this issue :)

Taking a look into this I believe that LUIS support is available via [the `kind` field within the `azurerm_cognitive_account ` resource](https://www.terraform.io/docs/providers/azurerm/r/cognitive_account.html) - would you be able to take a look and see if that works for you? In addition support for Bots has been merged and [will form part of the

[2019-09-13 14:31] tombuildsstuff commented on #2613
@stena-dev unfortunately the API's still broken, which is now being tracked in https://github.com/Azure/azure-rest-api-specs/pull/6065

[2019-09-13 14:37] samart opened #4323 "Support Azure Machine Learning (ML) Service and underlying resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-13 14:47] tombuildsstuff commented on #4323
hi @samart

Thanks for opening this issue :)

Taking a look through this appears to be a duplicate of #3729 - rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one; would you mind subscribing to #3729 for updates?

Thanks!

[2019-09-13 14:47] #4323 closed

[2019-09-13 14:59] tommyJimmy87 commented on #4319
@tombuildsstuff
Hi thanks for the update about the Bot Service.

Regarding the LUIS Authoring is a different LUIS Cognitive Service where you can choose the Authoring API which will allow to share applications across different accounts in your organization. From the LUIS cognitive service kind in terraform I cannot see the option to choose the Authoring API.

https://docs.microsoft.com/en-us/azure

[2019-09-13 15:08] tombuildsstuff commented on #1976
hi @mchouque

Thanks for opening this issue - apologies for the delayed response here!

In recent versions of the Azure Provider we've been working to move off [the deprecated Storage SDK that's in the Azure SDK for Go](https://github.com/Azure/azure-sdk-for-go/tree/master/storage) in favour of [our replacement SDK, Giovanni](https://github.com/tombuildsstuff/giovanni) - as a part of this we've be

[2019-09-13 15:08] #1976 closed

[2019-09-13 15:32] tombuildsstuff commented on #4319
@tommyJimmy87 so that we could understand that better, would you be able to show the generated ARM Template for that (you should be able to see it by clicking "Automated/Template Deployment" at the bottom of the create screen)? Thanks!

[2019-09-13 16:20] tommyJimmy87 commented on #4319
@tombuildsstuff Sure.

[code]

[2019-09-13 16:24] tommyJimmy87 commented on #4319
@tombuildsstuff
I guess is a bit confusing from the Azure guys because if you see from the marketplace they have the same service replicated but with the first one you can create the LUIS app and with the second you can specify which API to use (Authoring, runtime.... )

<img width="1364" alt="Screen Shot 2019-09-13 at 18 21 02" src="https://user-images.githubusercontent.com/21197220/64878389-b5aa

[2019-09-13 18:26] tombuildsstuff commented on #4319
hey @tommyJimmy87

Thanks for confirming that; it looks like this new option just needs to be added to the `azurerm_cognitive_services` resources list then - as such I've tagged this as such :)

Thanks!

[2019-09-14 01:13] svangeti commented on #1460
Hi @tombuildsstuff , Is there a timeline when this can be implemented for azurerm_function_app resource?

[2019-09-15 20:29] asubmani opened #4327 "Add kubernetes_version for nodepools."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-16 06:50] stefan-rapp commented on #4196
Hi @mybayern1974,

First, thank you for your reply and the helpful information. :-)
I tried to solve the problem with the parameter “`read_scale`”, as there is no “`secondary_replica_count`” **yet**. Also **not** in the [Terraform Doc ](https://www.terraform.io/docs/providers/azurerm/r/sql_database.html)

`“An argument named "secondary_replica_count" is not expected here.”`

So that does not solve

[2019-09-16 07:08] bytemech opened #4329 "Unable to create $web azurerm_storage_container"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-16 07:51] tombuildsstuff commented on #4329
hey @bytemech

Thanks for opening this issue :)

Support for this was added in version 1.33.0 of the AzureRM Provider - would you mind upgrading and seeing if that works for you? Since this is a question rather than a bug in the Azure Provider I'm going to close this issue for the moment, but please let us know if that doesn't work for you and we'll take another look.

Thanks!

[2019-09-16 07:51] #4329 closed

[2019-09-16 07:55] tombuildsstuff commented on #3780
👋

The recent locking changes have been rolled back in #4320 which has been merged into master -so that bug will ship in version `1.34.0` of the Azure Provider. As such I'm going to hide the comments about this recent bug to be able to leave this issue focusing on the original issue here

Thanks!

[2019-09-16 07:56] mikhailshilkov opened #4330 "Error deleting a VM linked to a backend address pool association"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-16 08:09] StefanSchoof commented on #1212
I had a similar issue and solved it with [azurerm_key_vault_access_policy ](https://www.terraform.io/docs/providers/azurerm/r/key_vault_access_policy.html).

[2019-09-16 08:15] tombuildsstuff commented on #4268
👋

Taking a look through since this is duplicate of #2456 I'm going to close this issue in favour of that one - would you mind subscribing to #2456 for updates?

Thanks!

[2019-09-16 08:15] #4268 closed

[2019-09-16 09:11] tombuildsstuff commented on #4151
hi @darren-johnson

Thanks for opening this issue.

The Azure API supports setting the `app_settings` and `connection_string` blocks at either the top-level App Service or within an App Service Slot, which can be made active and as such override the settings at the top level App Service. In order to support this use-case in Terraform both of these blocks are marked as 'Computed', which means that

[2019-09-16 09:11] #4151 closed

[2019-09-16 09:42] RobotEdward commented on #2369
I encountered this issue today as well and was able to resolve with an odd workaround.

**Scenario:**

1. Database exists and is in an elastic pool.
2. I wanted to move it to a be Standard S0 instance by setting:
[code]
3. Error on apply: "Elastic pool 'DefaultPool' and service level objective 'S0' combination is invalid."

The same problem happened if I set elastic_pool_name to null.
It looks lik

[2019-09-16 10:46] mybayern1974 commented on #3561
@katbyte , so assume this issue could be closed?

[2019-09-16 11:27] mybayern1974 opened #4332 "Web Apps - Virtual Network Connection"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-16 11:30] mybayern1974 opened #4333 "Web Apps - Virtual Network Connection Gateway"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-16 11:50] rkno82 commented on #4146
This issue occurs not just at the first run of terraform and/ or by using plan. The "timeout" can occur at any time and even while applying/ destroying your infrastructure.

We are using KeyVault for just 20 credentials, but it's already awful. :(

[2019-09-16 12:19] mybayern1974 commented on #4196
@stefan-rapp , I would work on this "secondary_replica_count" feature aiming at the next release. Please stay tuned.

[2019-09-16 13:04] damoodamoo commented on #3887
Hi @tombuildsstuff - is this work in progress (the `preview` tag) ?

I've just started work on this too - just checking if i've missed something that's already been done...?

[2019-09-16 13:42] stuartleeks commented on #3887
@damoodamoo I think the preview label is because the GO SDK client is preview. I chatted with @tombuildsstuff earlier and got the go-ahead for working on this with the preview client. Let's sync :-)

[2019-09-16 13:47] sean-bailey commented on #658
Seconding this. Looking at the documentation, it does appear we can specify `Microsoft.KeyVault` as a source of our encryption, but it is not clear at all as to _which_ Keyvault/Key/etc is to be specified. Looking above, we can't specify the KeyVault properties. Is there a proper method we should be using with Terraform if we specify KeyVault as our encryption source?

[2019-09-16 14:36] KevinBrooke commented on #658
The Key vault must have purge protection + soft delete enabled which is not supported by TF as they cannot be disabled, meaning the resource lifecycle cannot be managed. A workaround is to use a null_resource to enable these settings (e.g. with azure cli).

Once that is done, assign an MSI to the storage account, permission the MSI to the Key Vault and use another null_resource to execute the comm

[2019-09-16 14:55] damoodamoo commented on #3887
Ok after chatting with @stuartleeks i'm going to continue work on this and he will guide/help when needed - this is my first work on this repo.

It feels like there are 2 approaches:
- the user populates a JSON block declaring the `properties` of the dashboard. This is nice as it's a copy+paste from the portal (where users will build the dashboards in the first place), but not nice in that it's a

[2019-09-16 15:00] Sas002 opened #4336 "azurerm_monitor_log_profile is not configuring Azure Blob backend for Eventhub for insights-operational-logs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-16 15:20] stuartleeks commented on #3887
@tombuildsstuff - based on the discussion we had in #3316 I'm assuming that the preference is for the latter (i.e. HCL rather than JSON) - can you confirm?

[2019-09-16 15:53] tombuildsstuff commented on #3887
@stuartleeks @damoodamoo cool thanks. Taking a look at this I think it's unlikely folks are going to write these dashboards by hand, instead I think it'd likely they'll build them in the portal and then reuse them across Subscriptions; as such I think we'd be better to expose a field which takes JSON here (which can be sourced from a file) - WDYT?

[2019-09-16 16:17] stuartleeks commented on #3887
I agree that it's quite likely to not be hand generated from scratch! I suspect that a common workflow would be create in portal, export, tweak and clone sections etc

[2019-09-16 17:12] mikehughesACN opened #4337 "set monitor alert for all services in a resource group (vm's, storage accounts..)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-16 17:37] brad-kwisp opened #4338 "azurerm_cognitive_account QnAMaker missing api-properties"
When running a terraform apply to create a QnAMaker service. I receive the following error.

[code]

When adding:
[code]

I get the following:
[code]

For reference creating via CLI looks like this:
[code]

[2019-09-16 19:30] draggeta commented on #3615
@wardcomm I don't know if it is still an issue, but you can use the next hop IP address only when specifying `VirtualAppliance` as the `next_hop_type`. If you use it anywhere else, it fails as it's not allowed by Azure.

[2019-09-16 19:45] draggeta commented on #1776
Yeah, if this is fixed upstream, I'd love to see liemnotliam's PR merged.

[2019-09-17 06:26] r0bnet commented on #3275
PR: https://github.com/terraform-providers/terraform-provider-azurerm/pull/4342

[2019-09-17 09:11] mikhailshilkov commented on #2602
I opened a PR to fix this a while back: https://github.com/hashicorp/go-azure-helpers/pull/39
Hopefully, it will get some attention soon.

[2019-09-17 11:13] alex-vasilchenko-md opened #4343 "Add a notice to documentation that delete_os_disk_on_termination and delete_data_disks_on_termination are applied only when VM is deleted via Terraform and it will not work in case it was deleted manually"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-17 13:24] samershr opened #4346 "Bug when trying to apply terraform resource azurerm_app_service_custom_hostname_binding again"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-17 13:26] samershr commented on #4346
I forgot to mention that the output is not affecting the resource. It just appearing everytime after apply.

[2019-09-17 13:28] Clausewitz45 commented on #3780
My setup is quite similar (and also got the same results with v1.33.0):
[code]
I have a single virtual network with 4 subnets, and 4 security group also. I commented out all four group/subnet association - everything runs fine. If add back one security group association, and I run `terraform apply`, it tries to do the security group association to the subnet. If I run the `terraform apply` again (

[2019-09-17 13:53] buec011 commented on #2568
The bug has been labled with "question". I'm not sure what the question is, imho the bug has been described very well and just avoided that we open a new one...
What is the open question?

[2019-09-17 14:14] flagbug commented on #3964
@aweiker Could your issue by any chance be related to https://github.com/terraform-providers/terraform-provider-azurerm/issues/2991?

I noticed that I imported the app service plan via the URL
`/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mygroup1/providers/Microsoft.Web/serverFarms/instance1`

instead of

`/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/my

[2019-09-17 14:24] r0bnet commented on #4327
Hey @asubmani,
I'd rather call it `orchestrator_version` to comply with the name in the API. Is that okay for you?

Also how about adding an own resource for the agent_pool as it also exists in the API as own resource type?

[2019-09-17 14:25] evenh commented on #4322
I’ve started work on this feature

[2019-09-17 14:38] mystcb commented on #2568
I am not sure why it was ever tagged as a question. It was more of explaining the unexpected behaviour with the tagging on disks created by the azurerm_virtual_machine. I thought that there was a question internally that needed answering.

Hopefully, that clarifies what I originally put down! (Although feel free to ping me any questions on this!)

[2019-09-17 15:05] suonto commented on #3780
@Clausewitz45 I don't think that's related. And fyi you can fix that by adding lifecycle ignore changes security group id.

[2019-09-17 15:08] buec011 commented on #2568
@mystcb

It was a question to the developer, I'm not an developer myself.
I'm affected by the bug myself.

[2019-09-17 23:16] rukawata opened #4350 "Can't create premium storage share"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-17 23:23] Grant-Rc opened #4351 ""terraform import azurerm_role_definition" pulls null values for scope"
Hello team,

I had a Team member show me a better way to structure my Terraform and pushing state to S3 and getting it into a local gitlab etc.
In doing so I lost the state file for my Azure custom roles, he said I can use the import function to sort this out.

Now this is were my issue comes, the import works fine but when I run Terraform plan it says
azurerm_role_definition.customrole must be re

[2019-09-18 02:12] johnsimons opened #4352 "Does this provider respect `Retry-After` header from Azure?"
I just wanted to know if this provider respect `Retry-After` header from Azure? Or do I need to do anything myself regarding it?

In short, I want to ensure we are not hitting api rate limits.

Cheers
John

[2019-09-18 04:11] raffertyuy opened #4353 "azurerm_client_config service_principal_application_id and service_principal_object_id are empty"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-18 05:52] StefanSchoof commented on #4353
I think this is the docomented behavior: https://www.terraform.io/docs/providers/azurerm/d/client_config.html#service_principal_application_id

There is a feature request to change this: #3234

[2019-09-18 06:02] tombuildsstuff commented on #4352
hi @johnsimons

Thanks for opening this issue.

The Azure Provider communicates with the Azure API's using [the Azure SDK for Go](https://github.com/Azure/azure-sdk-for-go), which under the hood uses [Go-AutoRest](https://github.com/Azure/go-autorest) which internally automatically handles the `Retry-Header` (and various other conditions, like internal server errors) as part of the request lifecyc

[2019-09-18 06:02] #4352 closed

[2019-09-18 06:05] tombuildsstuff commented on #4353
hi @raffertyuy

Thanks for opening this issue.

This behaviour is currently intentional since the mechanism for obtaining these is different - but as @StefanSchoof has mentioned there's an issue open tracking merging these Service Principal/User specific fields (in this case object_id, but we'll fix them all at the same time) into one in #3234 - as such I'm going to close this issue in favour of #

[2019-09-18 06:05] #4353 closed

[2019-09-18 06:11] tombuildsstuff commented on #4350
hi @rukawata

Thanks for opening this issue.

Taking a look into this it appears this has been fixed via #4235, which will be released as a part of v1.34 later today (@hashibot will comment on this issue when that's done) - as such I'm going to close this issue for the moment, however should you need to work around this in the interim you should be able to use version `1.32.0` of the Azure Provide

[2019-09-18 06:11] #4350 closed

[2019-09-18 08:05] r0bnet commented on #4327
PR: https://github.com/terraform-providers/terraform-provider-azurerm/issues/4327

[2019-09-18 08:22] r0bnet commented on #4338
Hey @brad-kwisp,

had a look into this and we might not be able to do anything against it right now as the needed properties are not specified in the Azure SDK and specification.

I created an issue for the API specification and lets hope they will add it sooner or later:
https://github.com/Azure/azure-rest-api-specs/issues/7244

[2019-09-18 08:22] ryanps1 commented on #4061
I've had a similar problem in the past. In your azurerm_app_service resource, try ensuring that you're using https:// at the beginning of your DOCKER_REGISTRY_SERVER_URL.

[2019-09-18 08:58] Clausewitz45 commented on #3780
@suonto thanks for mentioning it - it's a nice workaround for the issue (at least I can continue the provisioning of the infrastructure), but this should not be the default behavior. I thought it is related because I got the same error message, but it is working with just a single subnet - not with 3.

[2019-09-18 11:51] mikhailshilkov commented on #3635
Bumped into this "chicken and egg" problem today. It seems that the proper solution should be a separate resource for `host_configuration`, as @cdesewell suggested.

[2019-09-18 13:11] MichaelMeelisRTL opened #4356 "aks forces to destroy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-18 14:18] MarkDordoy opened #4358 "Unable to use azurerm_app_service_certificate with key_vault_secret_id if key vault is in a different subscription"
Hello

im using terraform v0.12.6 and azurerm 1.34.0

When i use the `azurerm_app_service_certificate` resource with the key_vault_secret_id im getting back the error `Unable to determine the Resource ID for the Key Vault at URL <mykeyvaulturl>"

This is currently what i have:

[code]

What i've used for the key_vault_secret_id is the certificate Identifier, what should i be using?

Many thanks in

[2019-09-18 14:52] MarkDordoy commented on #4358
I should also add the resource group in my example above specified by `data.azurerm_resource_group.resource_group.name` is in a different subscription to where the key vault that has the certificate.

[2019-09-18 15:04] alk-rniveau opened #4359 "Can't create vm behind lb with azurerm_lb_backend_address_pool"
Hi guys,

I have a weird behavior when I try to create an azure lb with vm inside the backend pool in the same time.

I have on module to manage vm and one module to manage lb.
If I create lb first, all work fine but if I create both together, it doesn't work.

Here is my configuration (terraform 0.12.9, azure 1.33.1):

[code]

var.azure_lb_public_backend_id come from my lb module

[code]

When I

[2019-09-18 15:16] joakimhellum-in commented on #4358
Sorry about that. Here is complete example with comments:
[code]

Here is another example that doesn't require you to grat "Microsoft Azure App Service" service principal access to read certificates and secrets:

[code]

Sorry I didn't actually test the configurations, but most of it should be correct.

[2019-09-18 15:27] MarkDordoy commented on #4358
Thanks @joakimhellum-in

I just used your data examples to get the secretId i need in isolation to my actually setup (as resources are in different subscriptions). Turns out i had the correct id.

This suggests to me that the key_vault_secret_id (key vault) needs to be in the same subscription as where im using  `azurerm_app_service_certificate`. Would you agree?

Its a shame as i have the key vau

[2019-09-18 15:50] joakimhellum-in commented on #4358
@MarkDordoy Good question, didn't think about that. Will make attempt to implement your suggested fix during coming weekend, unless you or anyone else is already working on it :)

[2019-09-18 15:51] MarkDordoy commented on #4358
I will take a look and see if i can work it out. Im still quite new to golang so you might be quicker. Will update this ticket if i manage it :-)

[2019-09-18 16:01] nicethomaslearngit commented on #3548
Hi @tombuildsstuff ,

I see the version 1.34.0 is released, still I am getting the error I pasted initially.   My Azure Shared Image galleries are in tenant-1 and I am trying to deploy a VM in tenant-2 using this SIG in tenant-1.

[code]

using alias I fetches the image ID and use this ID to provision in tenant-2 and is not working. Any suggestions here?

[2019-09-18 16:52] nicethomaslearngit opened #4360 ""tags": this field cannot be set"
Hi Team,

  I am using the below code

data "azurerm_shared_image_version" "myimage" {
  name                = "1.0.1"
  image_name          = "windows"
  gallery_name        = "widows_galleries"
  resource_group_name = "windows-images"

  tags =    {
    name   = "DEV"
  }
}

And I am getting the error as

Error: "tags": this field cannot be set
  on main.tf line 20, in data "azurerm_shared_image

[2019-09-18 16:57] tombuildsstuff commented on #4360
hi @nicethomaslearngit

The code snippet above shows a Data Source, which provides a read-only view of an existing resource - whereas I believe you're looking to use the Resource (which allows you to provision/manage something) with the same name instead - where you should be able to set the Tags for this Shared Image Version. Would you be able to take a look and see if [using the Resource instead

[2019-09-18 16:57] #4360 closed

[2019-09-18 17:00] bottkars opened #4361 "azurerm provider 1.34 failds to deploy vm with image copy from blob"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-18 17:01] nicethomaslearngit commented on #4360
Thanks @tombuildsstuff  , I was trying to filter the DataSource based on tag name already given. Is there a way I can do that?

[2019-09-18 17:23] nicethomaslearngit commented on #4360
Hi @tombuildsstuff

As this ticket is closed can I expect any update here or do I need to create a new 'question'/ Is there a way to filter in Data Source as I shown initially

Thank You

[2019-09-18 17:38] nicethomaslearngit opened #4362 ""tags": this field cannot be set"
Hi All,

I am trying to set a filter in Data Source using "tags" and I am getting error.

Could you kindly help me is there a way to add a filter/tag here?

data "azurerm_shared_image_version" "myimage" {
  name                = "1.0.1"
  image_name          = "windows"
  gallery_name        = "widows_galleries"
  resource_group_name = "windows-images"
  tags =    {
    name   = "DEV"
  }
}

Error

[2019-09-18 17:43] egorchabala commented on #3115
I've just tried this change. The question I have is how to associate this `trusted_root_certificate` block with `backend_http_settings`? I see `authentication_certificate` block only

[2019-09-18 17:51] raygervais opened #4363 "Windows Azure Guest Agent isn't Installed when provision_vm_agent is Enabled"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-18 18:27] Moeser commented on #2489
@tombuildsstuff we should re-open this since the locking change was rolled back.

[2019-09-18 18:46] tombuildsstuff commented on #4362
hi @nicethomaslearngit

The `azurerm_shared_image_version` Data Source doesn't support filtering based on Tags at this this - taking a look into this this'd likely make more sense as a new data source for `azurerm_shared_image_versions` which supports filtering; since the existing data source expects a single version. If you're interested in seeing this new Data Source supported would you mind ope

[2019-09-18 18:46] #4362 closed

[2019-09-18 20:00] AlexMabry commented on #3935
I need this too.

I will try to make the necessary updates, although I will need help contributing for the first time.

[2019-09-18 20:13] Sas002 commented on #4336
This is bug from terraform Azure Blob and Azure extension

[2019-09-18 20:20] WebSpider commented on #3749
There is another workaround, add this to the subnet:
[code]

[2019-09-18 20:22] rukawata commented on #4350
Hi @tombuildsstuff,

Thanks for looking into this. I just tested with 1.34 and still faces the same issue.
[201909181311.log](https://github.com/terraform-providers/terraform-provider-azurerm/files/3628211/201909181311.log)

Thanks,
Nancy

[2019-09-18 20:39] alexhudson opened #4365 "azurerm 1.34.0 breaks: AuthorizationFailed on random providers"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-18 21:27] AlexMabry commented on #3935
h/t to @katbyte for stubbing out most of the `key_vault_secret_id` already

[2019-09-19 02:48] nicethomaslearngit opened #4369 "New Data Source: azurerm_shared_image_versions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-19 06:09] tombuildsstuff commented on #4365
hi @alexhudson

Thanks for opening this issue :)

As mentioned in #3358 the Azure Provider attempts to automatically register any Resource Providers which it supports to provide a better user experience (since the error messages returned from Azure when a Resource Provider are unhelpful). Since there's no way for us to know within the Azure Provider which Resource Providers are needed (since this

[2019-09-19 06:09] #4365 closed

[2019-09-19 06:31] alexhudson commented on #4365
Hey @tombuildsstuff

I'm not sure I would categorise the environment as "restricted" - the terraform is running with an Azure DevOps service connection into AzureRM. None of the permissions per-service provider were (knowingly) set during that process, and the pipeline was working fine with 1.33.1. When 1.34 rolled around with new service providers obviously it started failing, but it's not clear

[2019-09-19 07:00] tombuildsstuff commented on #4365
@alexhudson if a User/Service Principal with (for example) Owner/Contributor rights has run Terraform in that subscription, or provisioned those resources in the Azure Portal it's possible that those got registered via that; or that this is enabled by default (however even if it's enabled by default Terraform still needs to check the status and potentially attempt to register the Resource Provider

[2019-09-19 07:20] alexhudson commented on #4365
Ah, right, I see what you mean - thank you, I actually had read "registration" as being an internal housekeeping thing, it didn't click for me that it meant enabling the actual resource provider.

This all makes sense now, but it still feels like anyone running this in CI/CD is going to bump into this problem once they set their pipeline up - I would rarely run terraform as a regular user. I suppo

[2019-09-19 07:34] tombuildsstuff commented on #3749
👋

To give an update here, the association between a Subnet and a Route Table in the Azure Provider is moving from the `azurerm_subnet` resource to the `azurerm_subnet_route_table_association` resource - to not break compatibility both fields can currently be used for this purpose, however in [the upcoming version 2.0 of the Azure Provider](https://github.com/terraform-providers/terraform-provider

[2019-09-19 07:36] tombuildsstuff commented on #4363
hey @raygervais

Thanks for opening this issue :)

Taking a look into this it appears that Terraform's building up the object correctly to send to the Azure API - as such I believe this is a configuration issue.

When creating a Windows Virtual Machine (or VM Scale Set) Azure requires [that `sysprep` is run on the machine prior to the image being captured/the OS Disk being reused](https://docs.mic

[2019-09-19 08:19] tombuildsstuff commented on #3190
hey @stephanepham

Thanks for opening this issue - apologies for the delayed response here!

Taking a look into this this appears to be a limitation of the Azure API rather than something specific to Terraform - since the documentation for this field in Azure (`A reference to a load balancer probe used to determine the health of an instance in the virtual machine scale set`) requires the ID of a L

[2019-09-19 08:19] #3190 closed

[2019-09-19 08:25] dan-gibbons opened #4372 "azurerm_app_service integration with VNet and Subnet"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-19 10:32] Leon99 opened #4373 "Documentation for azurerm_app_service Data Source is missing default_site_hostname"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-19 10:54] frankf-cgn commented on #4356
I recognized that you are using a terraform version more than one year old (from 16.08.2018) Can you try a current version and report back if the error still persist?

[2019-09-19 11:18] ahmedspiir opened #4375 "azurerm_monitor_metric_alertrule is giving Bad request for appInsights"
I'm trying to use `azurerm_monitor_metric_alertrule` to use one of [Microsoft.Insights/Components](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftinsightscomponents) from Microsoft Docs.
i set the resource ID to be the app insghts id which is connected to APP service.
Then i got the error down below.

### Community Note

* Please vote on this issue by addi

[2019-09-19 11:42] jrauschenbusch commented on #4373
There are further missing documentation entrypoints in `website/azurerm.erb` in the last 1.34 release:

- azurerm_proximity_placement_group
- azurerm_storage_account_blob_container_sas
- azurerm_frontdoor
- azurerm_frontdoor_firewall_policy
- azurerm_kusto_database
- azurerm_proximity_placement_group
- azurerm_stream_analytics_output_servicebus_topic

Maybe there are more missing links from previo

[2019-09-19 12:33] dominik-lekse commented on #4356
The same problem occurs to me when trying to upgrade the provider version to 1.34.0. I am using Terraform 0.12.9.

From the output of `terraform plan` I am not able to trace which property is forcing the AKS resource to recreate.

[2019-09-19 12:44] phil-bevan opened #4377 "Unable to upload blobs greater than 256Mb with 1.34"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-19 12:49] pedrohdz commented on #2489
I tried removing the `network_security_group_id` from  my `azurerm_subnet` resource and the wheels are still spinning anyways (still stuck waiting).

[code]

[2019-09-19 13:05] nicethomaslearngit opened #4378 "multi-tenant deployment using Azure shared image gallery via terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-19 13:26] markti opened #4379 "azurerm_virtual_machine_scale_set.extension.settings unable to set to local variable"
### Terraform (and AzureRM Provider) Version

Terraform v0.12.7
provider.azurerm v1.28.0

### Affected Resource(s)

azurerm_virtual_machine_scale_set

### Terraform Configuration Files

Defining the VM Extension template to use as a local variable. There is another problem in that I can't nest resource / variable references inside this (keep getting an error about a '$' being an invalid character

[2019-09-19 14:04] aberva opened #4380 "azurerm_mysql_server - add support for version 8.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-19 14:06] MichaelMeelisRTL commented on #4356
@dominik-lekse do you use a SP as well? Or do you use it without. I'm really curious why that would recreate it, while it didn't change. Maybe it's a wrongly marked as so.

[2019-09-19 14:09] nicethomaslearngit commented on #4362
Hi @tombuildsstuff

Thanks for your reply.. I have opened a new Feature request #4369

[2019-09-19 14:13] markti opened #4381 "azurerm_service_fabric_cluster doesn't work"
### Terraform (and AzureRM Provider) Version

Terraform v0.12.7
+ provider.azuread v0.6.0
+ provider.azurerm v1.28.0
+ provider.random v2.2.0

### Affected Resource(s)

* `azurerm_service_fabric_cluster`

### Terraform Configuration Files

[code]

### Expected Behavior

Provision a working cluster.

### Actual Behavior

it doesn't deploy a working service fabric cluster. There is no evidence that

[2019-09-19 14:16] aberva opened #4382 "azurerm_api_app - added in 1.35.0?"
Issues on GitHub are intended to be related to bugs or feature requests with provider codebase,
so we recommend using our other community resources instead of asking here 👍.

---
I take advantage of this topic :
https://github.com/terraform-providers/terraform-provider-azurerm/pull/4306#issuecomment-530945347

Do you think this resource "azurerp_api_app" will be supported with 1.35.0 ?

[2019-09-19 14:28] jungopro commented on #3229
hello
I couldn't find any reference to this feature in the docs or release notes
Was that implemented?

thank you
Omer

[2019-09-19 15:02] mluker opened #4383 "azurerm_app_service ip restrictions requiring IP and Subnet Id"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-19 15:11] PathTech opened #4384 "Azure Web App Bot"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-19 15:32] tombuildsstuff commented on #4382
hi @aberva

Thanks for opening this issue.

Support for API Apps isn't available natively in Terraform yet but is being tracked in #443 - if you're interested in API Apps being natively supported in Terraform please subscribe/👍 #443 where updates will be posted when available :)

Thanks!

[2019-09-19 15:32] #4382 closed

[2019-09-19 16:33] vpetersen commented on #4383
This just started happening to me yesterday as well in our AZDO pipeline.

[2019-09-19 16:52] edboykin-insight commented on #4372
The ip restrictions for a VNet are not the same as a VNet integration. The ip restriction are saying "only allow traffic from the VNet", while the VNet integration allows the app service to access resoruces inside the VNet.. Note: You cannot add an app service to a VNet unless you are using an App Service Environment.
I'm not sure this if the expected behavior is correct.

[2019-09-19 18:17] mattbowes commented on #4383
We are receiving the error as well. Downgrading the provider back to 1.33.1 fixes it

[2019-09-19 18:20] hashibot[bot] opened #4386 "resource azurerm_hdinsight_hadoop_cluster causes destroy on subsequent apply"
_This issue was originally opened by @laktech as hashicorp/terraform#22851. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

https://gist.github.com/laktech/20d2da573cc54e96

[2019-09-19 20:41] eriksw opened #4388 "Example request: storage account with VM instance able to access blobs in it"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-19 20:43] dominik-lekse commented on #4356
@MichaelMeelisRTL I am using the explicit service principal. Could this issue be related to https://github.com/terraform-providers/terraform-provider-azurerm/pull/4339?

[2019-09-19 23:29] dustman9000 opened #4390 "Crash Refreshing State For azurerm_virtual_machine_scale_set "Unexpected EOF""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-20 00:30] Leon99 opened #4391 "azurerm_dns_a_record/azurerm_dns_cname_record to export FQDN"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-20 01:04] myrah opened #4392 "mysql Vnet rule creation getting 404 when the subnet_id is in a different subscription than the mysql DB"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-20 02:28] ArcturusZhang commented on #2491
I am trying to reproduce this issue in go sdk using this [code snippet](https://gist.github.com/ArcturusZhang/2c79235fb75d3d3ab95437bbf9aae592), but I did not reproduce this issue.
When I change the order of destruction of each resource, it may fail, but with different error message.

[2019-09-20 02:29] ArcturusZhang commented on #4330
I am trying to reproduce this issue in go sdk using this [code snippet](https://gist.github.com/ArcturusZhang/2c79235fb75d3d3ab95437bbf9aae592), but I did not reproduce this issue.
When I change the order of destruction of each resource, it may fail, but with different error message.

[2019-09-20 02:53] tdmalone opened #4393 "Addition of skip_service_principal_aad_check in v1.34.0 forces recreation of azurerm_role_assignment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-20 04:39] ArcturusZhang commented on #2491
This issue is a subset of issue #4330

[2019-09-20 04:46] Engrave-zz opened #4394 "Azure Storage Account - is_hns_enabled true is not allowed for property"
Running the following (Azurerm provider 1.34.0):
terraform version: 12.8

resource "azurerm_storage_account" "adls" {
  name                     = "${lower(var.location)}${lower(var.environment)}${lower(var.project_name)}adls"
  resource_group_name      = azurerm_resource_group.rg.name
  location                 = var.location
  is_hns_enabled           = true
  account_tier             = "Premium

[2019-09-20 05:31] mybayern1974 commented on #4330
Given this is not-stable repro and related with the terraform resource deletion order, @tombuildsstuff to possibly comment

[2019-09-20 05:34] Engrave-zz commented on #4394
figured it out, it turns out i was using the wrong account tier.

resource "azurerm_storage_account" "adls" {
  name                     = "${lower(var.location)}${lower(var.environment)}${lower(var.project_name)}adls"
  resource_group_name      = azurerm_resource_group.rg.name
  location                 = var.location
  is_hns_enabled           = true
  account_tier             = "Standard"
  acc

[2019-09-20 05:34] #4394 closed

[2019-09-20 05:38] batizar opened #4395 "Create Azure Monitoring Alerts for Custom Log Search signals"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-20 06:51] bufanda opened #4396 "azurerm_app_service_plan replaces Linux App-Plans on every apply"
Hi there,

I tried to terraform a Linux FunctionApp using the AzureRM Provider v1.34.0 and terraform 0.12.8.

Here the configuration
[code]
With this I created the App-Serviceplan and following my App and even though the App is working if I reapply terraform, I got changes for the App-Serviceplan which requires a replacement.
[code]
And the App itself will be replaced too and here the kind is set

[2019-09-20 07:22] tombuildsstuff commented on #4330
hi @mikhailshilkov

Thanks for opening this issue.

Taking a look into this this appears to work as intended on v1.34:

[code]

Would you be able to take a look and see if upgrading fixes this issue for you? Since this appears to be fixed in 1.34 I'm going to close this issue for the moment but please let us know if this is still an issue after upgrading and we'll take a look.

Thanks!

[2019-09-20 07:22] #4330 closed

[2019-09-20 08:15] dan-gibbons commented on #4372
Thanks for the clarification @edboykin-insight although ASEs seem to be blocked to be added to Terraform and have to be done through ARM templates

Thanks @hbuckle - I look forward to V1.35.0!

[2019-09-20 08:40] MichaelMeelisRTL commented on #4356
Yes it looks like it... Exactly the problem I faced and could see.

[2019-09-20 08:45] mikhailshilkov commented on #4330
@tombuildsstuff I upgraded to 1.34, tried again, and the destruction still fails for me with the same error:
[code]

Ran apply-destroy 3 times, got 3 errors. A subsequent destroy after the failure succeeds.

I'm on Terraform 0.12.8 on Windows, running the copy-pasted script from the above (updated to `~> 1.34`).

[2019-09-20 09:40] nicethomaslearngit commented on #4378
Hi @tombuildsstuff

Could you kindly assist me what changes are needed here for using shared Image galleries as above.

[2019-09-20 09:52] PathTech commented on #4396
Have you tried setting the kind to: FunctionApp

It looks like that is the cause of the replacement and is a valid kind.

[2019-09-20 10:37] dreasan commented on #2325
Would be much appreciated. While on it, the Function App resource would also need an update or added example.

[2019-09-20 10:38] ashemedai opened #4398 "[1.34] Destroying load balancer errors due to CannotRemoveRuleUsedByProbeUsedByVMSS"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-20 10:55] bufanda commented on #4396
Hm, with FunctionApp it seems to work, but what I found out was also that if I change the Plan to Basic B1 for example the Linux kind works perfectly fine.
Additional it seems like the Linux Dynamic Plan is still preview. Might it be that this doesn't work because of it's preview state?
I got now 2 concerns
1. How do I know that FunctionApp is Linux and not Windows. Is it some where documented, th

[2019-09-20 11:04] tombuildsstuff commented on #4330
@mikhailshilkov out of interest is there any organizational-wide policies applied to the Tenant/Subscription, e.g. Security Center? Whilst we could add locks within the VM resources deletion function on the NIC ID, the `startTenantUpdate` sounds like this is something mutating the  resources outside of Terraform?

[2019-09-20 11:12] PathTech commented on #4396
I believe that kind "FunctionApp" on the plan will accept both Windows & Linux and that is then specified by the Function App itself. I could be wrong on this however as I haven't dived in to the code to check.

I also think SKU in Terraform validations just checks that it is a valid SKU for the resource type rather than the type and kind. There is a couple of instances where we have had issues ar

[2019-09-20 11:15] dan-gibbons opened #4399 "azurerm_app_service IP restrictions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-20 11:26] mikhailshilkov commented on #4330
@tombuildsstuff It's my personal subscription that I use for test purposes, with no policies etc.

[2019-09-20 11:48] ahmedspiir commented on #4375
Terraform docs was a bit confusing in this part.
I was supposed to use `azurerm_monitor_metric_alert` instead of `azurerm_monitor_metric_alertrule` because it's the new version of it.
Now it works.

[2019-09-20 11:48] #4375 closed

[2019-09-20 12:47] chfrodin opened #4401 "Storage Account queue_properties/logging"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-20 12:49] jpbuecken opened #4402 "azurerm_platform_image: Add version argument"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-20 13:20] ashemedai commented on #4398
I can work around the problem by adding a `depends_on = [azurerm_lb_rule.testcase-lb]` to the `azurerm_virtual_machine_scale_set` resource.

[2019-09-20 14:54] vidarw commented on #4356
Can confirm this problem applies to 0.12.9 and 0.12.6 as well. Does also not seem to matter what kind of provider version that last touched your state (tested with both 1.29 and 1.33.1).

[2019-09-20 15:54] itsmaryann commented on #4297
Also found this issue logged at: https://github.com/terraform-providers/terraform-provider-azurerm/issues/3580

[2019-09-20 17:54] Mounika0207 opened #4403 "Error setting the draft Automation Runbook, azurerm_automation_runbook fails with 404 Error - Unless Published version of runbook already exists"
**Terraform Configuration Files**
[code]

**Debug Output**
* azurerm_automation_runbook.runbook_start: Error setting the draft Automation Runbook automation.RunbookDraftClient#ReplaceContent: Failure sending request: StatusCode=404 -- Original Error: Code="ResourceNotFound" Message="The Resource 'Microsoft.Automation/automationAccounts/testaccount/runbooks/Conncetionscript' under resource group 'l

[2019-09-20 19:18] theharleyquin commented on #2602
Great to see this is upcoming - just ran into this today for AKS creation

[2019-09-20 22:05] raphaelquati commented on #4075
Any updates?

[2019-09-22 11:36] doggvalera opened #4405 "v1.34 Want to recreate AKS cluster."
Hi.
I have an issue with 1.34 version
When I did the terraform plan. Terraform informed that azurerm_kubernetes_cluster resource will be recreated, but I didn't make any changes. With version 1.33, everything is ok.

1.34 version output:
_I have removed all sensitive data_
[code]
1.33 version output:
[code]

[2019-09-22 19:12] tombuildsstuff commented on #4405
hi @doggvalera

Thanks for opening this issue :)

Taking a look through this appears to be a duplicate of #4356 - rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one; would you mind subscribing to #4356 for updates?

Thanks!

[2019-09-22 19:12] #4405 closed

[2019-09-22 19:55] tombuildsstuff commented on #4399
hi @dan-gibbons

Thanks for opening this issue :)

Taking a look through this appears to be a duplicate of #4383 - rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one; would you mind subscribing to #4383 for updates?

Thanks!

[2019-09-22 19:55] #4399 closed

[2019-09-23 03:41] gukeqin commented on #4337
I tried following code and failed as well:

resource "azurerm_monitor_metric_alert" "main" {
  name                = "${azurerm_virtual_machine.main.name}-alert-cpu"
  resource_group_name = "${azurerm_resource_group.main.name}"
#  scopes              = ["${azurerm_virtual_machine.main.id}"]
  scopes              = ["${azurerm_resource_group.main.id}"]

  severity    = 3
  enabled     = true
  freq

[2019-09-23 08:25] fbuehlmann opened #4407 "azurerm_kubernetes_cluster requires recreation with provider 1."
A kubernets Cluster created with provider 1.33.1 needs to be recreated with provider version 1.34

Resource Condiguration:
resource "azurerm_kubernetes_cluster" "k8sCluster" {
  name                = format("%s-aks", var.resourceNamePrefix)
  location            = var.location
  resource_group_name = var.resourceGroupName
  dns_prefix          = var.dnsPrefix
  kubernetes_version  = var.kubernetes

[2019-09-23 08:54] dan-gibbons commented on #4399
Cheers Tom,

Sorry I didn't see #4383 - I'll follow that instead

[2019-09-23 09:06] tombuildsstuff commented on #4407
hi @dan-gibbons

Thanks for opening this issue :)

Taking a look through this appears to be a duplicate of #4383 - rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one; would you mind subscribing to #4383 for updates?

Thanks!

[2019-09-23 09:06] #4407 closed

[2019-09-23 09:18] nicethomaslearngit commented on #4378
Hi @tombuildsstuff

Have you got a chance to look into this.. thank you

[2019-09-23 10:13] ashemedai commented on #4285
Had to rebuild everything today. Used 1.34 and didn't run into any issues. Almost makes me wonder if it is Azure acting up again, maybe with some timing issue. Going to test it two more times, just to be on the safe side.

[2019-09-23 11:06] yaakov-h commented on #4356
For what it's worth, I'm seeing the same issue. With Terraform 0.12.8 and AzureRM provider 1.33.1, no changes to code = no changes to AKS cluster.

As soon as I upgrade the AzureRM provider to 1.34, it wants to recreate the cluster.

Terraform code:

[code]

Oddly, like @dominik-lekse, there's nothing listed in Terraform's output to hint as to which field triggered the requirement to recreate:

[c

[2019-09-23 11:46] simongh opened #4408 "API Management custom domain key vault address incorrectly validates"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-23 12:00] #3887 closed

[2019-09-23 12:26] hbuckle commented on #4381
@markti the documentation is lacking here, but basically you need to deploy all the other resources such as the vm scale set as well - the service fabric cluster object doesn't do anything on its own.
I'll post a working example later

[2019-09-23 14:22] Dev-Mivl commented on #4276
Hi Rano, did you find a workaround for this solution? My plan wants to destroy these before applying the rest of the plan.

[2019-09-23 14:23] raygervais commented on #4363
Hey @tombuildstuff

Thanks for looking into this, I've added some context below which may help describe our situation.

[code]

Because of this, sysprep is not being utilized nor can it integrated into the workflow that I'm aware of at this time. Thoughts?

[2019-09-23 14:42] alex-3sr commented on #4383
Hi,

I can confirm, I recently have all CICD release having this settings who are now failed and as quick workaround I just comment this part (the Ip restriction remain as just previous, so it's not remove).

Regards
Alex

[2019-09-23 14:48] marcpascual commented on #4276
unfortunately as stated in https://github.com/MicrosoftDocs/azure-docs/issues/39329, there are no plans to revert the change or make it a toggle, similar to AKV.

[2019-09-23 14:50] dhsass commented on #3813
We're getting this error on the first attempt to create the db.  We even tried using a GUID as the name and got this error.

[2019-09-23 15:00] mcdafydd commented on #4395
Totally agree! I think this mirrors Issue #3951.  I'm going to add a couple comments there.  Thanks!

[2019-09-23 15:09] mcdafydd commented on #3951
I've just started working on this.  Not sure yet how long it would take to get a PR together.  Maybe a couple weeks.  Anyone else already taking this on?

[2019-09-23 15:24] tombuildsstuff commented on #4363
@raygervais unfortunately you'll need to run sysprep on that image to be able to use it that way AFAIK. Whilst the image itself may have been taken a while back, you should be able to capture a new version by provisioning that image to a Virtual Machine, running SysPrep and then capturing an image from that Virtual Machine

Whilst it may be possible to install the Azure Virtual Machine Agent from

[2019-09-23 15:24] #4363 closed

[2019-09-23 15:33] tombuildsstuff commented on #1167
👋

To give an update here - I'm currently taking a look at the new VM & VMSS resources as a part of 2.0 (which is outlined #2807), which as a part of we're adding new resources and covering test cases for the existing bugs to ensure these are supported.

As a part of building out the new VM Scale Set resources I've added a test-case for enabling/disabling/enabling Boot Diagnostics, which works - a

[2019-09-23 18:08] raygervais commented on #4363
Thanks @tombuildsstuff for the feedback!

Just want to provide further context, in the case it changes the expectation of what should be occurring in the API and implementation.

The non-unique UUID is not an issue here. All the machines in our workflow have unique IDs. Likewise we are not making copies of the same machine in this case.

Appreciate the guidance you've provided so far, and sharing

[2019-09-23 18:34] tombuildsstuff commented on #4363
@raygervais

Unfortunately this is a limitation of the Azure API - as such this isn't something we're able to work around.

If you're provisioning the machines from the same image then the same UUID will be reused - which presumably is reused by the VM Agent on the Guest OS to communicate with the Hypervisor (there's a binary protocol which the Azure VM Agent uses to communicate with the Hyperviso

[2019-09-23 20:33] shurick81 opened #4410 "The client '****' with object id '****' does not have authorization to perform action 'Microsoft.MarketplaceOrdering/register/action' over scope '/subscriptions/****' or the scope is invalid"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-24 03:10] ranokarno commented on #4276
@Dev-Mivl ,
workaround is to manually remove Terraform State related with `azurerm_protected_item` resource address.
AzureRm provider may need to change the return code for this resource.

in my case, i will run `terraform state rm <resource_address>'
you can refer [resource addressing](https://www.terraform.io/docs/internals/resource-addressing.html) for more info, or
run `terraform state list`

[2019-09-24 07:23] tombuildsstuff commented on #4410
hi @shurick81

Thanks for opening this issue :)

The Azure Provider attempts to automatically register any Resource Providers which it supports to provide a better user experience (since the error messages returned from Azure when a Resource Provider is unregistered are unhelpful). Since there's no way for us to know within the Azure Provider which Resource Providers are needed (since this informa

[2019-09-24 07:23] #4410 closed

[2019-09-24 09:20] Dikymon opened #4413 "Regarding #1662: Allow Container ~Group~ Ports to be specifically specified rather than aggregating the container ports"
This is basically a rehash of issue [#1662](https://github.com/terraform-providers/terraform-provider-azurerm/issues/1662) which was closed as part of [#1930](https://github.com/terraform-providers/terraform-provider-azurerm/issues/1930) but does not seem to fix the issue stated in #1662

A container groups exposed ports are still an aggregation of the defined containers ports, eventhough ARM allo

[2019-09-24 10:03] jrauschenbusch opened #4414 "New Resource: azurerm_kusto_database_principal"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-24 10:18] mapdegree commented on #4239
Just tested it via terraform with the provider version mentioned above and still returning the error message.

`* azurerm_template_deployment.event_hub_kafka_enabled_firewallrule: Error waiting for deployment: Code="DeploymentFailed" Message="At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details." Det

[2019-09-24 10:56] KefeGF opened #4415 "azurerm_monitor_metric_alert error Potentially dangerous request.path value"
Hi

I am trying to create an alert rule using "azurerm_monitor_metric_alert". No matter how I configure it, I get this error message:

Terraform v0.12.9
azurerm v1.33.0

* `azurerm_monitor_metric_alert`

### Terraform Configuration Files

[code]

Error message:
[code]

terraform plan does not produce error but terraform apply does.

### Community Note

* Please vote on this issue by adding a 👍 [re

[2019-09-24 11:21] secustor commented on #4138
For the problem still occurs.

[code]

Log:
[code]

[2019-09-24 11:41] neil-yechenwei opened #4417 "azurerm_netapp_account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-24 11:49] aberva opened #4418 "azurerm_frontdoor_firewall_policy - name not retrieved after import, forced replacement"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-24 11:55] SipkeW commented on #2985
Ran in to this as well, but on the Log Category: "Auditevent" apparently this was changed to: "Audit" (needs to be updated in the terraform documentation )
To verify i this is also the case for WorkFlowRuntime do the following:
run the following in azure shell (i had to do this in the browser to get it to work)

`get-AzureRmDiagnosticSetting -resourceid /subscriptions/xxxxxxxxxxxxxxxxxxxxx/resourc

[2019-09-24 13:53] magbergq commented on #4356
We experience the same problem running Terraform v0.11.13 and azurerm v1.30.1. It wants to replace the existing cluster with a new one due to
`service_principal.0.client_secret:    <sensitive> => <sensitive> (forces new resource)`

Interestingly enough we see the problem when running terraform from our gilab build pipe (image: hashicorp/terraform:0.11.13), but everything works fine when running it

[2019-09-24 14:04] jontreynes opened #4419 "VM Scale Set Scale-In Properties update"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-24 14:21] nicethomaslearngit opened #4420 "Azure shared image gallery version"
Issues on GitHub are intended to be related to bugs or feature requests with provider codebase,
so we recommend using our other community resources instead of asking here 👍.

---

Hi Team,

  Could you kindly assist me how to get all the image versions in my image definition. I tried multiple ways and no luck.

Any help is much appreciated.

Thank You

[2019-09-24 14:32] debisyw opened #4421 "New Data Source: Azure Data Factory"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-24 15:21] mybayern1974 commented on #3936
For account, [PR 4416](https://github.com/terraform-providers/terraform-provider-azurerm/pull/4416
) is tracking

[2019-09-24 15:46] jontreynes commented on #4419
@tombuildsstuff thoughts?

[2019-09-24 17:15] negeric commented on #3900
It looks like this issue has been resolved with Terraform v0.12.9

[2019-09-24 17:27] shiv-rajawat opened #4422 "service-mode and allowed-origins arguments missing from azurerm_signalr_service"
## Community Note ##
- Please vote on this issue by adding a 👍 reaction to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
- If you are interested in working on this issue or have submitted a pull request, please leave a comment
## D

[2019-09-24 17:34] ptzbguenter opened #4423 "API Management Delegation is not able to be configured"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-24 18:28] katbyte commented on #4378
Hi @nicethomaslearngit,

We have actually quietly adding support for multi tenant situations like this with service principal authentication. the CLI version is in the works but no timeframe yet. It's not been documented as it remains untested/unofficial but if you'd like to give it a try using a SP for auth and adding  the additional tenants in the provider block:
[code]

or in an environment var

[2019-09-24 18:38] ulm0 commented on #4356
We just upgraded to terraform 0.12.7 (from 0.11.13) and azurerm 1.34.0, other than that we changed *nothing*.

Now it forces aks recreation

[code]

[2019-09-24 21:17] #3748 closed

[2019-09-24 22:00] katbyte commented on #4384
Fixed by #4411

[2019-09-24 22:00] #4384 closed

[2019-09-24 22:44] #4393 closed

[2019-09-24 23:03] enorlando commented on #3728
This is also true when kind is set to `QnAMaker`

[2019-09-25 00:23] jeffreyCline commented on #4418
@aberva Thanks for opening this issue and bringing this to our attention. I am currently unable to repro this issue locally. Below are the steps I took to attempt to repro your issue:

First, I created a terraform configuration file that looks like this:

[code]

Then I ran the following command:

[code]
Once my `Resource Group` was created I then imported my `azurerm_frontdoor_firewall_policy` re

[2019-09-25 02:08] dhhuang opened #4427 "Failed to create image from a VHD file"
### Terraform (and AzureRM Provider) Version

Terraform v0.12.7
+ provider.azurerm v1.32.1
+ provider.external v1.2.0
+ provider.null v2.1.2

### Affected Resource(s)

* `azurerm_image`

### Terraform Configuration Files

provider "azurerm" {
  version = "1.32.1"
}

resource "azurerm_resource_group" "test" {
  name     = "image-test"
  location = "${var.location}"
}

resource "azurerm_storage_acco

[2019-09-25 02:33] dbilleci-lightstream commented on #4330
Could someone explain why this is closed? We're seeing more dependency issues suddenly appearing in this same vein. I'll work on some reproduction code if needed, but this is clearly not a solved issue.

[2019-09-25 07:35] tombuildsstuff commented on #1903
Upstream issue: https://github.com/tombuildsstuff/giovanni/issues/17

[2019-09-25 08:45] LW81 commented on #4420
I would like to add a second part to that question.
Is there any way to get the "latest" version of a specific image ?

I see that the resource "azurerm_shared_image_version" has an argument called "exclude_from_latest"

But i have no idea how to query an image for its latest version.

Cheers

[2019-09-25 08:52] rudolphjacksonm opened #4428 "Attribute change for kube_admin_config and server_app_secret with provider 1.34.0 when running terraform plan"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-25 08:55] tombuildsstuff commented on #4428
hi @rudolphjacksonm

Thanks for opening this issue :)

Taking a look through this appears to be a duplicate of #4356 - rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one; would you mind subscribing to #4356 for updates?

Thanks!

[2019-09-25 08:55] #4428 closed

[2019-09-25 08:59] rudolphjacksonm commented on #4428
Cheers @tombuildsstuff , my colleague just spotted that and I was going to close this issue but you beat me to it :) Thanks for the fast response.

[2019-09-25 09:00] aarroyoc opened #4429 "aks: agent_pool_profile should not take into account what value count has when autoscaler is enabled"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-25 10:06] mybayern1974 commented on #4196
@stefan-rapp , I'd like to share with you some staged updates:

1. We noticed the feature that has ```secondary_replica_count``` configurable was newly enabled by Azure, in terms of programing, at the beginning of Sep, when the Go SDK did not cover that yet, so we will use the newly released Go SDK;
2.  After we introduced the new SDK we found that the new SDK has a lot of incompatibilities with t

[2019-09-25 10:15] MMollyy commented on #3881
Any comments on this?
Personally I'm actually more curious on the block properties, or seperate resources on defining/using the Run as accounts. Which I assume would go into the same structure as the service principal that could be provided?

[2019-09-25 10:21] MacTynow commented on #4080
I've been doing some research around this and modified the provider to change the behavior but it looks like this is actually a problem that ultimately rests with the Azure API.

The following code creates a cluster with no addon profiles :
[code]

Running `terraform plan` will show the following:

[code]

Note the `addon_profile` section that shows all values as computed (that doesn't happen if y

[2019-09-25 10:25] nicethomaslearngit commented on #4378
Hi @katbyte

 Thanks a lot for the update.

I tried using auxiliary tenant ids and unfortunately its not working, I will await for the official documentation for using this.

Thank You

[2019-09-25 11:26] james-miller opened #4430 ""Principal does not exist in the directory" when creating role assignment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-25 11:30] NickMetz commented on #4429
This looks like a duplicate of #4075

[2019-09-25 12:05] AbhishekB15 opened #4431 "Automated configuration of Azure RunAsAccount while creating Azure Automation Account using Terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-25 14:01] BenTheCloudGuy opened #4434 "Azure Front Door TLS Version Support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-25 14:13] MMollyy commented on #4431
On top of this feature request I would like to note the ability to create and use service principals for the automation account, which I believe should be possible with the azure ad provider?
As well as connection, certificate and custom role (incl. scoping) handling for that service principal. Of which I believe only the latter three would be possible with the current azurerm provider.

[2019-09-25 14:52] djackyn commented on #3239
Hi,
We have the same issue if oms_agent was disabled, we cannot do anything with the AKS cluster.

[2019-09-25 16:22] aberva commented on #4418
@jeffreyCline Thanks

Thank you for this quick return
I found the cause of the problem by comparing your import command and the one I used.
Indeed, there is a slight difference but it gives a different result.

Your import command :

`terraform import azurerm_frontdoor_firewall_policy.test /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/repro-4418/providers/Microsoft.Network/fro

[2019-09-25 18:57] jeffreyCline commented on #4418
@aberva , you're welcome and indeed there was/is an issue with the docs which I didn't notice until after release, but I quickly fixed them with this [PR](https://github.com/terraform-providers/terraform-provider-azurerm/pull/4364) so that issue will be fixed with the release of v1.35.0.

I'm going to go ahead and close this as I understand your issue has been resolved and I am very happy that I w

[2019-09-25 18:57] #4418 closed

[2019-09-25 22:20] hashibot[bot] opened #4438 "Failed to create image from a VHD file"
_This issue was originally opened by @dhhuang as hashicorp/terraform#22896. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
Terraform v0.12.7

provider.azurerm v1.32.1
provider.external v1.2.0
provider.null v2.1.2

### Terraform Configuration

[2019-09-26 02:11] shankarsundaram opened #4594 "azurerm_role_definition.vm: authorization.RoleDefinitionsClient#CreateOrUpdate: Failure responding to request: StatusCode=400"
**Error**:
"azurerm_role_definition.vm: authorization.RoleDefinitionsClient#CreateOrUpdate: Failure responding to request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="InvalidActionOrNotAction" Message="'Microsoft.Compute/hosts/delete' does not match any of the actions supported by the providers."
I'm performing the following rbac operation in terra

[2019-09-26 08:17] tombuildsstuff commented on #4438
Duplicate of #4427

[2019-09-26 08:17] #4438 closed

[2019-09-26 08:18] tombuildsstuff commented on #4429
hi @aarroyoc

Thanks for opening this issue :)

Taking a look through this appears to be a duplicate of #4075 - rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one; would you mind subscribing to #4075 for updates?

Thanks!

[2019-09-26 08:18] #4429 closed

[2019-09-26 08:49] #2940 closed

[2019-09-26 10:15] Faaux opened #4440 "[3.14] Provider Registration fails in Azure DevOps"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-26 10:16] tombuildsstuff commented on #3900
Closing since this @negeric says this has been fixed - if this is still an issue please let us know and we'll re-open this/take another look.

Thanks!

[2019-09-26 10:16] #3900 closed

[2019-09-26 10:20] tombuildsstuff commented on #4440
hi @Faaux

Thanks for opening this issue :)

Taking a look through it appears that whilst the Service Principal may have permission to the Resource Groups it's working with, it doesn't have permission to register Resource Providers - which are managed at the Subscriptions level.

Azure's concept of a Resource Provider requires that the Resource Provider is registered before any API's within that R

[2019-09-26 10:20] #4440 closed

[2019-09-26 10:25] Faaux commented on #4440
Thanks for the quick anwser, didnt know about it.

[2019-09-26 10:26] tombuildsstuff commented on #4239
@mapdegree unfortunately that's not supported using an ARM Template Deployment - this fix applies to [the Terraform resource `azurerm_eventhub_namespace`](https://www.terraform.io/docs/providers/azurerm/r/eventhub_namespace.html).

[2019-09-26 11:19] ajcoded commented on #4356
@tombuildsstuff i think this fix should be deployed for milestone 1.34

[2019-09-26 11:48] sunnynazar commented on #486
I totally agree with @clarkcode .

Encryption of  managed data disk using "azurerm_managed_disk" encryption settings does n't work, it should be either disabled or if its an issue with Azure SDK  should be explained.

@tombuildsstuff  - do you have anymore insights on this please?

[2019-09-26 12:00] TomLous commented on #3319
Is there a best practise work around until this is fixed?

[2019-09-26 12:11] b4rd commented on #3319
@TomLous
We create the file system by invoking `az rest` after terraform apply.
E.g.
az rest --method put --uri `https://%STORAGE_ACCOUNT_NAME%.dfs.core.windows.net/%FILE_SYSTEM_NAME%?resource=filesystem" --resource "https://storage.azure.com`

[2019-09-26 12:15] b4rd commented on #3319
@TomLous
We create the file system by invoking `az rest` after terraform apply:
`az rest --method put --uri "https://%STORAGE_ACCOUNT_NAME%.dfs.core.windows.net/%FILE_SYSTEM_NAME%?resource=filesystem" --resource "https://storage.azure.com"`

Use can also check first if it already exists:
`az rest --method get --uri "https://%STORAGE_ACCOUNT_NAME%.dfs.core.windows.net?resource=account" --resource h

[2019-09-26 12:22] b4rd commented on #3319
@TomLous
We create the file system by invoking az rest after terraform apply:
az rest --method put --uri "https://%STORAGE_ACCOUNT_NAME%.dfs.core.windows.net/%FILE_SYSTEM_NAME%?resource=filesystem" --resource "https://storage.azure.com"

You can also check first if it already exists:
az rest --method get --uri "https://%STORAGE_ACCOUNT_NAME%.dfs.core.windows.net?resource=account" --resource https:

[2019-09-26 12:22] b4rd commented on #3319
@TomLous
We create the file system by invoking az rest after terraform apply:
`az rest --method put --uri "https://%STORAGE_ACCOUNT_NAME%.dfs.core.windows.net/%FILE_SYSTEM_NAME%?resource=filesystem" --resource "https://storage.azure.com"`

You can also check first if it already exists:
`az rest --method get --uri "https://%STORAGE_ACCOUNT_NAME%.dfs.core.windows.net?resource=account" --resource htt

[2019-09-26 13:22] SirWayne commented on #4084
Is there no news here?

[2019-09-26 13:51] debisyw opened #4441 "Storage container ID inconsistent/incorrect"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-26 15:02] arifsundrani commented on #2613
@tombuildsstuff

Sorry to poke you, but do you have an update on this? I am wondering as the [pull request](https://github.com/Azure/azure-rest-api-specs/pull/6065) has been closed.

Thanks

[2019-09-26 15:02] v1r7u commented on #4356
One more example on our side.
We have a terraform state created with azurerm provider version `1.33.*`. when we run `terraform apply` without no changes to template, but with provider `1.34` - it tries to re-create AKS cluster.

So, looks like running apply with provider `1.34` is not safe when you already have AKS cluster created with a previous version.

[2019-09-26 15:04] tombuildsstuff opened #4442 "Exposing the Resource Manager ID for Storage Resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-26 15:07] tombuildsstuff commented on #4441
hi @debisyw

Thanks for opening this issue.

The Storage Container resource is provisioned using [the Storage Data Plane API](https://docs.microsoft.com/en-us/rest/api/storageservices/create-container) rather than [the Resource Manager API](https://docs.microsoft.com/en-us/rest/api/storagerp/blobcontainers/create) which most other resources use; as such the ID for this resource is intentionally us

[2019-09-26 15:07] #4441 closed

[2019-09-26 15:09] yaroslavslv opened #4443 "Huge difference with time of creating of the same services and then stack in loop without results"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-26 15:41] tombuildsstuff commented on #2613
@arifsundrani we're still waiting on Microsoft to fix the API: https://github.com/Azure/azure-rest-api-specs/issues/6372

[2019-09-26 15:45] AHelper opened #4445 "azurerm_storage_account not waiting until fully ready before creating tables"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-26 15:47] asubmani commented on #4327
`orchestrator_version` is perfect 👌. Another thing to note is that the `orchestrator_version` should probably comply with the `kubernetes_version`. E.g. Assuming AKS supports only having N-3 version for the new `orchestrator_version` where N being the `kubernetes_version`; it would be great if we can check that in a `terraform plan`.

Possible scenario I am looking to avoid is: `kubernetes_version

[2019-09-26 15:52] asubmani commented on #4327
+ @sauryadas > would you know about nodepool version to AKS cluster version dependencies. I presume there will be some restriction/best practices when kubernetes version and nodepool orchestrator are of different versions.

[2019-09-26 16:49] TripleMalahat opened #4446 "Can't connect Azure Activity Logs to a Log Analytics Workspace Using Terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-26 17:03] svangeti opened #4447 "azurerm_postgresql_database.testdb: Code="InternalServerError" while destroying"
### Terraform (and AzureRM Provider) Version
Terraform -v = 0.11.8
azurerm: version = "~> 1.30"

### Affected Resource(s)

* `azurerm_postgresql_database`

### Terraform Configuration Files

`{
  "resource" : {
    "azurerm_postgresql_server" : {
      "pgserver" : {
        "ssl_enforcement" : "Enabled",
        "administrator_login" : "${var.serveruser}",
        "administrator_login_password" :

[2019-09-26 18:38] runecalico commented on #3964
@flagbug  - What you found exactly described the root cause of my "insufficient items" error,  I had deployed a linux ASP, which at the 58 min mark tf died, so after it finally provisioned I tried to import it and... this error kept on popping up and the state info was missing alot of things. Using the all lowercase serverfarms vs serverFarms on the import gave all the required info.

[2019-09-27 00:06] davidtom commented on #2164
Any updates on this? Would love to stop seeing these in all of my plans.

[2019-09-27 09:30] ArcturusZhang opened #4450 "Error occurs when updating existing resource by detaching a sub-resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-27 09:30] mybayern1974 commented on #4208
@tracypholmes , I would suggest close this issue for now and assume @bytejunkie could possibly reopen/re-issue one if problems continue.

[2019-09-27 09:59] bytejunkie commented on #4208
I have seen this since, with a run of the same template, over already deployed storage containers, but with new containers to be deployed in the plan.
When i've tried to dig into it, i just can't get it to repeat.
I've since upgraded TF agent and provider and am not getting it, so I agree, it makes sense to close and reopen with more info if it re-occurs.

[2019-09-27 09:59] #4208 closed

[2019-09-27 10:03] nicethomaslearngit commented on #4420
Hi @LW81

The below will give you the latest image version

data "azurerm_shared_image" "latest" {
  name                = "test"
  gallery_name        = "test_gallery"
  resource_group_name = "test_resource"
}

 id = "${data.azurerm_shared_image.latest.id}"

[2019-09-27 12:05] r0bnet commented on #4327
I thought of something like that but i didn't find any constraints in that regard. So i completely omitted a validation and hoping that either the API is validating it correctly and/or the user knows what she/he does.

The only thing that seems valid to me would be to check if the `kubernetes_version` must be "higher" than the `orchestrator_version`. This should be easy by using a semver lib.

[2019-09-27 13:05] LW81 commented on #4420
Thx @nicethomaslearngit

but i am afraid that's not correct what you are saying.
This will just give you back the ID of the Shared Image, but **not** the latest Image_Version of that Image.

Or am i missing something here ?

[2019-09-27 20:52] jnunham commented on #3813
@dhsass @khaljimbo Several people at my company have run in to this and discovered that if you reuse the account name for the geo_location prefix, this is what is causing the issue. 2 solutions to this:

#1. Remove the prefix altogether (this will just make the Azure API auto generate one for you)

#2. Follow the updated method on the Terraform documentation page, particularly:
`  prefix

[2019-09-29 06:03] mybayern1974 commented on #4434
@WodansSon for awareness.

[2019-09-29 06:45] mybayern1974 commented on #4330
@dbilleci-lightstream @mikhailshilkov , in addition to identify the root cause that could be related with the deletion dependency, may i suggest you have a try on the work around of using the [depends_on](https://www.terraform.io/docs/configuration/resources.html#depends_on-explicit-resource-dependencies) feature in terraform? It explicitly declares the dependency among resources, though you need

[2019-09-29 09:02] mikhailshilkov commented on #4330
The `depends_on` workaround works, that's what I use from the day I discovered the problem. However, it shouldn't be needed and this issue should be reopened, in my opinion.

[2019-09-29 12:41] jrauschenbusch commented on #4414
After a first look at the Azure SDK for Go implementation, I'm more into an implementation that adds principals in the context of the resource `azure_kusto_database`:

[code]

@r0bnet Can you maybe give some feedback?

[2019-09-30 05:54] tombuildsstuff commented on #4446
hi @TripleMalahat

Thanks for opening this issue :)

Taking a look through this appears to be a duplicate of #3182 - rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one; would you mind subscribing to #3182 for updates?

Thanks!

[2019-09-30 05:54] #4446 closed

[2019-09-30 05:59] tombuildsstuff commented on #4450
hi @ArcturusZhang

Taking a look through it appears the resource needs modifying for this to work - to work around this we'll deprecate this field within the `azurerm_public_ip` resource and create a new `azurerm_public_ip_prefix_association` resource to manage the link between these two resources, which I've scheduled for 2.0.

Thanks!

[2019-09-30 06:04] r0bnet commented on #4414
Hey @jrauschenbusch,
I'd rather prefer the option that @tracypholmes presented since i had some "bad" experiences with inline resources. That's why i would always choose own resources over inline stuff. It might seem to be a bit overhead because you need to specify `name`, `resource_group_name`, `cluster_name` and `database_name` but that shouldn't be a problem imho.

[2019-09-30 07:31] PSanetra opened #4456 "New Data Source: azurerm_app_service_certificate"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-30 08:19] w0rldart commented on #3635
Yup, having the same issue. And as Mikhail said, @cdesewell's suggestion seems to make sense most.

[2019-09-30 09:03] rudolphjacksonm commented on #1251
Any updates on this issue?

[2019-09-30 09:34] tombuildsstuff commented on #4447
hi @svangeti

Thanks for opening this issue.

Taking a look into this unfortunately this is a temporary error being returned by Azure - the Azure Provider automatically retries certain status codes (such as Internal Server Error) to work around bugs in the API; which means that for this to be raised this status code must have been returned repeatedly.

Where we receive Internal Server Errors there

[2019-09-30 09:34] #4447 closed

[2019-09-30 10:16] mikhailshilkov opened #4459 "UpdateAuthSettings causes InternalServerError in azurerm_function_app"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-30 10:58] ragoragino opened #4460 "azurerm_cosmosdb_mongo_collection does not seem to allow compound indexes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-30 11:01] Lidestyle opened #4461 "Azure FrontDoor : Caching issue - Unexpected resource modifying"
### Terraform (and AzureRM Provider) Version

[code]

### Affected Resource(s)

* `azurerm_frontdoor`

### Terraform Configuration Files

### - module -- frontdoor
### -  --  main.tf
[code]

### Expected Behavior
[code]
**TERRAFORM SHOULD NOTIFY ABOUT ANY CHANGES**

### Actual Behavior

[code]
 - Operation result: "Apply complete! Resources: 0 added, 0 changed, 0 destroyed."
 - **UNEXPECTED ACTION

[2019-09-30 16:24] smushtaq commented on #171
Upgrading the version of my aks cluster took longer than an hour and thus i got the same error. All nodes were eventually updated but the build failed. Waiting for this feature to become available so that i can set timeouts for my aks clusters create/update operations

[2019-09-30 16:39] sean-nixon commented on #3507
Azure Windows Virtual Desktop is now GA (https://azure.microsoft.com/en-us/blog/windows-virtual-desktop-is-now-generally-available-worldwide/) and we plan on using it heavily as well so it would be great if this provider supported it. Looks like there will need to be several new resources required from the API docs here: https://docs.microsoft.com/en-us/rest/api/virtual-desktop/

[2019-09-30 19:57] jluk opened #4465 "Support planned AKS API default swap to VMSS + SLB (from VMAS + BLB)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-01 00:34] ratmav commented on #4403
i ran into this today with the both the [regular and custom content examples listed in the documentation](https://www.terraform.io/docs/providers/azurerm/r/automation_runbook.html).

[2019-10-01 00:45] bernyfox commented on #3239
I am also experiencing the same issue since the oms agent addon profile has been disabled. Upgrades are still available through the portal interface, but no upgrade will work through terraform, resulting in the error message from the initially described issue.

[2019-10-01 00:48] ArcturusZhang commented on #4450
That would work fine. But this reminds me this [issue](https://github.com/terraform-providers/terraform-provider-azurerm/issues/4330), when removing an association, a concurrent modification may occur and cause an similar error to issue #4330

[2019-10-01 05:52] r0bnet commented on #4456
PR: https://github.com/terraform-providers/terraform-provider-azurerm/pull/4468

[2019-10-01 08:12] #4456 closed

[2019-10-01 08:50] naikajah opened #4470 "FrontDoor managed SSL cert provisioning takes long time and eventually times out"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-01 10:16] KefeGF commented on #4415
Has noone experienced this?

[2019-10-01 10:53] jrauschenbusch commented on #4414
Ok,

which presented option of @tracypholmes do you mean?

I already started with the implementation of the dedicated resource based principal approach. A first insight was that it's not an dedicated principal which shall created but more a permission assignment which is applied for an already created/existing principal. Hence i think it should be better called `permission` instead of `principal`.

[2019-10-01 11:04] ak58588 opened #4471 "Creation of azurerm_subnet_network_security_group_association hangs forever"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-01 11:04] #3375 closed

[2019-10-01 11:05] tombuildsstuff commented on #3239
Closed the wrong issue - reopening

[2019-10-01 11:14] tombuildsstuff commented on #4356
👋

I've been taking a look into this issue and have opened #4469 which includes a couple of fixes for this:

1. Retrieving the current Client Secret from the Statefile during a read
2. Allowing updates to the Service Principal (client_id/client_secret rotation)

As such this will no longer force recreation of the Kubernetes Cluster - first by retrieving the existing Client Secret from the configur

[2019-10-01 11:14] #4356 closed

[2019-10-01 11:15] tombuildsstuff commented on #4471
hi @ak58588

Thanks for opening this issue :)

Taking a look through this appears to be a duplicate of #2489 - rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one; would you mind subscribing to #2489 for updates?

Thanks!

[2019-10-01 11:15] #4471 closed

[2019-10-01 11:17] tombuildsstuff commented on #4470
hi @naikajah

Thanks for opening this issue.

Taking a look into this the underlying issue appears to be #171 - once that's supported (which we're doing as a part of 2.0 - as outlined in #2807) will allow resources to define custom timeouts; as such once #171 is supported it should be possible to get this fixed.

Thanks!

[2019-10-01 11:43] ak58588 commented on #2489
As I described in the issue #4471, I have 4 `azurerm_subnet` resources already existing and want to attach each subnet to the only `network_security_group` by creating `azurerm_subnet_network_security_group_association` and adding `network_security_group_id` as a property to each subnet. Several subnets are stuck in status "Still modifying..." forever as well as some associations are stuck forever

[2019-10-01 12:26] pedrohdz commented on #2489
I have found that pinning to `v1.33.0` resolves the issue, as a work around.

[2019-10-01 12:30] r0bnet commented on #4414
Sorry, it was a mistake by me. I'm in favor of your first implementation to have a separate resource and not to add it to the database resource itself.

Regarding the implementation you're probably right. You probably have to remove and set them new each time you update the resource (if the permissions changed). You might have no choice but to inline it. Forgot about this implementation detail you

[2019-10-01 15:39] RavulaChetan commented on #626
Hi @tombuildsstuff

I am trying to use azurerm_eventhub_namespace_authorization_rule and i am getting error passing eventhub name "eventhub_name"

Error message
An argument named "eventhub_name" is not expected here.

I am able to create Auth rules on EventHub Namespace when i dont use eventhub_name.

Can you look into this please.

[2019-10-01 15:49] justcallmetrell commented on #486
Have been attempting to deploy a VM w/ Manged OS and Data disk following the Terraform Documentation, however, persistent issues as others in the thread are mentioning. For me, I receive

`Error: compute.VirtualMachinesClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="InvalidParameter" Message="Parameter 'osProfile' is not allowed." Target="osProfile"`

I remo

[2019-10-01 17:06] bostonmoto commented on #1776
Hi @tombuildsstuff there's a note on the referenced blocker https://github.com/Azure/azure-sdk-for-go/issues/4781 saying the issue was fixed on 8/21. Is it possible to proceed with the request at this point?
Thanks!

[2019-10-01 17:33] jluk commented on #4327
@asubmani @r0bnet the versions do need to adhere to some rules, defined here: https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#upgrade-a-cluster-control-plane-with-multiple-node-pools

However, IMO it's better to defer the validation to AKS as the source of truth so you're not trying to constantly stay in sync with AKS if the rules change over time.

[2019-10-01 17:35] jluk commented on #4327
To illustrate the moving target of rules for TF and a desire to avoid it - the supported window of versions for AKS is moving from N-3 to N-2 in a few months to align with Kubernetes supported windows (mentioned here: https://github.com/Azure/AKS/issues/1235).

[2019-10-01 18:21] matt-FFFFFF commented on #3624
I'm also affected by this. My use case requires the '@' record creating to enable aliasing at the zone level. Something like this:

[code]

[2019-10-01 21:27] ymash13 commented on #1776
It would be really nice to have this done. I really need it.

[2019-10-02 05:14] #4373 closed

[2019-10-02 05:37] #4343 closed

[2019-10-02 05:44] tombuildsstuff commented on #3738
hi @davidobrien1985

Thanks for opening this issue :)

Taking a look through support for this new API has been added and [is now available as the `azurerm_private_dns_zone ` resource](https://www.terraform.io/docs/providers/azurerm/r/private_dns_zone.html) - would you be able to take a look and see if that works for you? The older preview fields are unsupported and will be removed in 2.0 - since t

[2019-10-02 05:44] #3738 closed

[2019-10-02 07:02] ranokarno opened #4480 "Storage Account Error 504 GatewayTimeout"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-02 07:05] matthieuklotz commented on #4480
Same issue with terraform 0.12.9

[2019-10-02 07:47] c054864 commented on #4480
Interesting, I too have experienced this problem over the last two days and put it down to Azure / service issue.  Yesterday, the problem went a way around 11:00BST, but I have it again this morning.

[2019-10-02 07:49] tombuildsstuff commented on #4480
hi @ranokarno @matthieuklotz

Thanks for opening this issue.

Unfortunately this is an issue within the Azure API where the Internal API isn't responding to the Public Azure API within a designated time period - as such unfortunately there's not a lot we can do to work around this. As @c054864 has mentioned this appears to be intermittent - as such I'm going to suggest opening an issue with Micros

[2019-10-02 07:49] #4480 closed

[2019-10-02 08:04] ak58588 commented on #2489
@pedrohdz have just tested on 1.33.0 with 4 subnets and it is still the same - the resources are still stuck being modified/created.

[2019-10-02 10:07] jwueste opened #4481 "Timeout when refreshing state of storage account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-02 10:21] TheStanHo commented on #4481
I am also receiving this error today. When I ran it yesterday it was fine. As a temporary fix I've downgraded my provider to 1.31.0 and it has ran fine.

[2019-10-02 10:24] tombuildsstuff commented on #4481
hi @jwueste @TheStanHo

Thanks for opening this issue.

Unfortunately this is an issue within the Azure API where the Internal API isn't responding to the Public Azure API within a designated time period - as such unfortunately there's not a lot we can do to work around this. As was mentioned in #4480 it appears this issue is intermittent - as such I'm going to suggest opening an issue with Micros

[2019-10-02 10:24] #4481 closed

[2019-10-02 12:39] BenMitchell1979 commented on #171
Many of the Azure APIs with long running operations have been switched to respond with a 202 Response Code.

[2019-10-02 12:45] SebRosander commented on #4372
@edboykin-insight You can add an app service to a VNet without using an App Service Environment. Even though the feature is in preview and have some restrictrions to it: https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet

I'm running into similar problem with the association of the virtual network, more based on that the https://www.terraform.io/docs/providers/azurerm

[2019-10-02 12:54] BenMitchell1979 commented on #4470
The Azure API returns a 202 Response for this operation. Giving it a custom time-out won't resolve this issue if TF is expecting a 200.

[2019-10-02 12:54] tombuildsstuff commented on #171
@BenMitchell1979 Terraform/the Azure SDK already accounts for those by polling on them, this issue's tracking supporting services with extremely long provisioning times (e.g. SQL Managed Instance) by allowing users to specify a custom timeout - which should resolve this.

---

To give an update here: we've started working on 2.0 as such support for this will be added to Terraform in the not-too-di

[2019-10-02 13:16] tombuildsstuff commented on #4470
@BenMitchell1979 the Azure Provider already polls on 202's - unfortunately in this instance 6 hours is a rather extreme provisioning time.

Internally the Azure Provider has a hard-limit for provisioning time of 3 hours per resource (which for most resources is considerably longer than they'd take) - but unfortunately this doesn't cover all of the longer running resources (such as this and SQL Man

[2019-10-02 13:31] tombuildsstuff commented on #4372
@SebRosander attaching App Services which aren't in an App Service Environment to a Virtual Network's gone through a few iterations on the Azure end unfortunately.

After chatting with the service team a while back it appears that the `virtual_network_name` field exposed in the API is a previous integration attempt which was really only available through the Kudu API's, which has since been supers

[2019-10-02 13:36] SebRosander commented on #4372
Thanks for clarifying @tombuildsstuff

[2019-10-02 14:19] #3319 closed

[2019-10-02 15:08] BenMitchell1979 commented on #4470
If it's a long running operation, then CLI/PS would return once the API returns 202 and user would get the status of the operation in a separate call(Get-AzfrontdoorfrontendEndpoint in case of powershell). It doesn't poll the API for 6-8 hrs in a waiting state.

[2019-10-02 15:20] ghost opened #4482 "azurerm_api_management_subscription requires user_id while Azure Portal doesn't"
_This issue was originally opened by @jeanpaulsmit as hashicorp/terraform#22970. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
Terraform v0.12.9

### Expected Behavior
When creating a subscription on a product in Azure API Management there

[2019-10-02 15:31] dannysievers commented on #3156
I have run into this same issue. I have two subnets configured as Service Endpoints and Terraform cannot destroy the Storage Account. Any updates on a solution to this issue?

[2019-10-02 15:40] sorenhansendk commented on #2489
I have exactly the same issue when I create new subnets with a security group association. Will it help to use the (deprecated) `network_security_group_id` property on the `azurerm_subnet` resource?

[2019-10-02 16:13] Djiit opened #4485 "Terraform always wants to recreate HDInsight Kafka Cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-02 16:19] #3316 closed

[2019-10-02 16:20] tombuildsstuff commented on #4470
@BenMitchell1979 Terraform intentionally waits until a resource has provisioned successfully before returning from the `Create` method - so unfortunately we'd not return "ready" when the resource isn't provisioned.

[2019-10-02 16:53] SethNute opened #4487 "Support sampling_percentage In azurerm_application_insights"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-02 17:31] sjentzsch opened #4488 "Error: Cannot register provider Microsoft.Kusto with Azure Resource Manager"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-02 17:40] egorchabala commented on #438
So what's the current status? Still nothing from PG?

[2019-10-02 17:56] tombuildsstuff commented on #4488
hi @sjentzsch

Thanks for opening this issue :)

The Azure Provider attempts to automatically register any Resource Providers which it supports to provide a better user experience (since the error messages returned from Azure when a Resource Provider is unregistered are unhelpful). Since there's no way for us to know within the Azure Provider which Resource Providers are needed (since this informa

[2019-10-02 17:56] #4488 closed

[2019-10-02 18:05] sjentzsch commented on #4488
@tombuildsstuff Appreciate your prompt and detailed response, thanks for clarification!
Indeed, this issue can be closed then and we find a solution on our end.

[2019-10-02 20:08] siddthota commented on #4061
Awesome.... Thanks for the tip. It worked with https:// :)

[2019-10-02 20:10] #4061 closed

[2019-10-02 20:12] siddthota commented on #3682
Figured out a different way to solve it.

Now we are creating ACR/keyvault in the same file as App Service and using ${module.keyvalt.secret} and it works fine.

[2019-10-02 20:12] #3682 closed

[2019-10-02 22:10] robck commented on #2254
Using the format `vnetResourceGuid_subnetName` for the `virtual_network_name` doesn't work for me. No errors occurs but the azure portal shows no VNet integration configured (same as the OP screenshot)

Can anyone confirm this has worked previously?

[2019-10-02 22:27] canduu-tg opened #4490 "Function_App supporting HTTP 2.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-03 00:20] hashibot[bot] opened #4492 "Route association continually gets removed and added with every Terraform apply"
_This issue was originally opened by @ymash13 as hashicorp/terraform#22968. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

`V0.12.9``

### Terraform Configuration Files

resource "azurerm_subnet_route_table_association" "Fortinet" {
subnet_

[2019-10-03 02:44] #3234 closed

[2019-10-03 03:22] tombuildsstuff commented on #2254
@robck attaching App Services to a Virtual Network's gone through a few iterations on the Azure end unfortunately.

After chatting with the service team a while back it appears that the `virtual_network_name` field exposed in the API is a previous integration attempt which was really only available through the Kudu API's, which has since been superseded by a new integration method which is being a

[2019-10-03 04:39] tombuildsstuff commented on #4386
Fixed via #4489

[2019-10-03 04:39] #4386 closed

[2019-10-03 04:47] tombuildsstuff commented on #4492
hi @ymash13

Thanks for opening this issue.

As mentioned in [the documentation](https://www.terraform.io/docs/providers/azurerm/r/subnet_route_table_association.html) unfortunately to prevent a breaking change to the Terraform Configuration in the 1.x releases of the Azure Provider you need to specify this association both in the `azurerm_subnet` resource and using the `azurerm_subnet_route_table

[2019-10-03 04:47] #4492 closed

[2019-10-03 08:18] kheiakiyama commented on #4480
Sometimes same problem has occurred in my environment since yesterday.

[2019-10-03 08:25] ranokarno commented on #4480
@kheiakiyama , as mentioned by @tombuildsstuff
issue is still ongoing and spreading worldwide due to backend Azure API. You may need to open support ticket.

[2019-10-03 08:35] nicethomaslearngit opened #4494 "azurerm_shared_image_version target_region"
Hi Team,

Could you kindly help me how to give multiple regions for target_region in shared image gallery version.

https://www.terraform.io/docs/providers/azurerm/r/shared_image_version.html

---

If you have a support request or question please submit them to one of these resources:

* [HashiCorp Community Forums](https://discuss.hashicorp.com/c/terraform-providers)
* [HashiCorp support](https:/

[2019-10-03 08:37] nicethomaslearngit commented on #4494
Thanks I got it

  target_region {
    name                   = "SouthCentralUS"
    regional_replica_count = "1"
  }
  target_region {
    name                   = "CentralIndia"
    regional_replica_count = "1"
  }

[2019-10-03 08:37] #4494 closed

[2019-10-03 08:42] c054864 commented on #4480
Hi @ranokarno  / @kheiakiyama , this is the 3rd day in the row I've had this issue, and it typically clears up around 11:30BST for me.  I've raised a support case, albeit based on a developers account so no clout but Azure have responded stating its a know backend problem and is being worked on.

[2019-10-03 08:49] kheiakiyama commented on #4480
@c054864 Thank you for your sharing.
I will also raise a support case in order to hurry up.

[2019-10-03 09:14] msaurabhee commented on #2485
This is becoming important? Was this fixed?

[2019-10-03 10:56] rvashishth opened #4495 "why azure front door name has to be same as fqdn"
### Affected Resource(s)

* `azurerm_frontdoor`

### Terraform Configuration Files

[code]
### Panic Output

here resource name `tf-test-fds` has to be used as subdomain name in `frontend_endpoint.hostname` if i change hostname to something else from `**tf-test-fds**.azurefd.net` to  `**tf-test-fds-sometheelse**.azurefd.net` it gives following error

[code]

### Expected Behavior

We should be all

[2019-10-03 11:54] #4495 closed

[2019-10-03 11:54] rvashishth commented on #4495
developer mistake

[2019-10-03 12:01] matthieuklotz commented on #4480
Hi everyone,

I have raised a support case yesterday and they have confirm the issue. The support have just mail me that everything should work fine now.

[2019-10-03 13:07] ybelMekk commented on #3203
Hei. Im intressed in this feature. Im working for Norway welfare and is in need for this, as we are exposing apis with the use of Azure Api-management. I would like to build the infrastructure with terraform.

Any updates on the upgrade of the version of the Azure API?

please hit me back

thanks

[2019-10-03 13:35] darryncurranHP commented on #4378
@nicethomaslearngit I was having the same issue as you and seem to have figured it out.

I was attempting to peer vnets across ad tenants but the idea is the same.

I followed the steps here: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/share-images-across-tenants and ended up with a service principal that had contributor access to both subscriptions (haven't tested it yet with le

[2019-10-03 14:12] dvp236 opened #4499 "Error: Error waiting for deletion of HDInsight "Hadoop" Cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-03 14:23] tombuildsstuff commented on #4499
hi @dvp236

Thanks for opening this issue :)

Taking a look through this appears to be a duplicate of #2602  - rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one; would you mind subscribing to #2602  for updates?

Thanks!

[2019-10-03 14:23] #4499 closed

[2019-10-03 14:30] tombuildsstuff commented on #4485
hey @Djiit

Thanks for opening this issue.

Taking a look into this, this appears to have been fixed via #4489, which is due to a change in the way the API responds (it now returns "*****" for the "password" field, regardless of the value, so Terraform shows a diff/forces a new resource since this doesn't match the definition in code and it's not possible to change the password in the API).

Since

[2019-10-03 14:30] #4485 closed

[2019-10-03 14:42] dvp236 commented on #4499
Sure. Thanks!

[2019-10-03 14:49] Djiit commented on #4485
Good news ! Thanks 🙏

--
Julien

Le jeu. 3 oct. 2019 à 16:30, Tom Harvey <notifications@github.com> a écrit :

[2019-10-03 15:23] RavulaChetan opened #4500 "azurerm_eventhub_namespace_authorization_rule not working when creating rule to eventhub"
### Terraform (and AzureRM Provider) Version
0.12.7

### Affected Resource(s)

This affects the new creation of eventhub authorization rule

* `azurerm_1.28`

resource "azurerm_eventhub_namespace_authorization_rule" "policy" {
  name                = "${var.policyName}"
  namespace_name      = "${var.eventHubNamespaceName}"
  eventhub_name       = "${var.eventHubName}"
  resource_group_name = "${v

[2019-10-03 16:30] jrauschenbusch commented on #4414
Hey @r0bnet

Although i think the Azure Kusto API for Database Permissions will not change that fast (or if ever) i tried to create an initial resource-based implementation:
https://github.com/jrauschenbusch/terraform-provider-azurerm/blob/kusto-database-principal/azurerm/resource_arm_kusto_database_principal.go

It's working. I've used the artificial id pattern as described in last post. Not that

[2019-10-03 18:32] wgoulet opened #4502 "Unable to bind trusted_root_certificate with backend_http_settings for "azurerm_application_gateway""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-03 19:52] egorchabala commented on #4502
Looks like Azure doesn't support PEM certificates. Can you use CER instead?
[code]

[2019-10-03 20:09] wgoulet commented on #4502
@egorchabala I didn't have an issue uploading the certificate when it was encoded in PEM format. But I agree I have not found a solution for 1 and it's good to get independent verification from something else.

I think it is possible to workaround this with a provisioner where we wrap up the Azure RM CLI commands to add the root certificate name to the backend http settings.

[2019-10-03 20:39] dft616 commented on #4461
I am having the same issue.

[2019-10-04 01:00] jontreynes opened #4504 "assign variables of map in azurerm resource attributes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-04 01:20] ghost opened #4505 "Terraform crash after canceling run"
_This issue was originally opened by @geertn as hashicorp/terraform#22988. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
Terraform v0.12.9

### Crash Output
[code]

[2019-10-04 01:37] fxgsell opened #4506 "Managed Identities for AKS"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-04 02:32] davidack commented on #4001
Recently I have been investigating how to add custom data to my node pools to make some changes to every node as it boots, and I discovered that what I need is the `custom_data` argument in the `os_profile` block of the `azurerm_virtual_machine_scale_set` resource. It occurred to me that duplicating everything that is in `azurerm_virtual_machine_scale_set` in this new `azurerm_kubernetes_cluster_a

[2019-10-04 06:11] nicethomaslearngit commented on #4420
Hi @steffencircle

Apologize I missed your comment, it will give the ID of the latest image - not the version number.

Thank You

[2019-10-04 06:11] #4420 closed

[2019-10-04 06:13] nicethomaslearngit commented on #4378
@darryncurranHP

Awesome awesome.. It worked like a charm, I was on it for couple of weeks and finally the above worked !!

@katbyte  @tombuildsstuff  FYI

Thanks again.

[2019-10-04 08:56] #3044 closed

[2019-10-04 09:10] tombuildsstuff commented on #4504
hi @jontreynes

Thanks for opening this issue.

This forum is intended to be used for feature enhancements and bugs in the Azure Provider - so that we can keep this forum focused on that we instead ask that broader questions are raised [using one of the Community Resources](https://www.terraform.io/docs/extend/community/index.html). As such I'm going to close this issue for the moment, but I belie

[2019-10-04 09:10] #4504 closed

[2019-10-04 09:52] archmangler opened #4511 "Lifecycle "ignore_changes" does not work on AKS agent_pool_profile*"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-04 11:23] StefanSchoof commented on #3304
@katbyte or @joakimhew Do want to close this, where it is done?

[2019-10-04 11:25] StefanSchoof commented on #1374
@katbyte or @tombuildsstuff: I thing this is done and can be closed.

[2019-10-04 11:52] archmangler commented on #4511
Another related issue is that somehow the terraform azurerm provider reads the agent_node o.s disk size from Azure AKS API, instead of from the agent nodes or from the state only. AKS itself doesn't seem to refresh the os disk sizes if they're updated outside of the platform.

[2019-10-04 12:18] MathieuBuisson commented on #4403
I ran into this problem as well, using the `content` argument in my case.
Terraform version : 0.12.9
Azurerm provider version : 1.35.0

[2019-10-04 12:24] 777jacq777 commented on #4495
hey, can you shed some light on what was the mistake please? I am getting the same error, many thanks

[2019-10-04 12:41] FrankGNL commented on #4356
Looks solved, when I plan terraform, it now only changes the following:
`      ~ service_principal {
            client_id     = "xxx-xxx-xxx"
          + client_secret = (sensitive value)
        }
    }`

Can I safely run apply?

Thanks

[2019-10-04 13:08] siobam commented on #3954
Hi,
I had to create workaround. I guess the main problem here that even if service principal has access to both tenant, by default the terraform provide requires subscription, so provide is not able to manage resource in both subscription.
I had to use workaround.
Here is my solution:
https://github.com/siobam/Terraform/tree/master/Module/cross_tenant_peering

[2019-10-04 13:16] tombuildsstuff commented on #4356
@FrankGNL since that fields obscured, if you check your statefile and `client_secret` shows is an empty string what Terraform's doing is calling the API's `UpdateServicePrincipal` method to update the Client ID and Client Secret to the same value, which should be a noop ( in testing that updated the statefile to contain the Client Secret, which removes the diff 😄) - so in short, it should be safe

[2019-10-04 13:48] kraihn commented on #4383
I was able to bypass the error by changing my ip_restriction block

from this
[code]

to this
[code]

It makes me wonder if the issue isn't really the app_service resource, but with Terraform in how multiple blocks vs arrays are handled.

[2019-10-04 14:31] tbviveiros opened #4515 "Resources on creation of Web App Bot"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-04 15:16] tombuildsstuff commented on #4419
hey @jontreynes

Thanks for opening this issue :)

I've spent the last few weeks working on the new Virtual Machine Scale Set resources we outlined in #2807 - as a part of this I've been going through the open VMSS issues to ensure everything's covered. Taking a look at the Azure API it appears there's two potential bits to this:

1. Configuring this on the VM Scale Set itself (which you've reques

[2019-10-04 16:00] anvarich opened #4519 "1.35 version crash, AKS SP problem"
When upgraded azurerm provider from version 1.33.1 to 1.35, terraform plan crashed with error
[code]

[2019-10-04 16:37] #3304 closed

[2019-10-04 16:47] tombuildsstuff commented on #2807
👋🏻

To give an update here: we've currently working on the functionality needed for 2.0.

To allow us to continue to ship 1.x releases (to continue adding functionality as Azure does) whilst gradually implementing the new functionality for 2.0 - we're using Feature Toggles (which allow us to have this Disabled by default, but allows the more adventurous users to opt-in and test out the new functio

[2019-10-04 17:02] J0F3 commented on #1329
@tombuildsstuff can you give use please an update what is going on here now?
To be honest I don't quite understand all the discussion around the soft delete feature here. The soft delete feature on a Key Vault is an essential feature in Azure and many other services have dependencies to it.

For example, for the customer managed key for a storage account (mentioned above) or for the Key Vault inte

[2019-10-04 17:07] tombuildsstuff commented on #160
hi @bpoland @flyinprogrammer @sushilkm

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_vi

[2019-10-04 17:08] tombuildsstuff commented on #292
hi @tmonk42

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scale_set_ext

[2019-10-04 17:08] tombuildsstuff commented on #536
hi @samirageb

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scale_set_e

[2019-10-04 17:09] tombuildsstuff commented on #809
hi @agolomoodysaada

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scale

[2019-10-04 17:09] tombuildsstuff commented on #1616
hi @Supermathie

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scale_set

[2019-10-04 17:10] tombuildsstuff commented on #1620
hi @Supermathie

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scale_set

[2019-10-04 17:10] tombuildsstuff commented on #1669
hi @Supermathie

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scale_set

[2019-10-04 17:11] tombuildsstuff commented on #1739
hi @shibataka000 @steve-hawkins @dubeaud @langemol @ocastle

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_sca

[2019-10-04 17:11] tombuildsstuff commented on #3020
hi @bradleyhunt

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_virtual_machine_scale_set

[2019-10-04 17:12] tombuildsstuff commented on #3773
hi @gregjhogan @infogulch @StevenHessing

We're currently working on version 2.0 of the Azure Provider which we previously announced in #2807.

As a part of this we're introducing five new resources which will supersede the existing `azurerm_virtual_machine` and `azurerm_virtual_machine_scale_set` resources:

* `azurerm_linux_virtual_machine`
* `azurerm_linux_virtual_machine_scale_set`
* `azurerm_

[2019-10-04 17:44] tombuildsstuff commented on #1374
Closing @StefanSchoof's request - thanks for the ping :)

[2019-10-04 17:44] #1374 closed

[2019-10-04 18:35] #4421 closed

[2019-10-04 18:41] LaurentLesle commented on #4502
For 1 have you tried to combine the root, any intermediate cert and the cert in the same file?

[2019-10-04 19:47] #4500 closed

[2019-10-04 20:58] hbastosc commented on #4403
I am running into the same problem

[code]

[2019-10-04 23:29] wgoulet commented on #4502
@LaurentLesle I don't think that solves problem 1 because we are specifically trying to solve the problem of ensuring that the trusted_root_certificate is honored by the backend_http_settings. The frontend SSL cert already contains the full cert chain because you are uploading a PKCS12 file that has the full chain + cert & key.

The workaround I have come up with until the provider supports this s

[2019-10-05 04:08] rvashishth commented on #4495
Frontend endpoint Host name subdomain must be same as frontdoor name. In my case it must be sample-fds.azurefd.net

[2019-10-05 07:05] #3239 closed

[2019-10-05 07:08] katbyte commented on #4080
I believe this may be fixed by #513

[2019-10-05 07:58] #3586 closed

[2019-10-05 12:02] arestarh opened #4528 "azurerm_service_fabric_cluster support for client certificates common name"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-06 17:56] nicethomaslearngit commented on #4378
Hi @darryncurranHP  @katbyte @tombuildsstuff

I ran into another issue, when I am trying to deploy to same tenant it failing with error tenant_id and auxilliary tenant_id are same.

I did a workaround as below

auxiliary_tenant_ids = "${(var.sig_tenant_id == var.tenant_id ? [] : ["var.tenant_id"])}"

If both tenant IDs are same , I am assigning a null value and is working fine in terraform 12. But

[2019-10-06 18:38] hbuckle commented on #4196
Looking at the provider code, `read_scale` is an optional attribute, but it defaults to `false`. I would think that if this is optional terraform should not be setting it unless the user specifies a value.

[2019-10-06 21:57] jorgecarleitao opened #4532 "Error when adding azurerm_app_service.identity and azurerm_role_assignment to existing infrastructure"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-07 02:47] worldspawn commented on #19
Hey folks, I am running Azurerm 1.34.0 and am experiencing this. I had an existing storage resource defined and created and then added a queue_properties block and now consistently get:
[code]

Here is the complete resource. The location is australiasoutheast.

[code]

[2019-10-07 04:28] tombuildsstuff commented on #19
@worldspawn out of interest if you add/remove a tag to the storage account first does that error still occur? It appears that Storage Account is using an older API version (whilst we're requesting a new one) - adding/removing a Tag in Azure normally allows that to be updated

[2019-10-07 05:41] katbyte commented on #4080
Fixed by #4513

[2019-10-07 05:41] #4080 closed

[2019-10-07 06:55] kheiakiyama commented on #4480
I also hear a bug is fixed from support.

[2019-10-07 07:49] jincod opened #4536 "Error during creating Media Service Account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-07 07:50] tombuildsstuff commented on #4480
@kheiakiyama @matthieuklotz glad to hear this is now working for you 👍

[2019-10-07 08:01] 777jacq777 commented on #4495
Nice one, cheers bud

[2019-10-07 08:44] ranokarno commented on #2977
hi @tombuildsstuff ,
has this issue resolved ? is it related with [PR#416](https://github.com/Azure/go-autorest/pull/416)

[2019-10-07 08:52] ashemedai commented on #4398
@tombuildsstuff Just curious, why did the label change from bug to question?

[2019-10-07 09:14] MacTynow opened #4540 "AKS aci_connector addon can't be disabled"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-07 09:41] tombuildsstuff commented on #2977
@ranokarno not yet, this issue's open/tracking this bug

[2019-10-07 09:42] ranokarno commented on #4480
hi @tombuildsstuff ,

I heard from Microsoft that this issue is not fully resolved. MS said it is pending Terraform to change ATP API url to stable version.
[code]

[2019-10-07 10:00] matt40k opened #4542 "Add support for ForwardDeadLetteredMessagesTo (ServiceBus > Subscription)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-07 10:26] mikhailshilkov commented on #4459
The error stopped happening since I opened this issue, so I'll close it for now, hoping it was on Azure side

[2019-10-07 10:26] #4459 closed

[2019-10-07 11:37] #160 closed

[2019-10-07 11:37] #292 closed

[2019-10-07 11:37] #536 closed

[2019-10-07 11:37] #809 closed

[2019-10-07 11:37] #1616 closed

[2019-10-07 11:37] #1620 closed

[2019-10-07 11:37] #1669 closed

[2019-10-07 11:37] #1739 closed

[2019-10-07 11:37] #3020 closed

[2019-10-07 11:37] #3773 closed

[2019-10-07 13:41] sean-nixon commented on #3083
I was going crazy trying to get this to work as well. I'm wondering if it's a documentation issue or if it's because consumption plans for Linux just became GA, but it looks like if you set `reserved = true` and the sku to Y1 on the app service plan, it creates a Linux app service plan that you can deploy Linux consumption based functions to. This is my configuration that seems to work:

[code]

[2019-10-07 14:45] ricohomewood commented on #19
@tombuildsstuff any chance this could make it in the v1.37.0 milestone due to its relative small scope for `blob_properties`?

[2019-10-07 15:05] dlm69 commented on #4358
Does anyone have an answer on this?

I too have this problem. I can create and "get" data when i keep everything contained to one subscription. When i try using provider alias to connect to a different subscription for data sources I get the same error as above. I am using the alias'd provider for loganalytics workspace id in another part of my TF script so it definately works so I can only assume

[2019-10-07 15:19] darryncurranHP commented on #3954
I commented in an other thread about having the same issue and the way I managed to resolve it.

Link: https://github.com/terraform-providers/terraform-provider-azurerm/issues/4378#issuecomment-537948435

[2019-10-07 15:20] ghost opened #4546 "Cross Tenant Peering"
_This issue was originally opened by @steve-88 as hashicorp/terraform#23014. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi,

I am trying to create a peer from one Azure Tenant to another and get the following error:
[code]
Is the only real solution to add ser

[2019-10-07 17:26] phekmat commented on #4511
I think you're missing the pool index `0` from your original `ignore_changes`. You want:
[code]

[2019-10-07 18:50] #4536 closed

[2019-10-07 19:37] jeanpaulsmit opened #4551 "azurerm_api_management_user state field appears case sensitive"
### Terraform (and AzureRM Provider) Version
Terraform 0.12.9
AzureRM 1.34.0

### Affected Resource(s)

* `azurerm_api_management_user`

### Terraform Configuration

resource "azurerm_api_management_user" "user" {
  user_id             = "test-user"
  api_management_name = "${azurerm_api_management.apim.name}"
  resource_group_name = "${azurerm_resource_group.rg.name}"
  first_name          = "Use

[2019-10-07 20:29] surlypants opened #4552 "az premium files max at 5T (vs 100T)"
Given an azure premium files storage account, TF (0.12.9) constrains the quota/sizing between 100M and 5T, whereas the portal allows 100M - 100T.

attempting to supply (in TF) a quota > 50120 yields:

Invalid input: `input.QuotaInGB` must be greater than 0, and less than/equal to 5TB (5120 GB)

100T portal creation validated by az cli:

az storage share list --account-name ${my_premium_files_SA} |

[2019-10-07 22:27] rkrishashokkumar opened #4553 "azurerm_key_vault_secret Forbidden and Client address is not authorized and caller is not a trusted service error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-07 22:58] naikajah opened #4554 "FeatureRequest: New datasource azure_key_vault_certificate"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-07 23:56] ymash13 commented on #4492
Hello,

Sorry for the late response.

I added the route_table_id. It gives a warning about it being deprecated, but it looks like it’s working.

Thanks,
Yanal

Yanal Mash | Director – SaaS & IT Operations
P:

+1 415 536 3366

M:

+1 650 215 3638

Confirmit<http://www.confirmit.com/> | Voice of the Customer, Voice of the Employee and Market Research
Blog<http://confirmit.com/corp/blog/stream.aspx>

[2019-10-08 00:12] #3125 closed

[2019-10-08 00:25] #4540 closed

[2019-10-08 04:18] worldspawn commented on #19
@tombuildsstuff I gave that a go and no change.

[code]

[2019-10-08 05:38] weiyuping68 commented on #4431
Hi @AbhishekB15,

Thanks for opening this issue.
Currently, the developer of "Run As Accounts" in Automation Account, Ilavelan Kanniappan, has confirmed that this function is used on Azure portal only, and is not programmable in Terraform.
For further problems, you could contact me by mail: yupwei@microsoft.com

Regards,
WEI Yuping

[2019-10-08 06:45] weiyuping68 commented on #4431
Hi @AbhishekB15,

Thanks for opening this issue.
Currently, this function "Run As Accounts" in Automation Account, is used on Azure portal only, and is not programmable in Terraform.

[2019-10-08 06:48] njuCZ commented on #4332
since the Virtual Network Connnction API and Virtual Network Connection Gateway API [#4333](https://github.com/terraform-providers/terraform-provider-azurerm/issues/4333) need to work together to provide the function: gateway required virtual network connection integration, please refer to this PR [](https://github.com/terraform-providers/terraform-provider-azurerm/pull/4458)

[2019-10-08 06:51] njuCZ commented on #4333
since the Virtual Network Connnction API [#4332 ] and Virtual Network Connection Gateway API need to work together to provide the function: gateway required virtual network connection integration, please refer to this PR [#4458 ]

[2019-10-08 08:00] ravhik opened #4556 "Problem with threat_detection_policy in azurerm_sql_database module"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-08 09:05] aalvarezd opened #4557 "MSsql as input for Azure Stream Analytics"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-08 09:54] geertn opened #4558 "Azure Frontdoor: support custom timeout for backend pool"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-08 10:06] archmangler commented on #4511
Hi @phekmat  - I believe that's it, thanks. More needed to be added to ignore_change than just agent_pool_profile.

You may mark this item closed.

[2019-10-08 11:15] tiwood opened #4559 "azurerm_log_profile creation fails due to replication lag"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-08 11:56] tiwood commented on #4430
You have to use the `object id`, not the `application id`:
[code]

[2019-10-08 12:03] cdesewell commented on #3635
Can we get an update on this? Is this something that will get addressed?

[2019-10-08 13:57] anvarich commented on #4519
So it's kind of related to https://github.com/terraform-providers/terraform-provider-azurerm/pull/4469, so after all investigations and probes, i upgraded terraform to 0.12 version and azurerm 1.33.1 apply updated for 0.12v configs/states. Then i upgrade azurerm to 1.35 version and everything became okish ;) . So not sure if it should be closed or not.

[2019-10-08 14:48] mikkoc opened #4560 "azurerm_kubernetes_cluster with multiple agent pools keeps getting re-created"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-08 15:03] jeffddix opened #4561 "Add Virtual Network Integration to the API Management service"
Add the virtual_network_type property which allows None, Internal or External. This is a copy of [2582](https://github.com/terraform-providers/terraform-provider-azurerm/pull/2582 ) that was closed because of a bug.

- Add virtual_network_configuration object with property subnet_id which references the subnet to integrate with.

- See https://docs.microsoft.com/en-us/azure/api-management/api-mana

[2019-10-08 15:17] naikajah opened #4562 "NEW FeatureRequest: AzureFrontDoor redirection configuration"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-08 16:23] sigv opened #4563 "storage_account - ATP not available in Azure Germany"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-08 16:44] cwebbtw commented on #2819
This would certainly be useful given read replica support in multiple locations now being available.

[2019-10-08 16:48] sigv commented on #4563
PR submitted based on how #3947 was done.

[2019-10-08 16:53] JustinGrote opened #4565 "azurerm_template_deployment Object Output support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-08 17:36] sauryadas commented on #4506
at GA the SA managed identity will be created by default, no explicit flag will be required

[2019-10-08 18:10] ymash13 opened #4566 "Recovery service vault backups not enabled for some VMs"
Hello,
I am creating 16 VMs with backup config using Terraform, Only 8 out of the 16 are getting deployed with backup, the rest do not show backups enabled.

In Terraform, I get this error:
Error: Error waiting for the Recovery Service Protected VM "VM;iaasvmcontainerv2;AZ-GWC3-RG;AZ-GWC3-Util02" to be true (Resource Group "AZ-GWC3-RG") to provision: timeout while waiting for state to become 'Foun

[2019-10-08 19:34] RavulaChetan commented on #1747
@tombuildsstuff; Do we have Terraform support for adding databases to the Managed instance?

Since the Managed Instance creation itself takes few hours, most of the time the Manged Instance is created and Automation is used to Add/ Delete database to the existing managed instance.
It will be nice if we can get resources to add/delete to existing Managed Instance.

[2019-10-08 19:52] timio73 commented on #4560
I have a theory: The state file shows the pools in alphabetical order by name. So in my template that was experiencing the same issue, I swapped the two pools so they were alphabetical and the subsequent `terraform plan` shows the expected behaviour of no change instead of having to redeploy.

The example provided by mikkoc above aligns with this theory.

[2019-10-08 21:25] ymash13 opened #4569 "Key Vault access denied when first created"
When Terraform first creates the Key vault and then tries to use it to encrypt disks, I get an error message about the user lacking access right. When I check, access permissions are there. When I run terraform apply a second time, with no changes, it works. Seems that there is a delay when access polices are applied to the vault?

Error: keyvault.BaseClient#SetSecret: Failure responding to reques

[2019-10-08 22:47] ymash13 opened #4571 ""route.1.next_hop_in_ip_address" must not be empty"
Hello,

I am trying to add some routes with the type virtualnetworkgateway.

When I don't provide the next_hop_in_ip_address field I get this error
"next_hop_in_ip_address" is required.

When I provide next_hop_in_ip_address but leave it blank I get
"route.3.next_hop_in_ip_address" must not be empty

Per the links below, this was supposed to be fixed in version 1.19, I am running 1.33. Seems that

[2019-10-09 01:12] fxgsell commented on #4506
Ok, we will still need to export the new identity information and remove/make optional the existing fields.

[2019-10-09 07:14] MMollyy commented on #4431
Okay, so if the Run as account isn't usable; Terraform could still have the automation account configured with a service principal and such, instead of needing to go into the portal and do manual work.

[2019-10-09 07:56] PSanetra commented on #3680
This is still happening with Terraform 0.12.9 and azurerm 1.35.0

[2019-10-09 08:23] geertn opened #4574 "`azurerm_storage_share` - enabling firewall on storage account makes the request `not authorized`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-09 08:33] PSanetra opened #4575 "azurerm_app_service: mark app_settings as sensitive"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-09 10:03] tombuildsstuff commented on #1747
@RavulaChetan unfortunately that's dependent on support for provisioning SQL Managed Instances being available. As part of building support for each resource we add Acceptance Tests which cover provisioning and then destroying the resource and all of it's dependencies - meaning in this case we'd provision a Resource Group, then a SQL Managed Instance and then the DB within that.

---

To cross-pos

[2019-10-09 10:06] tombuildsstuff commented on #2736
I'm going to close this issue since this has been fixed in v1.19 as @metacpp has mentioned - if the field `next_hop_in_ip_address` is specified then it needs to have a non-empty value  (or be either omited/`null` if it's unspecified)

Thanks!

[2019-10-09 10:06] #2736 closed

[2019-10-09 10:11] tombuildsstuff commented on #4571
hi @ymash13

Thanks for opening this issue.

Version 1.19 of the Azure Provider introduced validation for `next_hop_in_ip_address` field where the value needs to be a non-empty string if it's specified (since otherwise the Azure API will reject this value as invalid). Instead if you're looking to conditionally/not set this field you can either omit this field or set the value to `null` (which do t

[2019-10-09 10:11] #4571 closed

[2019-10-09 10:16] erplsf opened #4577 "Changing address space for vnet/subnets doesn't trigger correct update of the vnet and blocks the update"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-09 10:21] tombuildsstuff commented on #4565
hi @JustinGrote

Thanks for opening this issue.

Whilst Terraform Core now exposes functionality for "objects" within Terraform Configuration - unfortunately Terraform Core's Schema is defined statically ahead of time - (whilst we could use a Key-Value Pair the Values all need to be of the same type - currently a String).

That said - since we're exposing this information as a String it should be

[2019-10-09 11:08] tombuildsstuff commented on #4398
hi @ashemedai

Thanks for opening this issue - apologies I thought I'd replied to this.

In this case since there's no dependency between the Load Balancer Rule and the VM Scale Set Terraform believes that it can destroy both at the same time, rather than where one is dependent on another (in Azure) - as you've mentioned it's possible to add a `depends_on` which will add this dependency, to ensure

[2019-10-09 11:08] #4398 closed

[2019-10-09 11:16] tombuildsstuff commented on #4561
hi @jeffddix

Thanks for opening this issue.

As mentioned in #2582 unfortunately we're still waiting for the new release of the API Management API which will unblock us moving to the new API version - which is being tracked in https://github.com/Azure/azure-rest-api-specs/issues/6372.

Once that's available we can update to this API version and then look to use this functionality - but at the mom

[2019-10-09 11:16] #4561 closed

[2019-10-09 11:24] ashemedai commented on #4398
@tombuildsstuff That's clear. And thanks for including the note on the documentation, was going to ask that while reading through your answer.

[2019-10-09 11:43] d4md1n opened #4578 "Can not create Standard_v2 application gateway with private ip"
I am trying to create an application gateway version 2 using terraform. After a successful `terraform plan ` I get the following error when using `terraform apply`

 /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/xxxx-rg/providers/Microsoft.Network/applicationGateways/application_gateway_v2 does not support Application Gateway without Public IP for the selected SKU tier Standar

[2019-10-09 11:47] rvashishth opened #4579 "conditional custom frontend endpoint host"
### Description

Mostly, we all have a static jenkins pipeline. PR, Dev, Test, Stage, Prod.  In case of front door, it does create multiple *.azurefd.net domain. In order to successfully run the TF script for front door. A CNAME mapping between our domain name and front door default endpoint name has to be done in advance on our DNS providers.

now the mortal environments like PR only live for min

[2019-10-09 11:56] rvashishth commented on #4579
this control of conditionally creating should also be available for internal arguments. we might need an argument for one environment and may not need it for others.

if there is such a solution available, please suggest.

[2019-10-09 12:45] PeterUherek opened #4580 "Problem to define only one action in azurerm_storage_management_policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-09 13:25] JustinGrote commented on #4565
I'd be totally fine with that, if an "object" of ARM is output to a string
output: entry, then it should send the json representation so it can be
jsondecoded or "rehydrated" into terraform to work with. It would simplify
pulling multiple attributes from a created output rather than having to
create an explicit output for every individual property.

On Wed, Oct 9, 2019 at 3:21 AM Tom Harvey <notif

[2019-10-09 13:35] mikkoc commented on #4560
That was exactly the issue: I changed the order to alphabetical and the problem disappeared. Thanks @timio73 !!

[2019-10-09 13:45] timio73 commented on #4560
No problem.  I would still consider this a bug as the pools should index and not be dependent on order in the template.

[2019-10-09 14:22] tombuildsstuff commented on #3203
@ybelMekk @AndiA92 unfortunately we're still blocked on https://github.com/Azure/azure-rest-api-specs/issues/6372

[2019-10-09 14:28] davidwneary commented on #2484
I'm getting the same thing when using `azurerm_postgresql_firewall_rule`. Anyone know if there is any plan to fix this?

[2019-10-09 15:16] jeanpaulsmit commented on #4121
Is this really a bug? The example API and products are created by the Azure Resource Manager by default, the only thing you currently can do is remove them afterwards. I'd say at this point in time it behaviour by design?
https://feedback.azure.com/forums/248703-api-management/suggestions/31826548-do-not-deploy-echo-api-when-deploying-via-the-sdk

[2019-10-09 16:09] opticyclic commented on #4121
Maybe.
However, I would _think_ that the majority of people don't want those in a production system.

The issue you have linked is over two years old which doesn't look good for an SDK fix.

Maybe a workaround is for terraform to provide an option that specifies that you want these items deleted after the APIM is created.

[2019-10-09 16:17] james-miller commented on #4430
We tried using the .id attribute and it returns this error:
[code]

[2019-10-09 16:53] opticyclic commented on #4176
So just so I understand,

- the issuer is specific to Azure Active Directory
- there is an Active Directory block
- but the issuer isn't in the Active Directory block

Should this issue be changed to ask for it to be moved to the block?
Or is there a reason why it is written in the unintuitive way?

[2019-10-09 16:57] tiwood commented on #4430
My bad. You have to assign the role to a service principal, which is a representation of an application in your directory.

azuread_service_principal.foo.id

RBAC Permissions are always assigned to a principal, not an application.

[2019-10-09 17:03] #4563 closed

[2019-10-09 17:21] surlypants commented on #4552
per: https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/file/shares/properties_set.go

[code]

[2019-10-09 17:36] james-miller commented on #4430
Yeah, that fixed it.

The documentation is pretty misleading in that case:
[code]

[2019-10-09 17:47] iameli commented on #4560
Also encountered this, thanks for figuring out the problem!

[2019-10-09 17:53] iameli opened #4581 "azurerm_kubernetes_cluster: add support for enableNodePublicIP"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-09 18:10] ckittel opened #4583 "Slack Workspace for Contributors Invite Link is Dead"
The [Slack Workspace for Contributors](https://terraform-azure.slack.com/) invite link in [`README.md`](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/README.md) doesn't appear to be active anymore.  Could the slack admin (@bajorgensen ?), if appropriate, generate a new invite link and update the document?  Thanks!

cc: @robnotto

[2019-10-09 18:13] BenMitchell1979 commented on #4470
Then I'm confused as to how this would work with long running resources like AFD with custom SSL? Surely the solution can't be to just let it run for 6-8hrs? Most Agents for pipelines won't stick around that long and even it did I wouldn't tie up my build agent that long.

[2019-10-09 18:29] #3029 closed

[2019-10-09 20:42] ned1313 opened #4584 "MSI authentication is failing on a Linux VM"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-09 22:38] visokoo commented on #3774
We can close this issue now. Just tested it with the latest provider and everything checks out.

[2019-10-10 01:35] runecalico commented on #4502
Even with the worth around, there are a few points that make this less then ideal for an "always on" application gateway.
1.  Occasionally the setting on the application gateway will "revert" back to using the well known CA cert. I was unable to see any information in the plan on it, so it might happen silently
2.  The workaround is appreciated, but not ideal when you have a number of http setting

[2019-10-10 04:34] katbyte commented on #4583
Hi @ckittel,

Thank you for letting is know the link is dead! I just updated the readme with a new link: https://join.slack.com/t/terraform-azure/shared_invite/enQtNDMzNjQ5NzcxMDc3LWNiY2ZhNThhNDgzNmY0MTM0N2MwZjE4ZGU0MjcxYjUyMzRmN2E5NjZhZmQ0ZTA1OTExMGNjYzA4ZDkwZDYxNDE

[2019-10-10 04:34] #4583 closed

[2019-10-10 05:09] #2485 closed

[2019-10-10 05:13] #4196 closed

[2019-10-10 05:48] weiyuping68 commented on #4431
@MMollyy You're right.

[2019-10-10 06:28] tombuildsstuff commented on #4470
@BenMitchell1979 if there's resources depending on that resource which takes that long to provision there's not a lot else we can do unfortunately, since we need confirmation that this resource has successfully completed provisioning/configuration.

[2019-10-10 06:31] timja commented on #4470
The solution is really for this to get faster...
Microsoft are aware and plan to do some work to make it better, but they said it may take awhile

[2019-10-10 07:26] jeanpaulsmit commented on #4121
I totally agree with you that this Echo API and products shouldn't be there. The thing I'm trying to  point out is that when you create an APIM resource, Microsoft decides to add them by default.
So this is not a Terraform bug.
Easiest solution would be when Microsoft would listen to the community by picking up this rather old feedback issue.

[2019-10-10 07:49] tombuildsstuff commented on #4398
@ashemedai 👍 this is included in #4585 :)

[2019-10-10 08:44] ashemedai commented on #4398
@tombuildsstuff Awesome stuff! Hopefully I can help out on the Go front at some point. But first need to get this infrastructure implemented.

[2019-10-10 09:14] pawel7318 commented on #4519
`provider "azurerm" {
  # whilst the `version` attribute is optional, we recommend pinning to a given version of the Provider
  version = "=1.34.0"
}`

[2019-10-10 10:11] Simon-Bru commented on #4460
Same for DocumentDB API.

Custom indexes is possible via [powershell](https://docs.microsoft.com/fr-fr/azure/cosmos-db/manage-with-powershell#create-container-custom-index)

[2019-10-10 10:25] BzSpi opened #4588 "Support for storage mounts on App Service slots"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-10 12:04] reddare opened #4589 "Azure backend state file naming"
Hi.

When using azure backend, state file can be named something like this: '**name.of.state.file**'.

But [Naming and Referencing Guide](https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referencing-containers--blobs--and-metadata) told that:

Thats why its impossible to use any other azure tools (like CLI or PowerShell) for managing terraform state files.

So, when I use terra

[2019-10-10 12:08] NickMetz commented on #4447
Hi @tombuildsstuff

we can reproduce this issue for a while in `westeurope` region. According to some tests this seems only be the case if we create a azurerm_postgresql_server in combination with azurerm_sql_database (but not 100% sure if this is releated). Agree with you this seems to be related to Azure, so we will open a Support ticket there.

[code]

[2019-10-10 14:00] UnoSD commented on #3980
Same problem here, I have also tried to hack the schema into the state file and it does not recognise it. I am going to have to remove it from the Terraform template as an idiomatic resource and deploy it as ARM.

[2019-10-10 14:33] svangeti commented on #4447
@tombuildsstuff  / @NickMetz , In my case the issue was the database session being open and not disconnected. If you disconnect all DB sessions, the error would go away.

[2019-10-10 14:49] edisonmndza opened #4590 "Error: Error setting database threat detection policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-10 15:39] katbyte commented on #4552
Hi @surlypants,

if you open a PR on the giovanni we can get it merged and into 1.36 🙂

[2019-10-10 15:45] wgoulet commented on #4502
@runecalico Definitely agree this workaround has multiple disadvantages; shelling out to OpenSSL is definitely not an ideal solution. For point 2, I'm not sure; it seems the provider should be able to handle it. I'm encouraged that this was marked as a bug so hopefully there will be a solution soon!

[2019-10-10 16:18] andydkelly-ig opened #4591 "Import of azurerm_app_service_certificate incomplete"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-10 19:27] #3829 closed

[2019-10-10 20:21] katbyte commented on #4578
Hi @d4md1n,

Could you supply the terraform configuration that produced this error? It looks like you are using the wrong SKU to not use a public IP.

[2019-10-10 20:56] #4511 closed

[2019-10-10 21:38] mayanksrivastav84 commented on #1126
Is the Geo Replication planned to be added soon?

[2019-10-10 21:46] katbyte commented on #4515
Hi @tbviveiros,

I'm not sure what the issue is. Could you please elaborate on what is not working or include some terraform output?

thanks!

[2019-10-10 21:52] katbyte commented on #4379
Hi @markti,

It looks like you have the syntax there wrong. To use a local in .11 you must use `${}` instead of `$()`:
[code]
and in .12 you can drop the escape sequence all togeather
[code]

Could you give that a try? thanks

[2019-10-10 22:01] katbyte commented on #4358
Hi @MarkDordoy, @dlm69

due to the way the API & resources work we currently don't supporent the keyvault being in a separate subscription as when we list key vaults to find the vault ID the client call is unaware of anything in another subscription.

Adding an optional `key_vault_id` is the best way to solve this i think.

[2019-10-11 00:02] WodansSon commented on #4562
This is actually already supported and you can use it now. Looks like I just forgot to add it to the documentation. DOH! 🙃

While I'm fixing the docs if you want to use it here are the attributes for the `redirect_configuration` block:
[code]

[2019-10-11 00:02] #4562 closed

[2019-10-11 00:23] WodansSon commented on #4470
@tombuildsstuff and @timja are correct, this was a known issue of the underling API, AFD just takes that long to do the provisioning of the SSL cert and there is currently nothing we can do short of what @tombuildsstuff has already stated above. I have spoken to the AFD service team about the excessive amount of time and I got the exact same answer that @timja did, they know it is an issue and are

[2019-10-11 01:33] BrendanThompson opened #4595 "resource_arm_firewall, resource_arm_firewall_application_rule_collection – Mssql and Threat Intelligence"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-11 06:08] mihaicoldea commented on #4146
The main issue causing this is tracked at https://github.com/hashicorp/go-azure-helpers/issues/22.
IT requires user votes in order to get Hashicorp attention.

[2019-10-11 08:29] mikhailshilkov opened #4598 "Event Hub Namespace keeps wanting to update kafka_enabled"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-11 08:41] eliasvakkuri opened #4599 "Subnet service delegation to Azure Databricks continuously adds and removes actions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-11 08:43] eliasvakkuri commented on #4599
I also tried adding "Microsoft.Network/virtualNetworks/subnets/unprepareNetworkPolicies/action" to the action list, but AzureRM provider does not accept this.

[2019-10-11 08:59] mariobede opened #4600 "Is there a way to get the number of virtual machines existing prior to run a plan?"
I'm trying to populate the number of existing vms before running the plan to adapt some configuration of a outbout snat ports to it given there are issues with the dependecy ordering for this specific resource (config is tied to deletion/creation of backend address pool)

Is there a way to achieve it? Tried data sources but no one is providing a list of vms...

Issues on GitHub are intended to be

[2019-10-11 09:25] tombuildsstuff commented on #4590
hi @edisonmndza

Thanks for opening this issue

Unfortunately this is an issue within the Azure API where the Internal API isn't responding to the Public Azure API within a designated time period - as such unfortunately there's not a lot we can do to work around this. If you retry this call this should work; but as this issue is intermittent I'm going to suggest opening an issue with Microsoft Sup