[2020-03-19 13:59] jpreese commented on #6154
Makes sense to me!

[2020-03-19 14:19] slime-uk commented on #2145
An update: Although they do not appear to apply in the Azure portal, it seems they do actually apply.  I set a lab user VM limit to 3 using Terraform and then the lab didn't allow me to create a 4th lab VM.

I then created another lab in the subscription and tried to set similar limits, it returned an error on the TF apply - complaining about duplicate policy.  I looked in Azure Activity monitor a

[2020-03-19 14:22] pearcec commented on #2812
You said you are willing to share, can you paste your code somewhere?  I hadn't considered using Policy.  That seems like a great idea.

[2020-03-19 14:23] jasong1978 commented on #6059
@terraform, this is preventing us from having end to end automation of an app service, we use the key vault to host the SSL Certificates and this error causes our automation to malfunction as we are using it through the Azure DevOps CI/CD Pipeline. Please resolve ASAP!

[2020-03-19 14:24] drdamour commented on #5197
@tombuildsstuff I think you're underestimating how many logic apps are just used as glue to pre-existing apis.  These are at the very top and nothing is depending on them.  Mostly these are constructed in the gui, and json is just copied out to terraform to promote up the dev->preprod*->prod deployment chain.  Would those still suffer from this circular dependency youre concerned of?

[2020-03-19 14:42] edjwhho commented on #4569
hi any solution to this problem?

[2020-03-19 15:22] hasusuf commented on #5510
We also got hit by this one, even explicitly disabling the `aciConnectorLinux` didn't work

[code]

[2020-03-19 15:24] cmdplusr commented on #4569
Still a problem fo me to

[code]
Terraform v0.12.23
+ provider.azuread v0.8.0
+ provider.azurerm v2.1.0
+ provider.random v2.2.1

[2020-03-19 15:29] #4442 closed

[2020-03-19 15:34] brandonh-msft commented on #5197
literally dozens of customers doing that exact workflow. Even still today VSCode provides pseudo-offline editing and committing directly to SCC.

@tombuildsstuff  all due respect but if this is the case you should remove all logic apps resource from TF - the ones that exist today simply are not useful - and put a note in the AzureRM docs that LA is not and will never be supported so people don't c

[2020-03-19 16:19] singitamkr opened #6180 "Terraform support for point on time server restore for Azure managed PostgreSQL"
Hi,
We are using terraform for our couple cluster deployment for our product in MS Azure. But, in case of managed PostgreSQL, when we do a parallel upgrades we are not able to restore an existing PostgreSQL DB to a new instance with point in time restore option. Azure cli supports the same as below command. Azure managed PostgreSQL server restore (point in time) is not supported in terraform at pr

[2020-03-19 16:39] pbstrein opened #6181 "Authenticating using a Service Principal with a Client Certificate Fails to Run"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-19 16:42] tombuildsstuff commented on #6177
hi @evmimagina

Thanks for opening this issue.

Support for the Extended Audit Policy was added [in version 2.2 of the Azure Provider](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/CHANGELOG.md#220-march-18-2020) - which you can upgrade to by updating the version in the Provider block (as shown below) and then running `terraform init -upgrade`:

[code]

.. which sho

[2020-03-19 16:42] #6177 closed

[2020-03-19 17:18] kazimierzbudzyk opened #6183 "OS disk encryption settings can’t be changed after initial VM creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-19 17:26] kazimierzbudzyk opened #6184 "Managed disk encryption set changes force resource recreation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-19 17:39] kazimierzbudzyk opened #6185 "Contents of custom data visible in plan as base64 encoded string"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-19 17:45] tezzigator opened #6186 "No guidance for ACI deployment into VNet"
### Terraform (and AzureRM Provider) Version
tf 0.12.23
azure 2.2.0

### Affected Resource(s)
azurerm_container_group

### Terraform Configuration Files

  ip_address_type     = "Private"
  network_profile_id = ???

### Expected Behavior

All examples provided, and the docs on terraform.io, assume public ip deployment.  Docs say if you wish to deploy into your Vnet, should use  `ip_address_type

[2020-03-19 18:18] asbiin commented on #3685
See the relevant documentation: https://docs.microsoft.com/en-US/azure/app-service/app-service-ip-restrictions#programmatic-manipulation-of-access-restriction-rules
There is an API for that purpose, editing `ipSecurityRestrictions` property block on the web app

[2020-03-19 18:47] ctooley21 commented on #5905
this would be great to have. my team is currently using an ARM template to deploy an ASE, and was hoping to switch to this resource, but looks like we can't since we use an ASE w/ ILB.
Also @shawnferry would need to add the ability to set the internal SSL cert, and output the ILB IP.

[2020-03-19 18:51] duaneguthrie commented on #6180
to add on here:
azure sql db has https://www.terraform.io/docs/providers/azurerm/r/sql_database.html with "create_mode" = "restore"

we need similar api for PostgreSql https://docs.microsoft.com/en-us/rest/api/postgresql/databases/createorupdate

[2020-03-19 19:15] pbstrein opened #6187 "Documentation for Service Principal with Client Certificate Creates an invalid format for Azure"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-19 19:29] r-t-m opened #6188 "Support for versionless key vault secretId in azurerm_application_gateway"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-19 19:53] markercm commented on #6186
I also think better examples would be good.

The answer I found to work are using https://www.terraform.io/docs/providers/azurerm/r/network_profile.html

[2020-03-19 21:28] jmcshane-optum commented on #6178
Apologies, it looks like during the preview period they still need a service principal for specific integration components: https://docs.microsoft.com/en-us/azure/aks/use-managed-identity.

Closing for later

[2020-03-20 00:31] 198d opened #6190 "azurerm_managed_disk resource causes VM to be stopped/started when changing tags"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-20 00:32] 198d commented on #6190
dupe of #6063

[2020-03-20 00:32] #6190 closed

[2020-03-20 04:01] njuCZ commented on #6129
it seems an issue of azure api that tags will be omitted when the key contains `:`

[2020-03-20 09:20] robert-kopec commented on #5354
Hi, is this far from fixing?

[2020-03-20 09:37] ArcturusZhang commented on #6085
Hi @tombuildsstuff and @katbyte given that the two mode have totally different schema, the VM mode forbade all of the fields in VMSS other than `platform_fault_domain_count`, `single_placement_group` and `zones`, therefore I am thinking that instead of making a field called `orchestration_mode` in enum, how about making this field as `orchestration_mode_VM_enabled` as a bool? In this way, we can s

[2020-03-20 11:20] rnibandybooth commented on #5758
Given that i don't want to trash my storagev1 accounts and their data to upgrade to v2, what is the terraform recommended way to achieve this upgrade?

e.g. do i have to remove the storagev1 accounts from tfstate, update them in Azure portal etc, import them back into tfstate, then terraform plan?

Having just had to do this for azurerm_recovery_services_protected_vm -> azurerm_backup_protected_vm

[2020-03-20 11:38] gnlds opened #6196 "keyvault: caching of metadata required in larger terraform configurations"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-20 13:45] DoctorBizzle opened #6198 "NSG rules with prefixes / ranges but no prefix / range cause rule updates even when no code changes were made"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-20 13:55] ricohomewood opened #6199 "Support for Retention by data type on azurerm_log_analytics_workspace"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-20 14:19] DoctorBizzle commented on #6198
The same thing happens when using port rangeS (with no port range attribute specified, but with the port rangeS list valid): terraform takes out a port range = "" and puts in a port range = null every time.

[2020-03-20 14:35] DoctorBizzle commented on #6198
Update: fixing that "inbound" -> "Inbound" typo has removed the problem, but why would 1 typo cause that deluge of "" to null changes?

[2020-03-20 14:44] IgorOrmus opened #6200 "azurerm_monitor_metric_alert error Time aggregation must be one of [Average]."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-20 14:46] mharen opened #6201 "Application Gateway redirect_configuration doesn't set "include_path" at all"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-20 15:09] pbstrein commented on #6181
After further investigation, I only run into this issue if I have a remote backend configured in my terraform file. If I remove the remote backend, authentication using the client cert works.

This [terraform documentation](https://www.terraform.io/docs/backends/types/azurerm.html#example-referencing) states that only supports client secret for backend. If we are allowing client cert authenticatio

[2020-03-20 15:39] jaygridley opened #6202 "azurerm_log_analytics_solution produces inconsistent final plan when using Resource Group with upper case letters"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-20 15:49] jmcshane-optum commented on #6178
Ah, according to these docs published last night, a service principal is no longer required: https://github.com/Azure/AKS/releases/tag/2020-03-16. Reopening to ask that we determine how to remove the `service_principal` block from `required` fields

[2020-03-20 15:53] dwizzle204 opened #6203 "The requested resource of type 'Microsoft.DBforMariaDB/servers/privateEndpointConnectionProxies' with name '' was not found."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-20 16:20] hashibot[bot] opened #6204 "Changes to os_profile custom_data does not reflect to VMs in an azurerm_virtual_machine_scale_set"
_This issue was originally opened by @ntherrien as hashicorp/terraform#24416. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Adding or changing the custom_data field of the os_profile in an azurerm_virtual_machine_scale_set has no effect on the scale set even aft

[2020-03-20 17:04] pswalia06 commented on #6203
👍

[2020-03-20 17:26] ttfjustin commented on #6157
Also fails terraform plan, seeing the same here.

Unsure if it's worth mentioning, but the object I am attempting to plan against is an existing database. Other than what's previously mentioned by OP everything else is the same.

[2020-03-20 18:47] kensykora commented on #4847
I am having a similar issue that has to deal with multiple subscriptions in the same tenant. Here is my scenario:

[code]

Subsequent runs of this produces the following terraform plans (wants to replace them due to the ID changing, when it hasn't changed.

[code]

[2020-03-20 20:35] mozts2005 commented on #6146
Hello,

I need this to be updated to return the list of IP addresses.
when creating a PE for an azure container registry it creates 2 IP addresses

one for the default address example: myregistry.azurecr.io (10.0.1.8)
the other for the data address example: myregistry.eastus2.data.azurecr.io (10.0.1.9)

Happy to help with a PR for the fix.

[2020-03-20 22:25] #6090 closed

[2020-03-21 03:25] dwizzle204 commented on #6203
Possibly related to this

https://github.com/Azure/azure-sdk-for-go/issues/6466

[2020-03-21 13:07] sirlatrom commented on #5354
@robert-kopec Please follow #6126 for progress.

Any further ETA questions on this issue will _not_ help speed up the progress.

[2020-03-21 13:10] sirlatrom commented on #5354
I'd like to ask the existing users of this resource if they are currently depending on the property naming such as `custom_rules`, `match_variables`, etc. If they haven't been able to instantiate resources due to the bug mentioned in this issue, would they mind changing the property names to comply with the rest of the `azurerm_` resources such that you would have multiple `custom_rule` blocks ins

[2020-03-21 14:58] rem-aj opened #6212 "Support for servicebus_namespace sku upgrade from standard to premium"
Updating the sku from standard to premium results in a recreation of the resource, this should be mentioned in the documentation as with other properties where it is noted "Changing this forces a new resource to be created"

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the origina

[2020-03-21 15:55] r0bnet commented on #5444
Hey @yoshiakimiyazaki,
a 400 means that the API does not allow those values. The only thing we could do is to allow those values in the Azure provider but cut the /32 but i don't see a good reason for that now.

Is that what you need?

Unfortunately the APIs for all those network rules are different per resource.

[2020-03-21 16:00] markti commented on #5630
same problem here :(

[2020-03-21 19:08] #6092 closed

[2020-03-21 19:58] markti commented on #5674
[1m[31mError: [0m[0m[1mProvider produced inconsistent final plan[0m
2020-03-21T19:56:13.8286096Z
2020-03-21T19:56:13.8286605Z [0mWhen expanding the plan for
2020-03-21T19:56:13.8287301Z module.iot_hub.azurerm_key_vault_secret.secret_iotdps_connstr to include new
2020-03-21T19:56:13.8288038Z values learned so far during apply, provider "registry.terraform.io/-/azurerm"
2020-03-21T19:56:13.82

[2020-03-21 19:58] tezzigator opened #6213 "azurerm terraform storage backed is broken for usung SAS"
### Terraform (and AzureRM Provider) Version
terraform 0.12.23
azure 2.2.0

### Affected Resource(s)
Azurerm storage backend

[code]

### Debug Output
Error: Error inspecting states in the "azurerm" backend:
    storage: service returned error: StatusCode=404, ErrorCode=ResourceNotFound, ErrorMessage=The specified resource does
not exist.
RequestId:27c1a34d-f01e-0007-26ba-ffce6c000000
Time:2020-03

[2020-03-21 21:36] #2187 closed

[2020-03-22 08:12] msyinjie commented on #6157
also failed in Azure Devops and using the provider 2.2.0 create Azure sql server, the error info as below:
Error issuing create/update request for SQL Server "xxx-sql-01" Blob Auditing Policies(Resource Group "xxx-db-rg"): sql.ExtendedServerBlobAuditingPoliciesClient#CreateOrUpdate: Failure sending request: StatusCode=404 -- Original Error: Code="SubscriptionNotFound" Message="The subscription '26

[2020-03-22 08:16] sherylhanfis commented on #27
The link you provided was not found.

[2020-03-22 11:18] ronamosa opened #6215 "terraform plan/apply keeps forcing rebuild of AKS"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-22 13:27] #6198 closed

[2020-03-22 18:58] wenesak commented on #6026
same here same error, anybody knows of a work around?

[2020-03-22 19:04] logachev commented on #1216
Would be great to have this feature in Terraform!

Looking at MSDN docs and it looks like current limit was increased to 500.

[2020-03-23 00:05] BrendanThompson opened #6216 "Support for "deny public network access" in Azure Database for PostgreSQL"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-23 05:51] njuCZ commented on #6180
I am working on this issue

[2020-03-23 06:23] Dmitry1987 commented on #486
I just tried the above snippet using my resource group (used the 'data' to import the vault/subnet/key required), it works but the disk shows as 'not encrypted' in Azure UI. How do I know if it actually worked? 😅
It's Ubuntu, and I tried the `cryptsetup status xxxxx` but no results, the disks don't seem encrypted at the linux level (I know they are by default encrypted at rest, in Azure under the

[2020-03-23 06:31] BrendanThompson opened #6217 "Support for outputting the name of the VMSS within AKS clusters"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-23 06:34] yoshiakimiyazaki commented on #5444
@r0bnet
thank you for reply comment.
I have read the following document.
https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security#grant-access-from-a-virtual-network
[code]

Since it was specified that subnet masks such as / 31 and / 32 were not supported in the first place, 400 errors were expected.
So this does not need to be done by Azurerm Terraform Provider.
In the case

[2020-03-23 10:02] #6184 closed

[2020-03-23 11:31] fajanssen opened #6219 "Random Errors with azurerm_postgresql_database creations"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-23 11:49] Gadnief opened #6220 "os_type in azurerm_function_app not working"
### Description

I try to create an azure function app inside of an linux app service plan (Standard, S1, Linux).
It is impossible to set the os_type property inside of the terraform definition for the function app.

### Message

Error: Unsupported argument

  on modules/functionapp/functionapp.tf line 9, in resource "azurerm_function_app" "customer":
   9:     os_type = "linux"

[2020-03-23 12:36] sheffski commented on #2205
Hi,
Great to hear this is being thought about.
I'm rebuilding a more governed azure setup along side our existing evolved mess.
The blueprints are really good as can add the policies/initiative artifacts so dev's follow the corporate policies. The terraform bit is a vital artifact when building the hub&spoke compliant "shared infrastructure" back to our on-prem services.
Since we used TF for our A

[2020-03-23 13:15] sebader opened #6221 "Cannot add role assignment to blob storage container"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-23 13:24] gnlds opened #6222 "The provider does not update Key Vault Secret tags when there are only tag changes/content type"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-23 13:37] michalmela commented on #6056
Confirmed. Sometimes, besides only enabling and disabling the _common alert schema_, I also need to make any manual change in the Logic app code and save it. Then it begins triggering.

I can then revert the change manually (go to the Logic Apps version history and promote the older version) and it still triggers.

[2020-03-23 13:50] gnlds commented on #6196
Any help with this issue? If it's related to Azure I'll open a support ticket. I can't create Terraform plan.

[2020-03-23 13:53] haroldwongms opened #6223 "Support for Private Link in azurerm_container_registry"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-23 15:26] gabinante opened #6226 "Terraform refresh fails when certain resources are deleted due to references in associated resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-23 15:27] rk-tbrigley commented on #5282
Others are working on this, but not a lot of functionality yet, and we heard that databricks is doing their own providers, no

https://github.com/innovationnorway/terraform-provider-databricks

[2020-03-23 17:11] krzyszt0fd commented on #4824
Perhaps it could be achieved with azurerm_app_service_certificate_order?
I tried using it but despite the fact that the order was successfully created I can't use it as the certificates attribute is an empty list. Azure Portal hint says a vault must be created to store the cert. The azurerm_app_service_certificate_order resource doesn't have an argument to select a key vault though.

[2020-03-23 17:23] drdamour commented on #4824
azurerm_app_service_certificate_order Is something else.

 afaik u must use the gui to put it in the vault

[2020-03-23 17:27] viresh-contino commented on #6215
I added this for azurerm 2.2.0 provider which appears to fix this. I got this from @mikhailshilkov message
[code]

[2020-03-23 18:28] johnwildes commented on #6146
@steffencircle I'm using the most recent provider, and there is no export of the private_ip_address that I can put into an `output` block to consume elsewhere in my TF code.  That's what I need.  I want to create A records in private DNS zones from the output of the IP address of the `private_endpoint` resource.

Even the documentation for the resource shows the only Attribute that is output is th

[2020-03-23 18:31] johnwildes commented on #6146
There are these other issues that speak to the same problem.  Having a computed attribute that is not exported doesn't help.  Unless someone can tell me how to look up that computed attribute and use it during deployment time of another resource?

https://github.com/terraform-providers/terraform-provider-azurerm/pull/5838
https://github.com/terraform-providers/terraform-provider-azurerm/issues/562

[2020-03-23 21:30] rajalokan commented on #6086
I've raise a PR for this above. I tried but this isn't working for me. Must be missing something simple.

- Running this using `make build` and using that binary
- After doing similar changes, I was able to add a new nodepool. But new node added wasn't a spot node. I think `scale_set_priority` should be `priority` .
- Unfortunatily I didn't save those changes.
- Now when I try, it fails with
[code

[2020-03-23 21:32] ArturDorochowicz opened #6232 "Cannot not set custom webhook payload of azurerm_monitor_scheduled_query_rules_alert"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-23 23:51] antaln commented on #4377
The giovanni storage lib appears to not implement Put Block API. Also, it appears that it reads entire file into memory before uploading, which could be problematic for large block blobs (e.g. VHDs).

[2020-03-24 00:56] ArcturusZhang commented on #5922
Hi @janlunddk thanks for this issue!
The command you are using `Get-AzVmDiskEncryptionStatus -ResourceGroupName MyResourceGroup -VMName MyVMName` is for querying the [legacy encryption](https://www.terraform.io/docs/providers/azurerm/r/managed_disk.html#encryption_settings).

The right command for querying encryption in `disk_encryption_set` should be this (in azure cli):
[code]

Currently this is

[2020-03-24 01:08] tezzigator commented on #6186
Hmm still cannot seem to get it to work.  Now, I can get terraform to create the azurerm_network_profile itself, but then later if I try to create a azurerm_container_group and have its network_profile_id line reference the azurerm_network_profile, I get error `Error: "network_profile_id": conflicts with identity`  I tried referencing with (.id at the end and without, also tried .name

[code]
was

[2020-03-24 01:42] Dmitry1987 commented on #2634
for me the 'rdb_backup_max_snapshot_count' doesn't work, fails if I set it different from 1.
Any other number fails with
[code]

[2020-03-24 02:33] yupwei68 commented on #6130
Hi @bruceharrison1984 , Could you give your steps to reproduce? Because I could not reproduce it, for steps: `terraform apply`-> `terraform plan`, it shows `No changes`.

[2020-03-24 03:01] #6157 closed

[2020-03-24 08:34] boillodmanuel commented on #6074
Hello @ArcturusZhang , any update about this use case ? The #6117 is a similar issue.

[2020-03-24 10:45] janlunddk commented on #5922
Hi @ArcturusZhang,
Thank you very much. The `az disk show` displays the correct information.

Do you know if the PowerShell Az module has a corresponding command (or if the existing will be updated)?

Please also notify the Azure Portal people, as the encryption information in the portal is also incorrect.

best regards
Jan

[2020-03-24 11:10] Jawvig commented on #6059
I know no-one has suggested it yet, but to pre-empt, setting the `purge_soft_delete_on_destroy` flag to `false` as well does not get around the problem.

[code]

[2020-03-24 12:38] krzyszt0fd commented on #4824
I have checked with ARM Microsoft.Web/certificates (2019-08-01) and the result was:
`Properties.CanonicalName is invalid.  Certificate creation requires hostname xxx added to an app in the serverFarmId /subscriptions/xxx/resourceGroups/xxx/providers/Microsoft.Web/serverfarms/xxx`

[2020-03-24 13:08] andreasasujacgi commented on #5122
Hi, any progress on this? We've tested this with azurerm provired versions 1.44.0 and 2.2.0 and both produce the same error when trying to login with service principal. So, we're stuck to version 1.37 as it is the last functioning version.

[2020-03-24 13:54] ctooley21 commented on #6045
having the same issue! @flmarins were you able to find any temporary workaround? I can't seem to find any space in azure that these templates exist so that we can delete them, and trying to use the terraform state rm command doesn't say that these exist.

[2020-03-24 13:59] rohrerb commented on #3366
@katbyte  - Any chance we can get this planned?  Best to apply this at the SQL Server level so that all DB's under it will inherit the settings.  If possible it would nice if the policy was a separate resource instead of a field map.

[2020-03-24 14:02] rohrerb commented on #5929
@katbyte  any chance this could be done on the SQL level as well and if possible broke out to its own resource?

[2020-03-24 14:03] EPinci opened #6235 "azurerm_kubernetes_cluster forces redeployment of recent cluster due to windows_profile"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-24 14:12] jemag commented on #6059
Same problem here, setting
[code]
does not help, it still requires subscription wide permissions. Using provider version 2.2.0

[2020-03-24 14:36] rjkokko opened #6236 "Feature request: Set cache control for Storage Account Blob"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-24 14:54] tombuildsstuff commented on #6215
Duplicate of #6235

[2020-03-24 14:54] #6215 closed

[2020-03-24 16:02] baosen commented on #6235
A simple workaround for this issue can be made by adding this small code snippet to the resource:
[code]

[2020-03-24 19:46] sean-nixon commented on #4532
Weighing in again because this has caused me much frustration. This bug affects pretty much everything that has an `identity` block - storage accounts, virtual machines, function apps, SQL Server, etc. Transitioning from no identity to SystemManaged identity on these resources is extremely tedious as a result.

This almost seems like an issue with Terraform core itself and how it evaluates referen

[2020-03-24 19:47] rudolphjacksonm commented on #5458
@Muxxx I'm in the same boat--we want to add VNet integration at the slot level but it doesn't seem to be supported yet. Curiously enough I tried the same code you proposed in your solution and it doesn't give me an error on a `plan` or an `apply` however it doesn't set up the VNet integration either.

[2020-03-24 20:06] alanwales commented on #4801
This issue would be great to have solved since the old portal is marked as legacy and can't be used for new api management portals

[2020-03-24 20:56] johnwildes commented on #6129
In this deployment, the tags are being applied to other resources within this deployment, including the `:` within the tag name.  It's only these `azurerm_private_dns_zone` resources that the tags are not applying on.

Are you saying it's the Azure API for the private dns zone resource that is not applying tags within `:`  ?

[2020-03-24 21:48] elongstreet88 commented on #6146
@johnwildes , I just ran into this as well, but got it figured out.

The correct syntax to get the ip out is:

[code]

[2020-03-24 22:21] Jawvig commented on #6059
Okay, having attempted a fix (that did work and allowed me to create the key vault without subscription level permissions) I think this issue is unresolvable without adding another feature flag or dropping part of the functionality.

Assuming there is already a soft deleted key vault of the same name as the one you're trying to create, the functionality is:

If the `RecoverSoftDeletedKeyVaults` fl

[2020-03-24 23:12] WodansSon commented on #6235
@EPinci, thanks for opening this issue... I am currently unable to repro this issue on my local dev machine. The current resource is using the 2019-11-01 version of the API and the change mentioned above wasn't introduced until the 2020- 03-09 version of the API. Are you by any chance happen to be running a private version of the provider with newer AKS API's?

[2020-03-25 01:48] bg2132332 commented on #3729
I see upcoming ML workspace resource.  Any plans to add training cluster deployment?

[2020-03-25 01:53] #4338 closed

[2020-03-25 02:48] rabbitf00t commented on #1042
can somebody help on creating Azure VM from image of shared image gallery

[2020-03-25 08:20] #5254 closed

[2020-03-25 08:20] #6226 closed

[2020-03-25 08:27] tombuildsstuff commented on #6185
Fixed via #6225

[2020-03-25 08:27] #6185 closed

[2020-03-25 08:32] magodo commented on #3182
I'll try to implement this, hopefully.

[2020-03-25 09:08] #6063 closed

[2020-03-25 09:36] ArcturusZhang commented on #5922
`Get-AzDisk` should be the corresponding PS command, maybe this would help:
[code]
I am not very familiar with azure PS...

[2020-03-25 10:56] tombuildsstuff commented on #5922
👋

As @ArcturusZhang has alluded to there's several different kinds of encryption available for Disks in Azure. The PowerShell command:

[code]

.. checks the encryption status for the older Azure Encryption Method against the VM - which used an Encryption Settings block on each Disk and a VM Extension to encrypt the disks (using KeyVault on Windows, and other tooling on Linux).

Instead the Azure

[2020-03-25 10:56] #5922 closed

[2020-03-25 11:11] janlunddk commented on #5922
@tombuildsstuff and @ArcturusZhang, thanks a lot for the elaboration.

Yes, I can confirm that it works as intended. Apparently the only problem was the reporting of the encryption state.

As mentioned, I checked the `az disk show` on the existing test deployment I have, and it works, so this issue can indeed be closed.

I will give it another spin without the extension.

[2020-03-25 12:16] jungopro opened #6243 "r/function_app: support for enabling Incoming client certificates and Certificate exclusion paths"
Hello

According to [this issue](https://github.com/terraform-providers/terraform-provider-azurerm/issues/2004) there is an option to enable `Incoming client certificates` on `azurerm_function_app`. However:

- There is no documentation on how to implement it
- There is no mention of whether or not one can add `Certificate exclusion paths` once `Incoming client certificates` is enabled

I was able

[2020-03-25 13:28] stefan-rapp commented on #4431
Any updates on that? Thx.

[2020-03-25 13:37] SimonGaspar commented on #6056
Hi @mateusz-kozub you are using it wrong. Callback_url must be url of HTTP trigger and not azurerm_logic_app_workflow.logicapp[each.key].access_endpoint, which is missing essential part in url. For better understanding you should check in portal both url and you will see the differences between them. If you are using ARM template for logic app, you can add this output and use it in action group.

[2020-03-25 13:57] lawrencegripper commented on #5282
I might be in a position to pick up adding this as a PR into the Azure provider. If I was able to take on this work would there be a root to getting this merged?

@rk-tbrigley do you know anyone in Databricks working on their provider? Would be great to get in touch with them and make sure this isn't duplicated effort.

In this space I also found another third party provider: https://github.com/be

[2020-03-25 14:04] easimon opened #6245 "Terraform fails recreating manually deleted VMs when these were attached to data disk, leaving state unusable afterwards."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-25 14:05] mateusz-kozub commented on #6056
Hey @SimonGaspar , I can see your point. I am using TF for the logic apps, is there any way for TF to output this?

[2020-03-25 14:33] anlutro commented on #6178
Is there a workaround until this gets merged?

[2020-03-25 15:05] tombuildsstuff commented on #6245
hi @easimon

Thanks for opening this issue :)

This bug has been fixed in #6237 and will become available in version 2.3 of the Azure Provider - since the fix for this has been merged I'm going to close this issue for the moment; however I've assigned this to the 2.3 milestone so @hashibot will comment when the release is available.

Thanks!

[2020-03-25 15:05] #6245 closed

[2020-03-25 15:41] #5594 closed

[2020-03-25 16:23] SimonGaspar commented on #6056
Maybe you could use powershell with rest api and somehow get what you need. Check [this](https://docs.microsoft.com/en-us/rest/api/logic/workflows/listcallbackurl#keytype)

[2020-03-25 17:00] tombuildsstuff commented on #5282
👋 hey @D4zedC0der @rk-tbrigley @lawrencegripper

Thanks for opening this issue.

Whilst the AzureRM Provider supports creating a DataBricks Workspace (since this functionality is provided by the ARM API's) - configuration of resources within that Workspace are not specific to Azure/available in the ARM API's at this time.

Since this functionality isn't natively available in the Azure Resource Man

[2020-03-25 17:00] #5282 closed

[2020-03-25 17:25] johnwildes commented on #6146
@elongstreet88 I'll give that a shot.

[2020-03-25 17:55] collinstevens opened #6248 "Support for azurerm_function_app_custom_hostname_binding"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-25 18:00] rohrerb opened #6249 "data.azurerm_policy_definition lookup by definition_id"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-25 18:00] rohrerb commented on #6249
This could also resolve https://github.com/terraform-providers/terraform-provider-azurerm/issues/5883

[2020-03-25 18:02] rohrerb opened #6251 "data azurerm_policy_set_definition.html"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-25 18:05] johnathon-b commented on #171
I am also having issues with this using AzureRM => 2.0. I am receiving the same error:

I am creating an App Service Plan on an Application Service Environment. I've added a timeouts block w/ 120m but it still times out in TFE in 26 minutes.

[2020-03-25 18:30] adrianhall opened #6252 "Wrong error displayed when azurerm_function_ap fails to create."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-25 18:33] ubenmackin opened #6254 "azurerm_monitor_diagnostic_setting: Error: Provider produced inconsistent final plan"
### Terraform (and AzureRM Provider) Version

Terraform v0.12.23
- provider.azurerm v1.44.0

### Affected Resource(s)

- azurerm_monitor_diagnostic_setting

### Terraform Configuration

[code]

### Debug Output
[code]

### Expected Behavior

Diagnostic logs are enabled on the storage resource.

### Actual Behavior

Storage is created, but there are no diagnostic logs enabled

### Steps to Reproduc

[2020-03-25 18:35] ravitieto opened #6255 "Error with "Bypass" property in "network_rules" block of Azure Storage account template"
### Terraform (and AzureRM Provider) Version

Terraform v0.12.0
+ provider.azuread v0.3.1
+ provider.azurerm v1.35.0
+ provider.kubernetes v1.11.1
+ provider.random v2.2.1

### Affected Resource(s)

azurerm_storage_account

### Error description
Error: Incorrect attribute value type

  on ..\..\rgs\audit\main.tf line 11, in resource "azurerm_storage_account" "audit":
  11:   bypass

[2020-03-25 19:04] szaher opened #6256 "Support for Consumtion SKU in api_management Service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-25 19:12] tezzigator opened #6257 "azurerm_kubernetes_cluster gridlocks future terraform apply due to it deciding to also change service_principal"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-25 19:15] svangeti commented on #3581
Any update on this issue? Looks like we can enable the Storage logging for Blob service now using REST API or client libraries.
[https://docs.microsoft.com/en-us/rest/api/storageservices/set-blob-service-properties#request-body](url)

[2020-03-25 19:26] svangeti opened #6258 "Enable logging/metrics for Blob Storage"
### Terraform (and AzureRM Provider) Version
* `Terraform v0.12.24
 provider.azurerm v1.44.0`

### Affected Resource(s)

* `azurerm_storage_account`

### Terraform Configuration Files

[code]

### Debug Output

``
on main.tf line 99, in resource "azurerm_storage_account" "storageaccount":
  99:   hour_metrics {
Blocks of type "hour_metrics" are not expected here.
Error: Unsupported block type
  on

[2020-03-25 19:46] hawkism opened #6259 "Unexpected recreate of Application Insights application_type = "Other" -> "other" when importing existing resource to tfstate, or when upgrading to 2.0.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-25 20:54] #6146 closed

[2020-03-25 21:09] Jawvig commented on #6059
I've created pull request #6260 which I think resolves this issue. With reference to my previous comment, I have gone for option 2 which is to skip the code that returns the error if there's a soft deleted key vault of the same name. I feel this is the right thing to do because Azure already performs this check itself. And, in fact, it performs it more subtly. It allows for creation if the soft de

[2020-03-25 21:16] mateusz-kozub commented on #6056
Ah, that's a bit frustrating. I take a look at your link and see if I can work something out. Hopefully, in future, this could be handled by tf.

[2020-03-25 21:19] #4723 closed

[2020-03-25 21:25] kerzey opened #6261 "eventhub_namespace throws an error "The argument "location" is required, but no definition was found". Location is depreciated in Azurerm provider 2.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-25 22:35] JSchenken opened #6262 "Acceptance tests fail due to renames in edit on Pull Request 6097 missed two test uses of previous names"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-25 22:48] #1126 closed

[2020-03-25 22:48] #2849 closed

[2020-03-25 22:48] #3978 closed

[2020-03-25 23:47] jonmaestas commented on #2466
This is what I'm doing so we can send metrics to Log Analytics and logs to a storage account. Each run/plan shows the other overwriting but it appears they're both taking/keeping:
[code]
Output:
[code]

It would also be nice to only have 1 resource block and be able to direct each type of diagnostic setting to different storage layers (e.g. logs to blob and metrics to log analytics). We're doing t

[2020-03-26 00:00] #6262 closed

[2020-03-26 00:03] TLaborde opened #6264 "Support for Managed Identity/Keyvault in Azure Data Factory Linked Service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-26 00:29] davidobrien1985 opened #6265 "Azure Function App LinuxFxVersion can't be set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-26 01:31] markercm commented on #6186
You are on the right path, there is a caveat in https://www.terraform.io/docs/providers/azurerm/r/container_group.html above network_profile_id that shows it is not compatible with  an ip_address_type of "Private"  so if you loose the Identity block it should run.

[2020-03-26 02:59] A30001546 commented on #5675
@here check if this post is useful
https://stackoverflow.com/questions/59875966/output-for-principal-id-for-multiple-azure-app-services-through-terraform

[2020-03-26 06:55] tombuildsstuff commented on #6261
hi @kerzey

Thanks for opening this issue.

As [per the 2.0 upgrade guide](https://www.terraform.io/docs/providers/azurerm/guides/2.0-upgrade-guide.html#resource-azurerm_eventhub_namespace) this field has been deprecated in 1.x releases and removed in 2.0 since Azure no longer requires this value. As such you should be able to remove this field from your Terraform Configuration and this'll continu

[2020-03-26 06:55] #6261 closed

[2020-03-26 07:34] StefanSchoof commented on #6259
This sounds similar to #5902

[2020-03-26 07:43] tombuildsstuff commented on #6259
@StefanSchoof thanks for the heads up - agreed - I'm going to close this as a duplicate of #5902 - would you mind subscribing to that issue for updates @hawkism?

[2020-03-26 07:43] #6259 closed

[2020-03-26 08:00] KSLiquid commented on #6059
Thanks alot Jawvig for tackling that.
I wanted to do a similar thing myself but failed to do the development setup with go, make and stuff :D

[2020-03-26 08:20] antgonmir commented on #4383
Is there a workaround if you need to set restrictions based on both ip addresses and subnets? Terraform validate seems to fail because "both are required" and then Terraform plan fails because "only one needs to be supplied".

I'm using Terraform version: 0.12.24 and azurerm version: 2.2.0

The azurerm version provider 1.33.1 doesn't recognize fields like os_type for function apps, which makes dep

[2020-03-26 08:44] davidobrien1985 commented on #6265
and of course, after going away and coming back, I find the exact setting.
https://www.terraform.io/docs/providers/azurerm/r/function_app.html#linux_fx_version

[2020-03-26 08:44] #6265 closed

[2020-03-26 08:59] tombuildsstuff commented on #6258
hi @svangeti

Thanks for opening this issue.

Support for this functionality is not available in the v1.44 release you're using - however it's supported in the latest version of the Azure Provider. You can upgrade to by updating the version in the Provider block (as shown below) and then running `terraform init -upgrade`:

[code]

.. which should solve this for you - would you be able to take a lo

[2020-03-26 08:59] #6258 closed

[2020-03-26 09:10] ronamosa commented on #6215
awesome, thanks @viresh-contino !

[2020-03-26 09:12] tombuildsstuff commented on #4185
Fixed via #6083

[2020-03-26 09:12] #4185 closed

[2020-03-26 09:19] lawrencegripper commented on #5282
Agree that makes sense, thanks @tombuildsstuff

[2020-03-26 09:23] ArcturusZhang commented on #6249
Hi @rohrerb Thanks for this issue!
Actually the field you are intending to add should be `name` of the policy definition.
I am currently working on this. Should be able to open a PR fixing this.
Or are you meaning the full ID, like `/subscription/{subsID}/providers/Microsoft.Authorization/policyDefinitions/def1`? I suppose when you have the ID and want to get some information from the resource, yo

[2020-03-26 10:29] ArcturusZhang commented on #6251
Hi @rohrerb thanks for this issue!
This is very similar with #6249 , I will work on this too.

[2020-03-26 10:40] ArcturusZhang commented on #5922
Actually my information is gotten from the PM of disk encryption set, and he said he will update the doc of this soon.

[2020-03-26 10:52] rjkokko commented on #6236
A workaround for this issue is to use a provisioner and azure-cli.
[code]

[2020-03-26 11:18] buissjer opened #6267 "Support for function_app vnet integration"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-26 11:32] piotrgwiazda commented on #4408
The same happens for "azurerm_app_service_certificate" when using "key_vault_secret_id".

[2020-03-26 13:38] chrissewell1234 opened #6268 "Passwords with $ character are stripped without warning/error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-26 13:49] rohanvirmani opened #6269 "Error creating secondary DB using azurerm_sql_database resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-26 13:56] MarkKharitonov commented on #6269
The error is output by the sql server itself. It seems the provider implicitly creates the auditing configuration, even if not specified and communicates it to the sql server, which fails.

[2020-03-26 14:12] mateusz-kozub commented on #6056
Could this issue turn into feature request possibly? So that callback_url could retrieve the necessary full HTTP trigger from the logic app.

[2020-03-26 14:20] hashibot[bot] opened #6270 "Error creating Managed Kubernetes Cluster"
_This issue was originally opened by @Ashokhanu as hashicorp/terraform#24464. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

### Crash Output

### Expected Behavior

It sh

[2020-03-26 14:24] Ashokhanu commented on #6270
how is this being classified as issue with provider? whom should we contact on this if this is getting failed only with terraform code and works fine with Azure CLI commands? Please throw some light on this

[2020-03-26 14:45] vivekSingh2984 commented on #6270
I had same issue can you please update ASAP.

[2020-03-26 15:03] Darkbat91 commented on #5893
This error also happens if you have aliased your provisioners and leave a resource without a provider. I assume because it automatically tries to import a blank azurerm provider without the features block.

[code]

[2020-03-26 15:08] BarbaraGoeller-AIT commented on #3844
Hi,
we are also interested in deploying TSI via Terraform. Are there any news on this?

Best regards
Barbara

[2020-03-26 15:18] markmqhr commented on #3719
Any update on a fix for this?

[2020-03-26 16:51] jonmaestas commented on #2466
If you look at the full output of the plan, you'll notice it's scoping the `id` to `metrics` or `logs`, and it shows removing the other type. Both of these have the same `target_resource_id`, but the `id` is different, appended with `|metrics` or `|logs` and it shows removing the other type from each.

However, it appears it's creating each just fine and not removing either from the actual resourc

[2020-03-26 16:53] ShreyasNBS commented on #5976
Hi,

Do we have an ETA on when this will be fixed? Currently getting around this by attaching the load balancer probe to scaleset, but I would prefer to de-couple them and set UpgradePolicy to Manual. Would be good to know if it's going to be picked up in any upcoming Milestone.

[2020-03-26 17:20] hashibot[bot] opened #6271 "Crash issue"
_This issue was originally opened by @svangeti as hashicorp/terraform#24456. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
[code]

### Terraform Configuration Files
**main.tf**
[code]
**variables.tf**
[code]
### **Crash Output**
[code]

###

[2020-03-26 17:38] tombuildsstuff commented on #6271
Duplicate of #5897

[2020-03-26 17:38] #6271 closed

[2020-03-26 17:57] brandonh-msft commented on #3581
If you're using [Azure Pipelines](https://azure.microsoft.com/en-us/services/devops/pipelines/), the following YAML will do this for you via the Azure CLI until Terraform supports this:

[code]

this, given you've got an `environment` parameter and are making it part of the storage account names.

[2020-03-26 19:51] jonmaestas commented on #5673
Are these issues related? https://github.com/terraform-providers/terraform-provider-azurerm/issues/2466

[2020-03-26 21:16] matsest commented on #1990
any news now that the provider is in 2.x?

[2020-03-26 21:27] carloVentrella opened #6272 "Support for IpsecTrafficSelectorPolicy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-26 22:32] Bungleboy commented on #5496
From what I can tell this wasn't completely fixed with #5485.     The resource_arm_netapp_volume.go file still had this in the validation (as of release 2.2.0)
`
			"storage_quota_in_gb": {
				Type:         schema.TypeInt,
				Required:     true,
				ValidateFunc: validation.IntBetween(100, 4096),
`
This is still causing the same error to appear.   I've noticed though the value has increased in t

[2020-03-27 03:57] Dmitry1987 commented on #3903
well it never knows if the data in your cert file is the same like last time or not, maybe this is the problem?
I am trying to figure out what kind of password this setting needs, my cert has no password but it is a required field in Azure

[2020-03-27 05:18] #3891 closed

[2020-03-27 06:06] Rod-Sychev commented on #3910
It's been awhile, any updates on this request?

[2020-03-27 06:53] njuCZ opened #6277 "should terraform create function invoke create api and update api ?"
This is a question about how to write resource provider.

Business Background:
1. user creates a data export job
2. the create rest api response contains address info (Computed: true)
3. user send their disk to the computed address, then user can update carrier info, carrier number info and state of the data export job

In the aspect of business, user must create the job first and then update deli

[2020-03-27 07:48] tombuildsstuff commented on #6277
hi @njuCZ
I'm not sure exactly which Resource Provider you're referring to - but in general we call the methods required to create a resource (even if that requires calling Create and subsequently Update via another API to fully provision the resource) within the Create function.
From the details you've given above (where this involves manual processes, and some fields can't be set/read) - it soun

[2020-03-27 07:48] #6277 closed

[2020-03-27 07:58] MikaSoinetsalo commented on #5172
Any updates ?

[2020-03-27 08:28] tombuildsstuff commented on #5172
hi @GramozKrasniqi

Thanks for opening this issue

You can use multiple provider blocks to work with different subscriptions, for example:

[code]

In this example we load the Virtual Network from the "Hub" subscription and then add this Virtual Network Link to the Private DNS Zone of the "Spoke" subscription - which allows creating resources in both.

Since this is a question about using Terrafor

[2020-03-27 08:28] #5172 closed

[2020-03-27 08:38] miteax opened #6278 "azurerm_storage_blob with dynamic source path get recreated"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-27 08:46] njuCZ commented on #6277
@tombuildsstuff It's the storage import export RP.  I just found if user do the third step, the export_job resource can not be deleted by rest api. I think in terraform we can only do the first step.

[2020-03-27 10:18] tombuildsstuff commented on #6278
hi @miteax

Thanks for opening this issue.

As you've mentioned when switching between directories the value or `path.cwd` will change - however there's another value which should provide a more relative path to the module here (`path.module` - [as shown in this example](https://www.terraform.io/docs/configuration/functions/file.html)).

As such I believe it should be possible to fix this by switc

[2020-03-27 10:18] #6278 closed

[2020-03-27 10:48] MikaSoinetsalo commented on #5172
Hi @tombuildsstuff ,

I actually used another provider that is configured using another subscription id. Depending on what I put on the resource group it either won't find the private_zone or the resource group.  Both errors are logical based on the resource_group used so it looks like it's missing the needed functionality "under the hood" - disclaimer - this was the first time when I'm creating t

[2020-03-27 11:05] MikaSoinetsalo commented on #5172
So yousing your example something like this:

[code]

[2020-03-27 11:19] sebader commented on #6221
Ah, I can just answer this myself as of today :) new provider version 2.3.0 enables this.
Fixed by: https://github.com/terraform-providers/terraform-provider-azurerm/pull/6170

One just needs to now use resource_manager_id instead of id

[code]

[2020-03-27 11:19] #6221 closed

[2020-03-27 12:40] rogersollberger opened #6279 "azurerm_redis_cache: sll in primary and secondary connection string is wrong"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-27 13:21] runecalico opened #6280 "Standard azurerm_eventhub_namespace defaulting to DENY firewall when created"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-27 13:21] arestarh commented on #4528
@katbyte As long as PR #6097 addressed my request should I close this issue or you'll do this?

[2020-03-27 13:27] miteax commented on #6278
Thanks for the reply @tombuildsstuff

The problem with ```path.module``` is that it points to the path where the module is defined rather than from where it was called.

An example:
[code]

When running terraform from this_project/network, ```path.cwd``` would give ```/git_root/this_project/network``` but ```path.module``` would give ```/git_root/shared/network```. Using ```path.module``` would ne

[2020-03-27 13:55] anil88972 opened #6281 "when i am trying to add the extension getting below issue (am using terraform 2.1.0)"
The provider provider.azurerm does not support resource type
"azurerm_windows_virtual_machine_extension".

is anyone having any idea?

[2020-03-27 14:40] hctv19 commented on #3203
@tombuildsstuff There were a number of updates recently merged into the https://github.com/Azure/azure-rest-api-specs repo, and as I understand it this should allow the Go SDK to be regenerated  with the updated definitions needed to support OpenAPI content types in the Terraform provider.

[2020-03-27 14:58] frugecn opened #6282 "Support for Import bacpac in azurerm_mssql_database"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-27 15:03] frugecn opened #6283 "Support for extended_auditing_policy for azurerm_mssql_database"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-27 15:04] allantargino commented on #6178
Hi @anlutro, you can try to set both `client_id` and `client_secret` with zeros:

[code]

[2020-03-27 16:14] fzong76 opened #6285 "azurerm 1.44.0 connection reset by peer"
according to https://github.com/terraform-providers/terraform-provider-azurerm/issues/3908 this issue has been fixed in 1.37.0. But we are seeing this issue very often in 1.44.0.

one example

<code>
terraform get
terraform init -backend-config="storage_account_name=xxxxx" -backend-config="container_name=xxxx" -backend-config="key=xxx.tfstate" -backend-config="access_key=xxxxx" -get=false -reconfi

[2020-03-27 16:34] Rod-Sychev commented on #4047
+1

Looking forward to this one too.

[2020-03-27 16:43] paulomarquesc commented on #5496
This is now fixed and already published on v2.3 of the provider. https://github.com/terraform-providers/terraform-provider-azurerm/pull/6228

[2020-03-27 19:09] opsj opened #6286 "azurerm_linux_virtual_machine_scale_set fails to retain data disks during a rolling upgrade"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-27 19:50] mramswaroop commented on #443
I am blocked with just this issue in my terraform script which is all loaded with appropriate variables, interpolation and what not, is there no workaround to include API Apps(Azure App Service) resource with azurerm provider ?

[2020-03-27 20:01] rgl commented on #6029
This still happens in v2.3.0 :-(

[2020-03-27 20:14] pawankmr301 opened #6287 "terraform plan always force to recreate the AKS cluster. There is nothing change in CI"
AKS cluster created. but when i run the terraform plan command it showing following resource must be replace. but there is no change in configuration.

[code]

[2020-03-27 20:36] StefanSchoof commented on #6281
I think you added a extra windows in the resource name and [azurerm_virtual_machine_extension](https://www.terraform.io/docs/providers/azurerm/r/virtual_machine_extension.html) is the one you want.

[2020-03-27 21:01] duaneguthrie commented on #6180
thanks so much

[2020-03-27 21:14] fabiendelpierre opened #6288 "azurerm_private_link_service requires nonsensical parameters when trying to set up private link from VNet to Azure service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-27 22:31] rmaziarka commented on #398
I've just come across this problem - it is still applicable. Where are the files responsible for that part of the provider? I could try to implement a PR.

[2020-03-27 23:03] dwizzle204 commented on #6288
Drop this resource:
resource "azurerm_private_link_service" "example"

Change this to the id of your db

azurerm_private_endpoint:
private_connection_resource_id = azurerm_postgresql_server.example.id

[2020-03-27 23:44] katbyte commented on #6281
@anil88972, @StefanScherer  is correct. there is no such resource as `azurerm_windows_virtual_machine_extension`, please use the `azurerm_virtual_machine_extension` resource 🙂

as such i am going to close this. please do let us know if you continue to have problems!

[2020-03-27 23:44] #6281 closed

[2020-03-28 08:05] timja commented on #398
@rmaziarka read my second to last comment :)

[2020-03-28 12:36] aristosvo commented on #6287
Can you give us a bit more information? Can you give use a (redacted) version of your configuration (.tf) files?

[2020-03-28 16:11] anil88972 commented on #6281
step1:Note: The azurerm_virtual_machine resource has been superseded by the azurerm_linux_virtual_machine and azurerm_windows_virtual_machine resources. The existing azurerm_virtual_machine resource will continue to be available throughout the 2.x releases however is in a feature-frozen state to maintain compatibility - new functionality will instead be added to the azurerm_linux_virtual_machine a

[2020-03-28 16:18] StefanSchoof commented on #6281
The resource for the VM was renamed. The resource for the extension not.

I think we can help you only if you insert a complete sample.

[2020-03-28 16:30] anil88972 commented on #6281
resource "azurerm_windows_virtual_machine_extension" "MYADJOINEDVMADDE1" {
  name                 = "MYADJOINEDVMADDE1"
  virtual_machine_id   = azurerm_windows_virtual_machine.VM1.id
  publisher            = "Microsoft.Compute"
  type                 = "JsonADDomainExtension"
  type_handler_version = "1.3"

  # What the settings mean: https://docs.microsoft.com/en-us/windows/desktop/api/lmjoin/nf

[2020-03-28 16:59] pawankmr301 commented on #6287
@aristosvo Please check the following configuration of terraform.

k8s.tf

# Create Kubernetes Cluster
resource azurerm_kubernetes_cluster k8s {
  name                            = "${var.resource_prefix}-k8s"
  location                        = var.location
  resource_group_name             = var.resource_group_name
  dns_prefix                      = "${var.resource_prefix}-k8s"
  kubernetes_ver

[2020-03-28 17:09] StefanSchoof commented on #6281
I misread your comment and did not understand, that the extension was installing but unsuccessful.  This means the error is outside of terraform. I think you have better chance to get help of https://stackoverflow.com

[2020-03-28 17:12] aristosvo commented on #6287
Do you define the [version](https://www.terraform.io/docs/configuration/providers.html#provider-versions) of azurerm somehow? If not, when did you create your cluster for the first time and when did you try to update?

BTW, if you could update your formatting in your previous messages it would help a lot. For example, always use ``` around your code:
[code]

[2020-03-28 17:13] anil88972 commented on #6281
ok fine could you please tell me how to bring the VM in domine
am using terraform 2.1.0 (when am creating VM am using resource azurerm_windows_virtual_machine)

[2020-03-28 17:45] pawankmr301 commented on #6287
@aristosvo Today I was trying to create the cluster. Once cluster get created I just run the terraform plan command. plan command will showing k8s cluster forces replacement. I am using the following provider of azurerm.

├── provider.azuread ~> 0.3
├── provider.azurerm ~>2.0.0
└── provider.null ~> 2.0

[code]

[2020-03-29 14:12] sujiar37 commented on #6287
@pawankmr301  The plan would suggest following replacement
[code]
I was also using linux_profile and the plan returns no changes once I had append the `windows_profile` block like below,

[code]

[2020-03-29 16:44] JasonDonnelly commented on #443
**TLDR;**
Azure App Services of type Web App and Api App are exactly the same and have the same functionality.  Whilst it might be nice to have your api app service listed as an api app, that's all the difference between a web app and an api app, the name and the icon.

[https://www.serverless360.com/blog/azure-api-app-vs-web-app](url)

To all of you that have posted here, I have been as frustrate

[2020-03-29 19:06] harsh-vm opened #6291 "Manually specifying recursive nameservers for propagation checks doesn't work as expected"
We are consuming acme provider alongside azure provider to get Let's Encrypt certificate provisioned. This was working absolutely fine till Thursday (26ht March) but stopped working now because DNS propagation check looks like timing out. We are using Azure public DNS service for our custom domains and they are resolvable but during certificate provisioning the DNS propagation check has started fa

[2020-03-29 19:10] szaher commented on #6256
so this SKU is not available in the currently supported api version 2018-01-01 but it's supported from 2019-01-01. Can we pump the api version ? What do we need to that ?

[2020-03-29 20:51] sschmeck commented on #6256
There is an existing issue regarding the consumption tier - #2613.

[2020-03-29 22:21] NQFDevOps commented on #4047
+1
We need this as well.

[2020-03-30 00:09] #6084 closed

[2020-03-30 00:51] szaher commented on #2613
so api version 2019-12-01 is release 3 days ago, can we go ahead and use it to fix this issue ?

https://github.com/Azure/azure-sdk-for-go/tree/master/services/apimanagement/mgmt/2019-12-01/apimanagement

https://github.com/Azure/azure-sdk-for-go/releases/tag/v40.6.0

If there anything that I can do to help I will be more than happy :)

[2020-03-30 01:00] yamaszone commented on #6287
I am seeing the same behavior where  successive run without no source code change forces redeployment due to `windows_profile` mentioned above.

In addition, I am also seeing an issue where `ServicePrincipalProfile` is incorrectly set to `msi` instead of the configured `client_id` via `ARM_CLIENT_ID`. I can see the incorrect profile via `az aks show --resource-group <resource-group-name> --name <a

[2020-03-30 01:28] baoduy commented on #3963
I got the same issue even set `virtual_network_subnet_id = null`
[code]

[2020-03-30 02:38] Avani129 commented on #5867
Hi , I have added
provider "azurerm" {
  version = "=2.0.0"
  features {}
} Still I'm getting features field is not set. Do you any of getting similar problem ? Please help me

[2020-03-30 03:39] mramswaroop commented on #443
![2020-03-30 09_04_48-main tf - VSCodeDaily (Workspace) - Visual Studio Code](https://user-images.githubusercontent.com/36978857/77872797-a85aae80-7265-11ea-962c-97e029d235cf.png)
@JasonDonnelly I was able to provision the azure app service web app(kind: api) by passing ARM IaC code in template body section of my tf file. will test to state-management to verify how terraform handles the resource w

[2020-03-30 04:06] yamaszone opened #6292 "ServicePrincipalProfile incorrectly set to "msi" => Cluster Autoscaler is failing to scale AKS worker nodes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-30 08:11] tombuildsstuff commented on #6128
hi @chadif

Thanks for opening this issue.

If an association exists between the Subnet and the Network Security Group/Route Table resources when trying to create these associations - Terraform will fail during the creation of these resources with an error that they need to be imported into the Statefile (as you're seeing). Terraform tracks the state of resources it's managing in it's Statefile -

[2020-03-30 08:11] #6128 closed

[2020-03-30 08:19] tombuildsstuff commented on #6287
hi @pawankmr301

Thanks for opening this issue :)

Taking a look through this appears to be a duplicate of #6235 - rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one; would you mind subscribing to #6235 for updates?

Thanks!

[2020-03-30 08:19] #6287 closed

[2020-03-30 08:22] tombuildsstuff commented on #6285
hi @fzong76

Thanks for opening this issue.

This issue is related to the Azure Backend rather than the Azure Provider (which was fixed in #3908) - as such this issue needs to be opened on [the Terraform Core repository](https://github.com/hashicorp/terraform). Unfortunately since these repositories are in separate Github orgs, at this time there's no way to transfer these and keep you subscribed

[2020-03-30 08:22] #6285 closed

[2020-03-30 08:27] yamaszone commented on #6292
I have actually found the issue. I misread the Terraform docs for `identity` block which is actually for MSI. The following section was causing the "msi" setup:
[code]
With above disabled, the cluster is correctly autoscaling.

[2020-03-30 08:27] #6292 closed

[2020-03-30 08:29] tombuildsstuff commented on #6270
hi @Ashokhanu

Thanks for opening this issue.

Taking a look into the Terraform Configuration posted above there's no dependency between the AKS Cluster and the Role Assignment - as such these resources can be created in parallel and Terraform will attempt to do so - meaning that the AKS Cluster will be being validated (and failing, since this doesn't have the role assignment) before the Role Assi

[2020-03-30 08:29] #6270 closed

[2020-03-30 08:34] tombuildsstuff commented on #6291
hi @harsh-vm

Thanks for opening this issue.

Taking a quick look into this it appears this is a connectivity issue rather than an issue with Terraform specifically here: `read udp 10.240.0.33:55807->192.100.102.3:53: i/o timeout` - as such I believe this is likely a transient issue - would you be able to retry and see if this persists?

This forum is intended to be used for feature enhancements a

[2020-03-30 08:34] #6291 closed

[2020-03-30 09:01] harsh-vm commented on #6291
Thank you, @tombuildsstuff for coming back on this. The pointer you have given above in your comment about transient issue is possibly true.

But, I logged this issue with more of impact on `acme_certificate` where I tried to override DNS resolver as per the documentation with recursive_nameservers and that didn't work. So, thought it is worth logging issue here. May be this issue should go in `ac

[2020-03-30 09:50] Cyanopus opened #6294 "AKS recreating after each plan&apply - change in azure api for windows profile username forces recreation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-30 10:56] tombuildsstuff commented on #6294
hi @Cyanopus

Thanks for opening this issue :)

Taking a look through this appears to be a duplicate of #6235 - rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one; would you mind subscribing to #6235 for updates?

Thanks!

[2020-03-30 10:56] #6294 closed

[2020-03-30 13:14] ctmillerlin opened #6295 "ssl_certificate in azurerm_application_gateway cannot pass a password"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-30 13:36] Sagar2133 opened #6296 "Zone-redundant option not available in Public LB via Terrafrom"
Description :-

We have configured nodes under different Availability Zone and when we are trying to configure those nodes under Public load balancer with  "Zone-redundant" option we are getting below error, It seems it's out of support.

* azurerm_public_ip.XXXX-pip01: Error Creating/Updating Public IP "XXXX-pip01" (Resource Group "XX-rgXX"): network.PublicIPAddressesClient#CreateOrUpdate: Failur

[2020-03-30 14:18] privatwolke opened #6297 "azurerm_virtual_machine_data_disk_attachment should be invalidated if VM does not exist"
If external forces get rid of a VM the provider should also invalidate data disk attachments. A plan involving a VM + data disk attachment would then propose to create both resources.

### Reference
https://github.com/terraform-providers/terraform-provider-azurerm/blob/211a7324ff496d61ad6b95a365e025a4c6c83756/azurerm/internal/services/compute/resource_arm_virtual_machine_data_disk_attachment.go#L1

[2020-03-30 14:33] kumarkran opened #6298 "Unable to encrypt storage account with customer managed keys , If Azure key vault is in different subscription"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-30 14:33] fabiendelpierre commented on #6288
Thanks a lot @dwizzle204 -- that worked fine!

I had to do this before it worked: https://docs.microsoft.com/en-us/azure/private-link/disable-private-endpoint-network-policy

[2020-03-30 14:33] #6288 closed

[2020-03-30 14:34] EPinci commented on #6178
I've been able to use to "zero" workaround and deploy a cluster with managed identity.
The identity output variable can get me the system managed identity but not the user managed identity that is provisioned to be used for authorizations (according to https://docs.microsoft.com/en-us/azure/aks/use-managed-identity).
Any plan to expose that as well as an output?

[2020-03-30 14:38] EPinci commented on #6178
Also, just noticed that any run after the initial deployment results in a (kind of expected):

[code]

[2020-03-30 15:35] miiitch commented on #2566
Hi, still no milestone for this?

[2020-03-30 16:21] tombuildsstuff commented on #6297
hi @privatwolke

Thanks for opening this issue :)

The fix for this got merged into #6237 which shipped in version 2.3.0 of the Azure Provider - would you be able to take a look and see if that works for you? Since this appears to be resolved I'm going to close this issue for the moment - however please let us know if that doesn't work for you and we'll take another look.

Thanks!

[2020-03-30 16:21] #6297 closed

[2020-03-30 17:03] getvivekv commented on #3935
How can we use this version? I tried to change the version in the provider to " version = "~> 2.2.0"" but it didn't work.

[2020-03-30 18:14] viresh-contino commented on #6271
i have just experienced this! thanks for posting the issue!

[2020-03-30 20:20] hashibot[bot] opened #6299 "FQDN / DNS Label - Does not work or is documented incorrectly."
_This issue was originally opened by @drcrook1 as hashicorp/terraform#24497. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

https://www.terraform.io/docs/providers/azurerm/d/public_ip.html

Attempting to use.  FQDN is not a supported field type for 0.12.23 of ter

[2020-03-30 20:42] katbyte commented on #5703
@arodriguezdlc, unfortunately while we have added some wait's to azuread its not enough as the API calls return before the new SP is replicated across data centres. There isn't much we can do on our end and MSFT will need to fix things on their side/

[2020-03-30 22:37] kazimierzbudzyk opened #6300 "Forced recreation after migrating azurerm_virtual_machine -> azurerm_linux_virtual_machine"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-30 23:38] elsesiy opened #6302 "Container Registry doesn't detect changes to network_rule_set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-31 02:17] billabongrob opened #6303 "Documentation - importance of Storage vs StorageV2"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-31 02:36] Harmindersingh05 commented on #2613
Hi @tombuildsstuff any chance this could be included the next release?

[2020-03-31 03:21] paul-vu commented on #3963
30.168.10.5/24 is not a valid cidr block. The 255.255.255.0 mask I used was just an example, and will  only work with /24. You'll need to do the conversion yourself when using custom ranges to calculate the correct subnet mask, or use the dynamic ip_restriction in my example above. If you want to add a single IP like the one you mentioned, it would need a different mask:

[code]

[2020-03-31 07:38] Cyanopus commented on #6235
This behavior can be seen in AzureRM 2,3 as well. Its not affecting previously created resources before Azure done this change on the API. Which means that if you've provisioned the cluster a week ago you are most likely safe in the resource.

[2020-03-31 07:49] arodriguezdlc commented on #5703
Ok, we have reported this issue to Microsoft too. If we have any news, we will share them here. For now, we continue with the sleep workaround.

Thank you!!

[2020-03-31 08:28] raidlman opened #6306 "Terraform state off when provisioning failed due to Azure capacity problems."
### Terraform (and AzureRM Provider) Version

[code]

### Affected Resource(s)

* `azurerm_virtual_machine`

### Terraform Configuration Files

Snip

[code]

### Expected Behavior

If Terraform provisioning fails due to Azure capacity issues, all created resources that failed are either destroyed (removed from Azure) or present in the current Terraform state.

Terraform should track all resources

[2020-03-31 11:37] ClaudiaBaur commented on #5758
Is there a roadmap for the way forward to migrate existing storage accounts from v1 to v2?

[2020-03-31 11:54] Mimetis opened #6308 "Disabling RBAC AAD makes terraform crash on apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-31 11:57] tombuildsstuff commented on #6308
hey @Mimetis

Thanks for opening this issue

Taking a quick look into this, it appears the line number is missing from the crash log here:

[code]

So that we can take a look into this would it be possible to provide a larger snippet of the debug log here?

Thanks!

[2020-03-31 12:00] Mimetis commented on #6308
Hey @tombuildsstuff
Sorry, here is a more detailed log (I update the issue as well)

[code]

[2020-03-31 12:02] rem-aj commented on #5758
Workaround I use is upgrade manually in Portal and the then terraform will
just do an update in place and add some extra properties to the state file
once you apply it.

Sent from my mobile device

On Tue, Mar 31, 2020, 7:37 AM Claudia Baur <notifications@github.com> wrote:

[2020-03-31 12:28] tombuildsstuff commented on #5389
hi @robgil-dds

Thanks for opening this issue - apologies for the delayed response here!

The `SystemAssigned` value for the `identity` block of the `azurerm_kubernetes_cluster` resource refers to where the identity comes from for the AKS Service, not for the resources it provisions. In this instance where the AKS Service itself creates the Managed Identity and then assigns it to the Virtual Machi

[2020-03-31 12:28] #5389 closed

[2020-03-31 12:51] schmid37 commented on #4558
@WodansSon any updates to this topic? It's pretty anoying to increase the timeout via the Azure CLI after a deployment.

[2020-03-31 12:53] shea-parkes commented on #2977
I believe I just encountered this with v2.3.0 of the Azure provider.  Given that this is still open, I'm assuming it hasn't been fixed?

[2020-03-31 14:49] geekzter opened #6310 "data.azurerm_client_config.current.object_id empty in Azure Cloud Shell"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-31 15:51] anhowe commented on #5416
While we wait for the PR to be approved, a workaround is to use the template and extract the mountTarget IP Address from the ARM Output Variable.  This approach is implemented [here](https://github.com/Azure/Avere/blob/fa2c74709d5f9f9ec7bf807b42661ac7d24eea3f/src/terraform/examples/HPC%20Cache/netapp/main.tf#L99-L123) and the extraction of the output ipaddress is shown [here](https://github.com/Az

[2020-03-31 16:00] motokotoboom commented on #6143
Temporary solution is to remove public ip section and allow nginx-ingress to create service with annotations:
`
resource "helm_release" "nginx-ingress" {
  name          = "nginx-ingress"
  namespace     = "default"
  repository    = data.helm_repository.stable.metadata.0.name
  chart         = "nginx-ingress"
  version       = "1.34.2"

  set {
    name  = "controller.replicaCount"
    value = va

[2020-03-31 16:01] matt40k opened #6311 "Support for data.azurerm_key_vault_certificate"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-31 16:12] markmqhr commented on #6203
I have this same issue trying to add a Private Endpoint to PostgreSQL, so not just limited to mariadb, but a private endpoint issue.

[2020-03-31 17:09] jeefberkey opened #6312 "Unable to manage OmsAgentForLinux or MicrosoftMonitoringAgent with terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-31 18:20] hashibot[bot] opened #6313 "Could not download module "diskencrypt" source code from "https://github.com/Azure/terraform-azurerm-diskencrypt/archive/v2.0.0.tar.gz//*?archive=tar.gz": bad response code: 404."
_This issue was originally opened by @rt7055 as hashicorp/terraform#24490. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

[code]

### Crash Output

### Expected Behavior

[2020-03-31 20:41] Avani129 commented on #5897
provider "azurerm" {
    version = "~> 2.0.0"
    features {}
}
I added features {} block as above code snippet. Still azure is not picking up
the change in GitHub. So its throwing **Error: "features": required field is not set**
Was trying create Kubernetes cluster using terraform apply on Azure

[2020-03-31 20:43] drdamour commented on #5197
@tombuildsstuff  would u be open to a PR that allowed workflow to take a heredoc of the whole logic app workflow as a "simple mode" option, and make it an either or like some of the other resources are configured throughout TF?

[2020-03-31 20:44] mbfrahry commented on #6255
Hey @ravitieto, you can specify multiple values for bypass so we have it accept a set of strings. The below should get you going again:

[code]

[2020-03-31 20:44] #6255 closed

[2020-03-31 20:46] enorlando commented on #4431
Any updates on this request please?
Thank you!

[2020-03-31 20:57] NillsF opened #6314 "Creating VM with mana data disks very slow using azurerm_virtual_machine_data_disk_attachment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-31 21:21] pborgo commented on #6091
I'm experiencing the same issue with v2.3.0. Is there any update on this? thx

[2020-03-31 23:10] capusta commented on #6178
also 000 is not a valid id to use wrt AD

[code]

[2020-04-01 02:21] bentterp opened #6316 "Attribute missing from resource azurerm_shared_image"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-01 04:27] sephross commented on #4383
Could someone please point me to an accurate example of ip_restriction being used? As per the previous example of the workaround posted above, it seems odd that I would need to use a dynamic block to add a single IP address.

When I try to add a single IP address without using a dynamic block I get the following error:

"Inappropriate value for attribute "ip_restriction": list of object required."

[2020-04-01 05:13] manojsgh opened #6317 "azurerm_subnet_network_security_group_association - Updating subnet and NSG with each refresh and apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-01 06:14] njuCZ opened #6319 "Support for Azure ImportExport Service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-01 08:18] tombuildsstuff commented on #6317
hi @manojsgh

Thanks for opening this issue.

This forum is intended to be used for feature enhancements and bugs in the Azure Provider - so that we can keep this forum focused on that we instead ask that broader questions are raised [using one of the Community Resources](https://www.terraform.io/community.html)

In this instance I believe you should be able to update your configuration to use a R

[2020-04-01 08:18] #6317 closed

[2020-04-01 08:42] tombuildsstuff commented on #5197
@drdamour unfortunately even if we exposed that field we'd end up with the majority of users having circular reference issues here, which'd cause more problems than it solved - so unfortunately we wouldn't at this time.

As mentioned above unfortunately I don't see a way that we can do much for Logic Apps until the Logic Apps API is more composable - as such I'm going to lock this issue for the mo

[2020-04-01 08:44] tombuildsstuff commented on #6313
Closing in favour of https://github.com/hashicorp/terraform/issues/24490 (which I've re-opened) since this is a Terraform question/bug, rather than something specific to Azure

[2020-04-01 08:44] #6313 closed

[2020-04-01 08:52] tombuildsstuff commented on #5897
@Avani129 your issue is unrelated to this one, where it appears you've got multiple provider instances being used (intentionally or not - which is why this field is now required, to highlight this). If you're using this within a module you'll need to thread the Provider into the module - [more information can be found here](https://www.terraform.io/docs/configuration/modules.html#providers-within-

[2020-04-01 09:20] hashibot[bot] opened #6322 "Could not download module "diskencrypt" source code from "https://github.com/Azure/terraform-azurerm-diskencrypt/archive/v2.0.0.tar.gz//*?archive=tar.gz": bad response code: 404."
_This issue was originally opened by @rt7055 as hashicorp/terraform#24490. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

[code]

### Crash Output

### Expected Behavior

[2020-04-01 10:03] tombuildsstuff commented on #6314
hi @NillsF

Thanks for opening this issue.

Unlike the older `azurerm_virtual_machine` resource - to be able to correctly represent the behaviour of the Azure API in Terraform for the new Virtual Machine resources we've had to split these out into a separate `attachment` resource which starts/stops the VM as required by the API. Unfortunately at this time the Azure API doesn't provide the granular

[2020-04-01 10:03] #6314 closed

[2020-04-01 10:05] tombuildsstuff commented on #6322
Closing in favour of https://github.com/hashicorp/terraform/issues/24490

[2020-04-01 10:05] #6322 closed

[2020-04-01 10:18] tombuildsstuff commented on #6132
hey @bingosummer

Thanks for opening this issue.

As @jluk has mentioned this issue's been fixed in version 2.0 of the Azure Provider where the default value's been changed from Basic -> Standard - as such you should be able to resolve this (for a new cluster) by upgrading to this release.

Since this should be fixed by updating to version 2.0 (or later - the current version is 2.3) of the Azure P

[2020-04-01 10:18] #6132 closed

[2020-04-01 10:19] tombuildsstuff commented on #3729
Fixed via #3729

[2020-04-01 10:19] #3729 closed

[2020-04-01 10:25] tombuildsstuff commented on #6311
hi @matt40k

Thanks for opening this issue :)

Taking a look through this appears to be a duplicate of #2898 - rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one; would you mind subscribing to #2898 for updates?

Thanks!

[2020-04-01 10:25] #6311 closed

[2020-04-01 10:26] tombuildsstuff commented on #5496
Fixed via #6228 - thanks @paulomarquesc

[2020-04-01 10:26] #5496 closed

[2020-04-01 10:29] tombuildsstuff commented on #6236
Giovanni supports this ([via the SetProperties method](https://github.com/tombuildsstuff/giovanni/blob/master/storage/2018-11-09/blob/blobs/properties_set.go#L15-L35)) - so this should be possible to add 👍

[2020-04-01 12:21] mharrison365 commented on #1083
Are there any updates for this? This has been open for two years and this is preventing us from configuring our ExpressRoute with MS Peering via Terraform. The only way we are going to be able to get this to work without this is to configure both the ExpressRoute Circuit, Peering, and Route Filter via ARM...as an azurerm_template_deployment.

[2020-04-01 12:30] pearcec commented on #1083
An arm template is definitely an option if you need something immediately.  I used them a few times in the distant past when azurerm was just getting off the ground.  Perhaps we can sketchup what the terraform resources and arguments looks like.

[2020-04-01 13:02] pearcec commented on #1083
How does this look? I think for testing adding and creating the route filter and rules should be low impact -- I have to check on the expressroute.  I am not sure why this hasn't been addressed.  @tombuildsstuff is there a particular challenge you saw?  Or is it just the usually time and priority?  I would be willing to draft up some initial code if the below looks good.  Please advise.

[code]

[2020-04-01 13:03] mongrelion commented on #6059
This is good hunting, @Jawvig
Not a maintainer here but, is there anything I can do to help move this forward? I'm dealing with the same issue and running our own compiled version of the provider is not an option for production.

[2020-04-01 13:13] ALA-DQ commented on #6094
Hello,

I had a similar problem but with `enable_auto_scaling` enabled on the `default_node_pool` of a `azurerm_kubernetes_cluster`.

[code]

It leads to the following error:

[code]

I tested the changing of `max_count` on a `azurerm_kubernetes_cluster_node_pool` for the same cluster and this time, it works like a charm.

[code]

[2020-04-01 13:15] mharrison365 commented on #1083
Wow, thanks for the quick response @pearcec ! I like what you have so far. Do you think it makes sense to do the route_filter parameter directly in the circuit_peering resource, or would this be a potential use case for a "express_route_peering_route_filter_attachment" sort of resource? (that long name probably isn't ideal either lol)

I think one thing to note, and I'm not sure if it has a huge i

[2020-04-01 13:44] ombre9 opened #6324 "Network rule sets block documentation is missing for service bus namespace"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-01 14:11] pearcec commented on #1083
I was not 100% sure if we do the peering direct or as an association.  I would have to study some other situations to try and be consistent.  You can't name the association, so I figured it would make more sense to include it as optional then track state and update the peering.  I am hoping someone from the provider team can comment on the proposal.  Then I will write some code.

I am not sure abo

[2020-04-01 14:20] tombuildsstuff commented on #1083
@pearcec albeit I’ve not checked that service in a while, but it looks reasonable to me. It may be worth calling it “express route filter” to avoid the duplication in the name, but that’s not a big issue

That said, I have a vague recollection that it wasn’t possible to create a Microsoft peering anymore (although I could be thinking of something else) - so I’m wondering how we’d test this if so?

[2020-04-01 14:28] Avani129 commented on #5897
I didn't created them wontedly. But can you please explain how to reduce them to one instance.

[2020-04-01 14:35] pearcec commented on #1083
@tombuildsstuff Thanks, I created Microsoft peering recently.  Microsoft deprecated Public Peering for new circuits.  They consolidated the it into Microsoft Peering.

https://docs.microsoft.com/en-us/azure/expressroute/expressroute-circuit-peerings#peeringcompare

They also are not allowing people peer O365 without authorization. See the note in the link below.

https://docs.microsoft.com/en-us/o

[2020-04-01 15:03] pearcec commented on #1083
I edited my example above. I dropped the express_route from the resources to match the API names.

[2020-04-01 15:32] ToniCipriani opened #6325 "Support for Private DNS Data Source"
The zone_type field was removed from DNS in AzureRM 2.0 and moved, however there is no equivalent data source for Private DNS in the new provider.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Pleas

[2020-04-01 15:42] pedrohdz opened #6326 "Changing tags in azurerm_network_interface resets enable_ip_forwarding, then flip-flops"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-01 16:01] dcieslak19973 opened #6327 "Add dividePerInstance to Autoscale Metric Trigger"
The Metric Trigger now supports a "dividePerInstance" boolean to aid with scaling rules based on Storage Queues. This should be exposed in the Terraform API.

## Community Note
Please vote on this issue by adding a 👍 reaction to the original issue to help the community and maintainers prioritize this request
Please do not leave "+1" or "me too" comments, they generate extra noise for issue followe

[2020-04-01 16:05] mharen commented on #6201
I suggest that this be considered a bug because the documented feature doesn't work, and damages the application gateway configuration.

[2020-04-01 19:04] SadokLadhari opened #6329 "Support for [Azure Functions Pre-Warmed Instances]"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-01 19:06] SadokLadhari commented on #6329
@tombuildsstuff can you check this please ?

[2020-04-01 19:15] pearcec commented on #1083
As you can see I reference in my commit some early working code.  I have the route_filter piece working.  I want to find a descent example for the rules.  I primarily used route_table for the an example on route_filter.

[2020-04-01 19:47] DenisBiondic commented on #6094
For this issue we could not use any of the workarounds except to downgrade to 2.0.0, but then we get issues which are fixed in 2.1.0 and beyond :/

[2020-04-01 20:22] drcrook1 commented on #6299
adding a comment so I can locate in my history and keep tabs on this thing.  I have to reset the DNS every time for every environment on every release that triggers the infra updates.  I suspect those changes will lessen; but unfortunatley at the moment our secret rotation is tied in with that so it triggers at least once / month.

[2020-04-01 21:19] #6014 closed

[2020-04-01 21:30] mharrison365 commented on #1083
@pearcec - the selection process for the rules seems similar to subnet delegation or service endpoints from a UI perspective alone. not sure if that'd be a good starting point?

Just wanted to additionally say thanks for your expeditious efforts today in getting this going! I'll keep an eye on it so we can take advantage of it as soon as it's released (assuming all goes well).

[2020-04-01 21:30] darrenk13 opened #6330 "application gateway resource not honoring lifecycle ignore_changes for ssl_certificates during apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-01 22:25] georgespatton commented on #6330
Another way to explain this perhaps is that there are required arguments as of azurerm module 2.2.0+ which are restricting us.  In 2.2.0 and 2.3.0 empty passwords for ssl certificates were not accepted in addition to lifecycle ignore_changes not being respected.  Seeing this error which seems to be correlated with the issue reported here.

Error: Error expanding `ssl_certificate`: 'password' is re

[2020-04-01 22:36] pearcec commented on #1083
I been using azurerm_route_table routes as an example.  I am 99% of the way done with the azurerm_route_filter_rule part.  I want to cycle back through and add the option for a rule {} in azurerm_route_filter.  It is a bit awkward because I am not creating a data source for the rule.  This matches the way route_table and routes are implemented,  so it feels like a gap.

I felt like doing some code

[2020-04-01 23:20] hashibot[bot] opened #6331 "Lifecycle not working for Azure Custom Extension Set"
_This issue was originally opened by @msatish23 as hashicorp/terraform#24528. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Using following terraform version and azure provider

terraform -v
Terraform v0.12.20
+ provider.azurerm v2.0.0

Below is the VMSS custom

[2020-04-02 01:32] markti opened #6332 "Unable to provision Azure Monitor Logging with"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-02 01:49] aqche commented on #6329
I can take a look at this

[2020-04-02 02:00] ArcturusZhang commented on #3930
I am currently working on this by introducing a new resource `azurerm_servicebus_namespace_network_rule`

[2020-04-02 02:42] manojsgh commented on #6317
Thanks a lot. It helped. No more issue.

[2020-04-02 02:52] pearcec commented on #1083
I need to put a constraint on this. I did notice in the portal it seemed to only support one rule.  Need to modify my test to check for the error.  I am also need to read up on the Allow vs Deny.  There is no provision in the portal for this.  Thinking it might be a Deny on one communities enables the rest.  Not sure. Need to read.

[code]

[2020-04-02 03:08] dansali commented on #4801
@spyder007 Hey mate.

The apimanagement version was updated to 2019-01-01 in Azure v39.0.0 SDK. I believe the version that this provider now uses is v40.3.0

Would you wanna give this another go?

[2020-04-02 03:09] pearcec commented on #1083
Thinking this through, if there is only one rule allowed there is no point in having a separate resource.  I am not sure how to constrain it.  It is old how they refer to it a "rules" even though you only get one.  I would like to try an confirm it before I toss all the code I worked on for azurerm_route_filter_rule.  Let me know if any of you find anything.

[2020-04-02 03:14] pearcec commented on #1083
This [link](https://docs.microsoft.com/en-us/azure/expressroute/how-to-routefilter-powershell#filter) seems pretty conclusive.  It says you can only have one rule and it must be type Allow.  I suppose you could have multiple rules not attached.  But they would just be dangling and that seems stupid.  I can't see of a reason.  I am going to push the code I have into a different branch so we can gra

[2020-04-02 06:44] bentterp opened #6334 "enforce_private_link_service_network_policies should be disable_private_link_service_network_policies"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-02 07:12] neil-yechenwei opened #6335 "Request for upgrading go sdk version from v40.3.0 to v41.1.0"
Please help to upgrade go sdk version from v40.3.0 to latest one v41.1.0 since the fix of NetApp.MountTargets has been released in this latest version. Thanks.

[2020-04-02 07:16] magodo opened #6336 "Support for Internet Peering resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-02 07:32] raidlman opened #6337 "azurerm_virtual_machine_extension fails to install AADLoginForLinux extension with error "Failed to get status file""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-02 08:18] sebader commented on #6279
same here. On azurerm version 2.3.0

[2020-04-02 09:01] tombuildsstuff commented on #6331
hi @msatish23

Thanks for opening this issue.

This forum is intended to be used for feature enhancements and bugs in the Azure Provider - so that we can keep this forum focused on that we instead ask that broader questions are raised [using one of the Community Resources](https://www.terraform.io/community.html). As such I'm going to close this issue for the moment, but I believe you should be ab

[2020-04-02 09:01] #6331 closed

[2020-04-02 09:28] tombuildsstuff commented on #6220
hi @Gadnief

Thanks for opening this issue.

This forum is intended to be used for feature enhancements and bugs in the Azure Provider - so that we can keep this forum focused on that we instead ask that broader questions are raised [using one of the Community Resources](https://www.terraform.io/community.html). As such I'm going to close this issue for the moment, but I believe you should be able

[2020-04-02 09:28] #6220 closed

[2020-04-02 12:01] rnsc commented on #5891
Hello,

Is this on the radar?
Will it be implemented?

Kind regards,

[2020-04-02 12:02] rnsc commented on #5891
ping @jbardin

[2020-04-02 12:32] eliasvakkuri opened #6338 "Azure Event Hub Namespace - for_each does not work for network rule blocks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-02 12:42] #6324 closed

[2020-04-02 12:43] ombre9 commented on #6324
I was wrong about the implementation.

[2020-04-02 13:00] e96wic commented on #5960
Same issue in China

[2020-04-02 13:17] tombuildsstuff commented on #6338
hi @eliasvakkuri

Thanks for opening this issue.

This forum is intended to be used for feature enhancements and bugs in the Azure Provider - so that we can keep this forum focused on that we instead ask that broader questions are raised [using one of the Community Resources](https://www.terraform.io/community.html). As such I'm going to close this issue for the moment, but I believe you should be

[2020-04-02 13:17] #6338 closed

[2020-04-02 14:40] tombuildsstuff commented on #6181
hi @pbstrein

Thanks for opening this issue.

As you've mentioned at this time Client Certificates aren't supported using the AzureRM Backend - but [there's a PR open tracking support for this](https://github.com/hashicorp/terraform/pull/19606) - we're hoping to spend some time focusing on the AzureRM Backend in the not-too-distant-future.

As this issue is regarding the AzureRM Backend rather tha

[2020-04-02 14:40] #6181 closed

[2020-04-02 16:00] pbstrein commented on #5233
The same issue appears when using a subnet.

[2020-04-02 16:00] ALA-DQ commented on #6094
Additional remark: the `Count` problem on the `default_node_pool` of the `azurerm_kubernetes_cluster` happened whaterver the changes we try to do, and not only the `min' or `max` number of Node.

This is very annoying because we cannot change anything for the `default_node_nool`...

If someone could guide me to where (what files, folder...), I may try to help with correction and PR.

[2020-04-02 16:07] PowerSchill opened #6339 "azurerm_machine_learning_workspace only creates basic sku"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-02 16:38] matthawley commented on #3532
Has anyone looked into this? This becomes a highly destructive action.

[2020-04-02 16:52] pearcec commented on #1083
@mharrison365 It is most of the way there.  The only piece is the association.  You can build it and test it.  Let me know if you find anything.  I am working on the last piece now.  I will submit a pull request then.  I hope you are using azurerm 2.0 💃

[2020-04-02 18:17] vivek99singh opened #6340 "Not able to create application gateway v2 with the SSL certificate for backend http setting"
Issues on GitHub are intended to be related to bugs or feature requests with provider codebase,
so we recommend using our other community resources instead of asking here 👍.

---
Not able to create Azure application gateway and getting the below error:
Error: Error Creating/Updating Application Gateway "example-appgateway" (Resource Group "HWE-IAM-DMZ-WEST-EUROPE-RG"): network.ApplicationGatewaysC

[2020-04-02 18:18] spyder007 commented on #4801
@dansali I'll put it on my todo list:  at the moment, we wrote a custom python script to update the certificates directly via the Azure Management API, so it's not high on my current list.

[2020-04-02 19:03] fl-max commented on #3288
Seems the SDK has been updated but still not seeing an [option](https://github.com/Azure/azure-sdk-for-go/blob/090dc0ee4d8d2d60e2a9525774d967a4111a2b0c/services/operationalinsights/mgmt/2015-03-20/operationalinsights/models.go#L104) for daily cap.

[2020-04-02 19:13] pearcec commented on #1083
I submitted a pull request.  @mharrison365 I am done if you want to test it.

[2020-04-02 19:32] pearcec commented on #1083
Adding @tombuildsstuff - I finished the code.  Have a look.

[2020-04-02 20:03] pearcec commented on #1083
Build is failing some lint checks, I am fixing them up now.

[2020-04-02 22:02] patrickbsf commented on #3182
I don't see how this closes out this case.  There are still quite a view datasource types to add - it seems like #6321 only handles windows performance counters and windows events.
syslog, custom logs, etc. all still need handled.

[2020-04-02 23:07] mharrison365 commented on #1083
@pearcec Awesome!! Thanks for the update! I am using AzureRM2.0 :) I'll see what I can do to test it out

[2020-04-03 02:52] katbyte commented on #3182
thanks @patrickbsf, looks like this was automagically closed by that PR. reopening!

[2020-04-03 03:09] johejo opened #6343 "Failed to create Cognitive Service Account when qname_runtime_endpoint is not set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-03 04:07] emacdona opened #6345 "Does the example on the documentation page for azurerm_kubernetes_cluster work?"
### Current Terraform Version
[code]

### Use-cases
When I try to create an AKS cluster by following the example here:
https://www.terraform.io/docs/providers/azurerm/r/kubernetes_cluster.html

I get the following error when running "terraform plan":
Error: Error building AzureRM Client: 2 errors occurred:
	* A Subscription ID must be configured when authenticating as a Service Principal using a C

[2020-04-03 04:27] neil-yechenwei commented on #5860
@hbuckle , may I ask which property value in azure cli result you mentioned indicates the extension is not running?

[code]

[2020-04-03 04:37] asubmani opened #6347 "azurerm_kubernetes_cluster should use either service_principal OR identity."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-03 05:33] eliasvakkuri commented on #6338
OK so this is not an issue with the Azure provider? Thanks, I'll open a ticket in the main Terraform forum

[2020-04-03 07:31] iriahk89 opened #6348 "Error message should be more explicit"
Getting this error from terraform when destroy command failing:

![image](https://user-images.githubusercontent.com/19380966/78335992-3796f780-75c1-11ea-8a72-0cdeb05ab5e3.png)

Its not explicit at all compare to the error thrown that i get from activity log in portal as below:

![image](https://user-images.githubusercontent.com/19380966/78335800-de2ec880-75c0-11ea-96df-7a1c2cb64c51.png)

It will b

[2020-04-03 09:27] jnehlt opened #6350 "Error during AKS update"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-03 09:40] PaulWilford opened #6351 "Front Door deploy fails with multiple front ends using Front Door certificates"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-03 09:58] topikettunen opened #6352 "Upgrading to 2.x: Resource already existing on freshly made environment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-03 10:34] 3miliomc opened #6353 "Support for Virtual Network Integration for the Azure Function"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-03 10:41] JedenFalls commented on #5426
I would try to change apim policy xml variable during terraform apply.
for one string variable I had "ValidationError is an unexpected token" looks like terraform during apply add quotas to variably. For me help **jsonencode** function. like this s**omeVar = jsonencode(var.replaceSomeVar)**, after that terraform applies xml changes well

[2020-04-03 10:44] jnehlt commented on #6094
Please see this:
https://github.com/terraform-providers/terraform-provider-azurerm/pull/6349

[2020-04-03 12:20] #6353 closed

[2020-04-03 12:21] 3miliomc commented on #6353
i realized that azurerm_app_service_virtual_network_swift_connection works for me.

thanks werever.

[2020-04-03 13:21] jgspratt commented on #5675
I upgraded from Terraform 12.10 to 12.24 and got a very similar issue with an AWS stack.

[code]

Downgrading to 12.10 fixed the issue.  AWS Provider version 2.55.

[2020-04-03 15:20] hashibot[bot] opened #6355 "Support for Azure CLI authentication with azurerm_kubernetes_cluster container resource"
_This issue was originally opened by @emacdona as hashicorp/terraform#24543. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Current Terraform Version
[code]

### Use-cases
According to the docs (and my experience) a service_principal is required to authentica

[2020-04-03 15:40] thos25 commented on #5233
This still occurs.  I have a similar config where i deploy a number of VMs.  The initial apply works, but if I increase the number of VM's after the fact, it fails stating the resource group was not found.

[2020-04-03 16:15] eocern commented on #6291
Hey harsh-vm did you report that somewhere else ? Actually I hit the same issue - I am in a restricted network, I need to set "recursive_nameservers" to our DNS but the terraform resource "acme_certificate" keeps on ignoring that recursive_nameservers value I have specified and even the documentation claims that this should be in dns_challenge block "To override this default behavior, supply the r

[2020-04-03 16:40] liliankasem commented on #4784
I believe I'm running into a similar issue.

1. Scenario 1 -> no issues
- `terraform apply`
- `terraform destroy`

2. Scenario 2 -> no issues
- `terraform apply`
-  **no changes** are made to the .tf file
- `terraform apply`

3. Scenario 3 -> doesn't work
- `terraform apply`
-  **change made:** added another subnet to the vnet I'm deploying
- `terraform apply`
-  Unable to create/update the vnet:

[2020-04-03 16:45] tombuildsstuff commented on #6355
This'll be fixed by / duplicate of #6347

[2020-04-03 16:45] #6355 closed

[2020-04-03 16:53] elsesiy commented on #6334
I second this issue, if you set it to `true` the plan output wants to change it to `false` and the other way around. It's never unchanged. I'm also a bit confused when this value should be actually set to `true`. Simply when I use any type of `ServiceEndpoint`?

[2020-04-03 16:55] uolter opened #6356 "azurerm_monitor_diagnostic_setting does not associate the event_hub"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-03 17:33] pearcec commented on #4450
I just tested this with 2.4.0 and 1.44.0 with no issues.  I am wondering if the sdk update fixes this issue.  Please retest. @ArcturusZhang can you retest?

[2020-04-03 17:56] sdcscripts commented on #2489
Same can be said for nat gateway - if you try to create one whilst also creating several NICs for instance, and you get a deadlock condition. Definitely an issue. If I add depends_on to the creation of the azurerm_nat_gateway specifying the NICs it goes through just fine.

[2020-04-03 18:07] emacdona commented on #6355
Thank you! Sorry that I submitted a duplicate.

[2020-04-03 19:40] adeshreddy opened #6358 "Creating `azurerm_kubernetes_cluster` is enabling windows profile by default though is not mentioned in config"
Community Note
Please vote on this issue by adding a 👍 reaction to the original issue to help the community and maintainers prioritize this request
Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
If you are interested in working on this issue or have submitted a pull request, please leave a comment

Terraform (and

[2020-04-03 19:48] runecalico commented on #6235
So far it looks like another option for those who aren't entirely happy with adding an ignore_changes to their code (say if they have a azurerm_kubernetes_cluster) is to just set the windows_profile block as it looks like at the moment you can set those values even if you don't have any windows nodes ..

[2020-04-03 20:08] asubmani commented on #6347
I would also take this opportunity to cover the below:

if an update that requires modification of the `azurerm_kubernetes_cluster resource` (without re-deployment) then check if that re-generates the resourceId of the "Managed Identity". If yes, this would break all downstream RBAC.

would expect TF to check if the identity would change or changed after `terraform apply`

[2020-04-03 21:14] kensykora commented on #1697
I'm having a similar issue, where my scenario is i want to deploy an ACI into a virtual network that doesn't expose any ports, but needs a private IP address to work inside the virtual network. It makes outbound calls, but does not need any direct inbound access.

Use case is an Azure Relay hybrid listener running in a virtual network. I'm trying to get a container running to be the listening end

[2020-04-03 21:31] pearcec commented on #1556
@Supermathie 👋 How is it going?  This is a really old issue.  I was reading through the code.  preview as ditched a while ago.  I can see the v1.32.0 is running 2019-04-01.  Would you please test with v1.44.0 or v2.4.0?

https://github.com/terraform-providers/terraform-provider-azurerm/commit/9e217738ea219c3cf767aa53fbbadcd6c5c3f1c6

[2020-04-03 22:00] tezzigator opened #6359 "add export/out for azurerm_kubernetes_cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-03 22:06] pearcec commented on #4450
Output from v2.4.0

[code]

[2020-04-03 23:11] kensykora opened #6360 "Support for azurerm_container_group for setting DNS in private networks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-04 13:30] kensykora commented on #1697
It seems like this is an issue with the underlying Azure ACI model on the management API itself. It seems to require at least one port is exposed. When i tried to rewrite this as an ARM template, I got a similar error:

[code]

Got the same error when trying to remove the ports array entirely. Here's the template:

[code]

[2020-04-04 17:19] rgl commented on #6132
There is a bug somewhere. Either its the documentation or this provider, because I'm using 2.3.0 and I still have a Basic sku.

The [documentation at states that the default load balancer sku is Standard](https://www.terraform.io/docs/providers/azurerm/r/kubernetes_cluster.html#load_balancer_sku):

But its actually Basic:

![image](https://user-images.githubusercontent.com/43356/78457229-997a5e80-

[2020-04-04 18:50] sdcscripts opened #6361 "azurerm_nat_gateway and azurerm_virtual_machine_extension destroy causes "retryable error""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-04 19:03] heoelri commented on #6347
Thank you @asubmani for bringing that up - i had exactly the same issue today. I'm able to deploy my AKS cluster once using managed identity successfull, but the second run will always fail as `client_secret` in `service_principal` is different.

[code]

[code]

[code]

It would be great to not require `service_principal` when `identity` is set (and vice versa) and set `client_secret` to `null` an

[2020-04-05 01:40] claymcleod opened #6362 "azurerm_kubernetes_cluster forces recreation for windows_profile when it doesn't exist"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-05 01:42] #6362 closed

[2020-04-05 03:04] szaher commented on #2613
hey @tombuildsstuff I was working on a patch to bump the api version to either 2019-01-01 or 2019-12-01 but looks like there are lots of changes in the new APIs. Is there a way you guys are following to judge what fields to add and what to ignore ?

[2020-04-05 08:20] iaingblack commented on #4972
The fix of adding range 0.0.0.0-0.0.0.0 no longer works. Azure rebuffs that with this message. SO, you get a silent fail now. Terraform thinks it worked but it does not.

`Adding a rule with range '0.0.0.0' - '0.0.0.0' is the same as turning ON 'Allow Azure services and resources to access this server' setting. Please use the setting instead.`

[2020-04-05 23:42] olsemenov commented on #5317
+

[2020-04-06 03:18] szaher commented on #2613
The fix is available at following locations
REST API doc; https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-12-01/apischema/createorupdate

.NET SDK :
https://www.nuget.org/packages/Microsoft.Azure.Management.ApiManagement/5.0.0-preview
ChangeLog; https://aka.ms/apimdotnetsdkchangelog

Python SDK
https://pypi.org/project/azure-mgmt-apimanagement/0.2.0/

JS SDK
https://www.npmjs.com/pack

[2020-04-06 05:59] rnmakino opened #6364 "ContentType is invalid trying to upload a pfx certificate"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-06 07:09] tombuildsstuff commented on #6364
hi @rnmakino

Thanks for opening this issue.

This forum is intended to be used for feature enhancements and bugs in the Azure Provider - so that we can keep this forum focused on that we generally instead ask that broader questions are raised [using one of the Community Resources](https://www.terraform.io/community.html).
Taking a look through this appears to be an issue with the value of the `co

[2020-04-06 07:09] #6364 closed

[2020-04-06 09:47] markti opened #6365 "Data Factory Web linked services"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-06 09:50] mybayern1974 commented on #3591
I'm working on this.

[2020-04-06 10:27] almero2020 commented on #4401
Hi Team , even with the workaround for queue logging . When will we be able to do the same for blob and table storage . I am currently using a very ugly "null_resource" local-exec that calls az storage logging update. Its not a good work around .

[2020-04-06 10:31] andrew-kelleher commented on #3930
@ArcturusZhang that's great! We have a need for this on my current project so will be good to see this implemented 👍

[2020-04-06 11:19] hochas commented on #3635
I just wanted to chime in with how I solved it using the suggestion from @jeanpaulsmit. Hope this helps anyone until there is a proper REST endpoint for doing this.

I added this resource in the same terraform script that creates the API service:

[code]

And `add-domain.ps1`. This requires PowerShell to be installed as a snap. If you have installed it some other way, change the hashbang to point

[2020-04-06 11:44] prateek2408 commented on #6138
@steffencircle - Thanks, Let me try this and I will get back to you.

[2020-04-06 12:19] rnmakino commented on #6364
Hi @tombuildsstuff,

Thanks, I made some replacements and probably did in the content type object too, replacing the "_" for "-" works!

[2020-04-06 13:29] tombuildsstuff commented on #6138
hi @prateek2408

Thanks for opening this issue.

As [per the documentation](https://www.terraform.io/docs/providers/azurerm/r/linux_virtual_machine.html#custom_data) the `custom_data` field needs to be base64-encoded - as such you can use the [base64encode](https://www.terraform.io/docs/configuration/functions/base64encode.html) function to encode the custom data string as needed prior to passing

[2020-04-06 13:29] #6138 closed

[2020-04-06 13:51] VR6Pete opened #6368 "Error: Error expanding `ssl_certificate`: 'password' is required if `data` is specified for the `ssl_certificate` block"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-06 13:51] VR6Pete commented on #6368
Looks like same issue as #6295

[2020-04-06 13:53] tombuildsstuff commented on #4718
👋

There's been substantial changes to the AKS resources since this version of the Azure Provider was released (this issue is regarding v1.35 - we're currently on v2.4) - as such I'd suggest upgrading to the latest version of the Azure Provider.

If this isn't fixed by doing so then please let us know and we'll take another look - however since I believe this should be fixed by updating the versio

[2020-04-06 13:53] #4718 closed

[2020-04-06 13:58] seniorpaul opened #6369 "ComputeNodeFillType missing from Azure Provider for Terraform."
Hi,

I don't seem to be able to find a reference to be able to set "ComputeNodeFillType" or equivalent of TaskSchedulingPolicy.  Setting up an autoscale pool with terraform severely limits the possibly of nodes being able to leave a pool when "spread" (the default) is set.  Is there a reason that this was ommitted - it seems to be in the azure-sdk-for-go has a model for it?

Regards.

Paul.

---

[2020-04-06 13:59] #6094 closed

[2020-04-06 13:59] #6178 closed

[2020-04-06 13:59] #6235 closed

[2020-04-06 13:59] #6257 closed

[2020-04-06 14:07] tombuildsstuff commented on #6350
Fixed via #6095

[2020-04-06 14:07] #6350 closed

[2020-04-06 14:13] jblafage commented on #3722
@tombuildsstuff : do you think if the following kind of REST api around Azure Storage could take part of this [Storage SDK](https://github.com/tombuildsstuff/giovanni)??

The idea is to be able to create a stored access policy for a given container and then generate a sas key based on this access policy. If it could be managed over Terraform it could facilitate implementations. The main advantage

[2020-04-06 14:14] tombuildsstuff commented on #6369
hi @seniorpaul

Thanks for opening this issue.

Fields in the Azure SDK aren't automatically added to Terraform - since we not all fields necessarily make sense in Terraform - instead we add fields based on user requests/demand.

Unfortunately there's not enough information in this issue for us to determine which service this is related too - would you mind [opening a new Feature Request](https://

[2020-04-06 14:14] #6369 closed

[2020-04-06 14:20] tombuildsstuff commented on #5763
hi @flobeier

Thanks for opening this issue.

Azure Kubernetes Service is gradually moving away from using a Service Principal (which we represent in the `service_principal` block)  to using a Managed Identity (via the `identity` block).

Whilst Terraform could look to source some fields (as in this case the Client ID and Client Secret) from an Environment Variable - this wouldn't be obvious to mo

[2020-04-06 14:20] #5763 closed

[2020-04-06 14:23] mb139h commented on #5221
This can be closed as it was resolved in the v2

[2020-04-06 14:23] #5221 closed

[2020-04-06 15:18] lucashuet93 commented on #3203
I'm getting started implementing the support for v3 content-formats now and will hopefully have a PR up by EOW.

[2020-04-06 15:36] djsly commented on #6041
Seeing the same thing here... doing any change to the profiles wipes the endpoints...

[2020-04-06 15:43] aristosvo opened #6371 "Support for exposing the kubelet identity for AKS cluster with MSI"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-06 20:22] kosinsky opened #6372 "Support for minimum TLS version for HDInisght clusters"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-06 22:24] mharrison365 commented on #1083
@tombuildsstuff - do you see any issues with adding this to the 2.5 milestone/release?

[2020-04-06 23:10] rukawata opened #6373 "x509_certificate_properties should be required to create certificate"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-06 23:42] gpduck opened #6374 "Support for publicNetworkAccess property on resource_arm_sql_server"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-07 00:28] pearcec commented on #1083
@mharrison365 did you test it 😃

[2020-04-07 01:19] markti commented on #5032
Would love to hear how you crack the swagger problem. I’ve been very frustrated with the tooling on the azure function side

[2020-04-07 02:30] arifsundrani commented on #5032
@markti We had to scrap that solution because of the swagger problem. For now, we are doing a manual import into our api management after fn app code is deployed. This is not an ideal solution, but limits our manual steps in deployment which we already had due to Azure AD B2C

[2020-04-07 02:33] markti commented on #5032
How do you deploy the function code? I’m using azure blob storage to drop zip packages of the code. However, it requires me to restart the function app to “tickle” it to refresh the code from blob storage. Kind of a pain.

[2020-04-07 02:51] lrxtom2 opened #6376 "Test Defect about `TestAccDataSourceSubnet_basic`"
Cause of that no relate resource in tf code.
`func testAccDataSourceSubnet_basic(data acceptance.TestData) string {
	template := testAccDataSourceSubnet_template(data)
	return fmt.Sprintf(
%s

data "azurerm_subnet" "test" {
  name                 = azurerm_subnet.test.name
  virtual_network_name = azurerm_subnet.test.virtual_network_name
  resource_group_name  = azurerm_subnet.test.resource_group_

[2020-04-07 03:02] abhinavaGopagani opened #6377 "not able to use variables for blocks in azurerm_storage_account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-07 03:07] akonrath commented on #6339
I was able to reproduce this from my end. It looks like the Sku Tier (identical to the Name) should be passed alongside the Name. I was successfully able to get the workspace created as Enterprise after doing so, and was able to update a Basic workspace to Enterprise. I will do a bit more testing and submit a PR.

[2020-04-07 03:19] #6300 closed

[2020-04-07 06:34] ArcturusZhang commented on #6339
Hi @PowerSchill I will work on this issue and possibly provide a fix for this.

[2020-04-07 07:22] tombuildsstuff commented on #6377
hi @abhinavaGopagani

Thanks for opening this issue.

This forum is intended to be used for feature enhancements and bugs in the Azure Provider - so that we can keep this forum focused on that we instead ask that broader questions are raised [using one of the Community Resources](https://www.terraform.io/community.html). As such I'm going to close this issue for the moment, but I believe you shoul

[2020-04-07 07:22] #6377 closed

[2020-04-07 07:39] JSchenken opened #6382 "Missing support for route_table on subnet block for azurerm_virtual_network"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-07 07:54] neil-yechenwei commented on #5976
It seems that vmss extension “Microsoft.Azure.ServiceFabric” cannot be added to existing vmss in vmss v2. In vmss v1, vmss and vmss extension would be created together. However, in vmss v2, vmss and vmss extension would be created in separate resource. So I think "Microsoft.Azure.ServiceFabric" can be created successfully with vmss v1.
@tombuildsstuff , could you help to have a look? Thanks.

[2020-04-07 08:05] tombuildsstuff commented on #5976
@neil-yechenwei I'd suggest reaching out to the ServiceFabric team here, since this is an issue with the ServiceFabric Extension

[2020-04-07 08:14] renereinert commented on #6352
Hi, we got the same behaviour with our Application Gateway deployment.
Szenario: No Resources deployed. No Statefile existing.
Plan successfully -> RG + Public IP + AGW (including azurerm_monitor_diagnostic_setting).

During deployment: RG gets created, IP gets created, AGW gets created -> azurerm_monitor_diagnostic_setting failes because it already exist (azurerm 1.x works fine, azurerm 2.x doesn

[2020-04-07 08:29] tedvanderveen commented on #4381
Hi @hbuckle, did you share this working example somewhere? We are pulling out hair out trying to get any of this azurerm_service_fabric_cluster resource bits to work. So that example you refered to, would be great!

[2020-04-07 08:44] tombuildsstuff commented on #4381
👋

This forum is intended to be used for feature enhancements and bugs in the Azure Provider - so that we can keep this forum focused on that we instead ask that broader questions are raised [using one of the Community Resources](https://www.terraform.io/community.html).

Since this is a usage question about Service Fabric (and how to configure a cluster in Terraform) rather than a bug - I'm going

[2020-04-07 08:44] #4381 closed

[2020-04-07 09:13] neil-yechenwei opened #6383 "Dependency relation isn't detected after removed resource B and the reference of resource B in resource A from tfconfig"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-07 09:36] andydkelly-ig opened #6385 "Terraform isn't aware of Dependency between Key Vault Access Policies and the Keys/Secrets/Certificates"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-07 09:47] tombuildsstuff commented on #6383
hi @neil-yechenwei

Thanks for opening this issue.

This appears to be an issue with the ordering of dependencies in Terraform Core - since this is outside the scope of the Azure Provider can you please [reopen your issue on the Terraform Core repository](https://github.com/hashicorp/terraform/issues) so that someone from the Terraform Core Team can take a look at it?

Thanks!

[2020-04-07 09:47] #6383 closed

[2020-04-07 09:47] Hjortsberg opened #6387 "Support Azure DevOps Service Connections in Terraform"
### Community Note
- Please vote on this issue by adding a 👍 reaction to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
- If you are interested in working on this issue or have submitted a pull request, please leave a comment

### D

[2020-04-07 10:06] tombuildsstuff commented on #6385
hi @andydkelly-ig

Thanks for opening this issue.

As mentioned in #316 if you're wanting to manage items inside a Key Vault you'll need to ensure that the Identity (e.g. User/Service Principal) being used to access the Key Vault has permissions to manage items within that Key Vault, due to the way the Key Vault API is designed.

This is easiest when using the in-lined permissions block, since thi

[2020-04-07 10:06] #6385 closed

[2020-04-07 10:18] tombuildsstuff commented on #6352
hi @topikettunen

Thanks for opening this issue

In version 2.0 of the Azure Provider we fixed a bug where resources that already existed in Azure could be "adopted" by Terraform, since Azure has Upsert API's for a lot of API's (more details can be found in #2807). This is important because whilst some Azure API's have Upsert API's - certain fields can only be changed on existing resources by dele

[2020-04-07 10:18] #6352 closed

[2020-04-07 10:21] #5510 closed

[2020-04-07 10:21] #5960 closed

[2020-04-07 11:25] prashantshetage commented on #5864
@akamalov Hi. Were you able to resolve this?
I am getting the same error through Azure Portal as well while creating the private endpoint for CosmosDB, however it works fine for Storage account endpoint with the same configurations.
Looks like the problem is from Azure side

[2020-04-07 11:29] Quisl commented on #3559
This problem only occurs in the "access_policy" block. As a workaround you can convert your access policies to "key_vault_access_policy" resources. These do not require an application_id. (https://www.terraform.io/docs/providers/azurerm/r/key_vault_access_policy.html)

[2020-04-07 11:47] sebader opened #6388 "Support for name and priority in ip_restriction of azurerm_app_service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-07 12:15] renereinert opened #6389 ""already exists - ... needs to be imported into the State..." Error during clean first deployment since v2.x"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-07 12:24] tombuildsstuff commented on #6389
hi @renereinert

Thanks for opening this issue

In version 2.0 of the Azure Provider we fixed a bug where resources that already existed in Azure could be "adopted" by Terraform, since Azure has Upsert API's for a lot of API's (more details can be found in #2807). This is important because whilst some Azure API's have Upsert API's - certain fields can only be changed on existing resources by delet

[2020-04-07 12:24] #6389 closed

[2020-04-07 12:43] tombuildsstuff commented on #6347
@heoelri sorry just seen this, thanks for taking a look - unfortunately since you've posted this comment the fix for this has been merged via #6095 - so thanks for taking a look, but the fix for this will ship in v2.5 of the Azure Provider in the near future.

Since this has been fixed via #6095 I'm going to close this issue for the moment - but this'll ship in v2.5 of the Azure Provider in the ne

[2020-04-07 12:43] #6347 closed

[2020-04-07 12:46] jmcshane commented on #6371
Just to leave a comment on why this is important, role assignments must be set on this identity in order to use aad-pod-identity, as described here: https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.msi.md#pre-requisites---role-assignments

The workaround that I am doing right now is adding a datasource that pulls in the user assigned identity from the MC resource group aft

[2020-04-07 12:46] davidobrien1985 opened #6390 "Disk Encryption Set properties inconsistent with documentation"
The documentation shows that https://www.terraform.io/docs/providers/azurerm/r/disk_encryption_set.html#identity is an optional value, however, it is actually required, even according to your own code comment:

https://github.com/terraform-providers/terraform-provider-azurerm/blob/01630bd0676ea7b7440feae377127b70b840874c/azurerm/internal/services/compute/resource_arm_disk_encryption_set.go#L64

Ca

[2020-04-07 12:50] tombuildsstuff commented on #5703
👋

AKS is gradually moving away from using a Service Principal defined in-line to using a Managed Identity - as such over time the `service_principal` block will become unsupported.

Since support for Service Principals is being superseded by Managed Identities - I'd suggest looking towards using the new Managed Identity-only clusters which will be supported in v2.5 of the Azure Provider, which do

[2020-04-07 12:50] #5703 closed

[2020-04-07 13:17] tombuildsstuff commented on #5412
hi @grahamhayes

Thanks for opening this issue.

In version 1.37 of the Azure Provider the `azurerm_kubernetes_cluster` resource went through a bunch of changes to account for the way the API now works. Due to this the `agent_pool_profile` block has been deprecated (and removed in 2.0) and replaced by the `default_node_pool` block and the separate `azurerm_kubernetes_cluster_node_pool` resource.

[2020-04-07 13:17] #5412 closed

[2020-04-07 13:30] renereinert commented on #6389
@tombuildsstuff how can i import a resource which is not existing in this moment.
As you refer I need to import "azurerm_monitor_diagnostic_setting" which is created right in that moment?

[2020-04-07 13:38] tombuildsstuff commented on #6389
@renereinert since Monitor Diagnostic Settings are defined outside of a regular Resource Group (and as such aren't deleted when items within the Resource Group are) it's likely this hasn't been fully deleted unfortunately.

From Terraform's side we look this up based on [the Resource ID and the Name being passed in](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azur

[2020-04-07 13:47] markti commented on #4381
@tombuildsstuff with all due respect, isn't usage kind of the point? The service fabric resource is not at all usable. It's literally a checked checkbox. Which by itself, does little to help practitioners trying to use Microsoft's services.

[2020-04-07 13:49] KatteKwaad commented on #4668
Also find the documentation regarding MSIs to be lackluster.

[2020-04-07 14:00] aristosvo commented on #6371
@jmcshane Thanks! That's my use case as well, I added it to the description.

I've probably time tomorrow to make a PR to implement this functionality.

[2020-04-07 14:23] tombuildsstuff commented on #4381
@markti unfortunately the Service Fabric service is one of the older services in Azure as such it's designed differently to other more modern services (such as AKS, or the newer Service Fabric Mesh).

Creating an Azure Service Fabric Cluster creates the control plane here - in this older resource the Virtual Machine Scale Sets used as Worker Nodes are defined outside of this resource, as such unfo

[2020-04-07 14:35] akamalov commented on #5864
No, I wasn't able to get it working...

On Tue, Apr 7, 2020 at 7:25 AM Prashant Shetage <notifications@github.com>
wrote:

[2020-04-07 14:41] tombuildsstuff commented on #4963
hi @baboune

Thanks for opening this issue - apologies for the delayed response here!

In version 1.37 of the Azure Provider the `azurerm_kubernetes_cluster` resource went through a bunch of changes to account for the way the API now works. Due to this the `agent_pool_profile` block has been deprecated (and removed in 2.0) and replaced by the `default_node_pool` block and the separate `azurerm_kub

[2020-04-07 14:41] #4963 closed

[2020-04-07 15:21] arifsundrani commented on #5032
@markti same issue for us. A colleague of mine had started a poc for zero downtime deployments, but I have not had a chance to follow up with him yet as our app is not in production yet. I can look later this week and share my findings

[2020-04-07 15:28] markti commented on #5032
I think there is a way to do it without a restart. There is a cli operation that can do a sync trigger that can do the update without restart likewise I’ll post here if I solve it

[2020-04-07 16:41] #5583 closed

[2020-04-07 17:14] adeshreddy commented on #6358
I had dug more into the issue and found out though we are not assigning windows profile in AKS args.
it's creating windows profile with below-mentioned args and saving it in state file which is the reason it is trying to force destroy and create resources again since aks.tf and state file are not in sync.
`{
  "admin_password": "",
  "admin_username": "azureuser"
}`

[2020-04-07 17:15] ManojRaheja opened #6392 "Support for creating Azure Data Explorer tables and ingestion mappings."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-07 17:24] adeshreddy commented on #6358
#6235

[2020-04-07 19:03] elias-p commented on #5860
I have similar issue the monitoring extension is not working after provision the vmss on this module and previous module is working without issue.

[2020-04-07 19:38] aaavang commented on #5032
@markti do you have a working example that uses your modules project?  It looks awesome, but the dummy deployment you use to get the function key always bombs out for me.

[2020-04-07 22:25] ericregnier opened #6395 "azurerm_template_deployment with file: "Error parsing JSON: invalid character 'ï' looking for beginning of value""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-07 22:41] markti commented on #5032
Thanks @aaavang, The modules are in use but I’m doing some refactoring and cleanup, complete with samples. I took a bit of a detour because my sample was using data factory and I noticed the data factory service had pretty spotty coverage in the azurerm provider. I’ll try and post a link tonight. If you’re using eventgrid the key I’ve found is that you MUST deploy code with terraform otherwise it

[2020-04-07 23:43] ArcturusZhang commented on #6390
Hi @davidobrien1985 thanks for this issue.
Indeed the `identity` is marked as `Required` in the code, but it is documented as `Optional`. I will take some time to modify the docs accordingly.

[2020-04-08 01:30] yupwei68 commented on #4431
Hi All, sorry to inform that the service team has confirmed that the rest API is not available in the near future due to design constraints, which means we could not provide terraform resource.

[2020-04-08 02:21] akonrath commented on #6129
I was able to replicate this, and it does seem to involve the ':'. For example, adding a tag of '"key:1" = "value"' works for the azurerm_resource_group resource, but not for azurerm_private_dns_zone resource. This can also be verified through the Azure UI and it actually hangs when trying to add a tag with a ':'.

[2020-04-08 03:07] markti commented on #5032
@aaavang just posted a massive update with the refactored module library here:

https://dev.azure.com/persistent-cloud-northamerica/terraform-azure

[2020-04-08 03:22] danstis commented on #699
I would love to see host keys treated as a resource, where we could import an existing key into the Terraform state, but also have the ability to create new custom host keys so we can align keys for geo-redundant resources.
In my mind @TsuyoshiUshio it would be good to have the ability to Read/Create/Update/Delete.

[2020-04-08 03:47] yupwei68 commented on #6269
hi @rohanvirmani, thanks for opening this issue. You could use `azurerm_mssql_database` temporarily. And we'll continue solving this problem.

[2020-04-08 04:49] magodo commented on #3182
I'm wondering whether it make sense to just embed `azurerm_log_analytics_workspace_linux_performance_collection` and `azurerm_log_analytics_workspace_linux_syslog_collection` into `azurerm_log_analytics_workspace_linux_performance_counter` and `azurerm_log_analytics_workspace_linux_syslog` respectively. As it is rare to setup several "linux performance counter"/"linux syslog" data sources while di

[2020-04-08 05:36] yupwei68 commented on #5929
Hi @lotaezhao ,thanks for opening this issue. Blob Auditing Policies are supported now on `azurerm_sql_database` and `azurerm_sql_server`. Hi @katbyte we may be able to close this issue.

[2020-04-08 05:41] yupwei68 commented on #5448
Hi @hangar18rip , @NickMetz is right. We could not create database in a different resource group. You could try new database `azurerm_mssql_database`, which need only sql server id.

[2020-04-08 06:11] yupwei68 commented on #2369
Hi @paulmchenry , Thanks for opening this issue. You could try `azurerm_mssql_database`. It could be removed form elastic pool. Hi @katbyte , we may be able to close this issue.

[2020-04-08 06:19] topikettunen commented on #6352
Hi @tombuildsstuff !

Yeah, I figured that that might've been the case.

Unfortunately, this makes it more or less unusable for us. Mainly since we are running Terraform also in CI so if then some resource would need to get recreated and then would result in this error, we would need to run these manual imports on dozens of different workspaces and also the CI would constantly fail.

Is there some

[2020-04-08 06:46] odee30 opened #6400 "Documentation title incorrect for azurerm_storage_account_network_rules"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-08 07:17] hangar18rip commented on #5448
Hi, @yupwei68. I will give it a try. I close the issue. Thanks

[2020-04-08 07:17] #5448 closed

[2020-04-08 07:35] GregoryFrance commented on #6351
I have the same issue with provider.azurerm v2.4.0

[2020-04-08 07:42] tombuildsstuff commented on #6352
@topikettunen sounds like the Terraform Statefile isn't being kept around - so you can store the Statefile in one of [Terraform's Backends](https://www.terraform.io/docs/backends/types/index.html) for example [AzureRM (to store the Statefile in a Blob Storage Container](https://www.terraform.io/docs/backends/types/azurerm.html) or [Terraform Cloud](https://www.terraform.io/docs/backends/types/remo

[2020-04-08 07:48] GregoryFrance opened #6401 "Logic App Action URL Authentication missing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-08 07:54] topikettunen commented on #6352
State is in Azure

[2020-04-08 08:08] #6376 closed

[2020-04-08 08:45] NilsBusche opened #6403 "source_image_reference documentation missing for azurerm_linux_virtual_machine and azurerm_windows_virtual_machine"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-08 08:56] #6390 closed

[2020-04-08 09:03] itachiRedhair commented on #6203
I am also facing the same issue. Any update?

[2020-04-08 09:19] josemaia opened #6404 "azurerm_virtual_machine_data_disk_attachment does not work together with some cloud-init options"
### Terraform (and AzureRM Provider) Version
Terraform v0.12.24
+ provider.azurerm v1.36.1

### Affected Resource(s)
* `azurerm_managed_disk`
* `azurerm_virtual_machine_data_disk_attachment`

### Terraform Configuration Files
Cloud-init file such as
[code]

Module invocation like
[code]

Module TF config such as
[code]

### Expected Behavior

On boot, configure the disk and mount it on /opt/data.

[2020-04-08 12:28] #5012 closed

[2020-04-08 12:29] valdekm opened #6407 "Support for caching behavior azurerm_cdn_endpoint"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-08 13:17] dkooll commented on #6091
same experience here with v2.4.0.

[2020-04-08 13:51] itachiRedhair commented on #6203
### **I am getting this error:**

Error: Error waiting for creation of Private Endpoint "{private_endpoint_name}" (Resource Group {resources_group_name}): Code="ResourceNotFound" Message="The requested resource of type 'Microsoft.DBforPostgreSQL/servers/privateEndpointConnectionProxies' with name '{private_endpoint_name}.xxxxxx-x-xxxxxx-xxxxxxx' was not found."

What I am struggling to understand

[2020-04-08 14:02] w0ut0 opened #6409 "Make a distinction between "Container group ports" and "Container ports" in azurerm_container_group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-08 14:09] mariojacobo opened #6410 "AKS windows_profile forces replacement"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-08 14:24] tombuildsstuff commented on #6410
Duplicate of #6235 which will ship in v2.5.0

[2020-04-08 14:24] #6410 closed

[2020-04-08 15:20] hashibot[bot] opened #6411 "Microsoft.Azure.Extensions, CustomScript, 2.0 not working as expected in Terraform 0.12.24"
_This issue was originally opened by @nbandi413 as hashicorp/terraform#24584. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version 0.12.24

[code]

### Terraform Configuration Files
######################################
# postdeployscript
#ref: h

[2020-04-08 15:22] tombuildsstuff commented on #6411
hi @nbandi413

Thanks for opening this issue.

This forum is intended to be used for feature enhancements and bugs in the Azure Provider - so that we can keep this forum focused on that we instead ask that broader questions are raised [using one of the Community Resources](https://www.terraform.io/community.html). As such I'm going to close this issue for the moment, but I believe you should be ab

[2020-04-08 15:22] #6411 closed

[2020-04-08 15:29] SadokLadhari commented on #3685
@tombuildsstuff  any news please ?

[2020-04-08 15:38] aaavang commented on #5032
Thanks @markti!  I'll take a look.

Any idea when the API Management integration will be added?

[2020-04-08 15:54] fabiendelpierre commented on #6203
FWIW I've been in touch with Microsoft support on this issue and it's on their side. There's no ETA for the permanent fix, and in the meantime you have to reach out to support and they can fix it manually, for each individual private endpoint you need.

You will hit the same error if you do the same thing via the Azure Portal, or the Azure CLI tool, or Powershell, and of course Terraform.

This af

[2020-04-08 15:54] tombuildsstuff commented on #6407
hi @valdekm

Thanks for opening this issue

At this time it appears [the only caching behaviour supported by the CDN Endpoints API is for QueryStringCaching](https://github.com/Azure/azure-sdk-for-go/blob/master/services/cdn/mgmt/2019-04-15/cdn/models.go#L3955) - could you give some more details here?

Thanks!

[2020-04-08 15:55] #6400 closed

[2020-04-08 16:17] valdekm commented on #6407
Hi,
for Standard Akamai CDN Profile in Azure Portal. When you setup endpoint, there's "Caching rules" tab. There are three options that can be setup:
- Caching behavior
- Query string caching behavior
- Custom caching rules

"azurerm_cdn_endpoint" Terraform provides possibility to set "Query string caching behavior", I'm not able to set "Caching behavior" and "Custom caching rules" via Terraform.

[2020-04-08 17:38] dpiche174 commented on #6158
I also noticed this surprising behavior.  If an action is not specified in `base_blob`, Terraform enables the action and set it to 0 days:
![image](https://user-images.githubusercontent.com/835846/78815132-c75feb80-799d-11ea-9f20-bcb8acae3f3c.png)

[2020-04-08 17:40] derek-andrews-work opened #6413 "Support for CosmosDB dataset in Data Factory"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-08 18:20] hashibot[bot] opened #6415 "Dependency relation isn't detected after removed resource B and the reference of resource B in resource A from tfconfig"
_This issue was originally opened by @neil-yechenwei as hashicorp/terraform#24591. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-req

[2020-04-08 18:31] BarnumD commented on #3403
Seeing this with 0.12.24 and azurerm 2.4.0.
Creating a resource group and calling a module including the resource group name.

[2020-04-08 18:43] asubmani opened #6416 "Support private cluster option for AKS clusters"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-08 18:58] asubmani commented on #4327
The differences might be in "default" nodepool vs "additional node pools" The SDK/API allows (I have done this using `az aks nodepool upgrade` as per https://docs.microsoft.com/en-us/cli/azure/ext/aks-preview/aks/nodepool?view=azure-cli-latest#ext-aks-preview-az-aks-nodepool-upgrade

@jluk > regardless of N-3 or N-2, the nodepool (leaving aside the default pool created at cluster creation time) ca

[2020-04-08 19:25] kylesgarage opened #6417 "azurerm_data_factory_linked_service_sql_server linked SQL server issue AzureSQL"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-08 21:11] amasover commented on #6409
Hi @w0ut0 there is an issue open already #4413 to continue the work from #1662.

I also have a PR open #5091. My PR matches your suggested terraform configuration exactly.

The main problem with this change as I understand, is that it breaks users whose Terraform configuration previously only specified ports on the container level. After merging my PR, they would have to add a matching `ports` blo

[2020-04-08 21:41] amasover commented on #4401
@almero2020 Blob logging is currently tracked in issue #5909. Might be a good idea to open one for table logging.

[2020-04-08 21:45] RobinAggarwal opened #6418 ".azurerm_virtual_machine_data_disk_attachment - Error: Provider produced inconsistent result after apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-08 22:00] RobinAggarwal commented on #6418
One Observation

This is happening when multiple threads try to attach disks to same VM.
Eg if I am creating 6 disks and attaching all to same VM; one pass and 5 fails.
If you apply again; one pass and 4 fails with above error.

[2020-04-08 23:26] goswami-soumik commented on #6044
I am getting the same issue while creating a scale set using **azurerm_linux_virtual_machine_scale_set**

azurerm provider version is **2.4.0**

[2020-04-08 23:57] #6183 closed

[2020-04-09 03:28] ArcturusZhang commented on #4450
Thanks @pearcec this totally makes sense. Since the `public_ip_prefix_id` is a force-new attribute, this issue should be nullified by that.
Thanks!

[2020-04-09 03:28] #4450 closed

[2020-04-09 06:23] abilous-ti opened #6421 "Support for Data resource Metric Alert within Azure Monitor"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-09 07:09] itachiRedhair commented on #6203
@fabiendelpierre Thanks for clearing the doubt. Hope it gets resolved soon.

[2020-04-09 07:29] tombuildsstuff commented on #5929
Appears the documentation is missing for the `extended_auditing_policy` block

[2020-04-09 07:32] chrisjohnson commented on #4569
I'm seeing this issue. If there's a policy or permission that needs to be granted, it's not obvious what it is.

[2020-04-09 07:33] tombuildsstuff commented on #3403
👋

Thanks for opening this issue - apologies for the delayed response here!

Taking a look through this appears to be an issue with Terraform Core, rather than something specific to this Provider; since the dependency for the Data Source shouldn't be being resolved until the Resource has finished provisioning (which is where this error is coming from). As such would you mind re-opening this issue

[2020-04-09 07:33] #3403 closed

[2020-04-09 07:39] lukekhamilton opened #6422 "2.5.0 Outputs no longer working."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-09 08:02] tombuildsstuff commented on #5253
hi @venkey1000

We've put out an [upgrade guide for the 2.0 release](https://www.terraform.io/docs/providers/azurerm/guides/2.0-upgrade-guide.html) containing all removals, since this is a major release - however for deprecations we rely on the inline warnings and notes in the changelog.

Unfortunately there's no automated mechanism for doing so at this time - that said this sounds like something

[2020-04-09 08:02] #5253 closed

[2020-04-09 08:09] tombuildsstuff commented on #6204
hi @ntherrien

Thanks for opening this issue.

In version 2.0 of the Azure Provider the existing `azurerm_virtual_machine_scale_set` resource has been superseded by the `azurerm_linux_virtual_machine_scale_set` and `azurerm_windows_virtual_machine_scale_set` resources. Both of the newer resources support updating the Custom Data field, since this also involves rolling the instances in the Scale Se

[2020-04-09 08:09] #6204 closed

[2020-04-09 08:24] vivek99singh commented on #5350
If your app service plan is for linux then linux_fx_version ="DOTNETCORE|3.1" works but it work for windows web app

[2020-04-09 08:25] vivek99singh commented on #5350
I haven't found any update regarding the same. Finding it difficult to find the same even in Azure CLI documentation as well

[2020-04-09 08:34] tombuildsstuff commented on #5271
hi @mbrancato

Thanks for opening this issue - apologies for the delayed response here!

From our side we'd generally recommend using a Service Principal with a Client Cert/Client Secret when running in an automated pipeline - whilst the Azure CLI may work here this isn't something we recommend since (amongst other reasons) the Azure CLI has a tendency to "move under your feet" where the CLI chang

[2020-04-09 08:34] #5271 closed

[2020-04-09 08:47] tombuildsstuff commented on #4681
hey @eliasvakkuri

Just to give an update here - ultimately as mentioned above this isn't something we're going to be able to fix for the foreseeable future (since this permission isn't assigned by default/is unclear) - we're now exposing a `resource_manager_id` field for the `azurerm_storage_container` and `azurerm_storage_share` resources - which should provide the Resource Manager ID needed to

[2020-04-09 08:47] #4681 closed

[2020-04-09 09:03] jackofallops commented on #6158
Hi @dpiche174
Can you let me know which versions of Terraform and Provider you're seeing this behaviour in?
Thanks!

[2020-04-09 09:25] hobbesuk opened #6423 "Cannot use ipv6 address as ip_restriction in azurerm_app_service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-09 09:32] abilous-ti opened #6424 "azurerm_monitor_metric_alert error Detect invalid value: microsoft.insights/components"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-09 09:47] SadokLadhari opened #6425 "Support for [SQL Database Sync to other databases]"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-09 09:58] tombuildsstuff commented on #6422
hi @lukekhamilton

Thanks for opening this issue.

Taking a look through here using a cluster that I provisioned yesterday - and a cluster that I've provisioned today this appears to work:

[code]

Would you be able to provide more details/an example configuration showing this issue?

Thanks!

[2020-04-09 10:36] VTorstai commented on #6351
Also when you import the FrontDoor, it will leave the "fronted_endpoits" blank.

[2020-04-09 10:47] DaSenf opened #6427 "Can not create cosmos db account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-09 11:07] dpiche174 commented on #6158
Sure! Here is this.

Terraform v0.12.19
azurerm provider v2.1.0

[2020-04-09 11:56] tombuildsstuff commented on #4569
hi @ymash13

Thanks for opening this issue

The Azure Key Vault API's require that any callers are present in the Access Policies, as you've mentioned - however within Terraform you'll need to configure explicit dependencies between these resources, to ensure that the Access Policies exist prior to attempting to set the Secret (as in this case):

[code]

As such this should be fixed by ensuring th

[2020-04-09 11:56] #4569 closed

[2020-04-09 12:01] Poil opened #6429 "Support for HealthCheckPath on SchemaAppServiceSiteConfig"
Hi,

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are int

[2020-04-09 12:28] tombuildsstuff commented on #6427
hi @DaSenf

Thanks for opening this issue.

Taking a look through here it appears that whilst certain Regions have provisioned (presumably East US) it appears that there isn't enough capacity in the other region (East US 2) to complete the deployment. Unfortunately this is an internal error within the Azure API - as such Terraform cannot automatically proceed here and thus we need operator input o

[2020-04-09 12:28] #6427 closed

[2020-04-09 13:02] jackofallops commented on #6158
Thanks @dpiche174
The bug fix that this issue references is the one that resolves the issue you observed above, and was released in v2.3.0 of the provider.  Not specifying a given action now disables that action.  It had the unfortunate side effect of making it not possible to set a `0` value for those fields, however.  We'll look to address that in a future release.

[2020-04-09 13:07] ntherrien commented on #6204
@tombuildsstuff that's great! thanks for this solution I did not know about the linux/windows versions of the scalesets.  I'm confident this will work and will let you know if it doesn't. Cheers.

[2020-04-09 13:25] collinstevens commented on #1307
It looks like Function App Deployment Slot support was added to the Azure CLI in https://github.com/Azure/azure-cli/pull/9550. It seems like this is what was blocking this feature; is this an up for grabs issue?

[2020-04-09 15:35] shelwig commented on #1216
@tombuildsstuff I escalated this through our engineering team and they have raised the limit to 500. Could we get this implemented as soon as possible? Please reach out to me directly on Github and we can connect offline.

[2020-04-09 16:45] revelfire opened #6430 "New Product with well-conformed name failing validation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-09 16:56] revelfire commented on #6430
This was a mistake on my part. Closing.

[2020-04-09 16:56] #6430 closed

[2020-04-09 17:00] sai-ns commented on #6059
@Jawvig Been waiting for your PR to be merged or Terraform to come up with a fix. Anyway we can bump this up making it a priority?

[2020-04-09 17:23] noderat commented on #6326
I am encountering this issue but with `enable_accelerated_networking` instead of `enable_ip_forwarding`

[2020-04-09 17:56] aristosvo commented on #6416
I'll give it a try!

[2020-04-09 18:24] dpiche174 commented on #6158
Just tried azurem v2.5.0 and it works.  Thank you!

[2020-04-09 18:55] #6249 closed

[2020-04-09 19:17] #6339 closed

[2020-04-09 19:28] aristosvo commented on #6416
@tombuildsstuff It seems this feature is already fixed [here](https://github.com/terraform-providers/terraform-provider-azurerm/pull/5161), doc [here](https://www.terraform.io/docs/providers/azurerm/r/kubernetes_cluster.html#private_link_enabled), but the feature is called there `private_link_enabled`. Shall I deprecate `private_link_enabled` for `enable_private_cluster`?

@asubmani, apparently it

[2020-04-09 20:57] nickmhankins commented on #4893
We are also running into this issue.  It seems to happen intermittently.

[code]

[2020-04-09 21:36] markti commented on #5032
Ran into a bug with the function key and spent some time isolating that issue. Cracked it today and will be layering in the APIM stuff. There are some improvements I’ve made to the operation definitions that will allow you to dynamically setup url templates easier. The APIM stuff should push tonight. I’m working on Azure AD security next.

[2020-04-09 22:58] WodansSon commented on #4558
@schmid37, yes this is currently on my plate and I will be getting to this soon... sorry for the delay.

[2020-04-09 23:19] aristosvo commented on #1307
@collinstevens I want to give this one a try, is that okay with you?

[2020-04-10 00:03] aaavang commented on #5032
Excellent!

[2020-04-10 02:20] hashibot[bot] opened #6436 "Ordering of dependencies isn't detected after removed resource B and the reference of resource B in resource A from tfconfig"
_This issue was originally opened by @neil-yechenwei as hashicorp/terraform#24608. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Crash Output

Error: Error deleting `B` "abc" (Resource

[2020-04-10 02:26] lukekhamilton commented on #6422
Ok I just got this working again. I had to define my output in the `env/staging` config folder as well as in the `modules/azure` infra HCL folder... Has this behaviour changed at some point?

[2020-04-10 02:26] #6422 closed

[2020-04-10 05:23] #6251 closed

[2020-04-10 06:38] Chirag1233 commented on #2205
@ArcturusZhang any update my organisation wants to use this. do you have a preview version which I can use and try it ?

[2020-04-10 06:48] #3201 closed

[2020-04-10 08:24] tombuildsstuff commented on #6422
@lukekhamilton afaik the behaviour of Terraform Core for outputs hasn't changed in years - it should should only output values in the root (module); perhaps an output was unintentionally defined in the root previously? Glad to hear this is now working anyway :)

[2020-04-10 08:26] tombuildsstuff commented on #6436
Duplicate of #6415

[2020-04-10 08:26] #6436 closed

[2020-04-10 09:27] rdvansloten opened #6439 "IP filter for Azure Cosmos DB doesn't follow standards"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-10 14:09] ewassef commented on #4635
Any update on this? having the same error and cant find a solution

[2020-04-10 14:22] devedse commented on #6343
Hi all, I'm also running into this issue and was wondering what the status since the pull requests confuses me.

I assume that by writing tests @johejo figured out that when we don't pass the qna_runtime_endpoint, terraform doesn't include this in the API.

If that's the case, can we maybe try to simulate the API call directly and see if we get the same issue?

[2020-04-10 15:25] keanesf commented on #5014
I have confirmed that this issue still existing in provider.azurerm = 2.4.0

[2020-04-10 16:55] slessardjr opened #6441 "API Management Policy XML expressions have escaped characters causing plans/apply to need changes applied."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest