[2022-09-16 15:02] gpavankumarg commented on #16992
Hi Team, any update on this

[2022-09-16 15:15] philippeassani opened #18413 "Support for adding public certificates to Azure App Service Slots"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-16 15:16] J0F3 commented on #18346
@cvs79
A workaround I found is to specify the Resouce Id for the Log Analytics Workspace (`var.audit_log_law_id` in the example above) with the casing the provider expects:
e.g.:
/subscriptions/220f340e-843d-4799-8b2d-99e74b1198d2/resource**G**roups/testing-rg/providers/**M**icrosoft.**O**perational**I**nsights/workspaces/testing-law

instead of

/subscriptions/220f340e-843d-4799-8b2d-99e74b1198d2

[2022-09-16 16:11] Pravez opened #18415 "Data Factory not accepting sink PostgreSQL from activities_json"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-16 16:27] camilo-s opened #18416 "azurerm_subnet_route_table_association fails with ID contained more segments than required"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-16 19:45] Dragonsbane opened #18417 "identity block not implemented in azurerm_app_service_environment_v3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-16 20:06] surlypants commented on #16540
still blocked with 3.23.0....

what/how can i help further debug?

[2022-09-16 20:06] Sanket-Kaware opened #18418 "Cannot assign "maintenance configuration" to "Scaleset instance""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-17 01:56] xiaxyi commented on #18388
@piyaldas Thanks for raising this issue. From your config, I can tell you have the storage account restricted to a vNet as`WEBSITE_CONTENTOVERVNET` sets to 1, right?  The contentshare won't be created automatically if this setting is enabled, you can refer to my [pr ](https://github.com/hashicorp/terraform-provider-azurerm/pull/18258)for more information.

[2022-09-17 03:01] ssulli25 commented on #18189
Update - when run locally at Terraform Version 1.2.9 and AzureRM provider 3.20.0, it's still showing the creation of 10 new resources. Conversely, when running via Github Actions (via the same providers.tf file) it's only showing the creation of 1 new resource. I verified the state and tfvars files are coming from the same source. Not sure what would be causing the difference.

[2022-09-17 12:44] faisaleem-na opened #18422 "Application Gateway Bug request routing rule always recreated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-17 21:24] AlexPykavy commented on #17779
Hello @RawPatty,

I've encountered the same issue but in other circumstances. After some analysis, I found why it happens and asked a question on the Slack - https://terraform-azure.slack.com/archives/CB9RVKPDL/p1663449825271299.

[2022-09-18 04:03] myc2h6o commented on #15737
The 429 issues within the provider is tracked by #17747, and according to the investigation by https://github.com/hashicorp/terraform-provider-azurerm/issues/17747#issuecomment-1204411362, 429 is retried 3 times in the provider. Before we have a better solution, the suggestion is to use below as a workaround
- reducing the number of parallel runs being bottlenecked on the same storage account (Ter

[2022-09-18 04:46] myc2h6o commented on #18103
Hi @SlavisaBakicOB thanks for opening the issue! When `upgrade_mode` is set to `Manual`, changing `sku` on Azure Portal is quick since it doesn't update the `sku` for existing VM in the scale set. In Terraform however, it is designed to run without manual operation outside Terraform, thus even with the Manual upgrade mode, we still do an update to the VM inside the scale set.
https://github.com/ha

[2022-09-18 13:04] haimdagan8 commented on #14726
UP

[2022-09-19 00:25] PCNZ commented on #16265
Looks like the go sdk which was blocking was released June 23rd? The day after the last discussions on this.
Is there another blocker?

[2022-09-19 02:00] neil-yechenwei commented on #18368
Thanks for raising this issue. After tested, seems it works fine on my local with https://github.com/hashicorp/terraform-provider-azurerm/tree/main/examples/cosmos-db/basic. Seems it's caused by unstable service API. Could you retry to see if the issue still exists?

[2022-09-19 02:20] riteshmehta66 opened #18426 "Support for deploying Azure Monitor Logs Dedicated Clusters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-19 02:44] ms-henglu commented on #16956
I'm working on this feature.

[2022-09-19 03:01] neil-yechenwei commented on #18383
Thanks for raising this issue. Seems it has to grant some permissions to the resource created. Below is an example.

tf config:
[code]

[2022-09-19 04:47] myc2h6o commented on #18412
Hi @grethinam thanks for opening the issue! I'll be working on these properties in Virtual Machines resources

[2022-09-19 05:30] magodo commented on #18408
@abilous-ti Thank you for submitting this! This is implemented in PR #18245 already, whilst there is a breaking change introduced in the new API version, this PR is now on hold.

[2022-09-19 05:34] ms-zhenhua commented on #18426
Hi @riteshmehta66, thank you for reaching out.
According to this [Doc](https://learn.microsoft.com/en-us/azure/azure-monitor/logs/logs-dedicated-clusters#create-a-dedicated-cluster), Cluster creation triggers both resource allocation and provisioning. So the deployment should have already been supported by the Provider through creating `azurerm_log_analytics_cluster` resources?
If I do not underst

[2022-09-19 05:43] #17910 closed

[2022-09-19 06:24] IronMania commented on #17930
I found a similar issue with an existing MR.
https://github.com/hashicorp/terraform-provider-azurerm/issues/18288

[2022-09-19 06:25] IronMania commented on #18288
could it be, that this problem also occurs with `azurerm_windows_function_app` ?

[2022-09-19 06:43] jiaweitao001 commented on #18362
Hi @mohanajuhi166 , thanks for raising this GH issue. However, `authentication_mode` is not currently supported by Azure stream analytics API. We will work on it once it's ready.

[2022-09-19 06:58] sinbai commented on #18416
@camilo-s thanks for opening this issue here. Per the [tf doc](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/subnet_route_table_association), the `route_table_id ` of `azurerm_subnet_route_table_association` should be a route table id instead of the id of `azurerm_route`. Could you try updating the `azurerm_subnet_route_table_association` block like below and try

[2022-09-19 07:26] myc2h6o commented on #18069
Hi @shanep2300 thanks for opening the issue! The config shared in the issue is not the complete so I tried with below config trying to repro the issue. It is working fine in my environment without the need of resetting password on Azure Portal. Could you check if this works in your environment and see if there is any difference with creating the image/vm?

[code]

[2022-09-19 07:26] wuxu92 commented on #18198
@prubis en yes, I think you are right. I'll create a PR to work around this.

[2022-09-19 08:28] camilo-s commented on #18416
@sinbai Thanks for the pointer and for the quick reply!
Wou're right, I was assigning the incorrect value to the `route_table_id ` parameter. I'm now able to deploy the subnet route table association.

I guess that, on top of my own slip, I was misled by Terraform's only failing at the `apply` stage and then reporting `Error: ID contained more segments than required`.
Would it be possible to inclu

[2022-09-19 08:30] myc2h6o commented on #18412
I've opened #18437 to add the support for this

[2022-09-19 08:50] ms-zhenhua commented on #18387
Hi @ggomes-agc, thank you for reporting this issue. I will create a PR to support `/providers/Microsoft.Marketplace`

[2022-09-19 08:53] sinbai commented on #18416
@camilo-s good suggestion. [PR ](https://github.com/hashicorp/terraform-provider-azurerm/pull/18440)has been submitted to fix it.

[2022-09-19 09:24] twink0r commented on #18104
We build a [small script](https://gist.github.com/twink0r/b83c94ff96714565ad6dbc26210aba58) to "fix" this.
In this case, we only use child modules and nothing in root. If you created resources in the root module, you need a small adjustment in the Python Script in Line 17.

[2022-09-19 09:25] sl3dg3hamm3r opened #18443 "Azure Private Endpoint with ip_configuration for a Key Vault fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-19 09:50] Tbohunek opened #18444 "Vnet peering out of sync"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-19 10:00] kirksw commented on #16994
Did you by any chance figure out how this is meant to work?

[2022-09-19 10:01] lognseth commented on #18286
So... I deleted the VMSS and re-ran `Terraform Apply` and it was successful. Which at the very least solves my immediate issue. :)

[2022-09-19 10:13] ArjunMR89 commented on #15031
I am trying to backup SQL in Azure VM and used the policy **azurerm_backup_policy_vm_workload** with azurerm provider version **3.23.0**. The policy is successfully deployed in Azure but I couldn't find any resource to backup SQL in Azure VM. I tried using **azurerm_backup_protected_vm** by passing virtualMachines ID and SqlVirtualMachines ID but both resulted in errors. Am I missing something? Is

[2022-09-19 10:14] ArjunMR89 commented on #3910
I am trying to backup SQL in Azure VM and used the policy **azurerm_backup_policy_vm_workload** with azurerm provider version **3.23.0**. The policy is successfully deployed in Azure but I couldn't find any resource to backup SQL in Azure VM. I tried using **azurerm_backup_protected_vm** by passing virtualMachines ID and SqlVirtualMachines ID but both resulted in errors. Am I missing something? Is

[2022-09-19 10:27] Stanislava27 opened #18447 "New azurerm 3.25.0 error while parsing azurerm_log_analytics_cluster Identity block"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-19 10:28] Stanislava27 commented on #18447
It started at 3.21.0 release, where there were other parsing issues: https://github.com/hashicorp/terraform-provider-azurerm/issues/18235

[2022-09-19 11:03] aslafy-z commented on #18383
@neil-yechenwei Ok, so this happens when Azure Data Protection misses some permissions to execute the backups, I guess one of the two. Any-way, the resource is persisted in Azure (in a failed state), but not persisted in terraform state. IMHO, it should be persisted to terraform state even do the instance is in a failed state.

[2022-09-19 11:18] floryut commented on #16956
https://github.com/namitjagtiani/terraform-azure-private-dns-resolver-azapi
you have one here, working pretty fine, in my setup.

[2022-09-19 11:20] onenessboy commented on #16956
@floryut I have seen that , did you face issued mentioned in read.me(gotchas) mentioned in that repo ? like the second time apply will fail like that

[2022-09-19 12:48] tamirkamara commented on #17155
@pkirch please provide details as to how have you seen

[2022-09-19 12:50] Zaduvalo commented on #18302
Update. No more problems using azurerm 3.23.0

[2022-09-19 12:53] onenessboy commented on #12466
@omonnig can you please share example of how you done this ? I am looking for same

[2022-09-19 13:03] stbenjam commented on #18350
@jiaweitao001 The entire terraform config is in https://github.com/openshift/installer/tree/master/data/data/azure, which the dns config in https://github.com/openshift/installer/blob/master/data/data/azure/cluster/dns/dns.tf.

This is a ~10% problem for us, so it doesn't always happen.

[2022-09-19 13:35] vishalsinha21 commented on #18039
We are using azurerm version 3.23.0 and faced this issue while deleting an A record. I thought this has been fixed in version  3.19.1 and shouldn't be happening in the higher versions 🤔

[code]

[2022-09-19 13:42] ondrejvaclavu commented on #18288
same issue here - azurerm_windows_web_app

[2022-09-19 14:39] cretzel commented on #14853
Deleting the diagnostic settings manually in azure and recreating them with terraform worked for me.

[2022-09-19 14:46] luissalgadofreire opened #18448 "Add"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-19 18:24] mclacore opened #18450 "Key Vault / Cosmos DB cannot set up CMK with public network access disabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-19 18:58] luissalgadofreire commented on #18448
For the benefit of those who might come across this issue.

It turns out Azure Application Gateway assumes **Use for App Service** is default.

If you do not provide a backend certificate - either *Authentication Certificate* for V1 or *Trusted Root Certificate* for V2 - then Azure Application Gateway will set the **Use for App Service** to true.

Therefore, the config would be something like:

[c

[2022-09-19 18:58] #18448 closed

[2022-09-19 19:38] kmehkeri commented on #16335
It looks like this has been now added by someone else in #18005, it is available since v3.21.0.

[2022-09-19 23:21] grillba commented on #18244
@tombuildsstuff  any chance this can be reopened as it appears unrelated to #18235 and the fixes in 3.22.0 did not correct the issue.

I've done some further debugging and the lower cased "resourcegroup" in the ID is stored in Azure and is being returned by an API call during the plan stage.

[code]

There appears to be no work around other that destroying the resource outside of Terraform or dele

[2022-09-19 23:36] grillba commented on #18360
Hi @myc2h6o,

This is identical to #18244 which was incorrectly closed as a duplicate. I've added some information to the bottom of that ticket here https://github.com/hashicorp/terraform-provider-azurerm/issues/18244#issuecomment-1251668420

The issue is a result of a lower cased resource ID being stored in Azure from a previous version of the provider. After upgrade to 3.21.0 or above, the provi

[2022-09-20 00:23] cacizi41 opened #18452 "Creating multiple blob container with azurerm_resource_group_template_deployment and a tempalte. Terraform shows containers creation successful but only one container is actually created in Azure storage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-20 01:03] xiaxyi commented on #18288
Thanks guys for checking this issue, you may track the status in the mentioned pr.

[2022-09-20 02:34] soohonlee opened #18453 "Support for an identity block in data.azurerm_automation_account"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-20 02:58] mg-8 commented on #18225
It's doing the same thing for **"azurerm_logic_app_standard"** post release of **provider version 3.23.0**. As it supports for the virtual_network_subnet_id property for vNet integration (https://github.com/hashicorp/terraform-provider-azurerm/issues/17731). This must be fixed on both function and logic app to avoid this behavior.

[2022-09-20 03:09] liuwuliuyun opened #18454 "`azurerm_kusto_cluster_customer_managed_key` - property not working."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-20 03:10] liuwuliuyun commented on #18454
This is also related to accTestFailure TestAccKustoClusterCustomerManagedKey_userIdentity

[2022-09-20 03:12] liuwuliuyun commented on #18454
For now, I could determain that root cause is property `key_vault_id` is misnamed and misused. This property should be `key_vault_uri` and in the test case the right config file should be

resource "azurerm_kusto_cluster_customer_managed_key" "test" {
  cluster_id    = azurerm_kusto_cluster.test.id
  key_vault_id  = azurerm_key_vault.test.vault_uri
  key_name      = azurerm_key_vault_key.test.name

[2022-09-20 03:13] liuwuliuyun commented on #18454
But after applying that, it gives error azurerm_key_vault_key.test: Refreshing state... [id=https://acctestkvyunliu2235.vault.azure.net/keys/test/xxxxxxx]
╷
│ Error: the number of path segments is not divisible by 2 in ""
│
│   with azurerm_kusto_cluster_customer_managed_key.test,
│   on test.tf line 86, in resource "azurerm_kusto_cluster_customer_managed_key" "test":
│   86:   key_vault_id  = azu

[2022-09-20 03:15] liuwuliuyun commented on #18454
So we should make an update to `key_vault_id` property and change it `key_vault_uri` to avoid mislead to users. If we do not change the name for compatibility concern, at least we could change the validation function to make it works.

[2022-09-20 03:25] ms-zhenhua commented on #18452
Hi @cacizi41, thank you for reaching out.
It seems that the reason is that you used the same `azurerm_resource_group_template_deployment.failed_events_container.name` for these containers which cause overwriting. Could you try to put the `name` under `for_each` and try it again ? Here is the sample:

[code]

[2022-09-20 03:46] KJaunay commented on #15915
As it stands currently this feature is what is blocking the use of azure container instances and azure container registries with private networking at a fortune 500 company.

[2022-09-20 04:52] yamada-grasys opened #18455 "azurerm_linux_function_app requires both connection string and instrumentation key for app insights"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-20 05:07] lingaswamy123 opened #18456 ""public_network_access_enabled" argument giving Unsupported argument error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-20 06:51] ms-zhenhua commented on #18422
Hi @faisaleem-na, thank you for reaching out.
It is a little difficult to confirm this issue through the configuration snippet you provided. Could you kindly help provide a runnable configuration (You can first remove all sensitive information from it) for this issue ? Then we can do more investigation on it.
You can compress all the configuration files into a .zip file and attach it in this GH is

[2022-09-20 07:11] rikribbers opened #18458 "azurerm_resource_provider_registration with skip_provider_registration = true not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-20 07:15] xiaxyi commented on #18413
Thanks @philippeassani for raising this issue, this should be enhancement, we'll evaluate it.
related:https://github.com/hashicorp/terraform-provider-azurerm/issues/18184

[2022-09-20 07:26] PatrickSpies commented on #17811
Any updates on this? WS2022 for AKS is now GA, see https://github.com/Azure/AKS/issues/2115#issuecomment-1251872216

[2022-09-20 07:29] mybayern1974 commented on #18413
@philippeassani , with xiaxyi's suggestion, would you mind if we close this issue as duplicate and you can subscribe to #18184?

[2022-09-20 07:51] eking-go opened #18459 "azurerm_key_vault_key: unexpected new value: Root resource was present, but now absent."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-20 09:12] Zaduvalo commented on #18302
Update.
There is a problem with azurerm 3.23.0 in another project with the same terraform code.

terraform --version
Terraform v1.2.9
on windows_amd64
+ provider registry.terraform.io/hashicorp/azurerm v3.23.0
**Throwing exception.**

Terraform v1.2.9
on windows_amd64
+ provider registry.terraform.io/hashicorp/azuread v2.28.1
+ provider registry.terraform.io/hashicorp/azurerm v3.23.0
**Working wel

[2022-09-20 09:18] tombuildsstuff commented on #18413
Closing in favour of #18184

[2022-09-20 09:18] #18413 closed

[2022-09-20 09:30] faisaleem-na commented on #18422
Hi @ms-zhenhua,

ok no problem, i will do that, will just need a day or so as currently quite busy. will aim to have it here by COB thursday
thanks

[2022-09-20 09:55] endakelly opened #18462 "Search subscriptions by name - azurerm_subscription data resource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-20 10:16] Zaduvalo commented on #18302
Problem not fixed.

[2022-09-20 10:25] devtech234 opened #18463 "The terraform-provider-azurerm_v3.5.0_x5.exe plugin crashed!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-20 10:30] premchavhan99 opened #18464 "Sub resources (Virtual application) again getting added after terraform import"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-20 10:49] sahitya12 opened #18465 "Error Binding SSL Certificate to WebApp from keyvault"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

// Now Read the Certificate
data "azurerm_key_vault_certificate" "prod_certificate" {
  name         = "testing-certificate-for-cic"
  key_vault_id = data.azurerm_key_vault.production_keyvault.id
}

// Get Certificate from External KeyVault
resource "azurerm_app_service_certificate" "cert" {

[2022-09-20 11:18] stuikomma commented on #18293
Hi, I have been experiencing the same issue over the past couple of days.

A change to my azurerm_function_app_function made TF try to recreate the function . However, deleting the function failed with the same error that @mgw6 got. I then tried to work around this issue by manually deleting the function via the Azure Portal UI. There, I also got an error along the same lines: "Not found". After t

[2022-09-20 11:42] Noel-Jones commented on #13061
Hi all, apologies for not responding earlier to queries. First off, I note that my PR was merged and is in v3.21 of the provider. I don't know why it is not referenced in the change log, I'm still new to how all this is managed.

Markus has a PR to make the subresource optional. It needs the automated testing resolving. Kudos to Markus for for adding it.

@LukeHarjulin - what endpoint are you crea

[2022-09-20 12:20] ryanfnhs opened #18466 "azurerm_api_management_logger - resource_id loop"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-20 12:23] sahitya12 commented on #18465
i would like to know what is use of using below block, this doesn't add certificate to app service , is there a way to specify app service name ?

resource "azurerm_app_service_certificate" "example" {
  name                = "example-cert"
  resource_group_name = azurerm_resource_group.example.name
  location            = azurerm_resource_group.example.location
  pfx_blob            = filebase64(

[2022-09-20 12:24] sahitya12 commented on #18465
// Get Certificate from External KeyVault works fine and this runs successfully azurerm_app_service_certificate and while doing azurerm_app_service_certificate_binding using certificate ID from azurerm_app_service_certificate  getting above error

[2022-09-20 12:42] JCZuurmond commented on #13131
What is the status of this issue, will this be implemented?

[2022-09-20 13:13] mgw6 commented on #18293
Hi @stuikomma

Yes I am able to delete the function app manually. It works as a short term fix but long term defeats the purpose of Terraform.

Re: Azure bug vs TF bug, it appears that tf finds everything during the plan just fine, its the when the apply is authorized that the issue arises. I'm not sure how TF works under the hood, but based on our workaround I wonder what would happen if TF didn'

[2022-09-20 13:46] Amier3 commented on #18463
Hey @devtech234

Unfortunately I wasn't able to replicate this crash, so this might be a crash related to your environment. Are you using a M1 Mac?  We've seen this issue before on M1s (https://github.com/hashicorp/terraform-provider-aws/issues/20274) be resolved by:

 `export GODEBUG=asyncpreemptoff=1`

[2022-09-20 14:09] mdurell commented on #18311
I too am experiencing intermittent ParentResourceNotFound errors when deploying `azurerm_virtual_machine_extension` resources. I will try and add the wait resource hack listed above. I agree with the timeframe indicated as well, this started for me a few weeks ago.

[2022-09-20 14:11] mrchops1024 commented on #16994
@kirksw I ended up just specifying the subscription id of another, unrelated subscription, and provided the service principal the required permissions. It's not ideal, but it seems to be the minimum requirements for using Terraform in this case.

[2022-09-20 14:33] devtech234 commented on #18463
Hi @Amier3
Thanks for the response!
I am using windows agents from Azure virtual Machine Scale sets to run the terraform scripts.
We are recently seeing this plugin crash error. Before that it used to work fine

[2022-09-20 15:09] xiaxyi commented on #18293
Thanks @mgw6 , it seems a service bug to me, have you tried rest api to delete the functions?

[2022-09-20 15:59] LukeHarjulin commented on #13061
Hi Noel, thanks for the response.

I was attempting to create private endpoint for a Key Vault with a static IP address. It appeared that the group id needed to be 'vault' and the member name needed to be 'default'.
I suppose this is a bug within the new implementation, so it should probably be a new issue. I do hope this can be fixed and implemented soon, though.

[2022-09-20 16:20] tobias-edwards commented on #18368
The issue still persists, only this time I can reach `azurerm_cosmosdb_account.example: Still creating... [1m30s elapsed]` before it throws the same error.

I tried to spin up the same resource in a Terratest:

[code]

Running `go test -v` only gets me so far: `azurerm_cosmosdb_account.example: Still creating... [1m40s elapsed]`.

Running the same code on my company's GitLab runner successfully cr

[2022-09-20 17:10] cacizi41 commented on #18452
Thanks. It resolved the overwriting issue. I also encountered that 4 out of 9 deployments(same 4 containers across different environments) failed with no clear error from azure. Once I deleted those failed deployments from azure portal those can be re-deployed by terraform apply again. But I think it is another issue. Closing this one now.

[2022-09-20 17:10] #18452 closed

[2022-09-20 17:25] flavio-neves commented on #17055
Similar case: https://github.com/Azure/AKS/issues/2980

In my case it is taking 2h+.

[2022-09-20 17:37] jjordonm opened #18468 "Azure Synapse Role Assignment Gov Cloud"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-20 19:44] pvrk commented on #3910
@ArjunMR89 : Yes, currently only backup policy is available on Terraform. We are working on integration SQL backup too. So, you have the Azure VM registered as SQL VM?

[2022-09-20 20:14] boukeversteegh commented on #16927
#16417

[2022-09-20 21:38] ryanberger-az commented on #2977
Reporting in... this is still an issue. Blob containers created with Terraform are not accessible thru the portal.

![image](https://user-images.githubusercontent.com/60238330/191369449-305eb515-714e-4c05-80d5-d7c111c2a981.png)

`resource "azurerm_storage_account" "tfstate" {
  name                     = var.storageaccountname
  resource_group_name      = azurerm_resource_group.rg.name
  location

[2022-09-20 22:12] tspearconquest commented on #2977
Hi @ryanberger-az, can you try to add a private endpoint? Details are in my previous comment from Jan 12:
https://github.com/hashicorp/terraform-provider-azurerm/issues/2977#issuecomment-1011183736

[2022-09-21 00:33] mgw6 commented on #18293
Hey @xiaxyi

No, I have not. If you can provide me with more information I can try it.

When you say service bug, do you mean Azure service?

[2022-09-21 00:51] #18412 closed

[2022-09-21 00:53] josh-barker commented on #18360
Hey @myc2h6o and @tombuildsstuff ,

As per [18244](https://github.com/hashicorp/terraform-provider-azurerm/issues/18244#issuecomment-1251668420), the response string from Azure is not the correct case.

Potentially there's an issue in the `Read` function as it's using [workspaces.ParseWorkspaceID](https://github.com/hashicorp/terraform-provider-azurerm/blob/main/internal/services/securitycenter/se

[2022-09-21 00:58] #16265 closed

[2022-09-21 01:00] #17937 closed

[2022-09-21 02:13] #18372 closed

[2022-09-21 02:15] ms-henglu commented on #16956
Hi @onenessboy - There's [an azapi example](https://github.com/Azure/terraform-provider-azapi/blob/main/examples/Microsoft.Network/dnsResolvers/main.tf) which is a slightly modified version of https://github.com/namitjagtiani/terraform-azure-private-dns-resolver-azapi. I guess the issues mentioned in the read.me are now fixed in the stable api-version.

I'm working on supporting this feature in az

[2022-09-21 02:33] liuwuliuyun commented on #18454
Currently, I am able to determain that in a PATCH call to service, the server returns 202. But after the PATCH call, the server returns an "Internal Server Error" without any other message for the wait for completion async call.

[2022-09-21 02:37] liuwuliuyun commented on #18454
Example REST call response caught in REST API call.
PATCH https://management.azure.com/subscriptions/xxxxxxxxx/resourceGroups/acctestRG-220921084043399667/providers/Microsoft.Kusto/clusters/acctestkcmwqgg?api-version=2022-02-01 HTTP/1.1

HTTP/1.1 202 Accepted

GET https://management.azure.com/subscriptions/xxxxxxxxx/providers/Microsoft.Kusto/locations/West%20Europe/operationResults/xxxxx?api-versi

[2022-09-21 03:04] evandeworp opened #18470 "azurerm_cdn_frontdoor_rule - documentation of transforms is wrong"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-21 03:17] wuxu92 commented on #18443
Hi @sl3dg3hamm3r  thanks for your feedback. it looks like a bug and I'll try to fix it soon.

[2022-09-21 06:46] magodo commented on #18459
@eking-go Thank you for submitting this!

This bug is being tracked in #11059 which I'm going to close this in favour of - would you mind subscribing to that issue for updates?

Thanks!

[2022-09-21 06:46] #18459 closed

[2022-09-21 07:06] ms-henglu commented on #18468
Hi @jjordonm ,

Thank you for taking time to report this issue!

It seems the API is available in US gov env. I've created an issue in the dependency project: https://github.com/manicminer/hamilton/issues/178. Once it's fixed, I'll enable it in azurerm provider.

[2022-09-21 07:18] jamesbwilkinson commented on #18355
Hi @liuwuliuyun
Thank you for the suggestions. Our scenario is different from what you tested.
We create the kusto cluster in a different stage of our deployment, before we create the managed identity so we are not able to assign it to the cluster like you show in your example. We create the MI and assign it at the same stage with azurerm_kusto_database_principal_assignment.

Can you check it in t

[2022-09-21 07:22] teemukj opened #18475 "azurerm_virtual_desktop_scaling_plan - Mixed/wrong argument description"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-21 07:38] xiaxyi commented on #18293
@mgw6 I tried the issue from my side and I find the deletion issue may relates to it's parent function app settings.

I noticed the site_config remains empty in your TF config, can you try specifying a detailed stack such as below and see if you are able to delete the function?
[code]

[2022-09-21 07:47] xiaxyi commented on #18455
Thanks @yamada-grasys for raising this issue, let me check the linux version. we'll remove the restrictions once confirmed the same behavior should be made to Linux

[2022-09-21 08:07] xiaxyi commented on #18455
@yamada-grasys you can track the status in the pr:
https://github.com/hashicorp/terraform-provider-azurerm/pull/18477

[2022-09-21 08:14] myc2h6o commented on #18463
Hi @devtech234 this is not happening for me as well. Would you mind setting the [environment variable](https://www.terraform.io/internals/debugging) `TF_LOG` to `DEBUG`, the extra log may help with the troubleshooting.

[2022-09-21 08:18] WodansSon commented on #18470
@evandeworp, thank you for opening this issue. This issue will be fixed with my latest FrontDoor PR #18231.

**NOTE:** I have not committed the change yet, but it is in my local dev branch as I am still working out some issues in the API.

[2022-09-21 08:20] rsmir06 opened #18479 "Terraform don't detect the change of VMs SSH-KEY -- using azurerm : v3.20.0 & <v3.20.0 -- resource : azurerm_virtual_machine"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-21 08:21] favoretti commented on #18450
Hi and thank you for reporting this issue. I think you need a `depends_on` for your cosmosdb to KV private link. While terraform can deduce that KV should be created ahead of cosmosDB account - private link to KV is most likely getting created simultaneously with cosmosDB and creates a race condition.

[2022-09-21 08:29] shoop commented on #16569
I'm seeing effectively the same thing when setting the Azure Container Registry for a Linux container app:

[code]

So it's not only for the AppInsights link that these get added.

[2022-09-21 08:32] rsmir06 commented on #18479
When disable_password_authentication = true Terraform don't detect the new ssh_key, but when i try with disable_password_authentication = false, terraform detect the new ssh_key.

But i have to use disable_password_authentication = true

[2022-09-21 08:36] fristedt opened #18480 "Can't override anomaly based rules for azurerm_cdn_frontdoor_firewall_policy due to incorrect validator"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-21 08:54] Erylis21 opened #18481 "Data Rule Collection Extension DependencyAgent not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-21 08:55] tombuildsstuff commented on #18479
hi @rsmir06

Taking a look through here the `azurerm_virtual_machine` resource has since been superseded by the `azurerm_linux_virtual_machine` and `azurerm_windows_virtual_machine` resources. Whilst the existing `azurerm_virtual_machine` resource continues to be available in 3.x releases of the Provider, it's feature-frozen and thus no longer receiving any bugfixes or enhancements to maintain com

[2022-09-21 08:55] #18479 closed

[2022-09-21 09:03] Zaduvalo commented on #18302
I found a solution to make data azurerm_linux_function_app work.
Test module dependant on another module output variable. Adding "depends_on" to test the module resolves this issue.

[2022-09-21 09:08] jackofallops commented on #16569
Hi all

Just by way of update, we're in discussions with Azure on this. There's an implementation change that is being rolled out that is exposing these hidden tags. The Upstream tracking issue is https://github.com/Azure/Azure-Functions/issues/2243.
We're taking a look at how best to deal with this in the provider, but also pushing for these to be filtered from the responses as they are an implem

[2022-09-21 09:27] myc2h6o commented on #18287
I found even with the 30-second sleep in the updated pr, the image creation still has issue with finding the gallery, although gallery detail could be retrieved when setting the properties in `azurem_shared_image_gallery` after its creation. I would suggest open a support at Azure to check whether there is any cache issue within the subscription.
Meanwhile, since we are seeing this issue, I think

[2022-09-21 10:34] Bananenbieger1234 commented on #17957
Which means it can be integrated into terrafrom !? :)

[2022-09-21 11:33] sourabhkrishna commented on #11609
Is this planned anytime soon ?

[2022-09-21 11:46] pacorreia commented on #17955
Hey team,

for some reason this issue was removed the bug label, and one got eyes into this, is a bit of concerning issue, please do the triage

[2022-09-21 11:51] justinas-b commented on #17957
I think so! 🤟

[2022-09-21 12:48] matthiasritter commented on #17811
we are also interessed in this. Is there any update?

[2022-09-21 13:07] zioproto commented on #18386
It is probably easier to look at this PR as an example to add an addon:
https://github.com/hashicorp/terraform-provider-azurerm/pull/11189/files

[2022-09-21 13:43] ryanberger-az commented on #2977
@tspearconquest Thank you for the suggestion, but that workaround will not meet the requirements for which I am developing this solution. This will be deployed into our customers cloud tenants, and their networking teams are going to NOT be okay with private endpoints being set up for the sake of doing this. What is weird is that I tried another route of doing this, and used an ARM template to be

[2022-09-21 14:03] evandeworp commented on #18470
Since the documentation is being fixed, might as well fix the example in the documentation as well. The example in https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/cdn_frontdoor_rule fails with:

│ Error: Missing required argument
│
│   on main.tf line 6, in resource "azurerm_cdn_frontdoor_profile" "example":
│    6: resource "azurerm_cdn_frontdoor_profile" "example"

[2022-09-21 14:05] tspearconquest commented on #2977
Understood. Yes, that seems to be the case. There was a comment a while back (https://github.com/hashicorp/terraform-provider-azurerm/issues/2977#issuecomment-628589782) where someone found that the provider talks with an API that gets firewalled off by creating network rules. The Azure CLI has support to talk to the resource manager API instead of that firewalled API, as per the issue linked in t

[2022-09-21 14:09] jrhunger commented on #18456
That functionality was released in 3.21.0. If you are really using 3.0.0 you should update and try again.

[2022-09-21 14:11] ryanberger-az commented on #2977
@tspearconquest Haha, great minds! I edited out my comment where I was talking about going to go down that route of using the local-exec provider to run Azure-CLI commands to build this stuff out. The issue here is that it looks like you need to run an az login before you can actually run the commands.

I may just write an azure CLI script to have our customer run to create the storage account/con

[2022-09-21 14:24] kingofthehill444 commented on #17833
I am also seeing this on AzureRM 3.23.0.

When I upgrade my AKS cluster in my Terraform, I am seeing the same behavoir.

[2022-09-21 14:45] tspearconquest commented on #2977
Happy to help. It certainly is! `az login` with a service principal or user assigned managed identity would be the way I'd go whether using a script or terraform. ;)

[2022-09-21 15:04] sdubey-optum commented on #16816
Indeed, unless versionless_secret_id is allowed. **_You can't leverage auto rotation feature_**

`
The instances poll Key Vault at four-hour intervals to retrieve a renewed version of the certificate if it exists. If an updated certificate is found, the TLS/SSL certificate that's currently associated with the HTTPS listener is automatically rotated.
`

https://docs.microsoft.com/en-us/azure/applic

[2022-09-21 15:39] Amier3 commented on #18480
Hey @fristedt

I don't think we'll be able to set AnomalyScoring, per the Azure docs:

This is the config I was able to use in order to disable the `PROTOCOL-ENFORCEMENT` rule in your example:

[code]
Which ended up with this:

<img width="1344" alt="Screen Shot 2022-09-21 at 11 20 37 AM" src="https://user-images.githubusercontent.com/92801461/191547987-058c4fb6-87af-4e35-814e-be0ba9202288.png">

[2022-09-21 15:40] rsmir06 opened #18483 "Terraform plan to destroy/deploy a VM after changing the ssh-key & don't propos to update the VM"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-21 16:13] austintolani opened #18484 "Support for Azure Cache for Redis `2022-05-01` API version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-21 16:14] xiaxyi commented on #18465
thanks @sahitya12 for raising this issue, by saying "external keyVault" are you suggesting azure key vault? does the binding work if you upload the cert from local, as I see you are referring to azure keyVault. if you are referring to azure key vault. please make sure you app have the access to the key vault:https://learn.microsoft.com/en-us/azure/app-service/app-service-key-vault-references?tabs=

[2022-09-21 17:51] sreekanth3107 opened #18485 "`azurerm_eventhub_namespace` issue with `public_network_access` filed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-21 18:52] waltonchiang opened #18487 "Data azurerm_databricks_workspace location not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-21 19:16] dsiperek-vendavo opened #18488 "managed_rules exclusions can't be tied to Rule sets and select rules"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-21 19:47] dsiperek-vendavo commented on #18488
Figured it out...
    exclusion {
      match_variable          = "RequestArgNames"
      selector                = ".profile"
      selector_match_operator = "Contains"

      excluded_rule_set {
        type    = "OWASP"
        version = "3.2"

        rule_group {
          excluded_rules = [
            "930120",
          ]
          rule_group_name = "REQUEST-930-APPLICATION-ATTACK-LFI"

[2022-09-21 19:47] #18488 closed

[2022-09-21 20:07] Tbohunek commented on #18444
Hey @teowa, thanks, I should have thought of the `replace` feature.
I will test both options, however I already know that `replace` and also `depends_on` are too aggressive, because they trigger on _any_ change to the resource, including even tags, and we only wish to trigger it for one property `.address_space`.

[2022-09-21 22:38] jasonfare opened #18489 "virtual_desktop_application_resource name doesn't allow spaces when Azure API/Portal do."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-22 00:38] shibin-george commented on #17705
We see a similar issue at our end.
- in the eventgrid-subscription's resource description, add `included_event_types = [ "Any Event" ]`
- Terraform creates the filter in the subscription
- Now remove `included_event_types = [ "Any Event" ]` completely from the resource
Expected: Terraform should detect the removal and delete the filters from the resource.
Observed: Terraform does not delete the fi

[2022-09-22 00:39] xiaxyi commented on #18464
Thanks @premchavhan99 for raising this issue, can you let me know the value of the always_on, is it true or false?

[2022-09-22 01:01] sinbai commented on #17872
@JeffGiroux thanks for opening this issue here. [PR](https://github.com/hashicorp/terraform-provider-azurerm/pull/18469) for resource `azurerm_virtual_hub_bgp_connection`  to support  `virtual_network_connection_id` has been submitted. Could you track it for updates?

[2022-09-22 01:54] sinbai commented on #18475
Hi @teemukj thanks for bringing this to our attention. [PR ](https://github.com/hashicorp/terraform-provider-azurerm/pull/18490)has been submitted to fix it.

[2022-09-22 03:09] premchavhan99 commented on #18464
Hi @xiaxyi , attaching a screenshot below of site config and virtual application configuration
![image](https://user-images.githubusercontent.com/104148610/191649555-16dc3026-a9aa-44d7-9c63-839e764fd2c7.png)
![image](https://user-images.githubusercontent.com/104148610/191649581-bc4ffd8c-f50d-4d7d-af12-eabf1f90cec6.png)
and I have just imported the app service in terraform didnt applied the plan ye

[2022-09-22 03:11] teowa commented on #18444
Hi @Tbohunek , from [`replace_triggered_by` doc](https://www.terraform.io/language/meta-arguments/lifecycle#replace_triggered_by),

so you can also add `.address_space` in the replace, for example:
[code]

[2022-09-22 03:23] xiaxyi commented on #18465
the cert will be uploaded to every function app inside the resource group

[2022-09-22 03:26] teowa commented on #18481
Hi @Erylis21 , thanks for taking the time to issue this.
Seems `Microsoft-ServiceMap` is a new type of streams that has not released in REST specifications, the current newest stable version [2021-08-01](https://github.com/Azure/azure-rest-api-specs/blob/7d5d1db0c45d6fe0934c97b6a6f9bb34112d42d1/specification/monitor/resource-manager/Microsoft.Insights/stable/2021-04-01/dataCollectionRules_API.json

[2022-09-22 03:28] Prashanth684 commented on #18287
@myc2h6o based on your comment above i tried using the retry mechanism in the provider: https://github.com/openshift/installer/pull/6304/commits/56e2a1c0db552d909e12c689953ef881d39042f3 but i still had to add a timed wait because it looks like the function asynchronously returns immediately and the image version is not created yet. Although the results at first glance seem positive (i don't see 40

[2022-09-22 07:52] xiaxyi commented on #18297
Thanks @LennDG for raising this issue, I'll work on the fix to properly generate the WEBSITE_CONTENTAZUREFILECONNECTIONSTRING  and the content share

[2022-09-22 07:53] mpjtaylor commented on #16583
same issue here with snapshot source_resource_id

[2022-09-22 08:00] SaravananGuru commented on #16583
I hope Azurerm terraform version upgrade will resolve the same. try to use v2.99.0 and above

[2022-09-22 08:02] mpjtaylor commented on #16583
currently using azurerm v3.22.0 and terraform 1.2.4 still an issue.

[2022-09-22 08:03] fristedt commented on #18480
Hey @Amier3, thanks for the workaround! It works great.

I think it's strange that the documentation states that only those 4 rules are supported as when I import an existing Front Door WAF the terraform diff shows that the current rule action is set to "AnomalyScoring" for all rules. Perhaps the documentation is incorrect?

[code]

Anyway, the workaround is great so I don't think this is urgent t

[2022-09-22 08:07] dkuzmenok commented on #16508
@magodo @pavan088 Had same issue, while testing ACLs.
It started to work when I assigned Storage Blob Data Owner and Storage Account Contributor (not sure if one of them is enough, I tried only after setting both roles), as described here: https://learn.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-access-control-model
That is also mentioned in the Note on top of resource documentation

[2022-09-22 08:41] WodansSon commented on #18470
@evandeworp, thanks for the comment, this is a known issue and will be fixed moving forward. As these resources are still currently under development these examples are not guaranteed to work but are only offered as a possible configuration once the resources have been fully released. This is my last task once everything has been finalized with the resources. I will add examples and fix all of the

[2022-09-22 09:11] markbangert opened #18493 "azurerm_cosmosdb_account: Removing "MongoDBv3.4" capability forces recreate with mongo_server_version="4.0""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-22 09:31] ArjunMR89 commented on #3910
@pvrk Thank you for the reply. Yes, I have Azure VM registered as SQL VM. Could you please suggest any workaround till the SQL backup is released?

[2022-09-22 09:52] szymonbr commented on #15518
[Custom action](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/logic_app_action_custom) should be implemented similarly to [http action](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/logic_app_action_http) which uses `run_after` block argument in the resource definition so terraform could be aware dependencies of actions. I think t

[2022-09-22 09:57] mpjtaylor commented on #3910
i am using azapi_resource for now

[2022-09-22 10:28] jaritimonen commented on #18039
Having this issue also with 3.23.0

[2022-09-22 13:21] lmarkusl commented on #13061
Hi all, sorry being late answer. i'm in vacation.
Yes i wonder also why @Noel-Jones change was approved and already merged without tests.

But in the meantime i got feedback and i run the tests before i requested my PR.
It could be that some merge came to a problem now.

I will try it over the weekend. Till yet we ware working on our side with a self compiled version.

@LukeHarjulin if i can remem

[2022-09-22 13:27] LukeHarjulin commented on #13061
Hi @lmarkusl ,
I'm not sure how it slipped by either. Anyway, I think both the Group Id and the Member Name properties should be settable and (if your PR passes tests for the property to be optional) having them optional would be great too.
Thanks for the response.

[2022-09-22 13:47] adthorn commented on #6622
After 2 and a half years, we should have a basic update to that provider.

[2022-09-22 13:55] cvallesi-kainos opened #18495 "azurerm_linux_web_app/azurerm_windows_web_app possible_outbound_ip_address_list cannot be dynamically used even if using depends_on"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-22 14:53] myc2h6o commented on #18287
Hi @Prashanth684 I've created #18287 to retry the Create when 404 happens. It will retry until the resource operation timeout.
As for the `depends_on`, if resource A references a property in resource B, the dependency will be generated automatically and doesn't require an explicit `depends_on`, like below case:
[code]

And for a temporary workaround for adding `time_sleep.wait_30_seconds`, this re

[2022-09-22 14:57] boyfonz opened #18497 "azurerm_application_insights.connection_string keeps showing as changed when running plan"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-22 15:38] fardarter commented on #16569
This seemed to work for me over three runs. Attribute is `builtin_logging_enabled = false` on `azurerm_linux_function_app`.

[2022-09-22 15:44] RomainPhil commented on #14736
any possibility to have the sftp feature directly integrate to the provider azurerm or we must rely on the azapi_update_resource trick ?

[2022-09-22 15:56] baf opened #18498 "Support for "enterprise-grade edge" in azurerm_static_site"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-22 16:15] cironera commented on #16996
Yes please.

[2022-09-22 16:49] #18453 closed

[2022-09-22 17:19] stargriv commented on #17611
Hi @bgmonroe,

I faced the same issue today in "azurerm_linux_web_app" in my case solution was to replace "principal_id" with "id".

[code]

[2022-09-22 17:21] #16272 closed

[2022-09-22 17:21] #17678 closed

[2022-09-22 17:25] #18346 closed

[2022-09-22 17:55] JeffGiroux commented on #17872
I see it and will watch. Thx.

[2022-09-22 17:57] mukkadinesh64 commented on #8764
I had same issue but this will work
generate random uid and add it as name, it is optional but it will be created and not tracked in the state if we are not providing the value.

resource "random_uuid" "this" {
  for_each             = toset(var.principal_ids)
}

resource "azurerm_role_assignment" "role_assign" {
  for_each             = toset(var.principal_ids)
  name                 = (random_uu

[2022-09-22 18:12] Amier3 commented on #18489
Hey @jasonfare

Since this seems to be an intentional decision i'm going to classify this as an "enhancement" for now. I'll have to ask around to see if there's any HCL/Terraform reasons we don't allow spaces.

Would you be willing to PR this change if it's greenlit by the team? Generally with smaller changes a community PR is the fastest way to get it resolved.

[2022-09-22 18:31] Amier3 commented on #18487
Hey @waltonchiang

Thanks for bringing this to our attention. Looks like `location` was never defined in the resource schema:

https://github.com/hashicorp/terraform-provider-azurerm/blob/1a3195ad8d86f10bb3404da29eb861fcd2092700/internal/services/databricks/databricks_workspace_data_source.go#L24-L48

We'll get this fixed shortly!

[2022-09-22 19:43] doug-netapp opened #18499 "azurerm_subnet delegation is to include "Microsoft.Network/virtualNetworks/subnets/prepareNetworkPolicies/action" but never gets maintained in state"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-22 19:52] EppO opened #18500 "Support for AKS cluster with API Server VNet Integration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-22 22:28] ncbrown1 opened #18501 "Creating multiple azurerm_kusto_cluster_managed_private_endpoint at once causes [Conflict] errors on cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-22 23:02] ncbrown1 commented on #18501
For future readers, this is my current workaround:
1. Modify the `azurerm_kusto_cluster_managed_private_endpoint` to include a `depends_on` meta-argument to ensure that it will only be provisioned after all of your Kusto Clusters and private link resources are created.
2. Run `terraform apply` and wait until the first provisioning/locking error occurs
3. Run `terraform plan -out tfplan.out -target

[2022-09-23 01:02] REslim30 opened #18502 "azurerm_linux_function_app for node runtimes version 4 don't load in app settings and env variables."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-23 01:56] xiaxyi commented on #18297
@LennDG , I checked the code and it turns out a restrictions from the api side.
_"When using Key Vault references for this setting, this validation check will fail by default, as the secret itself cannot be resolved while processing the incoming request. To avoid this issue, you can skip the validation by setting WEBSITE_SKIP_CONTENTSHARE_VALIDATION to "1". This will bypass all checks, and the con

[2022-09-23 03:11] sinbai commented on #18493
@markbangert thanks for opening this issue. As far as I know, once the `MongoDBv3.4`  is set up, it could not be removed by Azure API. Please correct me if I were wrong. Per the [tf doc](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/cosmosdb_account#capabilities), changing `capabilities` forces a new resource to be created, so this is by design.

[2022-09-23 03:17] xiaxyi commented on #17452
Thanks @eltimmo for raising this issue. the storage account related properties are exposed to below properties in root schema.TF provider will handle the app setting by checking these values. can you try specifying them and see if issue can be resolved?
[code]

[2022-09-23 03:31] Prashanth684 commented on #18287
thanks ! i was able to test out the PR that you put up (as part of my PR) and i did not see the 404 errors in the azure jobs although there was an image creation timeout which i am not sure is related.

[2022-09-23 04:54] myc2h6o commented on #15914
@yanehi sorry for the late reply. The error `StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="BadParameter" Message="The specified PKCS#12 X.509 certificate content can not be read. Please check if certificate is in valid PKCS#12 format."` is returned from the service side so probably the generated request body is different in these two environments. Si

[2022-09-23 04:56] soohonlee opened #18503 "Error in documentation for data.azurerm_automation_account for attribute identity block"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-23 05:52] rikunarhi-cloud2 opened #18505 "azurerm_firewall threat_intel_mode is missing "" option"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-23 06:01] SaravananGuru commented on #15909
I'm also facing same issue.  any one have update on the same.  version for reference.

    azurerm = {
      source  = "hashicorp/azurerm"
      version = "=2.64.0"
    }
    databricks = {
      source  = "databrickslabs/databricks"
      version = "0.5.1"
    }

[2022-09-23 06:37] tunglvNEV opened #18506 "Cannot destroy, planing after create container, share in private storage account"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-23 06:37] mevenks commented on #15909
Hi,

My working version :

terraform {
  required_providers {
    azurerm = {
      source = "hashicorp/azurerm"
      version = "~>3.2.0"
    }

    databricks = {
      source = "databrickslabs/databricks"
      version = "0.5.7"
    }
  }

  backend "local" {
    path = "./terraform.tfstate"
  }

}

my naming convention :

variable "RESOURCE_GROUP_NAME" {
  type = string
  default = "XXX.POC.XX

[2022-09-23 06:50] ekrof commented on #18395
Thanks @MrSimonC, your workaround helped us as well. I might be wrong, but it seems like the deprecated defender AKS SKUs are causing trouble if they are enabled. I went ahead and turned all three of them off, and then ran your `az feature registration create --name AKS-AzureDefender --namespace Microsoft.ContainerService` line. Terraform stopped giving us that error afterwards.

![image](https://

[2022-09-23 07:11] harcamSpark opened #18507 "Move identity block from azurerm_windows|linux_virtual_machine into its own resource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-23 07:34] myc2h6o commented on #18483
Hi @rsmir06 thanks for opening the issue! Unfortunately, this is currently by design due to API limit. When updating the admin ssh key with Virtual Machine API, the error `"Changing property 'linuxConfiguration.ssh.publicKeys' is not allowed."` will be thrown.
https://github.com/hashicorp/terraform-provider-azurerm/blob/main/internal/services/compute/ssh_keys.go#L16-L18. And when using update SSH

[2022-09-23 08:16] 1nc0gn1t0guy commented on #13811
Hi,

I am having exactly the same "challenge" right now.

I created an AVD with hostpool, workspace and so on but, since we don't know yet the amount of instances that are going to be deployed, we were planning to create a pipeline with terraform vm code deployment and reference to an existing AVD/Hostpool, so as soon as a user requests a machine, that machine can be created and assigned automatic

[2022-09-23 08:25] karlschriek opened #18509 "azurerm_servicebus_queue fails with "Absolute URI must be provided" on second apply when `forward_dead_lettered_messages_to` is set"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-23 08:42] ms-zhenhua commented on #18497
Hi @boyfonz, thank you for reaching out.
According to this [document](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/windows_function_app#application_insights_connection_string), **APPLICATIONINSIGHTS_CONNECTION_STRING** is defined as a separate property of **application_insights_connection_string** in the provider. You could try to update your resource **azurerm_w

[2022-09-23 08:53] wuxu92 commented on #18505
Hi, @rikunarhi-cloud2 thanks for your feedback! The Empty string value has been removed in azurerm 3.0. it's a document mistake and I have submitted a PR to fix the doc. Thanks again!

[2022-09-23 09:52] boyfonz commented on #18497
Hi,

I changed my configuration as you suggested, and it DID stop terraform from repeatedly trying to change that new value.

However, I have a number of issues with the approach:

1) My application code expects there to be an app setting with this value
2) Replacing that value as you suggest led to an error in Azure that prevented the app function from starting:
System.Private.CoreLib: The networ

[2022-09-23 10:01] L-u-k-e-GIT commented on #18402
Just to confirm the issue even using the same subscription.
The first apply will add user the policy, the second apply will removed the user. and so on.

[2022-09-23 10:14] jstewart612 commented on #16297
Looks like this was added about a month later but nobody ever linked the PR to this issue: https://github.com/hashicorp/terraform-provider-azurerm/pull/17043

[2022-09-23 10:14] #16297 closed

[2022-09-23 10:55] xuzhang3 commented on #18466
@ryanfnhs  this property does not support updating,  you can only destroy and create a new one.
Ref: https://learn.microsoft.com/en-us/rest/api/apimanagement/current-ga/logger/update?tabs=HTTP#request-body

[2022-09-23 11:00] ceastus opened #18513 "failed import - status ObjectPlanned, which cannot be saved in state."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-23 13:06] hoses-h opened #18514 "azurerm_automation_schedule gives an error when changing frecuency from week to OneTime on Azure. It is required to delete the resource from the state and import it again."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-23 13:37] morufajibike opened #18515 "Inconsistent resource definition for azurerm_linux_web_app_slot"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-23 13:59] Kentucker commented on #17143
I have exactly the same problem and managed_api_id is set. I found out that it works for types of API connections like blob, because it has only string values in parameterValues, but doesn't work e.g. for ftp or sftp, because it has also fields like port ID (int) and some boolean fields).

I can't do the import but I can do the apply - but the trick is that terraform changes my int and boolean val

[2022-09-23 14:15] RamakantDataGuy commented on #17930
Same issue with 'azurerm_logic_app_standard'
Using version = "3.24.0"

[2022-09-23 15:33] scott-doyland-burrows commented on #18325
Thanks for the reply.

What you say re the ```azurerm_logic_app_standard``` not always having to be replaced if the ```logic_app_service_plan.id``` changes makes sense.

In which case, should there be some way for the terraform plan to recognise there will be an apply failure - but maybe that is a bigger question overall - as there are many occasions when a plan will be successful, only for the ap

[2022-09-23 15:36] boyfonz commented on #18497
I've looked at this some more today and discovered that the System.Private.CoreLib: The network path as not found. : 'C:\home\site\wwwroot\host.json'. error was caused by sometbing unrelated. Deleting and recreating my function app solved it, and my code did indeed recognise the connection string using this method. I think this has solved my issue for now.

Thanks very much!

[2022-09-23 15:36] #18497 closed

[2022-09-23 17:41] nkuln opened #18518 "Support for Databricks Access Connector"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-23 17:48] djsly commented on #17291
@xiaxyi can we move with your initial implementation for now, for the next release ?
I'm also looking for a fix for this: https://github.com/hashicorp/terraform-provider-azurerm/issues/17897

I could help if the PR are simple

[2022-09-23 18:55] #18271 closed

[2022-09-23 18:55] markbangert commented on #18493
Thank you for your kind reply. Can you further clarify what the MongoDbv3.4 capability actually means for the resource? I understand that the property

mongo_server_version = "4.0"

controls the API version. What does this capability do? Does this mean I can use both API versions, 4.0 and 3.4?

[2022-09-23 20:53] srvrguy commented on #13778
It may be possible to add ip restrictions in a separate resource for certain situations by using the azurerm_resource_group_template_deployment resource. While not ideal it would prevent things like cycle errors when wanting to add a restriction based on a Front Door ID.

The best option, however, is what was suggested and de-coupling the ip restrictions block from the parent resource.

[2022-09-23 21:35] mgw6 commented on #18293
Hi @xiaxyi,

The first thing I did was try the API. Thank you for sending that link. It was super helpful and I was able to use the "try it" button. I did that and got this:

HTTP
`
cache-control: no-cache
content-length: 66
content-type: application/json
date: Fri, 23 Sep 2022 21:17:53 GMT
expires: -1
pragma: no-cache
server: Microsoft-IIS/10.0
strict-transport-security: max-age=31536000; include

[2022-09-23 21:45] nfrappart commented on #14033
Is there any rumour of an update regarding this behaviour?
It would be very welcomed by a lot of Azure practitioners.

[2022-09-24 02:30] #18505 closed

[2022-09-24 02:33] #18475 closed

[2022-09-24 02:43] #18503 closed

[2022-09-24 03:02] #18084 closed

[2022-09-24 16:36] clowa commented on #16290
Hi there,
am I missing something or is the `docker-compose` deployment not supported by the new AzureRM provider? I read throw the [terraform registry](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/linux_web_app) of the `azurerm_linux_web_app` resource but didn't find any configuration option to use `docker-compose` - did I miss something or do we have to use the

[2022-09-25 03:33] xiaxyi commented on #18502
@REslim30 can you use `node_version` in `site_config` to set the node version instead of using app_setting block? Terraform will set the FUNCTIONS_WORKER_RUNTIME for you.

[2022-09-25 09:36] favoretti commented on #18518
@tombuildsstuff can we generate the SDK please? I can work on implementing this in provider.

[2022-09-25 13:24] aristosvo commented on #18382
Hi @RHooijer !

Thanks for filing this issue, could you elaborate a bit on the setup? Does your service principal/user have `User Access Administrator` rights on both VNet resource group and its own resource group (can be the same..)?

If that is already the case I don't have a clue yet, could you in that case expand the setup with your VNet configuration to ease reproduction? Thanks in advance!

[2022-09-25 13:43] aristosvo commented on #18349
Hi @HanamantSMalakagond !

Based on the docs I would recommend to add the key to the secondary first, than on the primary. It may require a dependency of the primary TDE on the secondary TDE.

[Docs](https://learn.microsoft.com/en-us/azure/azure-sql/database/transparent-data-encryption-byok-overview?view=azuresql#geo-dr-and-customer-managed-tde):

Does this explain your findings and help you solve

[2022-09-25 14:30] aristosvo commented on #18509
This is similar to https://github.com/Azure/bicep/issues/8458, and probably fastest resolved by doing the same thing advised there:

[2022-09-25 16:27] aristosvo commented on #18062
@tombuildsstuff Could you add [cost-management/scheduled-actions](https://learn.microsoft.com/en-us/rest/api/cost-management/scheduled-actions/create-or-update?tabs=HTTP) / [REST API spec](https://github.com/Azure/azure-rest-api-specs/blob/6690ec1649168a1b5b2aadf4aa656de99eefdb23/specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2022-04-01-preview/scheduledActions.jso

[2022-09-25 16:32] aristosvo commented on #14171
@MarcinGrinberg I'll take a look!

[2022-09-25 19:02] aristosvo commented on #14471
@tombuildsstuff Could we generate an SDK for one of the [key vault specs which support this](https://github.com/Azure/azure-rest-api-specs/search?q=rotationPolicy)?

I can pick this up if the SDK is available.

[2022-09-26 00:49] xiaxyi commented on #18515
Thanks @morufajibike for raising this issue.

You can track the fix in the mentioned pr.

[2022-09-26 01:40] magodo commented on #18506
@tunglvNEV This bug is being tracked in #2977 which I'm going to close this in favour of - would you mind subscribing to that issue for updates?

Thanks!

[2022-09-26 01:40] #18506 closed

[2022-09-26 02:51] xiaxyi commented on #17173
@arroyc are you using windows  function app or linux?

[2022-09-26 04:40] myc2h6o commented on #18287
Hi @Prashanth684 Since I closed the pr, let's put the further discussion at this issue.
For enabling the debug log https://www.terraform.io/internals/debugging, the [previous log](https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/pr-logs/pull/openshift_installer/6304/pull-ci-openshift-installer-master-e2e-azure-ovn-shared-vpc/1573081651326488576/artifacts/e2e-azure-ovn-shared-

[2022-09-26 05:58] ms-zhenhua commented on #18458
Hi @rikribbers, thank you for reaching out.
I tried your configuration under a newly created subscription and I did not get any error. From the error you met, it seems like the `Microsoft.Storage` had already been registered before you apply your configuration. Have you checked the registration status from [Azure Portal](https://portal.azure.com/) before running your configuration ?
![image](https

[2022-09-26 06:41] xiaxyi commented on #16290
Thanks @alexgagnon, I'll check to see how to add the compose option.

[2022-09-26 07:11] gzur commented on #17663
Did this result in anything actionable (another issue/PR or something)?

I am currently battling this, and using the azure cli/portal is not really an option.

[2022-09-26 07:59] xiaxyi commented on #18302
Thanks @Zaduvalo for raising this issue, can you let me know how did you created the linux function app? if the app was created by using Terraform, can you share the config with me?

[2022-09-26 08:04] ms-zhenhua commented on #18458
Hi @rikribbers, it's really strange. Just to double confirm with you, is the **<subscription-id>** in your error message the same with the subscription you just checked ?

[2022-09-26 08:16] azrael-lu opened #18528 "azurerm_hdinsight_hadoop_cluster fails with "capability ENABLE_GENEVA_LOG_ANALYTICS_MONITORING is not supported""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-26 08:31] ms-zhenhua commented on #18263
Hi @devbeard, thank you for reaching out.
From content of the error, it seems that the ssl_certificate of `tls-redacted-domain-com` was changed during the apply. But since the definition of `var.applications` does not exist in the configuration snippet, I cannot be sure what caused the changes during the apply.
Could you kindly help provide a runnable configuration for this issue (you could remove

[2022-09-26 09:34] aristosvo commented on #18500
I'll give it a try!

[2022-09-26 09:40] Zaduvalo commented on #18302
Hi @xiaxyi
Originally function app was created by terraform using provider version 2.58:

[code]

Later "azurerm_function_app" was converted to "azurerm_linux_function_app" using 3.23.0 provider:
[code]

[2022-09-26 10:05] aristosvo commented on #14471
Seems blocked on Azure SDK Track 1 (which is not generated/updated anymore) and no support for data plane specs yet in https://github.com/hashicorp/go-azure-sdk/issues/118

[2022-09-26 10:14] rikribbers commented on #18458
argh, my bad.. The configuration I presented uses the current client config subscription... But I want to register a different subscription and that is possible with a provider alias.... would look something like this, however in our use-case that doesn't work.....

[code]

[2022-09-26 10:24] abdourahaman commented on #14853
I'm getting similar issue in servicebus context.
I'm using terraform version 1.2.9 and tested it with azurerm versions 3.20, 3.22, 3.23 and 3.24.

Error: parsing "/subscriptions/xxx/resourcegroups/rg-xxx/providers/Microsoft.ServiceBus/namespaces/sb-xxx/queues/queue-xxx/authorizationrules/xxx": parsing segment "staticResourceGroups": expected the segment "resourcegroups" to be "resourceGroups"

wit

[2022-09-26 10:45] aristosvo commented on #18528
@jiaweitao001 Could you take a look at how to fix this? It seems APIs are called too easily, which brakes behaviour in the other regions

[2022-09-26 11:58] kumecky opened #18531 "azure functions are always getting updated in-place"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-26 12:33] mb-northwave commented on #15212
Hello

I found a workaround for this issue. What we see, is that the `data` resource does not contain the `alias` reference. The original `azurerm_subscription` resource does contain the `alias`. Compare the below outputs:
[code]

To work around the problem, I created the following resource:
[code]
Note that this works against the `azurerm_subscription` resource, not against the `data` field, as t

[2022-09-26 12:41] rajagopalanrg commented on #7320
I am also interested to implement it

[2022-09-26 12:42] onenessboy commented on #16956
Sure @ms-henglu will see other example you mentioned, but again eagerly waiting for azurerm version ...thanks again

[2022-09-26 13:03] damodaravadhani commented on #18509
Hello @aristosvo and @karlschriek , Thanks for reporting this issue to us. The ServiceBus team currently working on rolling out a fix for this issue and we plan to deploy a fix for this by end of Monday(26th September) PST. We apologize for the inconvenience this caused you.

[2022-09-26 14:03] #18483 closed

[2022-09-26 14:14] faust64 commented on #17818
running azurerm 3.24, still an issue.
any news?

[2022-09-26 14:23] tombuildsstuff commented on #17818
hi @faust64

Zones can only be specified for a Frontend IP Configuration when they're specified for the LoadBalancer itself, since these are defined for the Frontend IP Configuration but aren't for the Load Balancer itself, these aren't set by the Azure API and highlight as a diff here. Since Zones can only be changed by recreating the resource, the Terraform Plan is correctly highlighting that th

[2022-09-26 14:23] #17818 closed

[2022-09-26 14:26] davidlife52 commented on #18195
I learned that Microsoft changed some connector names. In their API definition, they are still using the old names. For people like me, who do not know old names for the data connectors, this link should help. https://techcommunity.microsoft.com/t5/microsoft-365-defender-blog/advanced-hunting-product-name-changes/ba-p/2009233
Microsoft Defender for Endpoint is already implemented as azurerm_sentin

[2022-09-26 14:54] xiaxyi commented on #18273
Thanks @CorrenSoft , you can track the status in the mentioned pr

[2022-09-26 15:31] asyednl commented on #18376
I'm still getting this message? do we have an eta on this?

[2022-09-26 16:19] craifiskerinc opened #18533 "Unexpected Deletion (azurerm_postgresql_flexible_server)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-26 16:31] aristosvo commented on #18533
Hi @craifiskerinc ! This sound like a serious issue.

First of all we'd like to validate if this is a Terraform provider issue or an Azure issue. To reproduce your setup, is this server created within the same tenant? And, if you enable trace logging, did you find delete statements deleting the first server?

[2022-09-26 16:41] dan93-93 commented on #17713
@regel can confirm using an SP with delegated Application.ReadWrite.All doesn't work. I have a global SP set against a management group for my subscriptions and pass them in as env vars. Looks like either there's additional permissions required or it's not possible with an SP currently

I think we need some clearer information on this resource from HashiCorp

[2022-09-26 17:33] adityas-kr opened #18534 "InternalServerError: Failed to create or update app axgamificationtranslator"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-26 17:41] craifiskerinc commented on #18533
Sounds good, I'll give it a shot, I do get the same thing with a single subscription.

[2022-09-26 18:29] rohrerb commented on #17362
@tombuildsstuff  any update on when usgov will be fixed?

[2022-09-26 19:28] mbrosius opened #18535 "Terraform is unable to populate usernameSource properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-26 20:26] tim-hunt commented on #17713
Also getting this error using SP, followed various guides on permissions etc and have these set as application
![image](https://user-images.githubusercontent.com/108523116/192372920-f372be8a-5883-4cd8-b433-963f6c3b4f8b.png)

And Cloud administrator on the roles and
![image](https://user-images.githubusercontent.com/108523116/192373179-1fa6c761-c5c7-4ddc-a075-dd78779cde61.png)

AS @dan93-93 says so

[2022-09-26 22:51] stbenjam commented on #18350
@jiaweitao001  Any chance you've been able to look at this more?

This looks very similar to the behavior in https://github.com/hashicorp/terraform-provider-azurerm/issues/18287#issuecomment-1253444676, where we create a resource and it says not found.

We have a run with TF_LOG=debug set here: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_installer/6304/pull-ci-openshift-in

[2022-09-27 01:06] sinbai commented on #18376
It seems the functionality has been released in [v3.23.0 of the Terraform Provider](https://github.com/hashicorp/terraform-provider-azurerm/blob/v3.23.0/CHANGELOG.md). Could you try this version?

[2022-09-27 02:22] ms-zhenhua commented on #18458
Hi @rikribbers, seems like you have 2 test subscriptions. Kindly help check the registration status of both of them before your testing.
And below is the runnable configuration which can work well under my own test subscription. Hope it can help you.

[code]

[2022-09-27 02:49] mahalel commented on #18489
@jasonfare any chance you can confirm what the limitations are when doing via Portal/Powershell please?

Will it allow hyphens (or spaces/tabs) in the name as the first/last characters?
Will it allow several spaces/tabs/hyphens between words, or just one?

I've tried looking up the spec in the MS documentation and I can't find it. Unfortunately I'm not in a position to test this right now (no Azur

[2022-09-27 03:27] REslim30 commented on #18502
Thanks for the response @xiaxyi. Will get around to testing that soon.

[2022-09-27 03:44] c-mckenzie opened #18537 "azurerm_automation_software_update_configuration not accepting multiple update classifications"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-27 04:30] xiaxyi commented on #18531
@kumecky Thanks for raising this issue. `azurerm_function_app` will be deprecated in 4.0 provider, can you try `azurerm_windows_function_app` and `azurerm_linux_function_app`?

[2022-09-27 04:43] REslim30 commented on #18502
Thanks, @xiaxyi that worked. Even for runtimes version 4.

[2022-09-27 04:44] xiaxyi commented on #18502
No worries @REslim30 , we added some tips in the mentioned pr. You can check it for more details.

As it's working fine, would you mind closing this issue? :)

[2022-09-27 04:51] REslim30 commented on #18502
Ok. No problem, closing now.

Though, I am worried that this is the default behaviour for javascript functions (since loading env vars is a pretty common use case). I feel as though other users will run into the same issue eventually and won't know that you need to set `site_config > application_stack > node_version`.

[2022-09-27 04:51] #18502 closed

[2022-09-27 04:53] xiaxyi commented on #18502
@REslim30 Yes, your concerns totally make sense, that's why we are adding tips in the docs to tell user about the right usage. Hope there will be fewer impacted users in the future.

[2022-09-27 04:54] wuxu92 commented on #18537
Hi @c-mckenzie thanks for your feedback, i think it's a by-design function that classification_included  only included only one classification as document described: https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/automation_software_update_configuration#classification_included

[2022-09-27 04:59] xiaxyi commented on #16290
Hi @alexgagnon and guys, I added the docker compose option in the pr. you can track the status there
https://github.com/hashicorp/terraform-provider-azurerm/pull/18053

[2022-09-27 05:22] ms-zhenhua commented on #18171
Hi @nikhilbattula9, thank you for reaching out.
**Microsoft.EventHub/namespaces/eventhubs** is not a supported platform metric namespace by Azure so that you cannot create a metric alert for it.
You can refer to this [document ](https://learn.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-supported)for more details.

[2022-09-27 05:42] c-mckenzie commented on #18537
Hi @wuxu92 if the update configurations support multiple classifications why would the terraform resource limit it to only one by-design?
I can manually add more classifications after creating the configuration with terraform and then when running another plan it will correctly retrieve the current value with all the selected classifications

`      ~ windows {
          ~ classification_included

[2022-09-27 05:46] wuxu92 commented on #18537
You are right I am missing a line in the service API definition. I'll try to submit a PR to fix this issue. Thanks for your feedback and your detailed information.

[2022-09-27 06:15] #17872 closed

[2022-09-27 06:18] xiaxyi commented on #18293
Thanks @mgw6 for the information.

The function app function cannot be deleted via API neither, at least we can confirm the issue is happening from the function side. my suggestions would be checking the function app configurations, there may be some misconfigurations that are blocking the function from being deleting, maybe we can get some useful information from the activity log.

As for the  py

[2022-09-27 06:19] kumecky commented on #18531
@xiaxyi at version 2.79.1 azurerm_windows_function_app is not yet availible. We are planning to upgrade the version but not at this moment.

[2022-09-27 06:24] xiaxyi commented on #18531
@kumecky  can you let me know the config file that you had used to create the function app? Also, can you confirm whether there are any changes towards `tag` property that was made outside of terraform?

[2022-09-27 06:36] kumecky commented on #18531
Here it is: https://pastebin.com/RcfafVtT

[2022-09-27 06:43] #16177 closed

[2022-09-27 06:45] aristosvo commented on #18509
@karlschriek In Germany West Central it already works for me.

As this seems resolved, I'll close this issue for now. Let me know if there is still anything to be resolved.

[2022-09-27 06:45] #18509 closed

[2022-09-27 06:45] liuwuliuyun commented on #18528
I have looked into this and this could because of  https://github.com/hashicorp/terraform-provider-azurerm/pull/17846/files#diff-333e1fa936025892209f64b2a618ac5f21f084e74d395c54a3df903ff43e8038R388-R393.

[2022-09-27 06:49] damodaravadhani commented on #18509
The fix has been rolled out to all regions. Thank you for your patience.

[2022-09-27 07:22] nimmyarjith commented on #18210
@Amier3 we can see from other threads that this has been fixed in azurerm version [v3.22.0]. But the resource https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/app_service itself is not supported in  version 3.0. Is there any chance we can get this issue fixed in azurerm ~> 2.20 version. It is difficult to switch to new TF resource( azurerm_linux_web_app and azurerm_w

[2022-09-27 07:30] cberge908 opened #18540 "Support for azurerm_key_vault_certificate_data to provide certificate/key as .pfx"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-27 07:32] abilous-ti opened #18541 "Support for Azure Database for MySQL - Flexible Server major version upgrade"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-27 08:03] xiaxyi commented on #17291
Thanks @djsly, @wSchweinsberg and guys, you can track the status in the mentioned pr.

[2022-09-27 08:08] slzmruepp opened #18543 "azurerm_key_vault_certificate ignores depends_on"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-27 08:10] #18054 closed

[2022-09-27 09:21] fristedt opened #18544 "Missing support for RequestBodyJsonArgNames in Front Door WAF exclusion"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-27 10:11] fblampe opened #18545 "user_assigned_identity_id in azurerm_batch_pool.container_configuration.container_registries is optional according to the docs, but terraform requires it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-27 10:16] PylsaPylsa commented on #8708
Is this really the kind of support we can expect when new features go to GA? Almost a year and still no progress?

[2022-09-27 11:40] davidlife52 commented on #18195
Also, I just tried to connect Microsoft Defender for Endpoint connector and got this error. It worked, the connector is now connected, but the error occurred.
![image](https://user-images.githubusercontent.com/47814022/192515691-8c5393c4-763f-48be-afb0-44179887d63e.png)

[2022-09-27 14:08] Prashanth684 commented on #18287
Sorry, that was my bad. We enabled debug logs, but unfortunately have not reproduced this issue yet with debug logs enabled. I will let you know when we do.

[2022-09-27 14:12] djsly commented on #17291
thanks @xiaxyi !

[2022-09-27 14:55] Nepomuceno opened #18546 "azurerm_log_analytics_linked_storage_account does not suppress cammel case difference"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-27 15:52] Prashanth684 commented on #18287
reproduced the issue with debug logs here: https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/pr-logs/pull/openshift_installer/6304/pull-ci-openshift-installer-master-e2e-azure-ovn/1574756406718894080/artifacts/e2e-azure-ovn/ipi-install-install/artifacts/.openshift_install.log

[2022-09-27 16:05] nmaupu commented on #8131
I have this issue on APIM resources where `log_analytics_destination_type` keeps reading `AzureDiagnostics` from API.
This ends in the state and the result is the following error no matter what:
`Error: `log_analytics_workspace_id` must be set for `log_analytics_destination_type` to be used`

Editing the state to remove this field, setting it to null or not at all does not change anything. Resourc

[2022-09-27 16:09] pacorreia commented on #17997
Actually there's an API for this, the same used by Azure Portal, in preview, but exists:

E.g.:
[code]

or for 30 days:

[code]

The response is resource defintion in JSON:

[code]

Hope this helps :)

[2022-09-27 16:12] katbyte commented on #17067
Closed by #17104.

[2022-09-27 16:55] adityas-kr opened #18548 "InternalServerError: Failed to create or update app satspakafkaproducer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-27 17:18] Upanshu11 commented on #18311
Experiencing the same issue with `azurerm_virtual_machine_extension`. Any resolution?

[2022-09-27 17:22] mclacore opened #18549 "Azure FHIR Service cannot disable public network access"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-27 18:10] pkgw commented on #15841
I've just experienced what I think is a related issue. After upgrading from v2 to v3 of the azurerm provider, I got change plans that look as if they wanted to recreate my `request_routing_rule` items, even after a `terraform apply -refresh-only`:

[code]

My configuration file did not specify the `priority` setting. By explicitly adding a new `priority` setting to my request routing rules, the ru

[2022-09-27 20:24] doug-netapp commented on #18499
This action was extra, it is not needed and was causing the add resource loop to terraform state:
`        "Microsoft.Network/virtualNetworks/subnets/prepareNetworkPolicies/action"`

[2022-09-27 20:24] #18499 closed

[2022-09-27 22:13] holms opened #18550 "Can't set postgresql_flexible_server pgbouncer.client_tls_sslmode parameter: StatusCode=500 -- Original Error: context deadline exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-27 22:32] Tomasz-Kluczkowski opened #18551 "azurerm_cdn_frontdoor_security_policy -> cdn_frontdoor_domain_id does not accept front door custom domain id"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-27 22:47] mclacore commented on #18450
@favoretti tried this, got the same error message

[2022-09-27 22:51] holms commented on #13479
anyone even noticed that `pgbouncer.client_tls_sslmode` param is gone? By default it was enforcing ssl which golang driver is not supporting..? Or maybe it's jus opensource software that I'm using it not supporting it.

[2022-09-27 23:13] mclacore opened #18552 "Azure FHIR Container Registry settings, cannot specify image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-27 23:21] #18198 closed

[2022-09-27 23:51] gorarohit commented on #9542
facing the same issue , Please update on this

[2022-09-28 01:08] xiaxyi commented on #18121
@paulturner-pg Have you tried to put the property outside of the site_config?

[2022-09-28 01:36] holms commented on #15148
I've also got this problem:

[code]

Forces to recreate after import..

[2022-09-28 03:28] adamcybersec opened #18553 "azurerm_windows_web_app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-28 04:09] iqmetrix-cloudops commented on #18039
Having this issue also with 3.24.0!

[2022-09-28 04:12] iqmetrix-cloudops opened #18554 "Terraform plan with azurerm_dns_a_record fails when parsing existing dns record with azurerm 3.24.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-28 04:13] iqmetrix-cloudops commented on #18554
@davidbiq

[2022-09-28 04:34] xiaxyi commented on #18485
Thanks @sreekanth3107 for raising this issue, can you try `public_network_access_enabled` instead of `public_network_access `?

I will modify the doc.

[2022-09-28 04:48] liuwuliuyun commented on #18545
Hi @fblampe I have tested similar config locally with latest version of provider, but when I do plan, no error is promoted. Here is my config.

provider "azurerm" {
  features {}
}

resource "azurerm_resource_group" "test" {
  name     = "testaccbatchyun"
  location = "yun"
}

resource "azurerm_container_registry" "test" {
  name                = "testregistryyun"
  resource_group_name = azurerm_r

[2022-09-28 04:50] liuwuliuyun commented on #18545
I have checked code and as far as I can see `user_assigned_identity_id` is an optional property. It is only need to specified if no username and password is provided. So pretty weird error you have here.

[2022-09-28 04:53] liuwuliuyun commented on #18545
Could you try to remove [] `container_registries`? It is not needed here.

[2022-09-28 05:10] WodansSon commented on #18551
Hi @Tomasz-Kluczkowski, this is due to the casing of your custom domain ID:

**Expected Custom Domain Casing:**
/subscriptions/<our-subscription-id>/resourceGroups/<our-resource-group-name>/providers/Microsoft.Cdn/profiles/<azure-front-door-profile-name>/customDomains/<custom-domain-name>

**Your Custom Domain Casing:**
/subscriptions/<our-subscription-id>/resourcegroups/<our-resource-group-name>/

[2022-09-28 05:24] #16234 closed

[2022-09-28 05:24] aristosvo commented on #18550
Hi @holms ! I would try two things:
- Ask Azure support, as this is a change in behavior of their resources
- Check how the resource behaves if you interact with it via `az` or Portal. Please don't do this on PRD:)

This doesn't seem Terraform related, although you are experiencing the results of the behavior of Azure via Terraform. As such I'll close this issue for now, if you've any reason to be

[2022-09-28 05:25] #18550 closed

[2022-09-28 05:31] #18514 closed

[2022-09-28 05:32] #18466 closed

[2022-09-28 05:34] #18487 closed

[2022-09-28 06:09] #13965 closed

[2022-09-28 06:26] xiaxyi commented on #18465
Hi @sahitya12, are you able to bind the cert, do you have any follow-up questions?

[2022-09-28 06:28] Tomasz-Kluczkowski commented on #18551
Omg 😆 I swear to god, I stared at this thing for hours but never thought to diff ;)

Lesson learned - next time trust machine when comparing super long strings ;).

Thank you for actually checking this issue so fast!

Tom

On 28 Sep 2022, at 06:10, Wodans Son ***@***.***> wrote:

﻿

Hi @Tomasz-Kluczkowski<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FTomasz-Kluczko

[2022-09-28 06:30] Nepomuceno commented on #18546
Fixed by #18116

[2022-09-28 06:53] WodansSon commented on #18551
@Tomasz-Kluczkowski... no problem... been there, done that myself... Glad I could help. 🙂

[2022-09-28 07:17] xiaxyi commented on #18464
@premchavhan99 , Thanks for the information. The value of virtualApplication is the default value and terraform won't set it back to state.

[code]
You don't need to set the block in the config file, it will be set by default. The `preloadEnabled` property is referring to the `always_on` property. The value is `true` if `always_on` is set to `true` (which is the default value)

[2022-09-28 07:18] xiaxyi commented on #18464
@Amier3 Thanks for labeling this issue, this is not a bug but a by design behavior.

[2022-09-28 07:45] xiaxyi commented on #18531
The change is to add the tags to the function app, I think we better check the full TF config file.

To get the current function app config with Tag information, can you try terraform import command then plan again?

[2022-09-28 08:13] ms-zhenhua commented on #18543
Hi @slzmruepp, thank you for reaching out.
For your first issue, according to this [document](https://learn.hashicorp.com/tutorials/terraform/refresh),  **Terraform plan and apply operations run an implicit in-memory refresh as part of their functionality**. Since **access policy** was deleted outside Terraform, **azurerm_key_vault_certificate** failed to refresh its state. This whole logic is con

[2022-09-28 08:46] soelgaard opened #18560 "azurerm_api_management - sku_name "Consumption_0" not working."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-28 09:17] liuwuliuyun commented on #18220
We could close this issue since it has been fixed by my PR above.

[2022-09-28 09:29] liuwuliuyun commented on #18355
I am not sure how to use terraform in different stages, maybe other community members could give solid suggestions here. But I think you could update the cluster before assign the user_identity using azurerm_kusto_database_principal_assignment, that should work like above in theory. To make sure the assignment happens after the MI associated with cluster, you could try the [depend on](https://www.

[2022-09-28 10:01] raswinraaj commented on #14736
Are there any plans to implement this feature in azurerm ? I dont see any activity from their team on this issue?

[2022-09-28 10:09] AliakseiKrylou commented on #15256
Looking forward to this feature too

[2022-09-28 10:26] mukeshinit commented on #15256
Any update on this Feature ?

[2022-09-28 10:43] soelgaard commented on #18560
Never mind. it was a config mistake

[2022-09-28 10:43] #18560 closed

[2022-09-28 10:50] rvplauborg commented on #11059
I just experienced this issue, where the workaround of adding an aliased provider with same subscription as my default provider, and adding that provider to key vault and key vault secrets resources fixed the issue.

[2022-09-28 11:07] CRhodes1510 commented on #16417
@xiaxyi I'm creating a new a Function as per your comment on the 24th Aug 2022 but still get the same warning and my netFrameworkVersion is "v4.0"
Goolging around the area, I don't think there is anything wrong with my code
https://github.com/CRhodes1510/Terraform/blob/main/WindowsFunctionApp.tf

Is there anything that screams incorrect? Any help would be greatly appreicated
Thanks :)

[2022-09-28 11:38] RavinderReddyF5 commented on #18311
Experiencing same issue with `.azurerm_virtual_machine_extension`.

[2022-09-28 12:16] dkirrane commented on #13616
Still seeing this with latest:
[code]

[2022-09-28 12:21] tiwarishrijan opened #18561 "azurerm_firewall is failing with 400 (Bad Request), when firewall Policy ID is attached"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-28 13:38] engineertdog commented on #16092
`Tcp` has never been the correct capitalization of the acronym. `tcp` or `TCP`. As mentioned before, Azure doesn't even use what their documentation says. Microsoft documentation, like every documented project ever, is never accurate.

[2022-09-28 14:15] vinayreddyav opened #18563 "The specified EventDeliverySchema value \"CustomInputSchema\" cannot be used in combination with the topic's input schema of EventGridSchema."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-28 14:46] pkirch commented on #17155
Thanks for asking back @tamirkamara! I was only able to conclude this from the error message. (`Message="A hash conflict was encountered for the role Assignment ID. Please use a new Guid."`)

[2022-09-28 15:27] #18485 closed

[2022-09-28 16:26] Amier3 commented on #18543
@slzmruepp

Also wanted to acknowledge that we saw your report on the terraform repo. We'll look a bit more into the first issue to make sure it's a terraform issue and not the provider, and re-open your bug report in the terraform repo if the fix needs to be on that level.

[2022-09-28 17:04] kadama01 commented on #11028
Is this bug Fixed ?

Also, i would like to know how was the QUERY for availabilityResults generated ?

Terraform Or Microsoft document doesn't seem to have reference for creating Query for availability tests for "azurerm_monitor_scheduled_query_rules_alert" block

[2022-09-28 17:40] Prashanth684 commented on #18287
@myc2h6o do the logs help?

[2022-09-28 18:27] aristosvo commented on #18549
Hi @mclacore! Thanks for raising this issue.

I'm investigating and working on/exploring the solution.

Private endpoints should be configured for the `healthcareworkspace`, after that I'll check what the options are to disable public access.

My TF setup:
[code]

[2022-09-28 18:54] aristosvo commented on #18549
@mclacore It seems the property is at this moment in time read-only.

I've enhanced the documentation and added it as attribute in #18566

[2022-09-28 19:33] capdragon commented on #8439
100%, We need to be able to add something like:
[code]

[2022-09-28 19:52] aristosvo commented on #18552
Hi @mclacore! The feature you are mentioning is something next to the `container_registry_login_server_url`. Within the portal it is shown as:
![Screenshot 2022-09-28 at 21 45 07](https://user-images.githubusercontent.com/8375124/192875205-efa18d8d-08ec-431c-8bed-0aa67844aa82.png)

To enable OCI artifacts functionality in `azurerm` it would require an extra input variable like i.e. `oci_artifact`:

[2022-09-28 21:30] highvibes95 commented on #14471
Can you please suggest how you are implementing az keyvault key rotation using null resource. I am not able to get it.

[2022-09-28 22:07] bigwheels490 commented on #16613
I agree with @joshschmitter.  PR [@16546](https://github.com/hashicorp/terraform-provider-azurerm/pull/16546) specifically states that the fix is being applied to `azurerm_linux_function_app`, `azurerm_linux_wep_app`, `azurerm_windows_function_app`, and `azurerm_windows_web_app` (both the resource and data types).  While you are correct that those types didn't exist in 2018 when the issue was crea

[2022-09-28 22:59] davidkarlsen opened #18567 "can't add node-role.kubernetes.io/<role> label"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-29 01:36] jzaegel commented on #11028
Hi [kadama01](https://github.com/kadama01),

The query was brain-generated

The bug is till on with tf 1.3.0 and version 3.23.0 (tested today).
It’s still unclear to me whether it’s an implementation or a documentation bug, but their mix is definitely confusing.

[2022-09-29 01:43] jaysson1710 commented on #2488
Hi guys,
I'm using dynamic block  and get the same result
" only one of `ip_address`, `service_tag`, or `virtual_network_subnet_id` can be specified"

[code]

have anybody used this approach?

[2022-09-29 04:36] vinusorout commented on #13061
Hi,

There are resources which need multiple membernames/groupids for the private link service. But you are allowing max one block for "ip_configuration". For example for COSMOS we get following error:

[code]

How we can implement when multiple static IPs are required by private endpoints?

[2022-09-29 05:48] wuxu92 commented on #18561
Hi, @tiwarishrijan thanks for your feedback! here I wonder if this error happens constantly that cannot succeed by retry? because it looks like a service API server error not a problem of azurerm.

[2022-09-29 06:01] mkemmerz commented on #10256
Any plans to do this in the future?

[2022-09-29 06:09] NatiSayada commented on #11419
having the same issue today.
this link Is out of the scope of terraform and cannot be deleted.
this link should be deleted when the aks cluster is deleted.

[2022-09-29 06:35] xiaxyi commented on #18225
Thanks @mg-8 for raising this issue, you can track the status of fix in the mentioned pr

[2022-09-29 07:19] MrTolerant commented on #7787
![image](https://user-images.githubusercontent.com/11419648/192965394-0654fe98-dbaa-4199-bd79-582e4ce6a3c6.png)

azure-cli                         2.40.0

core                              2.40.0
telemetry                          1.0.8

Dependencies:
msal                            1.18.0b1
azure-mgmt-resource             21.1.0b1

Python location '/opt/homebrew/Cellar/azure-cli/2.40.0/libexec/bi

[2022-09-29 07:19] aristosvo commented on #18552
Working on it, btw ;)

[2022-09-29 07:26] NatiSayada commented on #11419
I see that this issue is opend for a long time..
if anyone else having this issue, you can use the following:

[code]

[2022-09-29 07:42] slzmruepp commented on #18543
Thank you. Also what I want to mention is, usually when such things happens, it is sufficient to for example delete a certain resource and be assured that terraform is recreating it or reset it to the defined state. This is not working here, at least it is not creating the resource (access policy) according to the depends_on definition before reading the certificate data from the vault. This leads

[2022-09-29 08:23] myc2h6o commented on #18287
Hi @Prashanth684 the logs you shared shall help with the troubleshooting. I've shared them internally with the service team. Meanwhile, I would suggest you also open a support ticket at Azure for this subscription with sharing this log as well to get an official support.

[2022-09-29 08:32] Noel-Jones commented on #13061
Hi @vinusorout, yes, as I showed in my previous example the COSMOS resource shows multiple required members. This was news to me since in our production infrastructure we only created one private linked endpoint (it does explain why we have to make direct connections). The point of explaining this is to highlight that the error you show is I believe saying that the member name is incorrect and it

[2022-09-29 08:37] ms-zhenhua commented on #18554
Hi @iqmetrix-cloudops, thank you for reaching out.
The plan issue for azurerm_dns_a_record should have already been fixed by https://github.com/hashicorp/terraform-provider-azurerm/issues/18039. Could you kindly help double confirm your issue is caused by plan, not other operations(like **apply to delete**, etc...)?
If so, could you kindly provider a more detailed error messages which are output a

[2022-09-29 08:40] lkurzyniec commented on #14471
Sure, but still it would be better to push forward blocker ;)

[code]

[2022-09-29 08:45] carljonpope commented on #8940
Is there any way to configure the policy to move back to hot if accessed?
![image](https://user-images.githubusercontent.com/49517856/192984847-b6e930cd-ab66-4b57-899c-de0b3f11f3e1.png)

[2022-09-29 09:03] shovaltesting commented on #17702
Any update on this?

[2022-09-29 09:24] CJJ69 commented on #17811
Can we add more enums for "os_sku" i.e. Windows2022
and include it in the validation for "os_sku"

[2022-09-29 09:56] xiaxyi commented on #18294
@Vinayak014 for docker image, please only fill the image name such as testimage. The DOCKER part is calculated by TF and will be put as the value if linuxFxVersion.

[2022-09-29 10:00] tobias-edwards commented on #18368
Running the above Terratest with `go test -v -timeout 30m` in fact works. So the remaining issue is getting it working with `terraform apply`

[2022-09-29 10:47] sonaliborikar commented on #17918
![image](https://user-images.githubusercontent.com/43044851/193011544-c4bff082-1d27-4e95-b948-7c5b5c487b12.png)

![image](https://user-images.githubusercontent.com/43044851/193011850-6bd8516c-d1c0-48f0-b56e-170ede287fde.png)

Getting issue for Webapp & KeyVaults

[2022-09-29 11:27] pbaumgartner-rdt commented on #17119
+1

[2022-09-29 12:28] isantospardo commented on #17663
I am actually facing the same issue right now

[2022-09-29 12:46] epopa-ismg opened #18574 "Azure Container Instance does not support Network Profile from 2021"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-29 12:57] karlschriek commented on #5558
Is there any documentation somewhere on how to correctly set ARM_MSI_ENDPOINT as a workaround?  What should I set `ARM_MSI_ENDPOINT` to?

[2022-09-29 12:58] alexvolox2 commented on #6282
This feature is required, anyone who needs to migrate from on-prem SQL to managed SQL will need to pass from an import from bacpac........

[2022-09-29 13:27] abilous-ti opened #18575 "Support for Java 17 in Azure Functions Linux and Windows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-29 14:02] stbenjam commented on #18311
We are experiencing the same issue, but for a different resource (private dns zone)
https://github.com/hashicorp/terraform-provider-azurerm/issues/18350

We also dated the problem to begin around the exact same time (beginning of September).

[2022-09-29 14:04] aristosvo commented on #14471
@lkurzyniec I'll try to circumvent the blocker by using a self generated version of Track 1, let's see how far that brings us!

[2022-09-29 14:10] mwilfried opened #18577 "Azure Backup : Status=400 Code="BMSUserErrorInvalidInput" Message="Input provided for the call is invalid"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-29 14:10] neilmca-inc opened #18578 "azurerm_key_vault_access_policy resource doesn't use service principal correctly #6021"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-29 14:23] DanG-arch opened #18579 "azurerm_servicebus_namespace_network_rule_set public network access issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-29 14:47] stbenjam commented on #18350
@jiaweitao001 Any chance you've been able to look at this? This is not the only resource affected, https://github.com/hashicorp/terraform-provider-azurerm/issues/18311 reports an identical problem and ties it to the same start date.

We can also clearly show the behavior in our activity log.  The private DNS zone is created, 30 seconds later creating a link to a virtual network fails with DNS zone

[2022-09-29 15:30] rolandjohann commented on #18554
Can confirm that the issue is still present at
[code]
At my particular use case we change the name of a `azurerm_dns_zone` which results in delete and create.

[2022-09-29 15:50] rolandjohann commented on #18554
Just discovered that the changes are applied without errors. I assume that the state contains the wrong resource IDs. So a workaround can be to fix the casing issue there

[2022-09-29 15:53] jaredbrogan commented on #8346
Seeing this issue as well. Still happening on provider version `3.24.0`.

[2022-09-29 16:01] stbenjam commented on #18287
@myc2h6o Note that are 2 additional issues for similar problems.

- https://github.com/hashicorp/terraform-provider-azurerm/issues/18350
- https://github.com/hashicorp/terraform-provider-azurerm/issues/18311

We also know for sure the problem [started during the day on 9/1](https://github.com/hashicorp/terraform-provider-azurerm/issues/18311#issuecomment-1262331648).

Have you heard back from the

[2022-09-29 16:14] #18537 closed

[2022-09-29 16:45] jthrasher-zag opened #18580 "Add support for VS2022 Remote Debugging on Windows Web App"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-29 16:52] #18552 closed

[2022-09-29 16:55] #18549 closed

[2022-09-29 17:01] mclacore commented on #18552
Ok. Will I need to wait on a new release to be able to use it?

[2022-09-29 17:18] leotechx commented on #15247
Hey, did you manage to fix this issue? I am currently facing the same issue

[2022-09-29 17:37] randell-vendia opened #18581 "Support for azurerm_managmeent_group_cost_management_export"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-29 18:03] juicybaba opened #18582 "azurerm_firewall_policy.insights.log_analytics_workspace_id doesnt work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-29 18:39] ankitkotnala opened #18583 "azurerm_storage_management_policy overwrites the rules"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-29 18:50] RHooijer commented on #18382
Hi @aristosvo, There has been a change at Microsoft & Databricks side. When deploying an Databricks workspace, the managed identity provider is register at the subscription level. However, there was an issue that even when this was already done, the Azure RM deployment still wanted to register the provider, since our Service Principal doesn't had subscription level permissions it failed. I though

[2022-09-29 18:50] #18382 closed

[2022-09-29 19:13] davidkarlsen commented on #18567
note that it possible to add the same label with kubectl w/o any problems

[2022-09-29 19:44] alok0310 commented on #16928
This is really frustrating as we only see this issue when using Azure, but, not AWS.
Does it have anything to do with the number of threads being used by Terraform apply?

[2022-09-29 20:07] ekristen commented on #16928
@alok0310 I don't believe so. From what I can tell this is due to the Azure API just being junky but at the same time in my opinion and also from what I can tell that the provider is not retrying errors dictated by the Azure API as "retryable" and instead exits hard as if an error occurred.

[2022-09-29 20:49] Vinayak014 commented on #18294
Thank you @xiaxyi. It is working now.

[2022-09-29 20:49] #18294 closed

[2022-09-29 21:12] samjpv opened #18584 "Azure container registry task resource for scheduled purge does not recognize regex repository name filter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-29 21:19] benc-uk commented on #17421
Same problem assigning the _Managed Identity Operator_ role to an AKS cluster
This is required for pod identity to work

[code]

Results in

[code]

[2022-09-29 22:06] #18063 closed

[2022-09-29 22:06] #18249 closed

[2022-09-29 22:06] #18370 closed

[2022-09-29 22:06] #18470 closed

[2022-09-29 22:06] #18551 closed

[2022-09-30 01:25] epomatti opened #18585 "Support for Max vCores configuration for SQL Database serverless"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-30 01:28] epomatti commented on #18585
Nevermind, forgot that this is set in the SKU:

[code]

[2022-09-30 01:28] #18585 closed

[2022-09-30 05:59] kabal2010 opened #18587 "Terraform ignoring use_msi when running in Azure Container App"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-30 06:06] myc2h6o commented on #14914
Hi @alfredo222 thanks for opening the issue! This is supported v3.25.0 by #18564

[2022-09-30 06:30] orjan commented on #18225
I've noticed the same thing in `3.25.0`.

In this case is there a benefit or even a difference between using `azurerm_app_service_virtual_network_swift_connection` or by setting `azurerm_windows_function_app.virtual_network_subnet_id`. If not we could go with the latter?

[2022-09-30 07:09] learnprofile commented on #18311
we are also facing this issue and spoke to Microsoft engineering ...waiting for their feedback,

[2022-09-30 07:58] soohonlee opened #18591 "azurerm_private_endpoint import fails due to 'privateendpoint' segment parsing error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-30 08:03] soohonlee commented on #18591
I looked at the code in the file **internal/services/network/parse/private_endpoint.go**

The below code in lines 60-62 looks like it is causing the issue.

[code]

Looking at the function ParseAzureResourceID in **vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/resourceids/ids.go#L45**

[code]

it looks like the issue is that the segment parser is case sensitive. Should the parser be

[2022-09-30 08:18] CJJ69 commented on #17811
https://learn.microsoft.com/en-us/azure/aks/learn/quick-windows-container-deploy-cli#add-a-windows-server-2022-node-pool

# add a Windows node pool
az aks nodepool add `
    --resource-group $groupName `
    --cluster-name $clusterName `
    **--os-type Windows `
    --os-sku Windows2022 `**
    --name $nodePoolName `
...

[2022-09-30 08:22] tombuildsstuff commented on #18591
hi @soohonlee

Thanks for opening this issue.

Whilst the Azure API Specification states that some components of the Resource ID's are Case Insensitive (specifically, the `values` for each `key`, e.g. `pe-example` for `privateEndpoints` in your example above), the ARM spec defines that each of the `key` segments must be `camelCased`. Unfortunately this behaviour is inconsistent across the differen

[2022-09-30 08:22] #18591 closed

[2022-09-30 08:24] mybayern1974 commented on #14914
Closing this issue per myc2h6o's suggestion.

[2022-09-30 08:24] #14914 closed

[2022-09-30 08:46] CJJ69 commented on #17811
Windows Server 2022 host support in AKS

https://azure.microsoft.com/en-us/updates/public-preview-windows-server-2022-host-support-in-aks/

[2022-09-30 10:54] daisy-timms-xlab opened #18594 "azurerm_automation_software_update_configuration does not accept a subscription id for scope in azure_query block"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-30 11:43] daisy-timms-xlab opened #18595 "azurerm_automation_software_update_configuration - fix linux update classification to use a comma separated string"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-30 12:28] giovannifl commented on #8794
Any update on this issue ?

[2022-09-30 12:33] larsmaes-sogeti opened #18596 "Support for tagging arbitrary resources"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-30 13:48] SaravananGuru commented on #17851
I'm also facing similar kind of error on queue.  │ Error: reading queue properties for AzureRM Storage Account "xxxxxxxx": queues.Client#GetServiceProperties: Failure sending request: StatusCode=0 -- Original Error: context deadline exceeded
│
│   with module.xxxxxDataLakeStorage.azurerm_storage_account.adlsAccounts["xxxxxxxxxxx"],
│   on .terraform/modules/xxxxxDataLakeStorage/main.tf line 48, in

[2022-09-30 14:54] rohrerb commented on #17362
@tombuildsstuff  once the PR is approved for hamilton, could we proceed with the fixes needed for synapse gov?

https://github.com/manicminer/hamilton/pull/186

[2022-09-30 15:45] erichrockman opened #18597 "azurerm_vpn_gateway_connection - multiple site links"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-30 17:57] evandeworp opened #18598 "azurerm_cdn_frontdoor_profile_custom_domain - associated routes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-30 18:27] jpmicrosoft commented on #18268
@pkirch It seems like a dependency issue.

Add a depends on to the resources the resource group.
depends_on = [
    azurerm_resource_group.participant
  ]
Reference
https://www.terraform.io/language/meta-arguments/depends_on

I hope this helps.

[2022-09-30 18:57] sahitya12 commented on #18465
yes able to do now thanks

[2022-09-30 19:00] sahitya12 opened #18599 "Join VM to Existing Domain via extension throws error that "Extension with publisher 'Microsoft.Compute', type 'JsonADDomainExtension', and type handler version '1.3' for CPU Architecture 'x64' was not found in the extension repository"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-09-30 19:10] WodansSon commented on #18598
@evandeworp thank you for opening this issue. I was not aware that you could associate a custom domain with more than one route so I originally implemented this incorrectly... my bad, sorry. 🙁 I will have a fix for this issue ready for the next release! 🚀

[2022-10-01 03:48] dr-dolittle commented on #12928
@jackofallops Any updates? `azurerm_linux_function_app` seems not to support v2, there is also information on the docs (https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/linux_function_app). Thanks

[2022-10-01 08:35] rubenaster commented on #18270
@Amier3 I see that you tagged it with API-Management. This is not related to the Azure API Management service but to Logic Apps: https://learn.microsoft.com/en-us/azure/connectors/apis-list

[2022-10-01 10:32] rubenaster commented on #17143
Yep, seems like an error. I've migrated my API Connections from ARM-deploy to API Connection resource and I get the same error on my SFTP connection.

I need to convert port and acceptAnySshHostKey to string in order for the error to disappear.

[2022-10-03 02:40] mgw6 commented on #18293
Hi @xiaxyi

Thank for you for the tip about the configurations. I am finding that after running apply, if I go into the function app configuration and change the Daily Usage Quota setting via the portal, then the function will delete via terraform command line. However if I try to set this feature through Terraform via `daily_memory_time_quota` then it still fails to delete with Terraform. I am in

[2022-10-03 05:03] SaravananGuru commented on #15909
@mevenks Thanks for your update!  I have resolve the issue.  (cause: used existing managed group name for newly created data bricks resource)

[2022-10-03 05:38] archmangler commented on #16436
Any update on this? It looks like 'ClickOps' is the only way to associate AFW policy with an AFW at present.

[2022-10-03 07:48] pacroy opened #18606 "MySQL Server Key creation failed with InternalServerError"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-03 07:50] aristosvo commented on #17866
Closed as feature is available!

[2022-10-03 07:50] #17866 closed

[2022-10-03 08:23] MichalSino opened #18607 "Support for enable ms-support auditing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-03 08:43] aristosvo commented on #13706
It seems Octet is not supported in Azure KeyVault at the moment. Although present in recent APIs, it doesn't work and doesn't show up in the docs anywhere.

I'll close this issue therefore for now and file a PR to remove it completely from `azurerm` docs and code.

[2022-10-03 08:43] #13706 closed

[2022-10-03 09:45] aristosvo commented on #18607
I'll take a quick look!

[2022-10-03 09:49] MichalSino commented on #18607
Thanks. I forgot to write that it is relates to Azure mssql server :)

[2022-10-03 10:03] aristosvo commented on #18607
@MichalSino If you know how to build the provider yourselves locally, feel free to check out the PR and get a feel if this is working for you!

[2022-10-03 11:50] MichalSino commented on #18607
Thanks for quick reply. Unfortunately I've never written provider, so I don't know how to do it.

I've read this pull request and I think it is not full solution, because in cli we can use those 2 commands (and they do 2 different things, but similar):

This is what you mentioned:
az sql server audit-policy update -g ${data.azurerm_resource_group.rg.name} -n ${azurerm_mssql_server.server.name} --s

[2022-10-03 13:24] Reaaavaaahhh commented on #15223
Had a similar issue,

_When expanding the plan for
azurerm_storage_account_customer_managed_key.storage_account_customer_managed_key
to include new values learned so far during apply, provider
"registry.terraform.io/hashicorp/azurerm" produced an invalid new value for
.key_version: was null, but now
cty.StringVal("xxxxxxxxxxxxxxxxxx")._

Reverting terraform from 1.3.1 to 1.2.8 fixed the issue for

[2022-10-03 14:05] tompatta opened #18610 "Service Tag validation on azurerm_network_security_group not correct for CorpNetSaw and CorpNetPublic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-03 14:21] scottunik commented on #17713
I have tried to debug this by add unik graph API permissions, but to no avail.   Am update to this issue ?

[2022-10-03 14:21] olivomarco opened #18611 "azurerm_eventgrid_system_topic_event_subscription fails with eventhub"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-03 15:50] roberthstrand commented on #17922
I wanted to update this in the provider, but I see that the problem starts at the SDK level, where the deprecated package is used. I will not have the time to migrate it to the new package, it seems to be a lot of work getting it to run properly based on the migration instructions from Microsoft.

If anyone finds the time, please let me know if you need help testing.

[2022-10-03 16:06] mfortin opened #18612 "Support for Azure Workload Identity Authentication"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-03 16:28] djsly commented on #17811
anyone tried ? is there a Major blocker missing or it's just that no one tried to open the missing PR ? I'm asking before I start opening the PR (sounds like this is a simple addition of a new valid SKU to the Verification list)

[2022-10-03 16:34] sebader opened #18613 "`azurerm_cdn_frontdoor_profile_custom_domain` must allowed to be associated with multiple routes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-03 16:38] #18274 closed

[2022-10-03 17:17] turkenh opened #18614 "azurerm_mssql_server_dns_alias plan fails if resource deleted manually"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-03 17:46] aristosvo commented on #18607
@MichalSino Thanks for your pointers! Enhanced the resource to a separate one, which indeed uses different APIs and works better.

I'll run some tests and add some docs, let's get it going!

[2022-10-03 18:02] aluchs-hpg opened #18615 "azurerm_cdn_frontdoor object id comparisons are case sensitive"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-03 18:06] aluchs-hpg commented on #18615
Tagging @WodansSon for visibility since they are actively working on this functionality. By the way, thank you so much for all the hard work on the resource types so far, it is really really appreciated.

[2022-10-03 18:11] aluchs-hpg commented on #18613
I believe this is a clone of https://github.com/hashicorp/terraform-provider-azurerm/issues/18598. PR #18600 has been raised to resolve the issue.

[2022-10-03 18:59] MichalSino commented on #18607
@aristosvo great. I will wait for good news. :)

Thanks a lot.

[2022-10-03 19:17] kirk-spragg opened #18616 "azurerm_eventhub_namespace with network_rulesets & public_network_access_enabled not working in v3.25.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-03 19:39] timja opened #18617 "Support for azurerm_managed_identity_federated_identity_credential"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-03 19:53] darabearr opened #18618 "panic: Error reading level state: strconv.ParseInt: parsing "-9223372036854776000": value out of range"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-03 20:20] xiaofengshi7633 commented on #12492
anybody know when the feature will be enabled? we can only select 'custom host' type for the backend. thanks for your answer

[2022-10-03 20:45] #18618 closed

[2022-10-03 20:45] darabearr commented on #18618
I resolved the issue - please ignore.

[2022-10-03 21:58] #18614 closed

[2022-10-04 00:58] andyjballgit commented on #10996
thx @banzai129 landed here after a couple of hours of messing around .  I needed to use the NIC version (as opposed to IP) of Backend Pool cos using with Private Link

Documentation needs to be updated to reflect please

[2022-10-04 03:11] WodansSon commented on #18613
@sebader, thank you for opening this issue. I was not aware that you could have multiple custom domains associated with a single route, my bad. The reason I decided to do it this way is because of the requirement to disassociate the custom domain with the route in order to delete the custom domain. Because of this requirement it broke the single apply rule for Terraform and I had to make the custo

[2022-10-04 03:37] #14574 closed

[2022-10-04 04:56] deepanshumarwah opened #18620 "Support for Automation rule incident `Updated` trigger in sentinel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-04 06:32] #18579 closed, assigned to nobody

[2022-10-04 08:13] peterprumbach-telekom commented on #14520
As mentioned above the pull-request adding this feature has been merged and it is available in version v3.22.0. You can use the `maintenance_configuration_name` to set your configuration. I think the issue can be closed.

[2022-10-04 08:23] peterprumbach-telekom opened #18621 "maintenance_configuration_name conflicts with elastic_pool_id"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-04 08:56] hilalsaygin opened #18622 "Azure blueprint deployment to Management Group with terraform template assignment feature ?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-04 11:06] w0rldart commented on #17943
Occurs with language set to `Javascript` too

[2022-10-04 11:17] epa095 commented on #13833
@infogulch : Looking at the specifications for [Microsoft.Web sites/config 'authsettings'](https://learn.microsoft.com/en-us/azure/templates/microsoft.web/sites/config-authsettings?pivots=deployment-language-arm-template) I dont see any forwardProxy anywhere. It is present in V2 though: [Microsoft.Web sites/config 'authsettingsV2'](https://learn.microsoft.com/en-us/azure/templates/microsoft.web/si

[2022-10-04 13:38] jenka13all opened #18623 "TF example for web_categories in application rules for azurerm_firewall_policy_rule_collection_group"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-04 14:33] LeePorte commented on #18039
Still seeing this issue with 3.25.0

[2022-10-04 14:59] Masahigo opened #18624 "Manage AAD diagnostics settings for Azure Monitor though Service Principal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-04 15:20] mfortin commented on #18612
Missed it from documentation

[2022-10-04 16:03] dan93-93 commented on #17713
@scottunik, you are, still no word on using an SP. But after doing some of my own investigation, it's because when you generate a B2C tenant, the creator becomes the global administrator so an SP can't ever work

The way to probably get around this is to maybe have a separate terraform for B2C and authenticate with the az cli. Not sure if Microsoft ever plan for improving the B2C tenant creation p

[2022-10-04 17:44] Hekter opened #18626 "azurerm_monitor_diagnostic_setting - Add warning about reserved resource name 'service'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-05 01:00] #18626 closed

[2022-10-05 02:44] djsly commented on #17811
blocked by the lack of proper containerservice SDK, it needs to be added to the go-azure-sdk first since the latest releases are in special branch/tag

https://github.com/hashicorp/go-azure-sdk/issues/157

[2022-10-05 03:25] djsly commented on #17291
this is in v3.25.0

[2022-10-05 06:03] tommydejong commented on #14856
Hi @Nayels @si-te did you make any progress or find any workaround for this issue? I'm looking for a way to deploy these credential objects so I can use them in my linked services. Or did you have to resort to `local-exec` type stuff?

[2022-10-05 06:40] i89825 opened #18634 "StatusCode=429 -- Original Error: context deadline exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-05 06:57] faust64 commented on #17818
You kidding, right?

upgrading from azurerm-2 to azurerm-3.
either I leave my code as it is, never setting those zones in frontend ip configuration. Then terraform wants to re-create half of  my existing LB
Or I put those zones, in each frontend, aligning with what terraform tells me "changed outside" of its state, to avoid my LB being re-created. And still, terraform wants to re-create another ha

[2022-10-05 08:15] Triamus commented on #15222
This still happens for me on a newly (manually) deployed Azure Databricks workspace with `Terraform v1.3.0` and `azurerm v3.0.0`. I had imported the resource into tf and `terraform plan` produces the same behavior for following attribute settings:

- `public_network_access_enabled = null`
- `public_network_access_enabled = true`
- `public_network_access_enabled = false`
- leave `public_network_acc

[2022-10-05 08:16] J-Are opened #18635 "Support for [thing]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-05 09:00] peterprumbach-telekom opened #18636 "azurerm_windows_web_app site_config.application_stack is cleared while applying"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-05 09:16] J-Are opened #18637 "Improve documentation for azurerm_firewall_application_rule_collection by adding incompatibility between fqdn_tags, target_fqdns and protocols"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-05 09:18] aristosvo commented on #18097
To create subscriptions in the right Management Group, I'd like to specify it in the request. As this requires a newer API version, I made[ a request to include a newer version](https://github.com/hashicorp/go-azure-sdk/issues/164)

[2022-10-05 09:42] Stanislava27 opened #18638 "New azurerm 3.25.0 error while parsing azurerm_log_analytics_cluster Identity block"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-05 11:52] abuarbaz commented on #18611
I think this might be related to the resources which you are creating using terraform and at the same time you are trying to create the subscription some how terraform is getting confused? Can you try to add. Also the second run should pass in this case if you are using the same state file.

resource "azurerm_eventgrid_system_topic_event_subscription" "egs" {
    name                  = "eventgrid

[2022-10-05 12:30] teo113 commented on #16010
Also seeing this when using Portal to create PostgreSQL flexible server attached to a Private DNS Zone:
![image](https://user-images.githubusercontent.com/64199366/194060614-59f28aeb-6726-4b94-9422-5f92ddb6c149.png)

[2022-10-05 12:59] iteralube commented on #18381
Although the issue with the two notifications not being created when having the same threshold, but different threshold types is fixed, the issue with only being able to create 5 notifications persists. In reality, in the Azure portal it is possible to create 5 notifications for each threshold type, forecasted and actual, which makes it possible to create 10 notifications in possible. IMO, this is

[2022-10-05 13:15] olivomarco commented on #18611
Thank you, I checked and it's not that.
However, after further investigation, I found out that the line:

`system_topic          = azurerm_eventgrid_system_topic.eg.id`

was wrong. The right line should be:

`system_topic          = azurerm_eventgrid_system_topic.eg.name`

After fixing, it worked. Closing this issue, thank you.

[2022-10-05 13:15] #18611 closed

[2022-10-05 13:23] NickGraham101 commented on #17189
Similarly to @maithilikkennards I'm trying to add an AllowRule for FrontDoor.  In my case the rule was recognised but I had to specify all the ip_restriction properties, setting those that didn't apply to null.  I'm using version 3.17.0 of the hashicorp/azurerm provider.
[code]
(x_azure_fdid value obfuscated)

[2022-10-05 13:36] ghost opened #18639 "azurerm_express_route_connection: unable to update authorization_key"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-05 14:01] bpete76 opened #18640 "AzureRM_Subnet is missing some service_delegation types"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-05 14:23] shanep2300 commented on #18069
Hi @myc2h6o, I have updated the op with the full tf file for creating our VMs. As for your `azurerm_linux_virtual_machine` resource, I believe everything we're doing is the exact same. I'll create a quick test VM and will report back.

[2022-10-05 15:15] matt3621 opened #18641 "OIDC authentication does not appear to be attempted on circleci ci/cd pipeline when backend configured for oidc."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

N/A

### Terraform Version

1.3.1

### AzureRM Provider Version

3.25.0

### Affected Resource(s)/Data Source(s)

remote state backend authentication

### Terraform Configuration Files

[code]

### Debug Output/Panic Output

[code]

### Expected Behaviour

Hi

I'm working with Azure and attempt

[2022-10-05 15:19] matt3621 commented on #18641
I think, having searched again this might be linked to https://github.com/hashicorp/terraform/issues/31802.

[2022-10-05 15:21] matt3621 commented on #18641
I think, having searched again this might be linked to https://github.com/hashicorp/terraform/issues/31802.

[2022-10-05 15:21] #18641 closed

[2022-10-05 15:45] jodiecunningham commented on #18599
I had a similar problem in the Az Powershell cmdlets.   In my case I had to set the extension name to "joindomain" .

It looks like you're setting yours in your settings block as: "Name": "${var.domainname}"

Can you retry just setting the name to "joindomain" ?
You'll likely also have to add a line to your settings block to specify domainName.

[2022-10-05 15:51] abhishekjerry2000 commented on #17206
Even I am also getting same issue with version 3.25.0, can anyone please help.

[2022-10-05 16:34] mtin commented on #16928
I also am experiencing these errors. Particularly annoying in pipelines as it exits with a hard error and fails deployment even though the message suggests to just retry (which also works, but has to start our pipelines from the very beginning). Same resource as mentioned above, `azurerm_linux_virtual_machine`...

[2022-10-05 19:31] knappbrax opened #18642 "Custom Linked Service Apply not applying all type_properties"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-05 19:49] michael-crawford commented on #18381
My specific issue is wanting to create a total of 10 notifications, 5 actual, 5 forecast, with each of these 5 having the SAME values (25, 50, 75, 100, 150).

I can do this in the Portal, and it's specifically allowed by Azure per the documentation, so bicep should support this - with no tricks like "just make the thresholds slightly different values". As noted above, the code seems to be using th

[2022-10-05 20:11] ssergio25 commented on #17358
We have the same issue , Terraform tries to destroy the existing certificate, when what we want to do is update a new version of the soon to be expired cert.

![image](https://user-images.githubusercontent.com/115113600/194153863-931a577e-fda4-43cb-8fbe-d16f025b7eba.png)

[2022-10-05 20:53] mikevanpeursem opened #18643 "Support for connection_string while using azurerm_api_management_logger application_insights block"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-05 20:59] byunru opened #18644 "API Management Delegation is not able to be configured in Terraform"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-05 21:50] #13836 closed

[2022-10-05 21:50] #10716 closed

[2022-10-05 21:50] #17721 closed

[2022-10-06 00:26] evandeworp opened #18645 "d/azurerm_virtual_machine_scale_set cannot handle scale set with public IPs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-06 07:23] dkuzmenok commented on #18545
@liuwuliuyun And there is a test that is using a username `TestAccBatchPool_containerWithUser` and another one that tests UAMI `TestAccBatchPool_containerWithUAMI`.

[2022-10-06 07:31] Stanislava27 commented on #18447
@catriona-m, I believe [this change](https://github.com/hashicorp/terraform-provider-azurerm/commit/df55361ed757831287526c6f38f22b5ccffbb500#diff-03277c42b6e3c4a08cff34d19b38a946dc6f78c78ebde24c52fbe1a647ac8c4d) in log_analytics_cluster resource causes the parsing error I have reported. The issue has been introduces in 3.21 and persists in the latest version. I believe it is in line 152, but I am

[2022-10-06 08:49] fleetwoodstack commented on #17541
I also get this issue even when I hard code the subscription id in the provider

[2022-10-06 09:32] afdezl opened #18648 "Support for azurerm_firewall sku_tier=Basic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-06 10:37] peterprumbach-telekom commented on #18636
#18568

[2022-10-06 11:28] abuarbaz commented on #9893
Is there any plan to fix this issue? As we are facing problem with our eventgrid_topic where we are trying to update userassigned identity to systemassigned identity?

Error: Provider produced inconsistent final plan

│

│ When expanding the plan for

│ module.basic-infrastructure.azurerm_role_assignment.system_identity to

│ include new values learned so far during apply, provider

│ "registry.te

[2022-10-06 11:44] tombuildsstuff commented on #18173
hi @sioakim

These fields have been intentionally removed from the `azurerm_subnet` resource to workaround issues within the Azure Platform during the deletion of resources, as this field has been intentionally removed unfortunately this isn't something we plan to reintroduce.

Instead #9022 is tracking adding an example of how to use Azure Policy with the separate resources, and #3917 is tracking

[2022-10-06 11:44] #18173 closed

[2022-10-06 11:44] epa095 commented on #13833
@infogulch : My message was **not** meant as a critisism of your background work, but I still don't understand how it can be a good first issue. It is my impression that it is not possible to combine V1 and V2 auth in the same webapp. If thats true, does this task actually entail starting the process towards authV2, but not fully supporting it (because that would be the full #12928)? Does it even

[2022-10-06 12:14] alert101-gof opened #18650 "azurerm_kubernetes_cluster public_network_access_enabled not working as documentation states"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-06 12:50] Meandron commented on #18355
To add to this:
We create the cluster that can be used by various services (other stages, like James mentioned) as base for their Terraform based infrastructural runs. So, by the time we create the cluster through TF, we don't know what/how many managed identites there will assigned via azurerm_kusto_database_principal_assignment later nor is it possible, if a certain service's infrastructure gets

[2022-10-06 12:51] shawn-cummins-dsg opened #18651 "Redis Enterprise with private endpoint cannot be destroyed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-06 13:34] GurliGebis opened #18652 "azurerm_app_service_certificate must be recreated for no reason"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-06 13:39] fardarter opened #18653 "ignore_all on tf 1.3.1 not working for azurerm_key_vault_key but is working in 1.3.0."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-06 14:10] elvovsky opened #18655 "Issue with rewrites in the gateway"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-06 14:57] slime-uk opened #18656 "azurerm_cdn_frontdoor_route_disable_link_to_default_domain not working as expected - execution order issue?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-06 17:26] bgmonroe commented on #17611
@stargriv
Thanks for that, but you are also using a `UserAssigned` identity which has an "id" property.  The `SystemAssigned` managed identity (that is returned in the `azurerm_linux_function_app` object) does not.  The `azurerm_linux_function_app` resource object only has the "principal_id" property.  Ultimately, your workaround is to use a user assigned identity and reference its id rather than

[2022-10-06 17:36] mfiebelkorn opened #18657 "Support for BackendPool Objects: Virtual Machine, VMSS and App Services"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-06 18:46] abhishekjerry2000 commented on #18575
Can we have ETA on this?

[2022-10-06 19:11] toothpasteBeforeOj commented on #16613
Is there any kind of ETA on a fix for this? For azurerm_windows_function_app especially. If there are function apps on a consumption plan, they share the storage account and a sticky setting must be set in order for the slot app to function.

[2022-10-06 19:44] mcollier commented on #18297
Is there a way to make this work when using a SystemAssigned identity for the Function app? When trying to use SystemAssigned, I seem to be caught in a where the Function app can't resolve the storage key vault reference because the Key Vault access policy isn't set until after the function is created (needs the identity details).

[2022-10-06 20:08] IanMoroney opened #18658 "azurerm_postgresql_flexible_server private_dns_zone_id is not optional anymore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-06 20:09] IanMoroney commented on #18658
The point with this issue is probably a documentation update to say that this field is now a required field.

[2022-10-06 20:10] #18658 closed

[2022-10-06 22:06] Tomasz-Kluczkowski opened #18659 "Unable to create `azurerm_key_vault_secret` in same apply as `azurerm_key_vault`, `azurerm_key_vault_access_policy` and `azurerm_private_endpoint` are created"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-06 23:37] kevinscollins commented on #18039
We're having it with 3.26.0 as well

[2022-10-07 01:51] aink99 commented on #17585
Faced the same issue here also, using latest version and "3.24.0"

Terraform v1.3.1
on linux_amd64
+ provider registry.terraform.io/hashicorp/azurerm v3.24.0
+ provider registry.terraform.io/hashicorp/random v3.4.3

Has a work a around I had to create manually in the Azure portal the section related to vpn_client_configuration .

I've also tried with aztfy to poke around as soon as you change let

[2022-10-07 06:18] WodansSon commented on #18615
@aluchs-hpg, thank you for opening this issue. This issue has a lot of history as there is a long standing bug in Portal where it lower cases the resource ID and has caused many issues in the past with Terraform. That said, I have done what I can in the linked [PR](https://github.com/hashicorp/terraform-provider-azurerm/pull/18600) to mitigate that issue as much as I possibly can within the provid

[2022-10-07 07:00] vermegi commented on #15914
I have the same issue in importing a pfx/pem file through Terraform, getting the same error message.
I tried setting the TF_LOG environment variable to TRACE, however, it didn't produce any additional log output for Terraform.
I also tried importing the same cert directly through the portal: **this was successful.**
I also tried importing the same certificate through az cli statement, this also fa

[2022-10-07 07:15] WodansSon commented on #18656
@slime-uk, thank you for opening this issue. This resource is very difficult to shoehorn into Terraform because the API and Terraform are diametrically opposed to how they work. I understand your frustration with the `azurerm_cdn_frontdoor_route_disable_link_to_default_domain` resource... it was my first shot at trying to fix this issue, and it was bad... lol... sorry. The reason I created the `az

[2022-10-07 07:25] vermegi commented on #15914
Update:
I was able to import the certificate with az cli, by specifying the password as an extra parameter:
az keyvault certificate import --vault-name "kv_name" -n "ExampleCertificate" -f "../wildcard_myname_com.pfx" --password $CERT_PASSWORD

The same with TF is still failing though. Relevant TF part:
resource "azurerm_key_vault_certificate" "uploaded_cert" {
  count = var.use_self_signed_cert ?

[2022-10-07 08:37] jimgus opened #18661 "azurerm_linux_virtual_machine_scale_set, unused source_image_reference causes instance re-creation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-07 08:39] slime-uk commented on #18656
@WodansSon Thank you for the detailed reply and explanation which I do sort of follow!  Also, many thanks for all the hard work getting the new AzFD resources into TF AzureRM provider!  Many many thanks.

FYI - For now, I have removed the "azurerm_cdn_frontdoor_route_disable_link_to_default_domain" resource from our TF configuration and have restored our AzAPI implementation which after all the ab

[2022-10-07 08:55] alert101-gof commented on #18650
Should the documentation say 0.0.0.0/0?

[2022-10-07 11:31] vermegi commented on #15914
So, I fixed the issue now in my TF as well. Took me a null_resource with local_exec to execute the az cli directly. This also outputted the password I was using for the certificate, and with this, quotes do matter!

My plan statement that now makes my apply work:

terraform plan -var-file="myvars.tfvars" -out=plan.tfplan -var='git_repo_passwords=["$GIT_REPO_PASSWORD","$GIT_REPO_PASSWORD"]' -var="c

[2022-10-07 11:54] avooca commented on #15048
Randomly impacting LRS Storage accounts azurerm 3.5.0.  Quite annoying...

[2022-10-07 11:55] sonaliborikar opened #18662 "Azure Defender for Data Services settings are not supported on resources of type serverFarms"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-07 14:26] aluchs-hpg commented on #18615
I really appreciate the context, I've used terraform for years, but only recently with Azure, so I'm late to the party on this issue and it just surprised me. Thanks for doing what you can and have - seriously, amazing work. I look forward to trying out the changes when they are released.

[2022-10-07 15:22] isaacfraser-tomtom opened #18663 "azurerm_linux_virtual_machine source_image_id forces replacement for direct shared images"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-07 15:53] #9542 closed

[2022-10-07 16:32] samjpv commented on #14773
@aristosvo Any idea why a regex registry name would work when running the purge script locally but not when creating using the encoded step you suggested?
I've been seeing this:
`Deleting tags for repository: .*
.* repository not found`

When trying to use '.*:.*' and a similar error for any other regex in the registry name.

[2022-10-07 16:36] jakeprice-dev commented on #3661
This works great, but I had to remove the quotes around the port number 22, to stop Terraform wanting to update in place on each apply 👍

[code]

Also, if you didn't have any idea what the `P3TH` value means for `maxRequestAccessDuration` [this section on Wikipedia about ISO8601](https://en.wikipedia.org/wiki/ISO_8601#Durations) should make it clearer.

[2022-10-07 19:19] nadeda01 commented on #15920
What is the end result using target_host_name = "xx.xx.xx.xx,xx.xx.xx.xx".?

[2022-10-07 20:04] aristosvo commented on #14773
@samjpv Hi! No, I don't.., have you compared the payload the `az` cli is sending (`--debug`) and `azurerm` sends in debug mode?

It might be something simple, I haven't had the time to do it myself.

[2022-10-07 21:16] evandeworp opened #18664 "Cannot remove all IP restrictions from azurerm_windows_web_app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-07 21:21] tombuildsstuff commented on #18657
hi @mfiebelkorn

Thanks for opening this issue.

Taking a look through here, unfortunately this is a bit of a misleading Azure Portal feature, which exposes this as a bi-directional relationship rather than the one-way relationship as this is defined within the API (insofar as the VMSS's Network Profile block defines which Application Gateway it's related to).

Since the Azure API doesn't expose t

[2022-10-07 21:21] #18657 closed

[2022-10-07 21:25] tombuildsstuff commented on #17611
hey @bgmon

As [mentioned in this comment](https://github.com/hashicorp/terraform-provider-azurerm/issues/17611#issuecomment-1255323186) we're expecting the ID of a Managed Identity rather than the UUID of of the Managed Identity - as such this can be fixed by specifying the `id` field rather than the UUID here (which we're missing validation for, and would make this clearer at plan-time).

Since

[2022-10-07 21:25] #17611 closed

[2022-10-07 22:41] drdamour commented on #8432
this should apply to any version that is not ~1, so should omit for ~4 as well.  It logs a warning if it's set per https://github.com/Azure/Azure-Functions/issues/1923

[2022-10-08 01:44] neil-yechenwei commented on #18662
Thanks for raising this issue. Could you provide more context for this feature? Or could you share the doc link for this new feature if it's possible? Thanks in advance.

[2022-10-08 03:31] jiaweitao001 commented on #18528
Hi @azrael-lu , thanks for raising the issue. I have tried to reproduce this with the provided configuration, but failed. BTW, I noticed that you're using `chinanorth3` in the location field, I'm not sure if it's a location specific issue, since I was trying with `centralus` and `chinanorth3` is not an option for us.

[2022-10-08 03:36] sonaliborikar commented on #18662
Ho Neil,

Please find the supporting document's link

https://learn.microsoft.com/en-us/azure/defender-for-cloud/defender-for-app-service-introduction

Thanks

On Sat, Oct 8, 2022, 07:14 Neil Ye ***@***.***> wrote:

[2022-10-08 05:33] wuxu92 commented on #18648
Hi @afdezl, thanks for your feedback. This SKU Tire has been supported from PR https://github.com/hashicorp/terraform-provider-azurerm/pull/16989 but misses the document. I'll submit a PR to fix the document

[2022-10-08 14:54] magodo commented on #2977
I'd like to ask a stupid question which after I going through the full history of this issue but didn't find an answer (perhaps the https://github.com/hashicorp/terraform-provider-azurerm/issues/2977#issuecomment-628589782 does): Why even adding the subnet id or the ip of the build agent to the rule, it still can't access the data plane API of storage? Is there any public document of Azure stating

[2022-10-08 15:26] jkroepke opened #18666 "Support for workload identity addon on AKS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-08 21:03] vmille commented on #8415
Hi,
any news on this issue ? Even with the time sleep, I got the same error.
No issue if I create the subscription by the portal.

[2022-10-09 01:17] ms-zhenhua commented on #18655
Hi @elvovsky, if you only want to use **path** in **url**, you could try to set the [components](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/application_gateway#components) as **path_only** , the configuration may look like below:
[code]

[2022-10-09 07:03] jayendranarumugam commented on #18105
Let me give a PR for this quick fix

[2022-10-09 07:19] xiaxyi commented on #18664
Thanks @evandeworp for raising this issue, can you call the api https://management.azure.com/subscriptions/xxx/resourceGroups/xxx/providers/Microsoft.Web/sites/xxx/config/web?api-version=2022-03-01 and share the ip restriction details with me? I tried the your config and found there is one more default block being returned and would like to confirm with you about it

[code]

[2022-10-09 07:19] jayendranarumugam commented on #16584
You have to remove the `.html` in your URL. You don't need to provide that

[2022-10-09 08:52] xiaxyi commented on #16417
@CRhodes1510 the fix is in the mentioned pr. Can you try setting that property via api and see if its working?

[2022-10-09 09:21] myc2h6o commented on #18663
Hi @isaacfraser-tomtom thanks for opening the issue! When adding the support for Directed Shared Images, the pre-check of setting `soure_image_reference` was not updated. I've opened #18671 to fix it.

[2022-10-09 09:22] myc2h6o commented on #18661
Hi @jimgus thanks for opening the issue! When adding the support for Community Images, the pre-check of setting soure_image_reference was not updated. I've opened https://github.com/hashicorp/terraform-provider-azurerm/pull/18671 to fix it.

[2022-10-09 09:41] myc2h6o commented on #18645
Hi @evandeworp thanks for opening the issue and sharing the detail! From the error this seems to be the provider issue, I'll take a look.

[2022-10-09 19:05] damiensawyer commented on #8346
Come on Hashicorp. 2 Years? Doesn't inspire confidence to start a new project with Terraform.

[2022-10-09 21:18] IgorOrmus commented on #18623
Best way to figure out gaps in documentation I found is doing the changes on a resource manually and then running a plan against it to see the changes and referenced values in the plan output. For you question some of the examples came back as:

 ~ web_categories        = [
                  - "business",
                  - "alcoholandtobacco",
                  - "childinappropriate",

[2022-10-10 00:28] devildog-tech commented on #14055
Evening,

Is there any plans to resolve this issue. We are building a whole Enterprise Hub and Spoke design in Azure to support 1000's of applications. Until this issue is fixed Terraform is not even an option for us. I'm forced to use Bicep. Any information would be helpful. Thank you..

[2022-10-10 01:51] deepanshumarwah commented on #18620
Hi @tombuildsstuff ,

Can you please help me to put this into priority ? Thank you.

[2022-10-10 02:11] lonegunmanb commented on #18513
Hi @ceastus , since this bug has been solved in Terraform core, would you please verify whether you still have this issue or not? Thanks.

[2022-10-10 02:45] lonegunmanb commented on #18495
@cvallesi-kainos Thanks for opening this pr.

You're right, the repo you've shared is a classical demo how to structure our infra in a layering style. Terraform Core do have this limit that requires expression in `count` and `for_each` should be known before apply, no datasource could be used.

A workaround could be Terragrunt, here's a [document](https://terragrunt.gruntwork.io/docs/features/keep

[2022-10-10 03:06] lonegunmanb commented on #18653
@fardarter Thanks for opening this issue. It seems a weird issue that in your plan the Terraform tried to update all these affected attributes to `null`. Would you please give us a minimum sample that can reproduce this issue step by step so we can debug it on our side? Thanks for your understanding.