[2020-07-15 10:12] yuri-tieto commented on #4668
@RussellMaycock you can add your VM to Azure Devops Agent Pool as self hosted agent and in that case you can use Terraform Azure DevOps plugin to run terraform tasks on your VM which will be used as a resource deployer within subscription utilising managed identity - https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/agents?view=azure-devops&tabs=browser

[2020-07-15 10:23] tunminster commented on #6164
Definitely, it is needed.  would be if we have ETA for this feature.

[2020-07-15 10:45] andydkelly-ig commented on #7756
thanks Tom

[2020-07-15 11:10] sirlatrom opened #7757 "azurerm_api_management_openid_connect_provider keeps updating client_secret"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-15 11:10] favoretti commented on #7720
It is a default consumer group, you don't need to create it, moreover, you can't manage it in any way.

[2020-07-15 11:11] alhazem commented on #5006
Any updates on this, or any workarounds?

[2020-07-15 11:12] bueckendorf opened #7759 "2.18.0 - azurerm_app_service_plan cannot create linux consumption plan"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-15 11:42] yuri-tieto commented on #5234
@amasover where you ever able to use your Managed Identity with added Graph API permissions to manage AD resources? For me it work only if I am using Administrative roles and not granting Graph API permissions. My thought is this can be because Terraform is using Azure AD Graph API (legacy API) instead of new and recommended Microsoft Graph API and when you provide API permissions through Microsof

[2020-07-15 13:00] derekwinters opened #7761 "Order changes for feature blocks of azurerm_signalr_service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-15 13:05] jbinko commented on #7394
Just published PR. @favoretti , @katbyte thank you for interest. I'll be happy if you can do review and/or bring new ideas.

[2020-07-15 14:05] #2367 closed

[2020-07-15 15:12] h3yduck opened #7765 "Support for azurerm_cognitive_account Data Source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-15 15:24] alex-3sr opened #7766 "azurerm_backup_policy_vm : Add support for custom ressource group for restore point collection"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-15 16:13] annerajb commented on #7743
Ah thanks for reminding me about DNS settings on the firewall.

On Wed, Jul 15, 2020 at 4:17 AM magodo <notifications@github.com> wrote:

[2020-07-15 16:57] amasover commented on #5234
@yuri-tieto

It's been a few months since I've looked at this. I think azuread currently using the legacy Azure AD Graph API probably doesn't help (I *think* you don't need quite so elevated permissions on your personal account in order to set up these permissions if you're using Microsoft Graph...could be wrong). But it seems we also need a way to set up `required_resource_access` on a managed id

[2020-07-15 18:08] richeney commented on #3581
Can this be moved out of the Blocked milestone as the storage SDK seems to support it now?

- <https://github.com/Azure/azure-sdk-for-go/blob/master/storage/blobserviceclient.go#L41>
- <https://docs.microsoft.com/en-us/rest/api/storageservices/set-blob-service-properties>

[2020-07-15 18:23] Jrc356 commented on #4532
Terraform v0.12.26
provider.azurerm v2.9.0

having this same issue with `azurerm_function_app`. The app was deployed without an identity. When trying to update the app with an identity via terraform and then passing the `tenant_id` and `principal_id` to an `azurerm_key_vault_access_policy` I get this same error

[2020-07-15 22:18] #1083 closed

[2020-07-15 22:22] gpduck commented on #6374
I'll take a look at it and see if I can convert my scripts over. Does this mean that the azurerm_sql_server resource is considered deprecated?

[2020-07-15 22:25] nickmhankins opened #7769 "Support for Azure Table Storage SAS Token Data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-15 22:56] rluiten commented on #7537
@peter-dolkens when you say they can be provisioned already are you talking about using the "awverify." prefix on the domain and site reference in a CNAME or TXT record.

I have setup the following via terraform and aws provider.
The following domains (domains are hosted by AWS in route53 if it matters)
* robintest1-dom.ourdomain.com. CNAME robintest1ae.azurewebsites.net
* awverify.robintest1-dom.

[2020-07-16 00:49] Humoiz commented on #1990
I am working on this feature and will send out a PR tonight or tomorrow.

[2020-07-16 01:11] WodansSon commented on #6057
@timja @luigibk, I have heard back from the service team and here is what they said:

So, this is a supported scenario per the service team. So, I will go ahead and finish looking at the PR, thanks again for your patience. 🚀

[2020-07-16 01:37] peter-dolkens commented on #7537
@rluiten does AWS route53 do any proxying or similar magic? It may simply come down to how long it takes DNS to propagate from AWS

In cloudflare, you can either proxy a record, or pass it through raw, and it normally only takes 30-60s to propagate.

Our stack looks like this:

[code]

[2020-07-16 01:39] magodo commented on #5040
As @katbyte mentioned, there is no API support for Citus currently. Whilst the service team is working on that, hopefully the API/SDK will be available in several months (maybe longer than half a year). Until then, we will move on to supporting it in terraform.

[2020-07-16 01:45] neil-yechenwei opened #7771 "Support for new resource azurerm_automation_dsc_compilation_job"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-16 01:59] yupwei68 commented on #6374
hi @gpduck , to some extents, you're right.  `azurerm_mssql_server` is planned to cover all functions of `azurerm_sql_server`, and we  don't add new features in `azurerm_sql_server`. The resource in `mssql` and 'sql' could be used in mix.

[2020-07-16 02:21] woter1832 opened #7772 "azurerm_windows_virtual_machine fails to create when referencing a gallery image."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-16 02:39] rluiten commented on #7537
Thanks for the response.
What you present is equivalent to what I have setup.
At least I didn't miss understand the pattern.

I don't think my current issue is a propagation problem.

I let it create most of the resources including domains yesterday, so only custom domain didn't create due to error.
Today I run `terraform apply` and it attempts to create just the the custom domain name binding to

[2020-07-16 02:54] marc-sensenich commented on #6164
I've opened the draft PR for autoscaling in https://github.com/terraform-providers/terraform-provider-azurerm/pull/7773. Still some design decisions to work through with a few more to probably come up

[2020-07-16 02:56] neil-yechenwei commented on #2880
Hopes this [fix ](https://github.com/terraform-providers/terraform-provider-azurerm/pull/7775)would be helpful.

[2020-07-16 03:19] yupwei68 commented on #6502
Hi @keiransteele Thanks, I'm fixing it.

[2020-07-16 03:30] #2880 closed

[2020-07-16 04:12] magodo commented on #7708
@MatthewTatsch-fdx Thank you for submitting this!
Do you mind to check that in your WSL env, either file *$AZURE_CONFIG_DIR/azureProfile.json* or *~/.azure/azureProfile.json* exists and the content has valid json?
Besides, the default WSL has no GUI support, so CLI will fallback to device login, which displays a message telling you to enter a code in a specific URL. While you mentioned that you ma

[2020-07-16 04:33] magodo commented on #7696
Hi @Dmitry1987 Thank you for submitting this :+1:
Currently, the Azure API Spec doesn't define that property, hence I submit an issue for this: Azure/azure-rest-api-specs#10159. Once it's been addressed, we can go on implementing that in terraform.

[2020-07-16 05:00] peter-dolkens commented on #7537
@rluiten when you ran yesterday, did it create the awverify records?

If you want, you can email me (github@ddrit.com) and I could take a look at your actual records.

Ideally run it once, let it create the DNS records and fail, and I'll take a look tomorrow to confirm that they look right to me.

Additionally, the official documentation is here: https://docs.microsoft.com/en-us/azure/app-service/

[2020-07-16 05:01] magodo commented on #7658
Hi @vermaaakansha Thank you for submitting this :+1:

This error might because `module.Firewall[0]` has the invalid index, so you might want to confirm the module has the expected output.

Additionally, would you please check which version of the terraform you are using? The useless error message has been improved since v0.12.11 (actually via hashicorp/terraform#22846).

[2020-07-16 05:55] Dmitry1987 commented on #7696
thank you @magodo 👍

[2020-07-16 06:06] #7724 closed

[2020-07-16 07:30] neil-yechenwei commented on #5141
Thanks for opening this issue. After tested, seems I cannot repro with below tfconfig which is similar with yours. Maybe I missed something. If you want, you can have a try below tfconfig to check whether the issue still exists.

[code]

[2020-07-16 07:46] tombuildsstuff commented on #7771
@neil-yechenwei based on the API Documentation it appears that's a deployment-time configuration, and thus something that doesn't necessarily make sense in Terraform - what's the use-case we're aiming to solve here?

[2020-07-16 07:58] neil-yechenwei commented on #7536
After went through the [scenario](https://docs.microsoft.com/en-us/azure/automation/automation-dsc-getting-started#enable-an-azure-resource-manager-vm-for-management-with-state-configuration), I assume you have to use virtual machine extension to implement "Enable an Azure Resource Manager VM for management with State Configuration" step. After checked, azure portal and powershell command are also

[2020-07-16 08:06] neil-yechenwei commented on #7771
@tombuildsstuff , you can find the whole scenario from https://github.com/terraform-providers/terraform-provider-azurerm/issues/7404. For the steps 3-4 customer described, seems we need to add this new resource to implement it.

[2020-07-16 08:17] neil-yechenwei commented on #7404
Thanks for opening this issue.
For above steps 3-4, I assume you are requesting a new resource “https://docs.microsoft.com/en-us/rest/api/automation/dsccompilationjob/create”.
For step 5, I assume you have to use virtual machine extension to implement it. Below is the example.

[code]

[2020-07-16 09:24] lawrencegripper opened #7777 "Support for outputting "SharedKey" from azurerm_virtual_network_gateway"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-16 09:28] neil-yechenwei commented on #5396
Thanks for opening this issue. Seems API doesn't support folder type. I assume it's an API issue. So I filed an issue on Azure/azure-rest-api-specs#10165

[2020-07-16 09:52] eedwards36 opened #7778 "Feature Request: Support for Minimum TLS Version for Azure Storage Account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-16 10:46] hieumoscow commented on #7325
Updating kubernetes version also caused this issue:
'resetAADProfile' is not allowed for managed AAD enabled cluster.

[2020-07-16 11:20] sabicd commented on #7712
We found the issue. It came from the fact that we tried to use the same frontend port definition ( same port number ) in both HTTPS listener, after moving them to different frontend port definitions, the issue went away. Thanks for caring @neil-yechenwei

[2020-07-16 11:20] #7712 closed

[2020-07-16 11:52] jmcshane commented on #7358
Related #6793

[2020-07-16 12:27] sdebruyn commented on #6030
Depends on #7597

[2020-07-16 13:27] tombuildsstuff commented on #7358
hi @wrdls

Thanks for opening this issue :)

Taking a look through this appears to be a duplicate of #6793 - rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one; would you mind subscribing to #6793 for updates?

Thanks!

[2020-07-16 13:27] #7358 closed

[2020-07-16 13:28] #7735 closed

[2020-07-16 13:31] mikemowgli opened #7779 "[azurerm_mssql_server] Failure to create blob for auditing settings on a firewalled storage account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-16 13:51] MatthewTatsch-fdx commented on #7708
Yes, _~/.azure/azureProfile.json_ exists with valid json.

When I `az login` from WSL it opens a browser via Windows, same as if I were to run from PowerShell.

[2020-07-16 14:04] piraces opened #7780 "default_node_pool availability_zones changes in "azurerm_kubernetes_cluster" does not apply correctly, it should recreate the cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-16 15:17] BradAF commented on #6374
Sorry for the late reply! To answer your question: kind of... I set TF_LOG=TRACE and found that apparently Azure itself did not allow me to configure firewall rules while the public network interface for the server is disabled. I assume they intend for you to use NSG rules when using private IPs:

![image](https://user-images.githubusercontent.com/11336928/87688921-9558e500-c755-11ea-853f-8381b7a1

[2020-07-16 15:20] #2889 closed

[2020-07-16 15:38] sjbodzo commented on #7609
Thank you @njuCZ for trying to reproduce.

@tombuildsstuff may be right, that the actual issue is key vault related, since it appears I have applied the same tagging onto both. The error itself appears to be specific to complaining about the `azurerm_key_vault_secret` though.

[2020-07-16 16:13] chdalski commented on #7443
I can confirm the described behavior with Terraform v0.12.28.
And it's a major issue because as a result terraform will recreate the dps whenever an apply command is run.

[2020-07-16 16:22] woter1832 commented on #7772
The documentation is not clear on exactly what value `source_image_id` takes, however, I have tried it pointing to the image rather than the version too, with the same error:

I also note resource explorer does not show any `galleries` resources.

[code]

[2020-07-16 17:21] marc-sensenich opened #7781 "azurerm_storage_account property allow_blob_public_access should default to false"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-16 17:21] romeomorcia opened #7782 "resource "azurerm_application_insights" not finding pre existing app insight"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-16 17:40] #7561 closed

[2020-07-16 17:43] #7782 closed

[2020-07-16 17:47] vermaaakansha commented on #7658
closing this. this was resolved.

[2020-07-16 17:47] #7658 closed

[2020-07-16 18:46] enichols-blueyonder commented on #7781
👍  Defaulting to open is a very poor security decision. Please get this reverted back asap.

[2020-07-16 18:57] romeomorcia commented on #7782
New to Terraform, did not use the import and the move commands :) Now works fine.

[2020-07-16 19:51] elsesiy commented on #2996
@tombuildsstuff Is anybody actively working on this and do you have an ETA? Right now we have to manually configure those alerts, shell out and use azure cli or similar hacks which is less than ideal.

[2020-07-16 20:20] gevorg15 opened #7787 "data.azurerm_client_config.current has empty client_id, object_id and tenant_id when using Azure MSI"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-16 20:28] sjbodzo commented on #7609
Perhaps it is something with the `value` field of the secret item resolving to an empty string in a lookup?

`value = var.secret["value"]` yielding a blank versus a `null` value type, for example?

[2020-07-16 20:54] darrenk13 commented on #7781
We just tripped over this and it is causing a bit of churn on our side to secure things back again.  When this gets changed would it be possible to go out as a hotfix to the 2.19 version (like v2.19.1)?

[2020-07-16 21:12] taylorturner opened #7788 "Incorrect error message for azurerm_storage_share_directory name field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-16 21:56] vivaladan commented on #7208
Running tf 0.12.28 and azurerm 2.18.0 I get the following (hopefully similar) issue when using `ignore_changes = all` on the `azurerm_frontdoor` resource.

I'm having to manually enable https on the endpoints due to #6351 and then I want to ignore those changes. Ignoring `frontend_endpoint` directly caused a whole load of other things it wanted to change so I'm attempting to ignore the whole resou

[2020-07-16 23:26] taylorturner commented on #7788
@mbfrahry Do you know what the issue is? I don't know why it was ok with the first 2 share names and not the 3rd.

[2020-07-16 23:31] mbfrahry commented on #7788
Hey @taylorturner, the issue is that storage share directory names can only be nested once. Your third name is nested twice.

[2020-07-16 23:58] #6926 closed

[2020-07-17 00:56] taylorturner commented on #7788
@mbfrahry that's interesting. Is that a limitation of Terraform? I'm able to create all of those shares with the same name using the Azure CLI `az storage directory create`.

[2020-07-17 01:00] philspokas commented on #6961
Update on this: the issue is that the application exits without any proper error message. The root cause is the storage account used by Azure SQL Vulnerability Assessment was not allowing access to Azure Services.

The fix, in my opinion, is to return a proper error message to the user

[2020-07-17 01:28] magodo commented on #7708
Hi @MatthewTatsch-fdx it sounds like an environment setup issue.

Based on your debug out below:

I can tell the error comes from [here](https://github.com/hashicorp/go-azure-helpers/blob/master/authentication/auth_method_azure_cli_token.go#L37), where the actual error is hidden, though. [This function](https://github.com/Azure/go-autorest/blob/7ac73d3561eaa034f458f97362b2743e8b3c048e/autorest/azu

[2020-07-17 01:42] yupwei68 commented on #6961
@philspokas Thanks for your suggestion. Since it's an error message returned from service, I'd like to suggest to raise an issue to the service team in https://github.com/Azure/azure-rest-api-specs/issues.

[2020-07-17 01:42] neil-yechenwei commented on #5971
Thanks for opening this issue. If you want to set kind as non-linux such as functionapp, you have to set reserved property as false. You can refer terraform [doc ](https://www.terraform.io/docs/providers/azurerm/r/app_service_plan.html#kind)and azure [doc](https://docs.microsoft.com/en-us/rest/api/appservice/appserviceplans/createorupdate#request-body).

[2020-07-17 01:45] akonrath opened #7792 "azurerm_backup_policy_vm minimum daily retention count is inaccurate"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-17 01:56] magodo commented on #7620
@Anbukugan Thank you for submitting this!
This issue is duplicated with #6254, you can subscribe to that to track any progress. Hope you don't mind I close this issue for now.

[2020-07-17 01:56] #7620 closed

[2020-07-17 02:18] magodo commented on #6254
@ubenmackin Thank you for submitting this!

At first, I think rather than using `toset(flatten())` in the dynamic block, you might simply use `element()` as #7620 does. Even though the issue still remains.

The reason for this error is that during the planning stage, terraform doesn't know how many "logs" ("metrics") entries the target resource has, as the data source `azurerm_monitor_diagnostic_c

[2020-07-17 02:22] neil-yechenwei commented on #3368
Thanks for opening this issue. After tested with below steps, seems I cannot repro this issue anymore. Maybe I missed something. If you want, you can have a try to check whether the issue still exists?

[code]

tf apply:
[code]

Delete terraform.tfstate

tf import:
[code]

Result:
![image](https://user-images.githubusercontent.com/19754191/87741585-76228c00-c817-11ea-8141-5ed66117efbe.png)

[2020-07-17 04:06] neil-yechenwei commented on #5095
Thanks for opening this issue. Seems maximumElasticWorkerCount property doesn't take effect from api side while creating app service plan. I've filed an issue on Azure/azure-rest-api-specs#10184

[2020-07-17 06:55] WodansSon commented on #7726
@poddm, thanks for opening this issue. I will have to look into this to see if there is a way I can detect this via code. The issue here is, the A records are created automatically by the API without Terraform knowing that it has done so. Which means, it will be very difficult for Terraform to determine if an A record should be "re-created" or not. I will see what I can do, but if the API does not

[2020-07-17 09:43] mrkMadhur commented on #7691
Hi Guys,
When can we expect a resolution for this issue?
Also, I noticed that the rules were getting deployed in sometimes.

[2020-07-17 09:58] tobske opened #7795 "Internally Load Balanced App Service Environment should have the IP of the ILB as attribute"
As requested in following post I opened this separate issue for the missing IP attribute.

_Originally posted by @jackofallops in https://github.com/terraform-providers/terraform-provider-azurerm/issues/5905#issuecomment-656148475_

[2020-07-17 10:08] chdalski commented on #5112
I can confirm that bug for Terraform v0.12.28.

[2020-07-17 14:12] kendreakash opened #7796 "when will the script to create "Azure Monitor Private Link Scope" will be available..?"
My organization has been using terraform to create azure resources.
but for the above mentioned resource there is no terraform script.
can I know when will this be supported by terraform..?

[2020-07-17 14:13] kendreakash opened #7797 "when will the script to create "Azure Monitor Private Link Scope" will be available..?"
My organization has been using terraform to create azure resources.
but for the above mentioned resource there is no terraform script.
can I know when will this be supported by terraform..?

[2020-07-17 14:18] ericsampson commented on #7781
Does anyone have contacts at Azure? The fact that the API (and so all downstream consumers) was chosen to be default open seems like a terrible decision that should be reverted, regardless of it being overridden by default in TF provider etc.

[2020-07-17 15:58] #6043 closed

[2020-07-17 16:04] mbfrahry commented on #7788
It looks like a limitation on the api. Here's what the api returns when I try to pass the name `dir/dir2/dir3`

[code]

[2020-07-17 16:04] #7788 closed

[2020-07-17 16:26] doherty100 commented on #7747
@fnocera can you share the case number with Azure support so I can connect it with some other related cases I'm tracking?

[2020-07-17 16:51] jjl109 opened #7798 "Support for CosmosDB encryption with CMK"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-17 17:28] jonmaestas opened #7799 "Enhancement: azurerm_databricks_workspace - Add DBFS root Blob storage URL Attribute"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-17 17:29] yutyang commented on #7747
@doherty100 the Azure Support case number is 120071421002079.

[2020-07-17 17:31] schlbra opened #7800 "Support for enabling Runtime Scale Monitoring/Virtual Network Triggers (non-HTTP) for Function Apps"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-17 20:43] vakkur opened #7801 "Resizing the Managed AKS cluster node size or type destroys and recreates the cluster"
This is a continuation of Resizing the Managed AKS cluster node size or type destroys and recreates the cluster #5311

I can resize the default node pool from Azure Portal, but when I resize it from terraform it actually destroys the entire cluster and recreating it.

I am not able to add the OMS_Agent and Kube Dashboard after the cluster creation, this is also triggering a destroy and recreate.

[2020-07-17 20:55] doherty100 commented on #7747
@yutyang thanks I've connected these support cases and azure engineering is aware of them. I believe a fix is being rolled out as we speak but it will take some time to percolate into all the azure global regions.

[2020-07-17 23:27] AndresFPineros commented on #2634
Any update on this? Should we even use this attribute?

[2020-07-18 01:53] lrxtom2 commented on #7761
@derekwinters ,Thanks for opening the issue! We can reproduce the issue and looking into about that.

[2020-07-18 09:18] magodo commented on #7691
@mrkMadhur The issue Azure/azure-rest-api-specs#10104 should be addressed in Swagger by Azure/azure-rest-api-specs#10131 (though the state is still open). When the change is reflected in next Go SDK release, we will hopefully update the Go SDK in provider to involve the fix.

[2020-07-18 13:53] LeankitJSmith opened #7802 "Adding a healthProbe to a load balancer when a virtual machine scale set is attached to the backendPool fails."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-18 15:48] Vignesh-Rao opened #7803 "Terraform trying to update the old nsg rules, when trying to add new nsg rules"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-18 17:07] ubenmackin commented on #6254
You are correct that a second run of apply is successful, and that is what I have been doing as part of my process.

It is unfortunate, as each resource type has different combinations of log and metric categories. So using a method like this to be able to dynamically determine and apply them was great for many reasons. Having too explicitly define the log and metric entries means spending the tim

[2020-07-19 04:49] scott1138 opened #7804 "azurerm_app_service_plan: Error: `reserved` has to be set to false when kind isn't set to `Linux`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-19 07:44] StefanSchoof commented on #7804
From the documentation you linked. For the `os_type`:

I think you should try to set os_type to linux if you want a function on linux.

[2020-07-19 08:11] niranjan0292 commented on #2566
I currently use the version
Terraform v0.12.24
+ provider.azurerm v2.18.0
+ provider.tls v2.1.1

The issue still persists:

`Error deleting Public IP "public_ip2" (Resource Group "AnsibleLab_terraform"): network.PublicIPAddressesClient#Delete: Failure sending request: StatusCode=400 -- Original Error: Code="PublicIPAddressCannotBeDeleted" Message="Public IP address /subscriptions/a12345b9-95c9-4d1

[2020-07-19 09:10] phatcher commented on #3366
You can achieve this with https://www.terraform.io/docs/providers/azurerm/r/mssql_server_security_alert_policy.html

[2020-07-19 13:24] mybayern1974 commented on #7797
hi @kendreakash

Thanks for opening this issue :)

Taking a look through this appears to be a duplicate of #7796 - rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one; would you mind subscribing to #7796 for updates? Or feel free to reopen if you believe these two issues are not talking about the same thing.

Thanks!

[2020-07-19 13:24] #7797 closed

[2020-07-19 19:37] markti-persistent opened #7805 "Support for User Assigned Managed Identities"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-19 22:02] scott1138 commented on #7804
@StefanSchoof the app service plan must be created first and it does not have an os_type property, that's part of the azurerm_function_app resource.  I have tried using `kind = "linux"` and it creates the resource, but if you run another terraform plan it wants to destroy it because the new kind value is "functionapp,linux" and the config says "linux".  @katbyte @tombuildsstuff do you know if mayb

[2020-07-20 00:37] woter1832 commented on #7772
To try and rule out any stupidity on my part, I've used the DATA source: `azurerm_shared_image_version` and consumed the `id` attribute reference. Same result.

[2020-07-20 02:01] magodo commented on #6254
@ubenmackin Unfortunately, adding a `apply_all_log` option is not an idiomatic schema for terraform resource, as we shall allow user to be able to configure and only configure the concrete settings of the resource, not something "hypothetic".
The inconsistent issue (IMHO) stems from the core, hence I have open the issue for that. As a workaround, if the amount of your resource types are not too hi

[2020-07-20 02:04] yupwei68 commented on #7779
Duplicated of https://github.com/terraform-providers/terraform-provider-azurerm/issues/6906

[2020-07-20 02:05] neil-yechenwei commented on #7795
@tobske , thanks for opening this issue. After checked, seems I didn't find the `IP property` of the ILB. Could you share some document for this property?

[2020-07-20 02:10] mybayern1974 commented on #7779
hi  @mikemowgli

Thanks for opening this issue :)

Given seems this is a duplicate of #6906 - rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one; would you mind subscribing to #6906 for updates? Or feel free to reopen if you believe these two issues are not talking about the same thing.

Thanks!

[2020-07-20 02:10] #7779 closed

[2020-07-20 02:29] njuCZ commented on #7792
@akonrath thanks for pointing this problem. It would be nice for you to submit a PR to fix it !

[2020-07-20 04:33] LucianFrango opened #7807 "azurerm_firewall: allow empty zone specification"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-20 04:58] neil-yechenwei commented on #7771
After do more investigation, I found [dsc complication job api spec](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/dscCompilationJob.json) doesn't support delete action. So I assume it's not appropriate to be as TF candidate.

[2020-07-20 04:58] #7771 closed

[2020-07-20 05:03] neil-yechenwei commented on #7404
After do more investigation for above steps 3-4 you described, I found [dsc complication job api spec](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/dscCompilationJob.json) doesn't support delete action. So I assume it's not appropriate to be as TF candidate.

[2020-07-20 06:59] alecor191 commented on #6730
@omgapuppy / @yupwei68 from what I can tell, you looked into this (thanks for that!). Do you know if there is any work planned/ongoing to address this?

[2020-07-20 07:06] Dilergore commented on #7368
This is now GA: https://azure.microsoft.com/en-us/blog/azure-firewall-manager-is-now-generally-available/

[2020-07-20 07:15] neil-yechenwei commented on #6031
Thanks for opening this issue. After tested with below tfconfig, I can repro this issue and I found the root cause is tier_to_archive_after_days_since_modification_greater_than property is not nil when it is not specified in tfconfig. After do more testing, I found this issue has been fixed in latest azurerm version. Could you have a try latest version to check whether the issue still exists? Than

[2020-07-20 08:44] neil-yechenwei commented on #4015
Thanks for opening this issue. After tested with below tfconfig, I cannot repro it anymore. I assume this issue has been fixed from service side.
[code]

[2020-07-20 08:45] subesokun opened #7808 "Hide sensitive data in azurerm_api_management_named_value"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-20 09:01] az-cloud opened #7809 "service/automation : Status=404 Code="ParentResourceNotFound" Message="Can not perform requested operation on nested resource"
Hi Team,

while creating runbook getting the below error.

1) iam importing exisintg automation account : postgresqlautomation (created using runasaccount)
2)  while supplying automation_account_name parameter, tried with and without interpolation
3) tried using supplying publish content  and without it

[code]
Error

[code]

[2020-07-20 09:41] bigglesuk69 opened #7810 "azurerm_policy_set_definition update behaviour broken in 2.19 using policy_definition_reference"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-20 10:44] jhagestedt opened #7811 "Support Data encryption for Azure Database for PostgreSQL (BYOK)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-20 15:37] scott1138 commented on #7804
FYI - for now I am getting around this issue by setting `kind = "linux` and using the following lifecycle block in my azurerm_app_service_plan resource:
[code]

If I do not ignore the kind property this is what I see in my subsequent plan operations:
[code]

[2020-07-20 15:50] #7781 closed

[2020-07-20 15:55] katbyte commented on #5347
THis has been fixed by #7597 - property is now deprecated as the API no longer accepts it

[2020-07-20 15:57] Stosija opened #7812 "allow_blob_public_access causes storage account deployment to break in government environment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-20 16:14] DejeroDaniel opened #7813 "Error flattening `default_node_pool`: The Default Agent Pool "" was not found when migrating to version 2"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-20 16:37] IanMoroney commented on #6149
@ashrayjain , the issue preventing this right now is that Terraform says:
`Error: expected "key_version" to not be an empty string, got`
Is that correct?

[2020-07-20 17:44] taylorturner commented on #7788
Thank you @mbfrahry

[2020-07-20 19:39] akleiser-midmark opened #7815 "Terraform not ignoring and still managing API Management `certificate` blocks when using `ignore_changes`."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-20 20:21] doherty100 commented on #7747
FYI fix being deployed, I tested it in westcentralus and working there. It will take some time for this to roll out to all Azure regions.

[2020-07-20 20:48] taylorturner commented on #7788
@mbfrahry The error message is explaining the parent path doesn't exist.

What if you...

1. create dir1
2. create dir1/dir2
3. create dir1/dir2/dir3

I can verify that the following command works fine with Azure CLI assuming you've created the parents first.

`az storage directory create --share-name example --name dir1/dir2/dir3`

[2020-07-20 21:02] mbfrahry commented on #7788
I don't think we should take this approach for a number of reasons but let's look at what Terraform should do if we try to delete this resource with the cli approach.

Since we created all the nested directories through Terraform, we could delete all the directories too but what if Terraform didn't create `dir1`? We could inadvertently delete something the user didn't want deleted.

What if we jus

[2020-07-20 21:42] taylorturner commented on #7788
I'm not disagreeing with anything you're saying.

This is one of those situations where we've been using scripted `az` commands and we're trying to migrate what we have into Terraform.

We are actively reworking this logic since Terraform doesn't support it. However, this is the first time I've run into something that the CLI can do that Terraform won't. I just assumed this was a bug but if it's t

[2020-07-20 22:30] ericsampson commented on #7781
@marc-sensenich @katbyte after closer review, #7784 might need to be backed out.

I've been talking with Barry Dowans at Microsoft.
The swagger API documentation of the property `allowBlobPublicAccess` is very poor and will be changed soon.

This documentation is much clearer:
https://docs.microsoft.com/en-us/azure/storage/blobs/anonymous-read-access-prevent

The no-change behavior of the TF provi

[2020-07-20 23:10] marc-sensenich commented on #7781
Thanks for pointing this to the docs @ericsampson, that reads a lot better than the Swagger spec. @katbyte I'll let the maintainers of the provider decide what to do regarding rolling back or keeping #7784. With either approach, I think referring to the page that @ericsampson provided and adding more detail around the feature in the changelog would be in order as the current wording on the resourc

[2020-07-20 23:20] ericsampson commented on #7781
Some verbiage I came up with as a potential documentation for that setting in the Swagger spec, which I think makes it much clearer what it does:

[code]

[2020-07-21 01:03] akonrath commented on #7792
@njuCZ  - Thank you for the reply, and agreed about preserving current users with <7 backups. I will work on a PR and update once I have further details.

[2020-07-21 01:53] neil-yechenwei commented on #6796
Thanks for opening this issue. After checked, seems there is no error message in response when it failed to provision app service plan. So filed an issue on Azure/azure-rest-api-specs#10210

[2020-07-21 02:14] woter1832 commented on #7772
At the behest of Terraform support, I created a cut-down version of the code:
[code]

The issue seems to be with [Generalised vs. Specialised](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/shared-image-galleries#generalized-and-specialized-images) VMs. Generalised VMs work, whereas Specialised VMs cause this error, so it looks like Specialised VMs aren't supported.

I am rather c

[2020-07-21 02:57] jaicao commented on #7619
We're using the azurerm_virtual_machine_extension resource on a windows virtual machine to enable the IaaSDiagnostics
[code]
When using the sas token generated by the data.azurerm_storage_account_sas.example.sas, we get this:
Error: Code="VMExtensionProvisioningError" Message="VM has reported a failure when processing extension '**name**'. Error message: \"No primary storage account found! See the

[2020-07-21 03:47] neil-yechenwei commented on #2634
Thanks for opening this issue. After tested with below tfconfig, seems I cannot repro this issue anymore. Could you have a try below tfconfig to check whether this issue still exists?

[code]

[2020-07-21 03:54] ArcturusZhang commented on #7772
Hi @woter1832 thanks for this issue!

Despite that now azurerm provider supports creating specialized image, it does not support provision VMs or VMSSes by using the specialized images. It is implementing in PR #7524 but it is currently blocked by some inconsistency in the compute API of azure. Please stay tuned.

Thanks!

[2020-07-21 05:20] ArcturusZhang commented on #7707
Hi @archmangler thanks for this issue!

First thing is that based on the script you posted and the output logs, you are using the `azurerm_image` resource, which is totally different from the shared image gallery and the shared image resource. Could you please double check your title?

And second thing is that the `zoneResilient` indeed does not allow changing by the design of the Azure API. There

[2020-07-21 05:28] ArcturusZhang commented on #6115
Hi @mal thanks for this issue!
Just had a quick try that on the portal the data disk size should be in range (0, 32TiB) (exclusive)
![image](https://user-images.githubusercontent.com/10554446/88016473-0af9f200-cb56-11ea-8f87-813ba67ca4fb.png)
`32768GiB = 32TiB`

[2020-07-21 05:37] ArcturusZhang commented on #7766
Duplicate of #6622

[2020-07-21 05:37] #7766 closed

[2020-07-21 06:13] ArcturusZhang commented on #7810
Hi @bigglesuk69 thanks for opening this issue!

This should be caused somehow during the expanding of the array of `policy_definition_reference`, some elements are added multiple times.

Similar with issue #7802

I am working on this to find the root cause.

[2020-07-21 06:28] magodo commented on #398
Hey guys, I will look into this recently.

@andymac4182 Thank you for your initial work :+1:
Rather than embedding the custom domain subresource into the cdn endpoint resource, I might choose to create a seperate resource for custom domain, as it better fits the rest API.

@timja Thank you for providing the document links above :+1:
Also I agree that for the HTTPS support, it might be hard/inappro

[2020-07-21 06:32] neil-yechenwei commented on #7807
Thanks for opening this issue. Hopes this [fix ](https://github.com/terraform-providers/terraform-provider-azurerm/pull/7817)would be helpful.

[2020-07-21 06:42] andymac4182 commented on #398
Thanks for picking this up @magodo I haven't been able to get back to this.

[2020-07-21 06:43] lrxtom2 opened #7818 "Test defect about `AzureRMOrchestratedVirtualMachineScaleSet`"
### Affected Resource(s)

* `azurerm_orchestrated_virtual_machine_scale_set`

### Related tests
* `TestAccAzureRMOrchestratedVirtualMachineScaleSet_basicZonal`
* `TestAccAzureRMOrchestratedVirtualMachineScaleSet_updateZonal`
* `TestAccAzureRMOrchestratedVirtualMachineScaleSet_basicNonZonal`

### Error Messages
[code]

[2020-07-21 06:43] lrxtom2 commented on #7818
https://github.com/Azure/azure-rest-api-specs/issues/10212

[2020-07-21 06:46] WodansSon commented on #7726
@poddm, I've spoken to the service team for this API and I'm sorry but there is nothing we can do here due to the current design of the API, if you want this functionality I would suggest opening a feature request on the [Network API's feedback forum](https://feedback.azure.com/forums/217313-networking)? Given the response from the service team I am going to go ahead and close this issue, but I wo

[2020-07-21 06:46] #7726 closed

[2020-07-21 06:53] timja commented on #398
It's the same as frontdoor, as long as your CNAME records are in place or cdnverify record then it can be automatically verified, not just for managed certificates.

_Note: cdnverify doesn't work for all cdn providers.

[2020-07-21 07:00] confix commented on #398
@magodo Correct me if I am wrong but the I
issue is not about creating the CNAME record but rather automatically setting up a test/ephemeral domain so that the custom domains endpoint can do the verification.

As far as I remember, there are no such tests for blob storage custom domains (did I probably just miss them?) and that is probably why. The question is whether integration tests can be done

[2020-07-21 07:11] timja commented on #398
There's limited integration tests of the frontdoor resource for ssl for this reason, there's a workaround of setting the custom domain to the frontdoors public domain, but I'm not sure if that will work here.

[2020-07-21 07:31] pierreyvesv opened #7820 "2.19.0 set azurerm_storage_account with allow_blob_public_access = true by default"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-21 07:37] jackofallops commented on #7795
I've also taken a look into this and, disappointingly, the property is not exposed in any way I can find.  I've opened a question / issue on the spec repo [here](https://github.com/Azure/azure-rest-api-specs/issues/10213).  If this is possible, we'll be able to expose the property in the Provider when it's implemented.

[2020-07-21 07:50] ArcturusZhang commented on #7818
Hi @lrxtom2 this feature is currently in private preview, which means that only in the whitelisted subscription, you can assign SPG to false, in all other subscriptions, you still have to assign the SPG to true.

I will make a PR remove the validation and let the service just throws the correct error message.

[2020-07-21 08:19] njuCZ commented on #6222
@gnlds I am sorry that I have followed your step and still could not reproduce this bug. Neither does my colleague. Could you please give an snippet of the script?

[2020-07-21 08:30] njuCZ commented on #7174
@DamonStamper is there any updates about this issue? Could you reproduce it using the latest azurerm provider?

[2020-07-21 09:20] royto commented on #7444
We had the same kind of issue on iothub when trying to create in the same apply 2 consumer group and 1 SAS Policy.

As a workaround, we set an [explicit dependency](https://learn.hashicorp.com/terraform/getting-started/dependencies#implicit-and-explicit-dependencies) with `depends_on` and it has fix our pb.

[2020-07-21 09:28] Dav1dde commented on #7804
Seems to be the same issue as: https://github.com/terraform-providers/terraform-provider-azurerm/issues/7759

[2020-07-21 10:03] LucianFrango commented on #7807
Awesome, that makes it easier/cleaner..?!
I did find a 'work around' to set "zones = null" in the instantiation files calling my root module.
I'm not sure if thats a best practice solution or not, so will wait for the PR.
Thank you

[2020-07-21 10:36] marc-sensenich opened #7825 "azurerm_cosmosdb_mongo_collection isn't tracking default_ttl_seconds or indexes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-21 11:22] Suseelraj commented on #7160
Any Updates on this feature yet?

[2020-07-21 12:35] LucianFrango opened #7827 "Support for Azure Firewall IP Groups"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-21 13:09] kinwolfqc opened #7828 "azurerm_windows_virtual_machine certificate block error"
I am trying to feed a certificate to a new windows vm using the certificate block as described in the doc, but terraform keeps complaining that a Certificate block is not expected in this ressource.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the commu

[2020-07-21 13:25] akingscote commented on #5234
Damn didnt work for me :/
Im using a User Assigned Identity which might be the difference.

[2020-07-21 13:33] nocticdr commented on #6545
Hi I know this is pending a merge to master but I just wanted to ask if someone can share any alternative in the meantime, I'd appreciate it! We are often updating image IDs and have to then go to the portal to do a manual upgrade.

[2020-07-21 13:43] e1011215 commented on #6222
@njuCZ I apologize, I did not see your question in May was directed at me.
Your code is pretty much the same as mine. Here is the scenario:
- create the secret using Terraform,
- add a new version of the secret outside of Terraform (in the portal), without specofying any tags,
- run "terraform plan:
  Terraform notices that the tags are missing and says it wants to add them
- run "terraform apply"

[2020-07-21 13:52] joaooamaral commented on #7747
I can confirm @doherty100 that it's working on westcentralus. Just tried on France Central and it's not working there yet

[2020-07-21 14:08] scott1138 commented on #7804
Thanks @Dav1dde - not sure how I missed that when I was looking.  I'll just close this, that issue is much better written than mine.

[2020-07-21 14:08] #7804 closed

[2020-07-21 14:10] Dav1dde commented on #7804
I ran into the same issue, your workaround helped, so maybe worth copying that over?

[2020-07-21 14:27] rudolphjacksonm commented on #5673
I'm not sure I understand why my comment was marked as off-topic. This issue hasn't been fixed by @nyuen 's PR, since it's still appearing in provider version `v2.13.0` and above. Therefore there's still an issue to be solved and whatever the bug is, it's still present in recent versions of the provider.

[2020-07-21 14:30] pragadeeshraju commented on #4635
im facing the same issue. Do we have any solution/workaround for this?

[2020-07-21 14:47] omgapuppy commented on #6730
Sorry, I've since stopped looking into it as I didn't have an immediate need or capacity. @yupwei68 looks to have done a significant amount of work around the issue :+1:

[2020-07-21 15:09] timlharrison opened #7829 "Support for Zones on App Service Environments"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-21 15:12] cwiederspan commented on #4635
I haven't kept up with this, but would love to hear if there's been any update from the resource provider side of things.

[2020-07-21 15:22] scott1138 commented on #7759
FYI - for now I am getting around this issue by setting `kind = "linux"` and using the following lifecycle block in my azurerm_app_service_plan resource:
[code]
If I do not ignore the kind property this is what I see in my subsequent plan operations:
[code]

[2020-07-21 16:10] IanMoroney commented on #5984
@troy256 ,
There is a `azurerm_mysql_firewall_rule` resource to add firewall rules.
There is a `azurerm_mysql_virtual_network_rule` to add VNET rules.

Does this answer your question?

[2020-07-21 16:18] IanMoroney opened #7830 "Support for azurerm_mysql_server "Allow access to Azure services""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-21 16:20] hashibot[bot] opened #7831 "when will the script to create "Azure Monitor Private Link Scope" will be available..?"
_This issue was originally opened by @kendreakash as hashicorp/terraform#25604. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

My organization has been using terraform to create azure resources.
but for the above mentioned resource there is no terraform script.
c

[2020-07-21 16:20] hashibot[bot] opened #7832 "Add an option to delete an Azure Resource Group only if it's empty"
_This issue was originally opened by @boillodmanuel as hashicorp/terraform#25613. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Current Terraform Version

[code]

### Use-cases

Today, when we do `terraform destroy`, the resource group (`resourceazurerm_reso

[2020-07-21 16:32] amasover commented on #5234
My identity is user assigned as well. What error do you get @akingscote?

[2020-07-21 17:08] troy256 commented on #5984
It does, thank you.

[2020-07-21 17:08] #5984 closed

[2020-07-21 17:32] charlesdee opened #7833 "Error creating App Service (windows Container) with private docker hub"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-21 17:49] charlesdee opened #7834 "Cannot delete a non empty file share storage"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-21 17:50] kendreakash commented on #7796
any comment on this..?

[2020-07-21 19:58] harshita3199 commented on #7242
Hello @xuzhang3. Is there any update about this issue?

[2020-07-21 22:09] IanMoroney commented on #6149
I've wrote a fix for this in the provider and issued a PR for the changes.
I can confirm that it will enable Automatic Key Rotation so long as a key_version is not specified (I have set the parameter to be optional).

[2020-07-21 22:56] poddm commented on #7726
@WodansSon, thanks for looking at this.  Very much appreciate.

I see what you mean.  The private DNS record changes aren't reflected in the [privatednszonegroups](https://docs.microsoft.com/en-us/rest/api/virtualnetwork/privatednszonegroups) API.

I was able to verify with the following.

[code]

[2020-07-21 23:03] mleziva opened #7837 "azurerm_mysql_server ssl_minimal_tls_version_enforced always set to TLSEnforcementDisabled"
Deploy mysql server with ssl_minimal_tls_version_enforced set to TLS1_2
Review in Azure portal that minimum version enforced is not set
Attempt to run again and see the below output from terraform plan

azurerm_mysql_server
![image](https://user-images.githubusercontent.com/6925381/88115653-47d8df80-cb7c-11ea-8c34-5db328908f62.png)

[2020-07-21 23:51] cloudtidings commented on #87
Why this issue was closed if there is no resolution disclosed

[2020-07-22 02:10] #6057 closed

[2020-07-22 02:16] magodo commented on #398
@confix Maybe we need to implement #4683 first, so that we can have an ephemeral domain during integretion test?

[2020-07-22 03:26] nyuen commented on #5673
Hi @rudolphjacksonm , the intent of my change was to make the retention policy optional as the new Activity log experience doesn't seem to provide the option to specify a retention policy anymore (as per the portal UI).

To make the workflow idempotent I've considered what is returned by the terraform state: if you have a look at what the diff indicates on the subsequent **terraform apply** you wi

[2020-07-22 03:32] njuCZ commented on #6222
@e1011215 @gnlds thanks for your clarification. I have got the reason of this issue and will submit a PR soon

[2020-07-22 03:32] neil-yechenwei commented on #2753
Thanks for opening this issue. According by [doc](https://www.terraform.io/docs/providers/azurerm/r/network_interface.html#subnet_id), I assume subnet_id only accept the id of subnet resource.

[2020-07-22 05:07] yupwei68 commented on #7837
Hi @mleziva , thanks for opening this issue. I think it has been fixed in https://github.com/terraform-providers/terraform-provider-azurerm/pull/7307 and it has been released in v2.19.0.

[2020-07-22 05:12] yupwei68 commented on #7830
Hi @IanMoroney , thanks for opening this issue. Currently it could be implemented by add a firewall ip_address= "0.0.0.0", for example:
[code]

[2020-07-22 05:20] neil-yechenwei commented on #7829
Thanks for opening this issue. After checked the [rest api spec](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2020-06-01/AppServiceEnvironments.json), seems it hasn't been supported by app service environment api. And I also go through the doc you provided, I assume this feature is only supported by arm template currently. So I a

[2020-07-22 05:42] ArcturusZhang commented on #7828
Hi @kinwolfqc thanks for opening this issue!

Actually the `certificate` block must be placed in a `secret` block as documented [here](https://www.terraform.io/docs/providers/azurerm/r/windows_virtual_machine.html#secret). Like this:
[code]

[2020-07-22 05:43] magodo commented on #4683
@holmesb I tried to implement this resource, but get blocked for several reasons. I have opened an upstream issue: Azure/azure-rest-api-specs#10223 to track the blockers.

[2020-07-22 06:04] mybayern1974 commented on #7832
@boillodmanuel , thank you for opening this issue!

It's a recommended practice to use Terraform to manage resources end to end, i.e. the life cycle of a resource from provision to deletion. With this mode, generally it should be always safe to delete a resource group even if it contains resources because all these behaviors are in the Terraform management and users are expected to be aware of wha

[2020-07-22 06:16] neil-yechenwei commented on #3120
Thanks for opening this issue. After tested with below steps and latest azurerm, seems I cannot repro this issue. Could you have a try below tfconfig to check if the issue still exists? If still exists, could you share your tfconfig that triggers this problem? Thanks.

1. tf apply
[code]

2. Delete terraform.tfstate file

3. tf import:
[code]

Result:
![image](https://user-images.githubusercontent

[2020-07-22 06:52] akingscote commented on #5234
So i was trying to give my user assigned identity permissions so that it can at least read app-registrations client ids.

I tried assigning `Applicaiton.ReadWrite.All` using your powershell scripts, to both:
[code]
The script works and i can see that the user assigned identity has a number of permissions assinged to it with:
[code]

However when i tried to run `az app list` (or similar) from the i

[2020-07-22 07:04] yuri-tieto commented on #5234
Same for me - when assigning managed identity some administrative role, all works fine and terraform is able to create AD resources using managed identity. But when assigning those Graph API permissions, I constantly get `Insufficient privileges ...` error. As @amasover pointed out the problem can be in Terraform using legacy Azure AD Graph API instead of new Microsoft Graph API, so permissions ar

[2020-07-22 07:04] magodo commented on #398
@timja Using the public doman of the cdn endpoint as the `hostName` in custom domain API will results into error below:

[code]

[2020-07-22 07:05] zozlab commented on #7747
Hi. I have the same issue in South Central US. How much time needed for updating other regions?

[2020-07-22 07:07] ikukulevskyi commented on #7747
Hi. I have the same issue in South Central US. How much time needed for updating other regions?

[2020-07-22 07:17] IanMoroney commented on #7830
Surely that's the same as having no ip whitelist turned on at all?
This doesn't seem like a very secure solution.

On Wed, 22 Jul 2020, 06:12 Yuping Wei, <notifications@github.com> wrote:

[2020-07-22 07:21] magodo commented on #398
@confix Another workaround is to prepare a domain name before the test, then pass in the domain name and its corresponding dns zone info (i.e. name, resource group name) as input to the test.

Example: https://gist.github.com/magodo/ced95a6c93f8b7c40d525116ae6bf0ce

Hope this helps.

[2020-07-22 07:30] akingscote commented on #5234
@yuri-tieto or they could use the Microsoft Graph Rest API in their terraform go libraries

[2020-07-22 07:36] ch-bohlen commented on #7325
I could reproduce the same error while updating the autoscaler configuration (e.g. update max_count 3 -> 4).
Executing the same configuration update via the Azure CLI works without issues.

Versions:
Terraform 0.12.28
terraform-provider-azurerm 2.18.0

[2020-07-22 07:49] yupwei68 commented on #7830
No, it's not as having no ip whitelist. It just allows access from one reserverd ip "0.0.0.0", which is reserved for azure internal services in Azure. It's the same effect as you click on `Allow access to Azure services` on portal.

[2020-07-22 07:50] KrothuTheCoder commented on #4258
I am having the same issue when trying to automatically assign a service principle to all roles created on an application registration. Has this bug been looked at?

[code]

[2020-07-22 07:53] LordGordonQ opened #7845 "Unable to set the type of managed disk with AKS"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-22 08:20] neil-yechenwei commented on #7242
Thanks for opening this issue. According by latest error message, it indicates the request parameter is invalid. After do more investigation, I found seems iothub dps api only supports `S1`. [Azure rest api doc](https://docs.microsoft.com/en-us/rest/api/iot-dps/iotdpsresource/createorupdate#iotdpssku) and [azure cli doc](https://docs.microsoft.com/en-us/cli/azure/iot/dps?view=azure-cli-latest#az-i

[2020-07-22 10:04] mikemowgli opened #7848 "[azurerm_mssql_server] Cannot create a private endpoint on first run"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-22 10:06] IanMoroney commented on #7830
You're right @yupwei68 ,
Bizzarely, adding a 0.0.0.0 rule does enable Allow Access to Azure Services.
The rule for allowing all traffic (which is what I was concerned about) would be 0.0.0.0 - 255.255.255.255.

I will create a PR to update the terraform documentation to document this feature, as it's currently undocumented.

[2020-07-22 10:10] ardacetinkaya opened #7849 "Support for clientCertMode in App Service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-22 11:33] boillodmanuel commented on #7832
Thanks @mybayern1974  for your answer.

In some case, it's a normal way. For example, I use terraform to create a resource-group to store disk snapshots, but the disk snapshots are done externally to terraform (which seems pretty normal in my opinion - but correct me if I'm wrong).

Manuel

[2020-07-22 11:47] kinwolfqc commented on #7828
Thanks for the information, it worked with that syntax

I must admit, even looking at the part of the doc you linked to, I can't see how we are supposed to know the certificate block should be nested inside a secret block.  I still haven't figured out the cipher that seems to be used to write the terraform doc. :-/

[2020-07-22 11:47] #7828 closed

[2020-07-22 12:05] jorgearteiro commented on #87
It's open. @pearcec can we help? any worked started?

[2020-07-22 13:43] hugo-paredes commented on #7748
Hi.
Did anyone had the opportunity to have an extra look at this?
Thanks.
Hugo

[2020-07-22 13:43] patpicos commented on #7325
Short of it, AAD v2 is a preview feature and it was enabled in the provider. the resetAADProfile is not supported with AAD v2 clusters (from MS side). Therefore the call to reset it should be omitted if managed = true until microsoft starts supporting the call.

[2020-07-22 13:56] rudolphjacksonm commented on #5673
Hi @nyuen, I've tried the same on my end but Terraform still wants to change the category for each entry. I've tried applying this several times and inspected the tfstate, which shows the retention_policy value is set to an empty array. Let me know if I'm doing something wrong here:

### Sample Code
[code]

### Plan Output
[code]

[code]

[2020-07-22 13:57] PSanetra commented on #7325
resetAADProfile with API version 2020-06-01 seems to support `enableAzureRBAC`:
https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/resetaadprofile#request-body

So I guess this could be fixed by using the new API version.

[2020-07-22 14:36] k-popov opened #7851 "Changing virtual_network_type in azurerm_api_management forces resource recreation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-22 14:42] sam96688adm commented on #7325
Yeah I am seeing this when amending pool size, doing Kubernetes upgrades or changing auto scale, so unusable currently.

@patpicos I don't believe it is preview any more, all the preview markers have been removed from the docs and the old version is now referred to as legacy - [https://docs.microsoft.com/en-us/azure/aks/managed-aad](https://docs.microsoft.com/en-us/azure/aks/managed-aad)

[2020-07-22 14:43] sam-cogan commented on #7325
Yeah I am seeing this when amending pool size, doing Kubernetes upgrades or changing auto scale, so unusable currently.

@patpicos I don't believe it is preview any more, all the preview markers have been removed from the docs and the old version is now referred to as legacy - https://docs.microsoft.com/en-us/azure/aks/managed-aad

[2020-07-22 14:55] garethmorris78 commented on #5659
Any timeline on when this will be fixed; I've just run into this issue. Also  Looks like soft delete is now a default option when you create a key vault via the azure portal so chances are it will become the norm rather than the exception to have it enabled.

[2020-07-22 14:59] patpicos commented on #7325
@sam-cogan that is very interesting news. This commit for the documentation confirms what you are saying. https://github.com/MicrosoftDocs/azure-docs/commit/96ab8c1c3669600ac8cbf91ad3bd3a80a82e445a#diff-90a9850acdb4834ff96cc6562e19144e

I didnt see a notice in AKS release notes. Perhaps one is imminent. @PSanetra might be on the right path w/ updating the API version and see if it makes these erro

[2020-07-22 15:52] nyuen commented on #5673
My fix addresses specifically the Activity log which doesn't support the retention_policy even when stored in a storage account. For the Kubernetes related diagnostic settings it seems that the retention policy shouldn't be empty (even though you're not storing the settings to a storage account).

I would try:
[code]

[2020-07-22 16:30] mcollis2 commented on #4358
It looks like the ARM API uses keyvaultID and secret name to create this resource.  Also through portal, you select the subscription, keyvault, then secret name.  So this should behave similarly in terraform I would think.  Any update on adding keyvault_id as a property?  Thanks

[2020-07-22 16:41] patpicos commented on #7325
Got confirmation from PM on being GA
https://azure.microsoft.com/en-us/updates/aksmanaged-azure-active-directory-support-is-now-generally-available/?s=09

[2020-07-22 16:45] patpicos commented on #7717
Updated the example to reproduce the error
[code]

Apply & Plan Output (ignore the tag piece)
[code]

[2020-07-22 17:18] eedwards36 opened #7853 "MS SQL Database threat detection policy failing when storage firewall applied."
Issues on GitHub are intended to be related to bugs or feature requests with provider codebase,
so we recommend using our other community resources instead of asking here 👍.

---

If you have a support request or question please submit them to one of these resources:

* [HashiCorp Community Forums](https://discuss.hashicorp.com/c/terraform-providers)
* [HashiCorp support](https://support.hashicorp

[2020-07-22 17:26] sean-nixon commented on #7805
I believe you're looking for `azurerm_user_assigned_identity`: https://www.terraform.io/docs/providers/azurerm/r/user_assigned_identity.html

[2020-07-22 17:52] maaloom opened #7854 "authentication Permission Missmatch while creating storage account in terraform!!"
provider "azurerm" {
  # Whilst version is optional, we /strongly recommend/ using it to pin the version of the Provider being used
  version = "=2.0.0"
  features {}
  subscription_id = "f34f3b71-55bb-4244-95d7-14f027fe40a8"
}

# Create a resource group
resource "azurerm_resource_group" "Prod" {
  name     = "myresourcegroup"
  location = "West Europe"
}
resource "azurerm_public_ip" "Prod" {  //H

[2020-07-22 18:09] saranshlamba opened #7856 "Support for decrypt secrets from data encrypted with Azure keyvault key"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-22 18:42] mrdavidkendall opened #7857 "azurerm_key_vault_secret omit value from tfstate"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-22 19:16] amonnphillip commented on #7412
Sorry for the delay. Will start to work on this issue using my own fork.

Thanks!

[2020-07-22 21:00] #6543 closed

[2020-07-22 22:11] jamesjackson opened #7858 "Rotate key on disk encryption set on Azure"
Attempting to change key_vault_key_id on azurerm_disk_encryption_set forces replacement, which cannot be done while the managed disks are in use. Updating the key on a disk encryption set works fine via Azure CLI as documented here:

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disks-enable-customer-managed-keys-cli

[2020-07-23 00:02] haodeon commented on #7820
The current behaviour in 2.19 is actually the expected behaviour.

If you run `az resource show` with `--query properties.allowBlobPublicAccess` against a default storage account you will get nothing. That is because the property is set to null.

In the link above which explains anonymous read access Azure treats null and true to be the same on the property

In updating the provider to 2.19 it app

[2020-07-23 03:02] ArcturusZhang commented on #7828
Yeah... the documentation does not show the block hierarchy but only shows them all in one level and in alphabetical order. Sometimes this introduces confusion

[2020-07-23 03:30] njuCZ commented on #7857
Hi @mrdavidkendall , I think this is not only about `azurerm_key_vault_secret`, but a wide problem about how tfstate stores sensitive data. You can refer to this guide: https://www.terraform.io/docs/extend/best-practices/sensitive-state.html. If there is any security concerns, It's recommend to use enhanced remote backends and especially the availability of Terraform Cloud.

[2020-07-23 04:14] gsimoes commented on #7813
Had the same issue today, so I used provider version v2.10.0 to import the cluster then after that switched back to provider.azurerm v2.19.0. Didn't have time to dig much further but this workaround worked.

[2020-07-23 04:31] neil-yechenwei commented on #7717
Thanks. I can repro it now. After do more investigation, I found the root cause is that creating replication with same location A doesn't throw error after container registry is created with location A and replication is created with location B successfully. Actually it should throw error message for this scenario. So I assume it's an API issue and filed an issue on Azure/azure-rest-api-specs#1023

[2020-07-23 05:12] KSiig opened #7862 "Support for batch account jobs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-23 05:33] dpbustos commented on #7049
I've noticed this exact issue. I checked the state file and the casing matched the casing I could see in the portal for the route table id. After I applied the change, it re-created the subnet<->rt association and then the issue went away. I then looked at the state file and it looked exactly the same as before.
Sorry I can't provide more details, just that I came across this and I can no longer r

[2020-07-23 06:33] ShahradGH commented on #7748
Hello All,

I can confirm the same behaviour as @hugo-paredes and only v1.0 handler working but failing to install due to error messages such as "This OS is not supported by MDM" when it is installed on VMs that are Windows 2019/Windows 10.

When other versions are specified, it is then claimed in terraform apply that the wrong typehandler is presented, so its locked into requiring 1.0

I have had

[2020-07-23 06:44] ArcturusZhang commented on #7748
Hi @hugo-paredes @ShahradGH quite weird behaviour and I suppose most likely that this is caused by something wrong from the service side. And a note that terraform is using REST API to make those requests, but the portal does not have to use the same REST API as we do in terraform.

I have tagged this issue as `upstream-microsoft` and will soon raise an issue about this in the azure-rest-api-specs

[2020-07-23 06:49] ArcturusZhang commented on #7748
Upstream issue opened: https://github.com/Azure/azure-rest-api-specs/issues/10234

[2020-07-23 07:06] aristosvo commented on #7325
We are creating a new cluster today with AAD v2 support, will let you know how it goes! Will look into it if it is not working

[2020-07-23 07:31] sam-cogan commented on #7325
I created a new cluster yesterday and can confirm the issue is present. You do not see it at cluster creation (at least I didn't) but when you try and modify the cluster to change the amount of nodes, update version etc. you will see the issue.

[2020-07-23 07:39] ArcturusZhang commented on #7810
Similar symptom in issue #7751

[2020-07-23 07:41] ArcturusZhang commented on #6696
This should have been resolved in PR https://github.com/terraform-providers/terraform-provider-azurerm/pull/7635

[2020-07-23 07:41] #6696 closed

[2020-07-23 08:12] lrxtom2 commented on #7820
@pierreyvesv The default behavior was fixed at #7784 . Could please will for the new feature release. Thanks for opening the issue!

[2020-07-23 08:15] v1r7u commented on #7444
@royto, thanks for forcing me into this direction!
I did a few more tests and found that `azurerm_iothub_consumer_group` creation fails, because of explicitly defined default `route` as a part of IoT Hub.

Below are simplified version of my resources (I dropped registration of other endpoints/routes to shorten the sample)

What I had before (**this one fails**):
[code]

How I changed it (**this on

[2020-07-23 08:18] lrxtom2 commented on #7812
@Stosija Thanks for opening the issue! For this time we could not reproduce the issue. If you are work on Azure US Gov environment, please check the azure-gov policy about the feature. We will follow up the issue, thanks in advance!

[2020-07-23 08:34] royto commented on #7444
Glad it helps 😉

[2020-07-23 08:47] yupwei68 commented on #7815
Hi @akleiser-midmark , thanks for opening this issue.

Firstly, I'd like to explain why the `terraform plan` shows no change and `ignore_changes` doesn't work. It's because the service api doesn't return `certificate` back, we can't get the remote value of the `certificate`. That's why we could not detect the difference between current TF configuration and the remote state of `api_management`.

Se

[2020-07-23 09:22] davidchua commented on #7813
I'm experiencing the same problem but when migrating to `v2.17`

I was digging through the code and after some debugging, it seems like for some reason, during migration

https://github.com/terraform-providers/terraform-provider-azurerm/blob/76a112f5c206835e0b945305022112ffe8e939de/azurerm/internal/services/containers/kubernetes_nodepool.go#L384

returns nil and the path continues on to

https://g

[2020-07-23 09:27] eedwards36 commented on #7853
Resolved by setting

`threat_detection_policy {
    state = "Disabled"
  } `

[2020-07-23 09:27] #7853 closed

[2020-07-23 09:39] mikemowgli commented on #4431
@katbyte , this is interesting. Could you elaborate on the Terraform resources needed then? I'm guessing:
* For the SP: `azuread_application`, `azuread_service_principal`, `azurerm_role_assignment`, `azuread_service_principal_certificate`
* For the automation Connection: `azurerm_automation_connection_service_principal` (is it redundant with `azurerm_automation_connection` ?)
* For the automation

[2020-07-23 10:58] yehia2221 opened #7870 "azurerm_application_gateway - when updating the list in the request_routing_rules or redirect_configurations, it requires deleting all the items in the list and recreating them"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-23 11:35] mybayern1974 commented on #7832
Hi @boillodmanuel , yes I believe it's not a rare case that users mix use Terraform and other ways to manage resources, as your example here. This is definitely not wrong while Terraform is unable to manage states of resources that were not brought into the Terraform plate by Terraform, which could potentially have the side effect as this issue reports, which also I assume it's Terraform by design

[2020-07-23 12:03] maaloom commented on #7854
issue resolve by changing the azurerm version from 2.0.0 to 2.1.0

[2020-07-23 12:03] #7854 closed

[2020-07-23 12:26] khaliddermoumi commented on #6031
Works!
Thx Tracy :)

[2020-07-23 12:26] #6031 closed

[2020-07-23 12:32] armandorvila commented on #7325
Same here, getting the error too.

[2020-07-23 13:19] #7717 closed

[2020-07-23 13:28] jmapro commented on #7759
I've just tested by downgrading to Azurerm v2.17.0 and I don't have the issue. The issue seems to be related to [this commit](https://github.com/terraform-providers/terraform-provider-azurerm/commit/83a5dfb1c607ac3c87700ec72a8527ac2cb258b9#diff-d1b12536b2a66e2c6929576dc9231a56) on v2.18.0

[2020-07-23 13:48] Marcus-James-Adams commented on #1303
with MS now contributing to the azurerm provider is there any plan to resolve this issue.
it seems to be common amongst a number of resources now that you can create the resource, create the application insights but can't link them togeather.

[2020-07-23 14:29] Dav1dde commented on #7759
@jmapro the original issue description contains a link to the PR that introduced it, in case you didn't see.

[2020-07-23 14:33] tysimo commented on #7747
This issue appears to be resolved North Central US region now.

[2020-07-23 14:37] mregni commented on #1109
The "NoSet" fix seems to work again in version 2.20 for me

[2020-07-23 14:40] #6232 closed

[2020-07-23 14:40] #6491 closed

[2020-07-23 14:41] fnocera commented on #7747
Resolved in East US 2 region too

[2020-07-23 16:06] Heer-Boaz commented on #2704
For anyone facing this issue - there is a simple work-around that I verified to work in version 0.12.28.
Note the `ip_address = null` and populating both `virtual_network_subnet_id` and `subnet_id`.
[code]

[2020-07-23 16:09] Heer-Boaz commented on #4383
For anyone encountering the same problem, this is a simple work-around to use:
For anyone facing this issue - there is a simple work-around that I verified to work in version 0.12.28.
Note the `ip_address = null` and populating both `virtual_network_subnet_id` and `subnet_id`.
[code]

[2020-07-23 16:15] aristosvo commented on #7325
The feature is not GA anymore, due to a delayed rollout: https://github.com/Azure/AKS/issues/1489#issuecomment-663065702.

Also, when I deploy it with a custom build `azurerm` provider API version 2020-06-01, it still doesn't work and still complains if the preview feature is not enabled:

[code]

I'm working on a PR at the moment, seems to work but Acceptance testing takes a little while.

[2020-07-23 16:16] DejeroDaniel commented on #7813
Thanks, I followed the advice of @gsimoes and went down in versions until I was able to do a successful terraform plan, which for me was 2.13.0.

However I don't have any actualy changes to make to my infra, I just needed to update the provider. And When I go back to 2.19.0, the same issue persists. So I guess I will just stay on 2.13.0 for now.

[2020-07-23 16:18] #7255 closed

[2020-07-23 16:43] benhurjoel opened #7875 "Support for azurerm_container_group - mounting a Git repo to a container instance."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-23 16:59] yehia2221 opened #7876 "azurerm_application_gateway - Ignore changes for ssl certificate does not work"
We have initial SSL certificates that were deployed via terraform, after the deployment, we have a process 'runbook' which renews the certificates automatically.  We have added the `ssl_certificate` block to the ignore_changes, and the `terraform plan` shows no actions and diff in the output, however, after the deployment, the certificates are destroyed and reset to the initial ones. This Behavior

[2020-07-23 17:26] doherty100 commented on #7747
Resolved in eastus!

[2020-07-23 17:27] doherty100 commented on #7747
@ikukulevskyi my understanding is that the fix should be rolled out worldwide by EoD 23-July-2020 PST.

[2020-07-23 18:19] joaooamaral commented on #7747
Resolved in westeurope region

[2020-07-23 19:29] #7830 closed

[2020-07-23 19:35] derekwinters opened #7877 "Documentation format issue - azurerm_eventgrid_topic"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-23 22:38] #6115 closed

[2020-07-23 22:55] #7242 closed

[2020-07-23 23:04] #7089 closed

[2020-07-23 23:06] #7808 closed

[2020-07-23 23:10] #7877 closed

[2020-07-24 00:05] massimo1993 opened #7880 "Failed to Provision Storage Container After Destroy"
### Terraform Version
Terraform v0.12.28
azurerm v2.20.0

### Terraform Configuration Files
[code]

### Expected Behavior
A container should of been created after the storage account.

### Actual Behavior
[code]

**Note:** If I wait x amount of minutes, 10 minutes for example and run another apply it works.

Also the storage account does exist when this issue happens.

### Steps to Reproduce

1. `

[2020-07-24 00:23] oleksiypavlenko opened #7881 "CDN Profile in Global region not compatible with AzureRM v2.20.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-24 00:37] mllu opened #7882 "SubscriptionNotRegisteredWithAKS when provision AKS and analytics workspace in West US 2"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-24 01:27] #3305 closed

[2020-07-24 01:30] #7809 closed

[2020-07-24 01:47] #7007 closed

[2020-07-24 02:09] neil-yechenwei commented on #7870
request_routing_rule and redirect_configuration is TypeSet, which means it's unordered collection. So it cannot know which item is changed when the item of the collection is changed. So I assume it's expected behavior. And the updated collection would be put into http request body while calling rest api, so I assume api would process it as incremental increase. So it should be partial update.

[2020-07-24 02:23] #7882 closed

[2020-07-24 03:55] lrxtom2 commented on #7834
@charlesdee Thanks for opening the issue! I am working on that to look for workaround about that. Thanks for that.

[2020-07-24 04:34] pierreyvesv commented on #7820
you are right ! thanks

[2020-07-24 04:34] #7820 closed

[2020-07-24 04:43] subesokun commented on #7808
@yupwei68 @katbyte  Thank you very much 😄

[2020-07-24 06:12] #5682 closed

[2020-07-24 06:17] #7807 closed

[2020-07-24 06:30] ArcturusZhang commented on #7802
Hi @LeankitJSmith thanks for this issue!

Just get a closer look at the output log, the error is actually thrown out from the load balancer. And one big change between 2.17 and 2.18 in load balancer is that we update the api-version of the network service.

@magodo do you have any insight on this?

[2020-07-24 06:46] magodo commented on #7802
@LeankitJSmith thank you for submitting this and I'm sorry you are experiencing it.

This is a duplicate of #7691, so I am going to close this issue in favor of that one. Thanks!

[2020-07-24 06:46] #7802 closed

[2020-07-24 07:37] yupwei68 commented on #7472
Hi @richardasavie , sorry for the delay, currently cosmos db service version has been updated to 2020-04-01 and released in `2.20.0`.
Please refer to  https://github.com/terraform-providers/terraform-provider-azurerm/pull/7597.
And currently you could import your mongo db with url: `subscriptions/<my-subscription-id>/resourceGroups/<my-resource-group>/providers/Microsoft.DocumentDB/databaseAccount

[2020-07-24 07:43] yupwei68 commented on #7401
Hi @epomatti , thanks for opening this issue. Sorry for the delay. Currently we have upgraded our cosmos service api version to `2020-04-01` and released in `2.20.0`. Please refer to https://github.com/terraform-providers/terraform-provider-azurerm/pull/7597.
I have tested your configuration and the notification doesn't show up in `2.20.0`. Please try our new release.

[2020-07-24 07:45] ArcturusZhang commented on #7751
Hi @rohrerb  thanks for opening this issue!

But unfortunately I cannot reproduce this issue. Initially I regard this issue should have similar root cause comparing with issue #7810 - dynamic blocks lead to duplicated items in a set. But when I am using the following config, I could not reproduce this.
[code]
Did I miss something or could you please provide some more context?

[2020-07-24 08:03] #7130 closed

[2020-07-24 08:23] richardasavie commented on #7472
Awesome folks! thanks for the notification @yupwei68 👍

[2020-07-24 08:27] mybayern1974 commented on #7876
hi  @yehia2221

Thanks for opening this issue :)

Taking a look through this appears to be a duplicate of #4084- rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one; would you mind subscribing to #4084 for updates? Or feel free to reopen if you believe these two issues are not talking about the same thing.

Thanks!

[2020-07-24 08:27] #7876 closed

[2020-07-24 08:28] yuri-tieto commented on #4378
Any idea if this can work with Managed Identities? We are using Managed Identities for authenticating Terraform. Can Managed Identity be shared between tenants?

[2020-07-24 09:23] neil-yechenwei commented on #7880
Thanks for opening this issue. After tested several times with your repro steps and below tfconfig which is similar with yours, seems I cannot repro this issue. Maybe I missed something. Could you have a try below tfconfig to check whether the issue still exists?
[code]

[2020-07-24 10:51] eedwards36 opened #7887 "Error when updating azurerm_mssql_server_security_alert_policy when storage account has firewalls enabled."
Issues on GitHub are intended to be related to bugs or feature requests with provider codebase,
so we recommend using our other community resources instead of asking here 👍.

---

If you have a support request or question please submit them to one of these resources:

* [HashiCorp Community Forums](https://discuss.hashicorp.com/c/terraform-providers)
* [HashiCorp support](https://support.hashicorp

[2020-07-24 10:52] satano opened #7888 "Function app slot (azurerm_function_app_slot) is created with bad value for WEBSITE_CONTENTSHARE app setting"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-24 11:39] mregni commented on #1691
@brandonh-msft, just to be sure, there is no way with plain terraform script to deploy a Logic App Connection?
Asking because the link you gave in your last post points to an ARM template that is included in a terraform schript.

[2020-07-24 12:55] mikeclearbank commented on #6025
hitting the same issue

[2020-07-24 14:20] hashibot[bot] opened #7889 "azurerm_application_gateway deployment always returns InternalServerError and creates resource in Failed state"
_This issue was originally opened by @pdroz as hashicorp/terraform#25664. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

https://gist.github.com/pdroz/2782ae6974b1642a84db

[2020-07-24 15:45] #7747 closed

[2020-07-24 16:02] brandonh-msft commented on #1691
correct. But it's _a_ way of doing it until it's available in a more first-class fashion in terraform.

[2020-07-24 16:17] ElliotMatthew opened #7891 "Version 2.20.0 reports an error during plan for BotChannel"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-24 17:15] massimo1993 commented on #7880
Thank you for the quick response, I will try out some more testing. The only thing that I can think of is that when I was using West US 2 as the location, I never faced the issue.

Thank you guys for the amazing provider, I use it at my job on a daily basis. I will test out my theory if the issue is related to location. I will let you know my findings.

[2020-07-24 17:25] jmcshane opened #7892 "Support for max_surge parameter on azurerm_kubernetes_cluster_node_pool"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-24 17:37] massimo1993 commented on #7880
I was able to reproduce the issue again by using the same location that I encountered the error.

[code]

### Steps to Reproduce

1. `terraform apply`
2. `terraform destroy`
3. Wait x amount of minutes, maybe 5-10 minutes and apply again and issue solved.

### Terraform Configuration Files

[code]

**Note:** I am using South Central US as the location. I also tried West US 2 and same error. It doe

[2020-07-24 17:42] epomatti commented on #7401
Hi @yupwei68 thanks again.

Yes, I tried it and the Portal did not ask for an update. Thanks!

[2020-07-24 17:42] #7401 closed

[2020-07-24 19:10] tcz001 commented on #5299
Recently we see a lot of issues introduced by this error,

I'm assuming it's a issue caused by Azure Storage account List API handling in terraform-azurerm-provider because of following reasons, will try to collect debug logs in places that reproducing this error to prove the assumption.

Behaviors:

1. It's a known issue reported by community github issue
2. it's causing a relative issue on child

[2020-07-24 19:11] tcz001 commented on #5299
@tombuildsstuff can you take a look?

[2020-07-24 21:04] oleksiypavlenko commented on #7891
Looks like related to this issue https://github.com/terraform-providers/terraform-provider-azurerm/issues/7881
Cannot create CDN in "global" region after v2.20.0 upgrade

[2020-07-24 22:33] bkarlen opened #7895 "azurerm_sql_server TimeOut"
My terraform Creation was working earlier in the week up until yesterday, and has just stopped working today. It is now spinning on the creation of the sql server for an hr and then timing out in Azure DevOps. I haven't changed anything in my Terraform.

![image](https://user-images.githubusercontent.com/65780172/88440450-92a06480-cdd3-11ea-8359-44d95f588766.png)

[2020-07-24 23:20] hashibot[bot] opened #7896 "Old Azure vWAN API issues. New vWAN Routing features are not enabled"
_This issue was originally opened by @WapoInc as hashicorp/terraform#25672. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Current Terraform Version

[code]

### Use-cases

Azure vWAN has just launched a whole list of new vWAN Routing features. Currently Terr

[2020-07-25 05:01] nicksin-leroux commented on #3910
Was there any movement on this ?

[2020-07-25 13:32] nezoic commented on #1691
We actually abandoned Logic apps over this and went with Functions. Logic
apps are over complicated when it comes to real world scenarios, they
should just retire them.

On Fri, Jul 24, 2020, 11:03 AM Brandon H <notifications@github.com> wrote:

[2020-07-25 14:14] alex-3sr opened #7899 "Support for TLS version in azurerm_mariadb_server"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-25 16:07] amanpurwar1 commented on #7895
I have tried out its working fine with terraformVersion: '0.12.3' with provider "azurerm" 2.20.0

/opt/hostedtoolcache/terraform/0.12.3/x64/terraform apply -auto-approve
azurerm_resource_group.example: Creating...
azurerm_resource_group.example: Creation complete after 2s [id=/subscriptions/xxxxxxxxxxxxxxxxxxxx/resourceGroups/database-rg12]
azurerm_storage_account.example: Creating...
azurerm_stor

[2020-07-25 17:35] amanpurwar1 commented on #7880
**Working fine for me as i have destroyed and run apply again instantly**

-/+ destroy and then create replacement

Terraform will perform the following actions:

  # azurerm_resource_group.rg21 must be replaced
-/+ resource "azurerm_resource_group" "rg21" {
      ~ id       = "/subscriptions/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/rg21" -> (known after apply)
      ~ location = "westus2" -> "e

[2020-07-25 17:36] amanpurwar1 commented on #7880
-/+ destroy and then create replacement

Terraform will perform the following actions:

  # azurerm_resource_group.rg21 must be replaced
-/+ resource "azurerm_resource_group" "rg21" {
      ~ id       = "/subscriptions/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/rg21" -> (known after apply)
      ~ location = "westus2" -> "eastus" # forces replacement
        name     = "rg21"
      - tags     = {}

[2020-07-25 17:37] amanpurwar1 commented on #7880
/clouddrive/SRE/Azure/Terraform/storage$ terraform apply
azurerm_resource_group.rg21: Refreshing state... [id=/subscriptions//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/resourceGroups/rg21]
azurerm_storage_account.storage_account: Refreshing state... [id=/subscriptions//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/resourceGroups/rg21/providers/Microsoft.Storage/storageAccounts/storage1159]
azurerm_s

[2020-07-25 17:42] amanpurwar1 commented on #7880
Working fine for me as i have destroyed and run apply instantly  it created SA as well as Container

clouddrive/SRE/Azure/Terraform/storage$ terraform apply
  azurerm_storage_account.storage_account must be replaced
-/+ resource "azurerm_storage_account" "storage_account" {
      ~ access_tier                      = "Hot" -> (known after apply)
        account_kind                     = "StorageV2

[2020-07-25 17:43] amanpurwar1 commented on #7880
resource azurerm_storage_account storage_account {
  name                     = "storage1159"
  resource_group_name      = azurerm_resource_group.rg21.name
  location                 = azurerm_resource_group.rg21.location
  account_tier             = "Standard"
  account_replication_type = "LRS"
}

resource azurerm_storage_container storage_container {
  name                  = "container1159"
  s

[2020-07-25 21:31] Marcus-James-Adams opened #7900 "TF rebuild of AKS cluster does not taint and rebuild helm_release"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-25 21:32] bkarlen commented on #7895
I am using  terraformVersion: '0.12.3' with provider "azurerm" 2.20.0 with Azure DevOps
This is part of my terraform

data "azurerm_resource_group" "rg" {
  name = "${var.resource_group_name}-${var.environment}"
}

resource "azurerm_storage_account" "sasql" {
  name                     = "sasqlsecurity${var.environment}"
  resource_group_name      = data.azurerm_resource_group.rg.name
  location

[2020-07-25 22:11] pingwu90 commented on #3743
👍

[2020-07-25 23:44] bkarlen commented on #7895
I have removed all the tf other than creating the server and it is still stalling out.

[2020-07-26 02:35] amanpurwar1 commented on #7895
You’re trying to say that you have removed all tf modules now you’re are provisioning Sql server only and still it is stalling out ?

[2020-07-26 07:52] amanpurwar1 commented on #7895
This  tf conf. is working fine for me

resource "azurerm_resource_group" "example" {
  name     = "database-rg12"
  location = "West US"
}

resource "azurerm_storage_account" "example" {
  name                     = "examplesa3456"
  resource_group_name      = azurerm_resource_group.example.name
  location                 = azurerm_resource_group.example.location
  account_tier             = "Stan

[2020-07-26 07:54] amanpurwar1 commented on #7895
Find the Build log

------------------------------------------------------------------------------------------------------------------------------------------
2020-07-26T07:44:23.9101467Z [command]/opt/hostedtoolcache/terraform/0.12.3/x64/terraform providers
2020-07-26T07:44:23.9397461Z .
2020-07-26T07:44:23.9398275Z â””â”€â”€ provider.azurerm ~>2.0
2020-07-26T07:44:23.9398423Z
2020-07-26T07:44:23

[2020-07-26 11:57] 3mard commented on #699
Good news guys, ListHostKeys is part of the go-sdk now, I opened a PR to resolve this issue

[2020-07-26 16:05] kensykora commented on #4532
I'm seeing this issue as well, trying to add managed identity to already existing azure function

[2020-07-26 22:51] bkarlen commented on #7895
data.azurerm_resource_group.rg: Refreshing state...
azurerm_log_analytics_workspace.lawsql: Creating...
azurerm_storage_account.sasql: Creating...
azurerm_log_analytics_workspace.lawsql: Creation complete after 4s [id=/subscriptions/xxxxxxxxxxxxxxxxxxxxxxxxxxxx/resourcegroups/rg-data-staging/providers/microsoft.operationalinsights/workspaces/lawsql-staging]
azurerm_storage_account.sasql: Still cre

[2020-07-27 00:36] amanpurwar1 commented on #7895
Tf configuration is fine or else check with your pipeline steps

[2020-07-27 00:51] bkarlen commented on #7895
this is just one step, the Tf validate and apply provided by microsoft. I will open an issue on their github.

[2020-07-27 02:01] deepanshumarwah opened #7903 "Azure Kubernetes cluster => unsupported block type error."
### Community Note

### Terraform (and AzureRM Provider) Version

Provider version : 2.15
Terraform version: 0.12

### Affected Resource(s)

* `azurerm_kubernetes_cluster`

### Terraform Configuration Files

[code]

### Debug Output

### Panic Output

### Expected Behavior

### Actual Behavior

Error: Unsupported block type

  on main.tf line 61, in module "azurerm_kubernetes_cluster":
  61:   def

[2020-07-27 02:46] yupwei68 commented on #7899
Hi @alex-3sr , thanks for opening this issue. You're right, the service api has not supported this field yet. Would you mind opening an issue in https://github.com/Azure/azure-rest-api-specs/issues to suggest the service team?

[2020-07-27 02:55] lrxtom2 commented on #7152
https://github.com/Azure/azure-rest-api-specs/issues/10257

[2020-07-27 04:14] neil-yechenwei commented on #7889
Thanks for opening this issue. After tested with below tfconfig, seems I cannot repro this issue. Maybe I missed something. Could you have a try below tfconfig to check whether the issue still exists? Thanks.
[code]

[2020-07-27 04:31] neil-yechenwei commented on #7896
Thanks for opening this issue. After checked, seems I didn't find any routing features of virtual wan from [api doc](https://docs.microsoft.com/en-us/rest/api/virtualwan/virtualwans/createorupdate). Could you share some document for this feature? Thanks.

[2020-07-27 05:07] asubmani commented on #7530
I am facing the same issue. Using terraform: **0.12.29**  and 1azurerm_provider` : **2.20.0**

## BELOW WORKAROUND WORKS:

1.  Modify your terraform .tf files to add `sku_tier = paid`
2.  Use `az cli` commands to set `uptime-sla`
2.  Run terraform plan and then apply

## Actual Commands:

[code]
[code]

[2020-07-27 05:16] amanpurwar1 commented on #7903
Whats variables you have declared in vars.tf

[2020-07-27 05:30] fefore commented on #7028
Having the same issues despite setting the flag `public_network_access_enabled = true` as Basic tier does not support Private link. I had the code working for a few weeks and now it's complaining.

`resource "azurerm_mysql_server" "metrics_mysql" {
  name                = "test-sample-metrics-mysqlserver"
  location            = "australiasoutheast"
  resource_group_name = "${var.azure_rg}"

  adm

[2020-07-27 05:37] fefore opened #7905 "Azure MySQL Server - Basic Tier issues on Terraform"
So I've been following https://www.terraform.io/docs/providers/azurerm/r/mysql_server.html#public_network_access_enabled to create MySQL servers on Azure. I'm using the Basic tier and I've been facing this issue where public access needs to be enabled for MySQL servers

Despite setting the flag `public_network_access_enabled = true` as Basic tier does not support Private link. It's still complaini

[2020-07-27 06:19] deepanshumarwah commented on #7903
All of these
[code]

[2020-07-27 06:27] WodansSon commented on #7831
Closing as duplicate of #7796

[2020-07-27 06:27] #7831 closed

[2020-07-27 06:38] yupwei68 commented on #6502
Currently I'm blocked by https://github.com/Azure/azure-rest-api-specs/issues/10162

[2020-07-27 06:55] neil-yechenwei commented on #7891
Thanks for opening this issue. Terraform introduces an environment variable `ARM_PROVIDER_ENHANCED_VALIDATION` for improving the location validation and default value is true since 2.20. For your case, if you want to use `global` location, please set this environment variable as `false` and try again, then it should be passed.

[2020-07-27 07:02] sdebruyn commented on #6030
Can be closed now

[2020-07-27 07:10] #6030 closed

[2020-07-27 07:17] amanpurwar1 commented on #7903
Remove dash in name of node_name. in vars.tf

harish@Azure:~/clouddrive/SRE/Azure/Terraform/aks1$ terraform apply
var.dns_prefix
  The DNS prefix associated to the managed cluster.

  Enter a value: exampleaks1

var.location
   The Azure location where the Managed Kubernetes Cluster will be provisioned.

  Enter a value: East US

var.log_analytics_workspace_id
  The ID of log analytics workspace f

[2020-07-27 07:18] deepanshumarwah commented on #7903
cool. thanks for your help.

[2020-07-27 07:29] gek0 opened #7906 "Terraform and Azure API locations inconsistency"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-27 07:47] alex-3sr commented on #7899
Hi @yupwei68 ,

Yes sure, no problem ;) I create this issue -> https://github.com/Azure/azure-rest-api-specs/issues/10259

Thanks and have a nice day
Regards
Alexandre

[2020-07-27 08:23] yupwei68 commented on #7905
Hi @fefore , thanks for opening this issue. It appears that `infrastructure_encryption_enabled` is not supported for sku `Basic`. I have tried to create with the following configuration with success:
[code]

I'll later add a verification for it in Terraform.

[2020-07-27 08:23] neil-yechenwei commented on #7881
Thanks for opening this issue. Terraform introduces an environment variable `ARM_PROVIDER_ENHANCED_VALIDATION` for improving the location validation and default value is true since 2.20. For your case, if you want to use `global` location, please set this environment variable as `false` and try again, then it should pass. See more details from [changelog](https://github.com/terraform-providers/ter

[2020-07-27 08:25] pst commented on #7716
@tombuildsstuff I don't think question is the correct label here. This behavior has changed. Either between a provider release or due to a change on the Azure API side. Either way, the block is optional and should not cause a diff if not set.

Is this behavior possible related to [this](https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard) upstream change?

[2020-07-27 08:56] amanpurwar1 commented on #7903
Please close the issue

Regards
Aman

[2020-07-27 09:58] aberva opened #7909 "Bug Report : Support for User Assigned Managed Identity on API Management"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-27 11:18] c4m4 commented on #7276
I did one step forward, but the problem now is the resource group

data "azurerm_public_ip" "example" {
  name                = tolist(azurerm_kubernetes_cluster.k8s.network_profile.0.load_balancer_profile.0.effective_outbound_ips)[0]
  resource_group_name = azurerm_kubernetes_cluster.k8s.node_resource_group
}

[2020-07-27 12:03] #7903 closed

[2020-07-27 13:30] c4m4 commented on #7276
I had to workaround this using this:

[code]

[2020-07-27 14:00] aristosvo commented on #7325
I've implemented a fix and added Acceptance tests to cover the scenarios in this issue.

If nothing goes wrong it will make next release! 🎉

[2020-07-27 14:01] jackofallops commented on #7906
By way of update. This is blocked until we get a resolution from MSFT on the locations API returning incorrect values for the India locations. Once we get reliable data back, we'll be able to merge @favoretti 's PR to correct the tests.

[2020-07-27 14:06] martinowen commented on #7849
This is an issue within Azure Resource Manager, not Terraform. The Terraform AzureRM Provider is just exposing the clientCertEnabled property which is a boolean: https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2019-08-01/sites#siteproperties-object

[2020-07-27 14:25] rohrerb commented on #6902
@hbuckle do you have a update from Microsoft on this?  If possible are you able to share the ticket number opened?

[2020-07-27 14:27] prabhakarreddy1234 opened #7910 "Monitor alerts for AKS failing in the latest AzureRM version"
`azurerm_monitor_metric_alert` resource provisioning started failing after upgrading to `AzureRM: 2.20.0`.  I Confirm that same configuration works well with `AzureRM:2.18.0`.

**Exception :**
`Error creating or updating metric alert "kubernetes-pods-failing-alert" (resource group "rg-name"): insights.MetricAlertsClient#CreateOrUpdate: Failure responding to request: StatusCode=400 -- Original Erro

[2020-07-27 14:39] pragadeeshraju commented on #7834
@lrxtom2 this is happening when you create the directories for share using "azurerm_storage_share_directory" and destroying the created resources(when there is some files in the directory)

[2020-07-27 14:42] pragadeeshraju commented on #7833
similar issue, I'm using a private image from the docker hub. but it works if we use a public image.

[2020-07-27 15:11] ardacetinkaya commented on #7849
@martinowen I think there is some documentation issues in doc.microsoft.com, because within resources.azure.com, with PATCH/PUT operation I am able to update my site's clientCertMode as "Optional"(Allow) or "Required"(Required)

[code]

[2020-07-27 15:13] jbinko commented on #7394
Based on the feedback changing the spec. Capacity will not be used directly. sku_name will contain tier name and capacity. Effectively merging sku and capacity all together.

[2020-07-27 16:06] sean-keane25 commented on #3743
This issue still exists in the latest provider.azurerm v2.20.0 .

This MSFT doc discuss the step to configure the managed identify via portal or powershell but doesn't cover how to accomplish it via REST API.

https://docs.microsoft.com/en-us/azure/governance/policy/how-to/remediate-resources#manually-configure-the-managed-identity

[2020-07-27 16:07] naioja commented on #7896
Hi Neil,

The issue reported here is being addressed in this pull request : https://github.com/terraform-providers/terraform-provider-azurerm/pull/7601. We are trying just to put a bit of focus on it.

[2020-07-27 16:28] sdhibit commented on #7586
I'm having a very similar issue, but with an additional policy restriction on network security groups too. Like in @D4zedC0der's case, our organization enforces Azure policy that denies subnet creation without a route table or NSG. For us, subnets are almost always created _after_ the virtual network is provisioned, so deploying with the subnet block in the `azurerm_virtual_network` resource as pr

[2020-07-27 16:52] cvvarunraj commented on #6730
@yupwei68 Is the fix released in any version of terraform ? was trying to do some consumption tier deployment of api management, but running into the issues mentioned in this thread.

[2020-07-27 17:23] nojaf commented on #6730
@cvvarunraj while waiting for this fix, I've deployed my API management via ARM.
Code is in F# but you'll get the gist:
[code]

[2020-07-27 18:54] myliyifei commented on #6343
I encountered the same error when creating the following "Bing.Search.v7" service, even though I added this (qna_runtime_endpoint  = null) parameter to the resource module.

     sku_name    = "F1"
     location    = "Global"

---
Error creating Cognitive Services Account "stock-news" (Resource Group "stock"): cognitiveservices.AccountsClient#Create: Failure responding to request: StatusCode=400 -

[2020-07-27 20:45] kosinsky commented on #6470
REST API has been supporting update Autoscale  for a while now. However, it was added to Go SDK only in v44.2.0 https://github.com/Azure/azure-sdk-for-go/pull/11841/files#diff-eb83effee75e9070818d473dc7064433

Looks like 44.2.0 update is pretty minor one (https://github.com/Azure/azure-sdk-for-go/pull/11841) hope we will get it pretty soon

[2020-07-27 21:30] nmiodice commented on #7397
I'm running into this exact same issue with Postgres using the latest (`2.20.0`) AzureRM provider

[code]

After running `plan`/`apply`, I get this when running `plan` (some values omitted for privacy)
[code]

[2020-07-27 22:01] nmiodice commented on #7397
Workaround:

[code]

[2020-07-27 22:17] bkarlen commented on #7895
An ongoing logical server request is already in progress, please try your request again later. (Server Name: FINPACKPlusServer....
there was a problem with there being a cached request and it wasn't clearing

[2020-07-27 23:39] zparnold commented on #6360
I'll see if I can take a crack at it 😄

[2020-07-28 01:23] neil-yechenwei commented on #7896
@naioja , after checked this pr, it currently doesn't include the change of [routingConfiguration ](https://github.com/Azure/azure-rest-api-specs/blob/fd3d44736e9cd3ab963a17d424b4ef9aa0c21323/specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/virtualWan.json#L6181)property. So I assume this pr is just for upgrading version not for enhancement. I suppose this feature would b

[2020-07-28 04:55] neil-yechenwei commented on #6343
Thanks for opening this issue. After tested, I found the issue still exists. So I submit a PR to [fix ](https://github.com/terraform-providers/terraform-provider-azurerm/pull/7916)this issue.

[2020-07-28 06:36] damienpontifex opened #7921 "Time Series Insights isn't an IoT resource, so proposing rename to standard product and resource names matching Azure"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-28 06:50] njuCZ commented on #7803
@Vignesh-Rao thanks for pointing this issue, it seems it's an `terraform-plugin-sdk` issue casued by `ConfigMode: schema.SchemaConfigModeAttr`. there is no good way for now to fix it but only a workaround: use resource "azurerm_network_security_rule" with "count" or "for_each".

[2020-07-28 07:58] yupwei68 commented on #7909
Hi @aberva , thanks for opening this issue. `UserAssigned` `identity` is supported in Azurerm 2.20.0. Would you mind providing all your Terraform configuration to help to reproduce this error?

[2020-07-28 07:59] daniel-elhs opened #7923 "Support for [thing]"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-28 08:44] njuCZ commented on #7875
@benhurjoel I have submited a PR, hope it could unblock you soon

[2020-07-28 08:44] timja opened #7925 "frontdoor - read context deadline exceeded"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-28 09:05] neil-yechenwei commented on #1697
Thanks for opening this issue. After investigated, I assume default value of ip_address_type needs to be removed to allow not setting ip address according by the behavior of azure portal. So I made a [fix](https://github.com/terraform-providers/terraform-provider-azurerm/pull/7922) for this issue.

[2020-07-28 09:07] aberva commented on #7909
Hi @yupwei68 ,

[code]

I tried to make a delivery of the API management by commenting on the "hostname_configuration" block, the deployment takes place however it falls into error:

[code]

The message indicated is that this is due to the timeout which has exceeded the one indicated (60 minutes timeout indicated in the configuration).
However, from the Azure portal, the deployment continues and a

[2020-07-28 09:23] alk-rniveau commented on #6404
@josemaia did you find a workaround or are you still stuck with that ? I have the same issue

[2020-07-28 09:29] josemaia commented on #6404
The workaround is defining the data disk(s) inside the azurerm_virtual_machine.

I did it with a dynamic block:
[code]

[2020-07-28 09:40] damienpontifex commented on #7921
I found an example here https://github.com/terraform-providers/terraform-provider-azurerm/pull/4896/files where a resource was renamed

It seems approach there was to keep the old resource and duplicate the code. Unless there's a way to provide both names in the registrations.go (marking the old as deprecated) as the terraform resource and keep a single go code backing them both.

[2020-07-28 13:37] jonmaestas commented on #7014
Here is what I am doing as a work-around. I'm using this in a module and it takes a list of subnet ids as a variable. I'm open to suggestions and feedback on this temporary solution. If there's a better way to handle the `dynamic network_rulesets`, etc
[code]

[2020-07-28 14:21] lengland opened #7928 "azurerm_container_group doesn't support multiple environment_variables"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-28 14:25] arshad2117 opened #7929 "Failure during local vnet integration of app service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-28 15:35] #7530 closed

[2020-07-28 15:53] rgl opened #7930 "modifying a azurerm_key_vault access_policy key_permissions triggers a azurerm_linux_virtual_machine destroy/creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-28 16:08] ebunassar opened #7931 "Unable to Create Cognitive Account Bing Spell Check Resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-28 16:16] draggeta commented on #7152
I believe forced tunneling is automatically possible when you have a management subnet. You just need to specify routes. Please correct me if I'm wrong.

[2020-07-28 17:37] #7325 closed

[2020-07-28 18:00] rgl opened #7934 "docs: azurerm_key_vault_access_policy secret_permissions marked as required when they really aren't"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-28 18:21] rgl commented on #7930
I've found an workaround (which also as a problem... see bellow). Instead of defining the access_policy inside the azurerm_key_vault resource we can instead use the azurerm_key_vault_access_policy resource:

[code]

Although we can now change the permissions without re-creating the linux vm, there's still a scenario where it will try to destroy the vm, when we run `terraform destroy --target azure

[2020-07-28 19:12] jontreynes commented on #6719
@ryancbutler and @magodo I had the same question. I went through the portal and created one lb that is zone redundant, looked at the ARM template that was generated and saw that the ARM Template did not show the [zones](https://docs.microsoft.com/en-us/azure/templates/microsoft.network/2018-08-01/loadbalancers#frontendipconfiguration-object) object specified.

[code]

I then made a second lb throu

[2020-07-28 19:34] markslater commented on #7034
Perhaps it could work like [this similar change](https://github.com/terraform-providers/terraform-provider-aws/issues/10689) that was implemented recently for the AWS provider?

As it stands, thanks to my organisation's decision to add several tags at the subscription level, every one of my Terraform resources has a lengthy list of fake values for tags, plus an equivalent list in the `ignore_chang

[2020-07-28 20:17] #7609 closed

[2020-07-28 20:53] jamesjackson commented on #7858
@ArcturusZhang , I pulled down your branch and rebuilt the provider. Key rotation is working now ! I'll look out for the official release. Many thanks !

[2020-07-28 21:25] davejhahn opened #7935 "Ability for Application Gateway to Ignore Rules Externally Added (e.g. from AGIC)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-28 21:27] mcalik77 commented on #6164
Hi Marc, When will you finish this issue? Is there any progress?

[2020-07-28 21:39] marc-sensenich commented on #6164
@mcalik77 #7773 is open for review

[2020-07-28 21:59] ps-tb opened #7936 "Support for populating App Configuration with keys and feature flags"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-28 22:34] Justin-W opened #7937 "Update documentation with list of provider registrations required by Azurerm"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-29 00:20] darrenk13 commented on #7925
I have been using Front Door with custom domains and found that I needed to increase the read timeout of the resource to get it to complete being created successfully.  It looks like Azure or Terraform goes through the frontends serially when they are defined as part of the Front Door resource.  Domain validation was taking 5-10 minutes each for me.

Have you tried using the new resource [`azurerm

[2020-07-29 00:38] erniebilling opened #7938 "destroy azurerm_sql_failover_group doesn't remove replica db"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-29 00:43] danbyrne-tal commented on #6642
@yupwei68 , as per comments on the related REST API & provided sample - this already is possible via REST API... using the 'additionallocations' section... see example here - https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-12-01/apimanagementservice/get#apimanagementservicegetmultiregioninternalvnet

Can this be accommodated in the TF provider now?

[2020-07-29 00:56] Humoiz commented on #1832
I`m working on this resource. Will send out a PR tonight or tomorrow.

[2020-07-29 02:47] amonnphillip commented on #7412
@tombuildsstuff @ArcturusZhang  I have an approach for review. It involves using a small wrapper around the Get method that provides timeout and retry functionality. I am not a golang expert so please take a look and comment on any changes that are needed.

https://github.com/amonnphillip/terraform-provider-azurerm

[2020-07-29 02:55] magodo commented on #5819
Adding a related issue in core: hashicorp/terraform#21901

[2020-07-29 02:57] magodo commented on #7803
Hi @Vignesh-Rao Thank you for submitting this!

This issue is a terraform core issue appear for v1 plugin SDK (used by azurerm provider). There is a related issue in core: hashicorp/terraform#21901, which you might be interested to.

[2020-07-29 03:47] aristosvo commented on #7923
This works for me:
[code]

[2020-07-29 05:04] yupwei68 commented on #7909
Hi @aberva , I have confirmed with service team, the error message is by design, as retrieving hostname config certificate using user assigned identity is not yet supported.  Only System assigned identity is allowed, which you could refer to our TF test https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/internal/services/apimanagement/tests/api_management_resourc

[2020-07-29 05:37] njuCZ commented on #7759
Hi All, I have submitted a PR to revert the commit, Hope it could unblock you soon

[2020-07-29 05:54] neil-yechenwei commented on #6088
Thanks for opening this issue. I assume this issue has been fixed from service side since I cannot repro it anymore with below tfconfig in latest azurerm. Could you have a try below tf config to check if the issue still exists? Thanks.

[code]

[2020-07-29 06:05] yupwei68 commented on #7938
Hi @erniebilling , thanks for opening this issue. Failover group is by design to achieve high availability and prevent failovers of a group of databases. Sometimes the actions of failover group are more complicated than creating replications in the slave databases because the failover could reverse the primary and secondary databases. Thus it could not revert all its actions, which means by design

[2020-07-29 06:11] pdroz commented on #7889
Your example code works.  In my code I am trying to use an existing VNET and not creating a new one, would that cause some kind of issue?  Would there by any configuration setting specific to a VLAN that might prevent me from being able to use it for a new application gateway?  Do application gateways require their own dedicated VLAN ?  Or perhaps some policy could be preventing me from building a

[2020-07-29 06:22] timja commented on #7925
@darrenk13 we wrote that resource and we’re updating to the latest provider version before changing over to using that and hit this.

Will give it a try doing it in one go as that might fix it

But this is definitely a regression as this worked on the old provider versions

[2020-07-29 07:26] neil-yechenwei commented on #7928
Thanks for opening this issue. After tested with below tfconfig, seems I cannot repro this issue since these two environment variables can be created successfully. Could you have a try below tfconfig to check whether the issue still exists? Thanks.

[code]

![image](https://user-images.githubusercontent.com/19754191/88770118-e635f800-d1af-11ea-9c00-2f4bc3d8f712.png)

[2020-07-29 07:35] njuCZ commented on #7929
@arshad2117 according to https://docs.microsoft.com/en-us/rest/API/appservice/webapps/createorupdateswiftvirtualnetworkconnection, when creating a azurerm_app_service_virtual_network_swift_connection, we need to make sure the target Subnet has already been delegated.
you could follow this example to create vnet integration app service: https://www.terraform.io/docs/providers/azurerm/r/app_service_

[2020-07-29 07:49] fanaticit opened #7946 "Supplied IpAddressOrRange is not publicly routable"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-29 08:14] arshad-motorq commented on #7929
@njuCZ Thanks. Seems like subnet delegation was the issue

[2020-07-29 08:18] ArcturusZhang commented on #7412
Hi @amonnphillip could you please just open a pull request from your forked master? And thanks for your contribution!

[2020-07-29 08:18] shebang89 opened #7947 "azurerm_kubernetes_cluster not working with Gen2 vm_size"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-29 08:22] njuCZ commented on #7929
@arshad-motorq thanks for your quick try. Since you could create it successfully, I am going to close this issue.

[2020-07-29 08:29] ArcturusZhang commented on #7937
Hi @Justin-W thanks for opening this issue!

While I agree that clear documentation would help, it may not be a good idea just reference code in the documentation. And also I do not think hard code all these supported providers in the documentation is a good idea. Every time we add a new RP, we may have to also update this documentation and it is just not so elegant.
But I suppose we could get a s

[2020-07-29 08:37] MrSimonEmms opened #7948 "Cannot use azure_blob_storage_location in azurerm_data_factory_dataset_delimited_text"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-29 09:23] njuCZ commented on #7930
@rgl Could you privide some terraform plan console output? I had a look at the script, it seems a little complex. I could only find the dependency relation: virtual machine -> template_file -> key vault. and it seems no problem

[2020-07-29 11:13] lengland commented on #7928
Hi @neil-yechenwei ,

I've tried your solution and it works perfectly in both the `eastus2` and `uksouth` regions. I also applied my previous config to find that that also worked now. So it seems I was facing a transient problem last night.

Comparing the TF Plan outputs of both configs produces the same results, so I assume this is resolved.

Thanks

[2020-07-29 11:48] haaranenjarmo commented on #3216
Correct log_types are ContainerInsights and ContainerInstance

[2020-07-29 11:56] StefanSchoof commented on #7937
To improve the error message if provider missing I created https://github.com/hashicorp/go-azure-helpers/pull/46, but this is there for a long time.

[2020-07-29 12:45] OlivierMns commented on #6404
Same issue on my side using "azurerm_linux_virtual_machine" and "azurerm_virtual_machine_data_disk_attachment", moreover I can't find a way to use a disk-encryption-set with the "azurerm_virtual_machine" and "storage_data_disk" workaround.
Is there a way to postpone/pause the VM startup (to make sure the disk is attached before the cloud-init script is executed) ?

[2020-07-29 13:31] miikka commented on #3216
How do you figure this out? The [docs](https://docs.microsoft.com/en-us/rest/api/container-instances/containergroups/list#loganalyticslogtype) still say it's `ContainerInsightsLogs`

[2020-07-29 13:32] akleiser-midmark commented on #7815
I appreciate the response @yupwei68 , we will look at managing our certificates with the terraform.

I'm still suspicious of the `ignore_changes` not working for certificates correctly. My thought was that if the `ignore_changes` were set and terraform had no mention of certificates it would continue to send an explicity null value for the certificates or leave it out of the body being sent to the

[2020-07-29 13:43] johnwildes commented on #7152
It is not.  A separate IP address is created, a separate management subnet is created (or needs to exist) and then you have to add routes.  However, you can't build an AZFW resource without force tunneling and then add it later.  It has to be done during deployment.

[2020-07-29 15:20] #7934 closed

[2020-07-29 16:02] #7759 closed

[2020-07-29 16:24] Justin-W commented on #7937
That's why I suggested a link to the source code. I agree that a link to the source code isn't great, but I thought it was better than having to update the docs every time that source code changes. I'm open to other, better ideas, though.

[2020-07-29 16:54] amit-ch opened #7950 "Provider behavior changed for azurerm_api_management_api resource and now subscription_required defaults to false"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-29 16:56] benhurjoel commented on #7875
@njuCZ Thank you and looking forward to it.

[2020-07-29 18:50] amonnphillip opened #7952 "Support for [thing]"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-29 19:30] rgl commented on #7930
this post is going to be long, sorry about that...

# terraform plan when everything is new:

[code]

# tfplan after commenting a key_permissions item

After commenting `"get"`:

[code]

The plan is:

[code]

I'm not sure if this helps, here's the output of `terraform graph | dot -Tpdf >graph.pdf`:

[graph.pdf](https://github.com/terraform-providers/terraform-provider-azurerm/files/4997006/graph.p

[2020-07-29 19:45] supratim-persistent opened #7954 "azurerm_data_factory_dataset_delimited_text does not work with azure_blob_storage_location"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-29 20:12] Marcus-James-Adams opened #7955 "azurerm_app_service_hybrid_connection - clarification on send_key_name"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-29 20:30] djsly commented on #6041
@nitzanm  / @ArcturusZhang  which of the two PR should I follow to know when this is ready ?

@katbyte  I see you are reviewing #7846 , should we expect this in 2.21.0 ? :)

[2020-07-29 23:10] massimo1993 commented on #7880
I don't know what else to say, it must be some environment issue or maybe my Azure account. I guess we can close this issue for now. It's kind of odd and weird that I am always able to reproduce it in every try.

[2020-07-30 00:07] neil-yechenwei commented on #7935
Thanks for opening this issue. Per my understanding, terraform manages resources on resource level, which means it wouldn't handle resource on property level. So suggests to use terraform to add these properties or use ignore_changes to workaround these properties.

[2020-07-30 00:10] pdroz commented on #7889
After speaking with microsoft we found out that I needed to add a route table with a UDR allowing direct internet access for the subnet my application gateway was deployed to.

I had to add the following to my terraform code:
[code]

Hope this helps someone else having similar issues.

[2020-07-30 02:39] ArcturusZhang commented on #7937
I assume it would be best if we could introduce some mechanism like the `WebsiteCategories` - which has a `go generate` command that runs every time we call `make build` to build the provide and generate a full list of the website categories, in this case, it generates the list of the required providers - I suppose this could be a more elegant solution.

@Justin-W @tombuildsstuff @katbyte what do

[2020-07-30 03:18] yupwei68 commented on #7815
Hi @akleiser-midmark , `certificate` is a special case because it's sensitive and it'll not return back for service api. In other cases, `ignore_changes` could work because it could detect the changes and choose to not update them. In this case, we could not detect the changes, which is indicated from step 4. Thus we could not ignore the changes. Sorry that it caused some inconveniences for you. B

[2020-07-30 03:30] ArcturusZhang opened #7957 "`azurerm_linux_virtual_machine_scale_set` - update error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-30 04:47] neil-yechenwei commented on #7936
Thanks for opening this issue. I assume this issue is requesting two features "app config key" and "app config feature flag". After checked, seems "app config key" has been implemented by [rest api](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/1.0/appconfiguration.json) but "app config feature flag" hasn't imp

[2020-07-30 05:32] neil-yechenwei commented on #5421
Thanks for opening this issue. After investigated, I found the [subnet name](https://github.com/terraform-providers/terraform-provider-azurerm/blob/34b981a972f57be588dee1738db5a9f7467811ad/azurerm/internal/services/devtestlabs/dev_test_virtual_network_resource.go#L301) in dev code is used for SubnetOverride, which means here subnet name only can be handled by service api. So if you want to specify

[2020-07-30 05:53] ArcturusZhang commented on #7952
Hi @amonnphillip thanks for this issue!

This is a good idea but I think the VM resources are not a proper position for this. Actually there is already some piloting work in issue #3025 and PR #3798 for availability zones (but it is still not implemented yet). We could also introduce another data source called `azurerm_virtual_machine_sizes` by given a location or more and then output the possible

[2020-07-30 06:27] mybayern1974 commented on #7948
hi  @MrSimonEmms

Thanks for opening this issue :)

Taking a look through this appears to be a duplicate of #7954. Rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one. Specially, in that issue is there a PR contributing to resolve it. Would you mind subscribing to #7954 for updates? Or feel free to reopen if you believe these two issu

[2020-07-30 06:27] #7948 closed

[2020-07-30 06:48] njuCZ commented on #7955
@Marcus-James-Adams I am sorry that the document is not detailed. The `send_key_name` means: The name of the Service Bus key which has Send permissions. This is used to authenticate to Service Bus.

According to https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-sas#shared-access-authorization-policies
[code]

you could directly use `send_key_name = "RootManageSharedAccessKey

[2020-07-30 07:01] asinitson opened #7960 "azurerm_function_app Example Usage (Linux) in docs produces error on apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-30 07:35] neil-yechenwei commented on #2145
Thanks for opening this issue. I can repro it. Seems it's an issue on rest api. So I filed an issue on Azure/azure-rest-api-specs#10298.

[2020-07-30 07:45] Marcus-James-Adams commented on #7955
Hi,
thanks for that,

I did try that and it resolved the error on creation.  However when you run the hybrid collector client on the endpoint server whilst it shows the connection it is grayed out as it shows the endpoint as blank

[2020-07-30 07:59] prabhakarreddy1234 commented on #7960
I faced the same issue but i followed terraform documentation and it worked.

you need to set  `kind` to `Linux` in `azurerm_app_service_plan`

[code]
You can refer the examples here - https://www.terraform.io/docs/providers/azurerm/r/app_service_plan.html

[2020-07-30 08:28] FreddyAyala opened #7962 "Support for azurerm_shared_image for plan information"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-30 08:32] draggeta commented on #7152
Sorry, that is what I meant. There is no toggle for forced tunneling like in the Azure portal. You create the subnet and ipconfig during deployment (as well as pub IP) and then forced tunneling is possible to be implemented.

[2020-07-30 08:35] megaalc commented on #3507
Hi, any update on this ?
Thank you in advance..
MS

[2020-07-30 08:42] alastairtree commented on #7950
This is a security issue for us and has made some stuff public that required keys before, as we use modules that do not restrict provider version. Please fix!

[2020-07-30 08:53] neil-yechenwei commented on #3662
Thanks for opening this issue. After tested with below tfconfig and latest azurerm, seems I cannot repro this issue anymore. Maybe I missed something. Could you have a try below tfconfig to check whether this issue still exists? Thanks.

[code]

Result in azure portal:
![image](https://user-images.githubusercontent.com/19754191/88902780-3c289f80-d285-11ea-9308-5ebc50d5b03a.png)

[2020-07-30 09:35] njuCZ commented on #7960
@asinitson thanks for point this Issue. This problem has been fixed by #7943, and will be available soon in next version 2.21. Before released, you could try @prabhakarreddy1234 solution for now.

[2020-07-30 09:47] dhirschfeld commented on #3507
@aristosvo opened a PR against `Azure/RDS-Templates` but there's been no response there other than assigning labels.

You could perhaps :+1: that issue to give an indication that it has broad support from the community who would also love to have this capability

[2020-07-30 11:26] fluffy-cakes opened #7964 "azurerm_dns_a_record; "Can not perform requested operation on nested resource. Parent resource 'privatelink.web.core.windows.net' not found.""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-30 11:38] tbugfinder opened #7965 "Support for Azure Netapp Files Snapshot Policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-30 14:08] asinitson commented on #7960
Solution with...
[code]
...will cause endless resource update loops since `azurerm_app_service_plan` will be always marked for change. That is why I am rely hesitant to use it (it really messes up workflow).

[2020-07-30 14:10] #7425 closed

[2020-07-30 14:21] ps-tb commented on #7936
@neil-yechenwei I think you're correct. I have a script that uses the Azure CLI to populate keys and could do the same for feature flags because they're available in the CLI as well, which leads me to believe that they're somehow accessible as well.

[2020-07-30 15:00] adamyager opened #7966 "Support for controlling the TLS version in a storage account."
today, there is no way to change or enforce the TLS version of a storage account in the Azure RM provider.
The default for a storage account is TLS 1.0
We really need a way to control this version. In our use case we will set it to 1.2, but other companies may want to be more selective on make it work based on thier needs.

So exposing someting like tls_version would be critical.

TLS 1.0 has know

[2020-07-30 15:51] amanpurwar1 commented on #7880
You can close the issue

Regards
Aman

[2020-07-30 15:52] #7880 closed

[2020-07-30 16:08] amonnphillip commented on #7952
Hi @ArcturusZhang, maybe I misunderstand the nature of az vm list-sizes. Will that API return a list of **currently**/**immediately** available VM sizes and not a list of sizes that **should** be available? Also the API does not seem to provide the numbers of VMs that are allocatable within the location. So for example I want 50 GFX VMs, the data center location has 50 GFX VMs hardware boxes avail

[2020-07-30 16:08] davejhahn commented on #7935
@neil-yechenwei in looking at how ignore_changes works and azurerm_application_gateway I'm not sure it would work.

For example, one or more backend_http_settings blocks are required within the azurerm_application_gateway resource.  If you start with one block on creation, e.g. a default, even if you had ignore_changes on that, because the other blocks don't yet exist, when the external process (A

[2020-07-30 17:07] AtwoodTM opened #7967 "Azure key vault resources breaking with move to Terraform 0.12.9 and AzureRM provider 2.20.0"
When attempting to create any Azure key vault related resource (key vault access policy, key vault secret, key vault certificate, etc.), the Terraform apply responds stating "Error: configuration for [resource] still contains unknown values during apply (this is a bug in Terraform; please report it!)

## Environment

-Terraform v.0.12.29
- AzureRM provider v2.20

The error happens both on Windows

[2020-07-30 17:12] #6081 closed

[2020-07-30 17:15] #6343 closed

[2020-07-30 18:11] Justin-W commented on #7937
Yes, that seems like a great solution.

[2020-07-30 18:16] BlooDCrescent commented on #1082
Is this feature still being worked on?

[2020-07-30 22:43] BlakeDickie opened #7968 "Support for Allow Tracing on API Management Subscription"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-30 23:23] mikemowgli commented on #7960
@asinitson , due to #4396, the solution you suggest will never converge and the App Service Plan and the Function will always be replaced.

[2020-07-30 23:26] #7602 closed

[2020-07-30 23:29] erniebilling commented on #7938
Thanks @yupwei68.

In the nominal case, where no fail over has occurred, it seems reasonable that the two servers should be taken back to their original state following `terraform destroy`.

`terraform destroy` fails with a proper error message if the fail over group has swapped primary and secondary, so it doesn't seem to dangerous to delete the db from the secondary server if the fail over group

[2020-07-30 23:46] sangeethaguhan commented on #1216
Can't wait for this functionality to be implemented asap!

[2020-07-31 01:19] neil-yechenwei commented on #7928
Since this issue has been resolved, could you close this issue? If you have other issues, please open a new one. Thanks.

[2020-07-31 01:48] yupwei68 commented on #7938
Hi @erniebilling , currently this is not supported from the service team. I'd like to suggest open an issue here https://github.com/Azure/azure-rest-api-specs/issues to suggest this feature to the service team.

[2020-07-31 01:55] yupwei68 commented on #7946
Hi @Fanaticit , thanks for opening this issue. On fact, we have upgraded the service api version in release 2.20. I assume it's a reasonable error message since the ip range is reserved for their usage.

[2020-07-31 03:46] ArcturusZhang commented on #7952
Hi @amonnphillip your understanding is right, list-skus or list-sizes would only give you the result which sku is supported in this location in your subscription. This could only solve the problem - to ensure that the sku you assigned to your VM in your location is always valid.

Your concern is the quota. But unfortunately I did not find an API for querying the quota specified for VMs (and I am w

[2020-07-31 04:40] amonnphillip commented on #7952
Hi @ArcturusZhang I can take a look to see if there is any way to get the quota via some other means, but currently I do not think there is. I will let you know here what the conclusion of my investigation is.

[2020-07-31 04:54] #7928 closed

[2020-07-31 07:18] mikemowgli commented on #7960
tried this morning with release 2.21.0 and could make it work with kind = "FunctionApp" and reserved = true (and no need to ignore lifecycle changes. These settings actually produce a Linux capable App Service Plan. So for me 2.21.0 fixed this issue, along with #4396.
Can you guys confirm you have the same experience?

[2020-07-31 07:19] mikemowgli commented on #4396
tried this morning with release 2.21.0 and could make it work with kind = "FunctionApp" and reserved = true (and no need to ignore lifecycle changes. These settings actually produce a Linux capable App Service Plan. So for me 2.21.0 fixed this issue, along with #7960 .
Can you guys confirm you have the same experience?

[2020-07-31 08:18] rudolphjacksonm commented on #5673
@nyuen that worked! I've applied the same change for our Eventhub diagnostic settings which were getting recreated on every apply due to the same issue. Thanks so much for your help, that's been bothering me for ages!

[2020-07-31 08:32] vsabella commented on #7812
@lrxtom2  We have the same problem as well, Why are you unable to reproduce it it's pretty straightforward.

[2020-07-31 08:33] Cyanopus opened #7972 "Provider automatically associate already existing resources with multiple separate terraform states with same resource names"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-31 08:35] njuCZ commented on #4396
Hi All, I have fired another PR to change the doc of `reserved`, and add check. It seems the backend service will change the kind to `functionapp` if sku tier is `dynamic`. I added check in terraform to avoid such config.

FunctionApp could use windows or linux platform, which is controlled by `reserved` field, somewhat wield. Hopes this could fix all of your question.

[2020-07-31 08:40] vsabella commented on #7781
Unfortunately this change regresses Azure Govcloud which does not support this API feature.

[2020-07-31 09:10] sgabenov opened #7973 ""azurerm_app_service_plan" dose not allow to create service plan ElasticPremium|EP1|1"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-31 09:12] mikemowgli commented on #1376
Correct me if I'm wrong, but (as a complete AzureFunctions newbie) my understanding is that 'Run From Package' and 'Zip Deployment' are not the same thing:
* 'Zip deployment' is the way of deploying the function to the cloud, but it still allows for remote building ([source](https://github.com/projectkudu/kudu/wiki/Deploying-from-a-zip-file-or-url))
* 'Run from package' points to the zip file and

[2020-07-31 10:33] aberva commented on #7909
Hi @yupwei68 ,

I notice that even doing it manually from the portal, it seems that by design it is the system assigned which is used to access the KeyVault.

Thanks for your help.

[2020-07-31 11:04] rom1gal commented on #2924
Hey there,

Any updates on that issue ?

Thanks !

[2020-07-31 12:53] ropy1971 commented on #7152
Same issue here. Any updates since June 1st?
I'm deploying all Network infrastructure resources with terraform except Azure Firewall with PowerShell because Management support.

[2020-07-31 13:29] Eslam10 commented on #2488
I am facing the same issue, was this fixed ?

[2020-07-31 15:05] asinitson commented on #7960
After further testing with version 2.21.0 I found out some interesting behavior. _(It was a surprise for me, but I guess it makes some kind of sacred marketing Microsoft sense somewhere.)_ **Constantly marking azurerm_app_service_plan for a change behavior depends on size and tier** which control compatible and allowed parameters on the Azure side. Azure falls back to allowed values instead of fai

[2020-07-31 15:31] Quantalian commented on #4532
It's a problem with "principal_id" variable itself, because after commenting all steps with this variable , "terraform plan" was successfully completed.

[2020-07-31 15:42] lubars opened #7974 "tmp assigned to random volume on Ubuntu 20.04"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-31 16:07] JorTurFer commented on #7935
Hi @davejhahn ,
I answered you in https://github.com/Azure/application-gateway-kubernetes-ingress/issues/959#issuecomment-667200213
The problem here is that you should add the properly ignores in the terraform lifecycle

[2020-07-31 21:14] amonnphillip commented on #7952
@ArcturusZhang after looking at several APIs I do not see a way of fulfilling the feature without a retry mechanism. There is no way to get a count of VM each available sizes.

[2020-07-31 21:44] aristosvo commented on #7910
Hi @prabhakarreddy1234 ! Thanks for raising this issue. I think I’ve spotted the issue:

As your error message already showed, it is a problem if an already created alert with `SingleResourceMultipleMetricCriteria` is updated to `MultipleResourceMultipleMetricCriteria`. After the introduction of the feature in `azurerm_monitor_metric_alert` all alerts are constructed as `MultipleResource`, even if

[2020-07-31 21:55] eehret opened #7977 "New 'threat_detection_policy' block for 'azurerm_mysql_server' incorrectly showing pending changes when optional 'disabled_alerts' and 'email_addresses' attributes left empty"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-31 22:32] prabhakarreddy1234 commented on #699
In which `AzureRM` release we can expect this feature?

[2020-08-01 01:04] magodo commented on #7803
It just creates the new rule. This is an UX issue IMO.

[2020-08-01 05:52] aristosvo commented on #7910
@magodo Do you agree with my temporary solution?

For the definite solution, would you propose tainting based on a catched error message or reimplement it with backwards compatibility?

[2020-08-01 08:03] tobske commented on #7795
@jackofallops Thanks for opening an issue at the Azure API.

[2020-08-01 08:59] lawrencegripper commented on #699
Does it successfully return the key? In my attempts a while back the call existed in the SDK but always returned an empty value die to an issue with the services spec.

[2020-08-01 17:05] lprichar commented on #1802
I ended up going with @sjentzsch's solution.  It's idempotent and avoids downsides of ARM template like importing existing policies.  It looks like this:

[code]

to set long term retention, and then this:

[code]

to set short term retention.

[2020-08-01 20:23] 3mard commented on #699
@lawrencegripper Looks like they have fixed it, as I was able to successfully fetch the keys (check the test in the PR )

[2020-08-02 10:01] porwalameet commented on #2424
Yes..even i am blocked on this. I want to attach a new IP to existing loadbalancer.
My Setup is like this:
AKS Cluster in azure which create a agentpool RG and a service of  LoadBalancer named " kubernetes". Now if i want to attach a new public IP to this loadbalancer server, it is not allowing me to do that. Any update or workaround on this?
The reason i want to attached to this LB is cos I need

[2020-08-02 12:24] flo-02-mu opened #7979 "Support for user assigned identites for AKS"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-02 16:54] salsop commented on #7691
I've just hit this same issue with duplicate, rolled back to AzureRM 2.17 and all working.

Error: Error Creating/Updating LoadBalancer: network.LoadBalancersClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="InvalidRequestFormat" Message="Cannot parse the request." Details=[{"code":"DuplicateIpConfigurationReferenceOnBackendAddressPool","message":"Found duplic

[2020-08-02 21:37] n2qz commented on #3684
I just hacked together some ugly and slow code to enumerate all possible NICs with azurerm_resources, and then search for NICs matching particular virtual_machine_id's.  Having the azurerm_virtual_machine data source directly return the ip_configurations would be a big win.

[2020-08-03 02:17] neil-yechenwei commented on #6418
@RobinAggarwal , thanks for opening this issue. After tested with below tfconfig and latest azurerm, seems I cannot repro this issue. Could you have a try below tfconfig to check whether the issue still exists? If still exists, could you share your tfconfig that triggers this issue? Thanks.

[code]

[2020-08-03 02:25] njuCZ commented on #7973
@sgabenov in latest azurerm version 2.21, we have fixed this bug. And I have tested it in my local, this is no such problem now, Could you have a try again?

[2020-08-03 03:24] ArcturusZhang commented on #7974
hi @lubars Thanks for opening this issue.

I suppose this issue is not related with the provider but an issue with the Azure itself. Could you please contact the Azure support or open a thread in [one of the Community Resources](https://www.terraform.io/community.html)?

Thanks!

[2020-08-03 03:55] lubars commented on #7974
Hi @ArcturusZhang.  Given the number of open issues I have with Azure, I'd prefer to leave the issue open here in the hopes that it might reside within Terraform: Perhaps some kind of race condition allocating multiple volumes, or a new flag to the Azure API.  Thanks you -

[2020-08-03 04:18] njuCZ commented on #7960
@asinitson you are right that azure backend service will fall back to allowed values, but which could cause fields diff in terraform and lead to annoying message. What's worse, because of the diff, terraform would try to recreate it. This is absolutely not right.

So adding some validation to avoid such config could help a lot of users. They only want to correctly provision those resources without

[2020-08-03 04:43] ArcturusZhang commented on #7957
Upstream issue opened: https://github.com/Azure/azure-rest-api-specs/issues/10322

[2020-08-03 04:43] neil-yechenwei commented on #4655
@rfc791 , thanks for opening this issue. After tested with below tfconfig and latest azurerm, seems I cannot repro this issue anymore. Maybe I missed something. Could you have a try below tfconfig to check if the issue still exists? Thanks.

[code]

[2020-08-03 06:07] neil-yechenwei commented on #7964
@fluffy-cakes , thanks for opening this issue. I assume if you want to add dns record to private dns zone, you have to use `azurerm_private_dns_a_record`. Hopes it would be helpful.

[code]

[2020-08-03 06:08] pacon-vib opened #7982 "azurerm_management_lock: Unhelpful "NoRegisteredProviderFound" error message when lock name is invalid"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-03 06:35] LucianFrango commented on #7827
This is a duplicate issue to: https://github.com/terraform-providers/terraform-provider-azurerm/issues/7047

[2020-08-03 06:35] #7827 closed

[2020-08-03 06:38] LucianFrango commented on #7047
I had a duplicate to this issue as I missed seeing this when i raised #7827

Any ETA on this? Working with a customer that this functionality is a requirement.

[2020-08-03 07:13] ArcturusZhang commented on #7798
Hi @jjl109 thanks for this issue!

I am working at this and had some investigation. It turns out you could create a cosmosdb account with CMK enabled, but you could not enable CMK on the existing cosmosdb account.

I have opened [an issue](https://github.com/Azure/azure-rest-api-specs/issues/10323) in azure-rest-api-specs to track this.

This is required if we want to implement the CMK using the s

[2020-08-03 07:13] neil-yechenwei commented on #5529
@senare, thanks for opening this issue. I assume the issue has gone since I cannot repro it anymore after tested with below tfconfig and latest azurerm. Maybe I missed something. Could you have a try below tfconfig which is similar with yours to check whether the issue still exists? Thanks.

tfconfig:
[code]

variables.tf:
[code]

[2020-08-03 08:44] magodo commented on #7910
@prabhakarreddy1234 Apologize for your inconvinience :(

@aristosvo You are right, both the workaround and the root cause analysis. The new AKS cluster will always use MultipleResourceMultipleMetricCriteria`. I'll try figure out a way to make it backwards compatible.

[2020-08-03 08:45] yupwei68 opened #7984 "`azurerm_kubernetes_cluster` addon Profile OMSConfig refresh plan is not empty"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-03 09:36] dj-singh commented on #1868
Is there an option to skip the SAS data source is the SAS token was generated in the previous run?

[2020-08-03 11:50] asinitson commented on #7960
@njuCZ: The point I was making was that wrong validation is worse than no validation.

The problem with any kind of validation is that it should be based on the same rules and ideally those rules should come from the same source. Terraform validation rules cannot be the primary source of validation and they will probably always be somewhat out of date. By making a favor to the user in some cases y

[2020-08-03 12:00] jpbuecken opened #7985 "Fixup pull request #7749 (`azurerm_*_virtual_machine` - `allow_extensions_operations` can now be updated)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-03 12:04] NilsBusche opened #7986 "Default for allowExtensionOperations set wrong"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-03 12:05] aimclourd opened #7987 "Add possibility to specify Network/Application Security Group when creating network interface"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-03 13:11] MrSimonEmms commented on #7574
If this is of any help, I've achieved this through using an ARM template. Astonishingly for an ARM template in Terraform, it doesn't appear to be too unreliable.

# ./files/datafactory-event-trigger-template.json

[code]

# data-factory.tf

[code]

[2020-08-03 14:23] jjl109 commented on #7798
Thank you @ArcturusZhang for looking into this.

It seems to me that the behaviour of the REST API is by design, because currently it's only possible to enable CMK on CosmosDB at account creation time even in the Portal. See the [documentation](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-cmk):

CosmosDB also authenticates differently with Key Vault, using some kind of central ide

[2020-08-03 14:34] DigIntSys opened #7988 "Error adding operation policy to versioned api"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-03 16:56] jonathaneckman opened #7989 "Support for dnsPrefix property in App Service Environment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-03 20:55] vpetersen opened #7991 "close me"
close this please

[2020-08-03 21:00] fernandomatsuosantos opened #7992 "Terraform PLAN show state change without code change"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-03 21:44] #4831 closed

[2020-08-03 21:51] erniebilling commented on #7938
@yupwei68 Another update to this saga - seems updating settings on the primary database don't get replicated. We're testing the situation where we update `requested_service_objective_name` to increase the size of the instance and when `terraform apply` is run, the primary database is updated but the secondary is not. Something we should take up with the service team as well?

[2020-08-03 22:31] fcatacut opened #7993 "Unable to reference data block for azurerm_private_dns_zone: "Parent resource '...' not found""
I'm trying to use a data-block to retrieve an existing Private DNS zone so that it can be referenced when creating additional resources, such as `azurerm_private_dns_zone_virtual_network_link` and `azurerm_private_dns_a_record`.

### Community Note

* Please vote on this issue by adding a 👍  [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the o

[2020-08-03 22:54] lstroud commented on #7812
same issue here

[2020-08-04 01:30] neil-yechenwei commented on #5123
Thanks for opening this issue. After tested, I found the root cause is that the cluster resource isn't deleted while creating this resource failed. I assume it should be deleted while create operation failed. So I made a [fix](https://github.com/terraform-providers/terraform-provider-azurerm/pull/7994).

[2020-08-04 02:23] neil-yechenwei commented on #4957
@nicethomaslearngit , thanks for opening this issue. I assume it's a feature request and it has been implemented by terraform. See the resource [`azurerm_shared_image_versions`](https://www.terraform.io/docs/providers/azurerm/d/shared_image_versions.html).

[2020-08-04 02:35] magodo commented on #7560
I'm gonna close this issue as #7159 has been merged now. If the issue still exists, please feel free to reopen this issue.

[2020-08-04 02:35] #7560 closed

[2020-08-04 02:42] magodo commented on #6424
Hey @abilous-ti

As #7159 has been merged now, would you verify that your requirement has been met or not?

[2020-08-04 02:44] magodo commented on #3719
As #7159 has been merged, closing this issue for now.

[2020-08-04 02:44] #3719 closed

[2020-08-04 02:45] magodo commented on #5063
As #7159 has been merged (which adds the support for web availability test), closing this issue for now.

[2020-08-04 02:45] #5063 closed

[2020-08-04 02:46] magodo commented on #3796
As #7159 has been merged, closing this issue for now.

[2020-08-04 02:46] #3796 closed

[2020-08-04 02:51] magodo commented on #3572
Hi @sawyerh Thank you for reporting this :+1:

This is seems duplicated to #7235, where I have put some explaination of this issue and a linked PR trying to suppress this annoying diff.
In order to better track this issue, hope you don't mind I close this issue in favor of #7235. You can also subscribe that issue for any update!

[2020-08-04 02:51] #3572 closed

[2020-08-04 02:57] magodo commented on #2466
Hey guys! Thank you for reporting this :+1:

This is seems duplicated to #7235, where I have put some explaination of this issue and a linked PR trying to suppress this annoying diff.
In order to better track this issue, hope you don't mind I close this issue in favor of #7235. You can also subscribe that issue for any update!

[2020-08-04 02:57] #2466 closed

[2020-08-04 03:00] neil-yechenwei commented on #3543
@rohrerb , thanks for opening this issue. Seems the issue has gone since I cannot repro it anymore with below tfconfig and latest azurerm. Could you have a try below tfconfig and latest azurerm to check whether the issue still exists? Thanks.
[code]

[2020-08-04 03:12] magodo commented on #5673
The issue being discussed here is that *though user has specified all the available diag settings, terraform still reports diff*, which has been addressed by #6603. So I'm gonna close this issue for now.

For others who *gets diff because of not specifying all the available diag settings*, you can subscribe #7235 for any update for that issue.

[2020-08-04 03:12] #5673 closed

[2020-08-04 03:20] njuCZ commented on #7972
@Cyanopus is there any business scenario that you need to run the same TF scripts in different workspace simultaneously? in fact, we don't recommend to do like this.

Currently, before invoking create function of every resources, we would check whether it exists. In your case, both process are running simultaneously, so both of them find the resource doesn't exist, and try to create it. In this wa

[2020-08-04 03:24] mybayern1974 commented on #7991
Hi @vpetersen , I'm following your suggestion to close this. Feel free to open an issue for any support your want here.

[2020-08-04 03:24] #7991 closed

[2020-08-04 05:54] yupwei68 commented on #7987
Hi @aimclourd , thanks for opening this issue. Sorry that we may not implement this feature in the near future. The reason that we separate the `azurerm_network_interface_security_group_association` from `azurerm_network_interface` is to avoid dependency error message by deleting NSG. Besides, normally we try to avoid the existence of a separate resource and an internal block representing the same

[2020-08-04 06:01] yupwei68 commented on #7988
Hi @DigIntSys , thanks for opening this issue. Would you mind trying Azurerm 2.18.0? I have merged a PR to fix raw-xml related issue in `azurerm_api_management_api_operation_policy` and it has been released in 2.18.0. Please refer to https://github.com/terraform-providers/terraform-provider-azurerm/pull/7639.
If the error continues to run out, please provide a more detailed `azurerm_api_management

[2020-08-04 06:06] ArcturusZhang commented on #7798
Thanks for the doc page link! I did not notice this on my previous attempts.

I know the authentication on keyvault and had succeeded enabling CMK on a new created cosmosdb account (with inline CMK).
And for the record, the principal id hardcoded in the doc page is not always right - at least in my subscription, the principal id is neither of those mentioned - the best practice should be using a d

[2020-08-04 08:54] vaclav-dvorak commented on #7966
Seems this is already addressed in this PR:
#7879

[2020-08-04 09:00] neil-yechenwei commented on #7982
Thanks for opening this issue. I can repro it. After investigated, I assume it's an API issue since api returned unexpected error message while creating/getting management lock in parallel. So I filed an issue on Azure/azure-rest-api-specs#10337.

[2020-08-04 09:41] DigIntSys commented on #7988
Hi @yupwei68 . I have upgraded to 2.18 and retried but i got the same error.

I don't think this is related to xml_content. I was running the exact same azurerm_api_management_api_operation_policy resource fine before i added the api to a version set.

The error says
Status=400 Code="ValidationError" Message="Entity with specified identifier not found".
To me it seems that the api identifier has c

[2020-08-04 09:47] neil-yechenwei commented on #7993
@fcatacut, thanks for opening this issue. After investigated, I found you are using incorrect resource group name while creating private dns zone virtual network link. You have to use the resource group where the Private DNS Zone exists. I assume it's a document issue. So I made a [fix](https://github.com/terraform-providers/terraform-provider-azurerm/pull/7998) for it.

Sample code:
[code]

[2020-08-04 10:08] DigIntSys commented on #7988
Hi again. I've tried applying the policy to the api level using azurerm_api_management_api_policy resource and it works fine. I cannot use this resource though because i need to apply operation specific policies.

Whatever is going wrong seems to be related to the azurerm_api_management_api_operation_policy resource.

[2020-08-04 10:11] giotab commented on #7966
Duplicate of #7778

[2020-08-04 10:40] Cyanopus commented on #7972
@njuCZ We are not creating the resources simultaneously most of the time one of the resource was created some time ago and just an automated test or provisioning happens and depending on the input params match the old one. They are completely independent the only share is the resource group. And we also run separate workspaces to isolate the resource one another. We face this mostly in our develop

[2020-08-04 11:02] jwshive opened #7999 "500 error when creating a mssql database"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-04 11:11] kshitijcode commented on #7765
@tombuildsstuff @h3yduck I am interested to contribute. How do I assign this to myself?
Will be my first open-source contribution :)

[2020-08-04 11:14] kshitijcode commented on #7493
@Poil @tombuildsstuff I am interested to contribute. How do I assign this to myself?
Will be my first open-source contribution :)

[2020-08-04 12:51] MNashDev commented on #3294
Looking for an update on this issue please,
We're looking to implement Geo-Replicated Redis for a client.
We have built the rest of the environment via terraform and so would be good to get the Redis instances deployed this way aswell.

[2020-08-04 15:17] irfanjs opened #8003 "Regarding azurerm_servicebus_namespace resource"
Hi,
I am using `azurerm_servicebus_namespace` resource and would like to add the diagnostic setting in the Azure service bus .
I tried searching for the same in
https://www.terraform.io/docs/providers/azurerm/r/servicebus_namespace.html

however, did not find any.

Please suggest , if there is any resource for, to add diagnostic setting in Azure service bus. if yes, please redirect me to the corre

[2020-08-04 15:26] fcatacut commented on #7993
As noted in Step 2 of the "Steps to Reproduce" section, `<change me>` should be changed to the resource group name where the Private DNS Zone was created.  I verified that I was referencing the correct resource group name by commenting out the `azurerm_private_dns_zone_virtual_network_link` resource block which results in the output that contains the attributes retrieved by the data block used to

[2020-08-04 16:12] neil-yechenwei commented on #7993
@fcatacut, could you have a try below my tfconfig which is similar with yours to check whether the issue still exists since I cannot repro this issue with below tfconfig? Thanks.

First apply:
[code]

Result:
[code]

Second apply:
[code]

Result:
[code]

[2020-08-04 16:44] buddhamangler-cbre opened #8004 "data.azurerm_client_config not compatible service principle declared inline on azurerm provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-04 16:44] rcottrill opened #8005 "Support for Azure Data Factory Linked Service for HTTP"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-04 16:55] fcatacut commented on #7993
For #2, replace the `azurerm_private_dns_zone_virtual_network_link` resource block with below so that the resource is in the same resource group as the VNet.

[code]

[2020-08-04 16:56] fcatacut commented on #7993
Sorry, long morning. I finally realized what you pointed out in your initial response.  The link has to be in the same resource group as the Private DNS Zone.

[2020-08-04 17:11] sbalinen opened #8007 "Unable to increase minimum node count while autoscaling is enabled"
I am trying to increase both minimum node count as well as the existing node count in AKS Cluster but i am getting the below error when trying to apply terraform. Could this functionality be changed as there might be scenarios where we have to increase the node count even though auto scaling is enabled. Currently we can achieve it only by disabling Auto scaling then manually scale the nodes and en

[2020-08-04 17:23] neil-yechenwei commented on #7993
Yes. That’s right. You got my point.

[2020-08-04 18:28] davejhahn commented on #7935
I was able to get this to work by using the ignore_changes--thanks for everyone's help.

[2020-08-04 18:28] #7935 closed

[2020-08-04 20:32] chaseWillden opened #8008 "Support for Getting Function App host keys"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-04 22:01] elongstreet88 opened #8009 "Replace cycle for [azurerm_backup_protected_vm] when the backup item resource group name is uppercased from azure api"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-04 23:17] fcatacut opened #8010 "Support in Cosmos DB for Availability Zone is supported regions"
### Community Note

* Please vote on this issue by adding a 👍  [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interes

[2020-08-04 23:39] raphaelquati opened #8011 "terraform import cosmos "unknown" capability DisableRateLimitingResponses"
### Terraform (and AzureRM Provider) Version:
Terraform v0.12.29

### Affected Resource(s)

* `azurerm_cosmosdb_account`

### Terraform Configuration Files

[code]

### Debug Output
### Panic Output
### Expected Behavior

Works ok.

### Actual Behavior

Invalid Capabilities

### Steps to Reproduce

1. Create an Azure Cosmos Database via portal
2. `terraform import`
3. `terraform plan`

After plan,

[2020-08-04 23:53] robcamer commented on #7404
Hi There, I have been able to execute Terraform that uploads a fairly simple DSC, upload locally compiled MOF file, and apply the MOF configuration to a Node successfully.  Technically all of the DSC / Automation Terraform resources are working for a simple TSC.

The issue is that I have DSCs that I cannot compile locally due to complexity.  This means that I cannot compile the DSC locally to gene

[2020-08-05 00:22] arnefromsa commented on #7549
We are experience this same issue.

Our definitions lives in the top management group, thsu we need to scope to be a management group. Even though the scope is the same in state file and in the submitted apply, it still does a "#forces replacement" on the scope attribute.

Even changing to 2.15 does not work.

[2020-08-05 00:27] neil-yechenwei commented on #7404
@robcamer, sorry. I assume terraform cannot add compile feature since dsc complication job doesn't support delete action, which means it's not a real terraform resource. So it's not appropriate to be as TF candidate.

[2020-08-05 00:29] neil-yechenwei commented on #3800
Thanks for opening this issue. After tested with latest azurerm and below tfconfig which is similar with yours, seems I cannot repro it anymore. Could you have a try below tfconfig to check whether the issue still exists? Thanks.

[code]

[2020-08-05 01:15] lachie-white commented on #6827
The ability to "attach" compute as well, so attach external AKS or Databricks instances would be extremely useful

[2020-08-05 03:02] njuCZ commented on #8008
duplicate as #699, and there is already a PR for it: https://github.com/terraform-providers/terraform-provider-azurerm/pull/7902

[2020-08-05 03:10] yupwei68 commented on #7938
Hi @erniebilling Sure, you could raise another issue for that.

[2020-08-05 03:49] mybayern1974 commented on #8008
hi  @chaseWillden, firstly thank you for opening this issue! Given assume this is a duplicate issue with #699, would you mind subscribing to #699 for updates? Or feel free to reopen if you believe these two issues are not talking about the same thing.

Thanks!